[2015-08-07 19:55] Luceos opened #2 "[webserver] onCreate not called correctly"
As reported by @thijsvdanker; it seems the onCreate is called without hostnames and therefor returns void. Once a hostname is added the website is touched and so onCreate should again be called from within onUpdate, but this is not (always) the case.

In order to solve this at least:

- create a unit test that proves files are generated for nginx, apache etc (if enabled)
- see what the process is

[2015-08-14 19:54] Luceos opened #3 "[webserver] unique users need to be created"
In order to assign the correct user rights, we need to be able to create the unix users, assign them to a specified group and set them in the specific server configurations.

[2015-09-10 09:06] Luceos opened #8 "[webserver] database not created by task"

[2015-09-11 20:12] Luceos commented on #2
I experienced the same issue recently. This happens because the observer is checking the relation object, sometimes this relation has not been instantiated and thus will return null.. We can load the relation beforehand and do the check or use the website_id on domain to check and then load.

[2015-09-13 09:32] Luceos commented on #8
This seemed to have been an one time issue concerning an incorrect `hyn` connection.

[2015-09-13 09:32] #8 closed

[2015-09-13 09:35] Luceos commented on #3
I'll be making this configurable. So one can decide to disable this feature.

[2015-09-30 06:01] Luceos opened #13 "DispatchesCommand is deprecated"
See WebsiteObserver

[2015-09-30 11:16] #13 closed

[2015-10-01 07:14] thijsvdanker opened #15 "Support seeding tenant databases"
It would be nice if we could use
[code]
To seed the databases with the Laravel seeders.

[2015-10-01 09:46] Luceos commented on #15
https://github.com/laraflock/multi-tenant/blob/master/src/Commands/Migrate/MigrateCommand.php#L35

What was that about? :)

[2015-10-03 21:40] Luceos opened #16 "[webserver] SSL generation uncertain"
Generating SSL certificate files in storage seems not to be working, also this functionality is hardly finished. In order to fully test this, hyn/management-interface must be extended to include adding certificates. Hostnames are automatically parsed from the certificate.

[2015-10-11 12:26] Luceos opened #17 "[management-interface] adding of certificates"
Required to continue work on https://github.com/hyn/multi-tenant/issues/16

[2015-11-14 01:41] trinvh opened #19 "Create tenant and Migration: DatabaseConnection create method not fire"
After creating a new tenant, I tried to make a migration but the following error occurs: "Access denied for user '4-sale-beeso@localhost'.
I was looking in mysql and there's no user, no new database created before.

I follow this instruction: https://hyn.me/packages/multi-tenant

Can you tell me what I missed ?

[2015-11-20 09:53] Luceos commented on #19
@trinvh my apologies for the late reply, must have missed this in my activity feed.

How did you setup the queue runner? Is it running as root?

[2015-11-20 10:04] Luceos commented on #19
I've updated the documentation to reflect the latest 0.8.1 release. I've also updated the installer.

[2015-11-23 07:44] Luceos commented on #19
From my research and questions on #internals on larachat, the transaction is not committed when the observed model events are triggered. So if you system is a bit slowish, the queued job is fired before the database entries are generated, which causes that the job cannot create the database and webserver specific configurations.

[2015-11-24 22:04] #19 closed

[2015-11-30 18:48] Luceos commented on #2
The problem seemed to be related to the observer events being called before the transaction was completed. This should now be fixed.

[2015-11-30 18:48] #2 closed

[2015-12-02 19:50] Luceos commented on #16
Related: https://github.com/hyn/multi-tenant/issues/19

[2015-12-02 19:50] #16 closed

[2015-12-02 19:51] #15 closed

[2015-12-02 19:51] Luceos commented on #3
default set to not create users.. will implement after stable release

[2015-12-02 19:51] #3 closed

[2015-12-02 19:51] #17 closed

[2015-12-07 19:44] Luceos opened #27 "Seed not registered with service provider"

[2015-12-07 19:58] Luceos opened #28 "Multi-tenant config not publishable"

[2015-12-07 20:25] #28 closed

[2015-12-07 20:26] Luceos opened #29 "Make queue configurable"

[2015-12-07 20:44] #29 closed

[2015-12-07 20:56] #27 closed

[2015-12-07 21:14] Luceos opened #30 "finish the newsletter for december"
- refer to the new documentation on https://hyn.readme.io
- create a section "questions from subscribers"
- announce release of version 1.0.0
- specify next up features, amongst which let's encrypt

[2015-12-07 21:15] Luceos opened #31 "Tag and create release page 1.0.0"

[2015-12-07 22:09] Luceos opened #33 "unit test for seed command"

[2015-12-07 22:09] Luceos opened #34 "changelog for missing versions 0.9.* and 1.0.0"

[2015-12-08 08:49] Luceos opened #35 "unit tests fail on seemingly unpublished migrations"

[2015-12-08 09:08] Luceos opened #36 "document how to scale"
- what is the effect of the continuous 2 db connections
- how can you optimize the webserver to allow for one system connection and one tenant connection, add that to the installer too
- any ideas how to seperate tenancy over multiple machines

[2015-12-08 09:44] Luceos opened #37 "set nginx to use sock instead of fpm method for now"

[2015-12-08 09:51] luceos opened #38 "seperate users using fpm sock"
- use the servername as pool name
- connect to sock in configs
- see: https://www.linode.com/docs/websites/apache/running-fastcgi-php-fpm-on-debian-7-with-apache
- http://www.rackspace.com/knowledge_center/article/installing-nginx-and-php-fpm-setup-for-php-fpm

[2015-12-08 09:53] Luceos commented on #37
see #38

[2015-12-08 14:14] Luceos opened #39 "put back the transactions, fi used in SetupCommand"
The observable events for models are fired before the transaction is committed. In order to make this work again we can;
- create a custom event to listen to
- put the observable post-(not pre-) events for these models in a pool to be fired once the transaction is committed

[2015-12-08 17:18] Luceos commented on #37
There is no immediate reason to do so. Fpm is more scalable, sock is faster.

[2015-12-08 17:19] #37 closed

[2015-12-08 20:16] #35 closed

[2015-12-08 20:28] #34 closed

[2015-12-08 20:37] #30 closed

[2015-12-08 20:37] #31 closed

[2015-12-09 10:11] Luceos opened #40 "Clean up all calls of \App::make"
Since laravel 5.1; we should use either the helper function `app()` or the direct call to the facade. Related to #41

[2015-12-09 10:12] Luceos opened #41 "Clean up all direct calls to the facade in root."
The preferred way of calling facades is using the fully namespaced facade, not the root namespaced one. Clean up the code to match this best practice.

[2015-12-10 14:00] Luceos opened #42 "document the flow of the tenancy system"
How is the tenant decided, what effect has the middleware.. etc
- [x] how is the tenant decided upon
- [x] what is the middleware doing
- [ ] document how global vs localized works

[2015-12-11 09:21] luceos opened #43 "hyn/lets-encrypt"
Create a package that wraps the let's encrypt api into PHP for use in the hyn multi tenancy package. The package should be generic in the sense that it should be usable by other parties. Close integration with the hyn/multi-tenant package is not a requirement, because this package will be used by a new package hyn/ssl in the future.

[2015-12-12 09:56] #40 closed

[2015-12-12 10:03] Luceos opened #44 "how to set up the management interface"

[2015-12-12 10:12] Luceos opened #45 "disable any additional functionality globally"
Allow configuration file to disable:

- views
- routes
- service providers
- etc etc

To be used by the tenant website.

[2015-12-14 16:22] Luceos opened #47 "add forward compatibility for laravel 5.2 and up"

[2015-12-16 10:17] Luceos opened #48 "make queue configurable"

[2015-12-16 11:59] Luceos opened #49 "FPM requires webserver::default-user to be set"

[2015-12-17 14:14] Luceos commented on #38
https://www.digitalocean.com/community/tutorials/how-to-optimize-nginx-with-php-pools-on-an-ubuntu-13-04-vps

[2015-12-24 07:23] thinusn commented on #42
This would be very helpful.

[2015-12-31 10:51] Luceos opened #50 "Document setting and using tenant connection"
Add code example

[2015-12-31 12:12] Luceos commented on #50
https://hyn.readme.io/v1.0/docs/tenant-database-connections

[2016-01-11 08:17] Luceos opened #52 "[Insight] User specific files should not appear in .gitignore - in .gitignore, line 4"
**[in .gitignore, line 4](https://github.com/hyn/multi-tenant/blob/d94614b9719ebfb2f2c000828fe26dd6c546ab2a/.gitignore#L4)**

[code]

---------------------

_Posted from [SensioLabsInsight](https://insight.sensiolabs.com/projects/f8241f3b-ab7b-4a58-9123-488c13560887/analyses/1)_

[2016-01-12 21:06] #52 closed

[2016-02-03 07:17] Luceos opened #53 "Events on specific actions"
Eg for:

- [ ] customer created/modified/deleted
- [ ] website created/modified/deleted
- [ ] hostname created/modified/deleted
- [ ] webserver vhost config rebuild triggered

etc..

[2016-02-03 07:53] Luceos opened #54 "can't locate path <0>"
https://github.com/hyn/multi-tenant/blob/master/src/MultiTenantServiceProvider.php#L33

[2016-02-03 08:01] Luceos commented on #54
Fixed in https://github.com/hyn/multi-tenant/commit/0a2884b538d0eed15f91d2cf31d64f7b259420a5

[2016-02-03 08:01] #54 closed

[2016-02-05 09:34] Luceos opened #55 "webserver config not picked up when creating website"
@vik0803 has reported the following backtrace:

[code]

[2016-02-05 11:19] Luceos commented on #55
[code]
Was moved to the end of the SetupCommand handle function to fix it, need to investigate.

[2016-02-08 20:21] #50 closed

[2016-02-15 10:46] thijsvdanker opened #56 "Option to set website identifier during setup"
I need to create two tenants:

 - customer-foo.example.com
 - customer-far.example.com

as the identifier is currently based on the first 10 characters of the domain name, both website ids will be _customer-f_
This will cause the setup to fail as the `websites->identifier` is a unique key in the database.

It would be nice if you could set an identifier during setup.

[2016-02-15 11:00] thijsvdanker commented on #56
My current workaround is to use the unique id in the hostname while setting it up, and changing the hostname in the database to the real url after.

e.g.
[code]

[2016-02-16 14:23] Luceos commented on #56
Or maybe the whole way of defining an identifier should be different?

[2016-02-16 19:05] Luceos commented on #45
Fixed in https://github.com/hyn/multi-tenant/commit/daf0b6085c00bdbc30f3cddfeeb6ae0a6afce783

[2016-02-16 19:05] #45 closed

[2016-02-25 19:26] Luceos commented on #53
let's keep to model observers unless a third party feature request pops up

[2016-02-25 19:26] #53 closed

[2016-02-25 19:38] Luceos commented on #48
Implemented.

[2016-02-25 19:38] #48 closed

[2016-03-17 14:51] Luceos opened #60 "drop tenant terminology from code"
and clean up documentation.

Tenant can have multiple interpretations:

- the customer (in use)
- the website

Let's rename all references to the current Tenant to a Customer.

[2016-03-18 08:09] Luceos opened #61 "cannot delete website"
Failing presenter:
[code]

management-interface/­src/­Http/­Controllers/­HostnameController.php48

[code]

[2016-03-18 11:07] dakshhmehta commented on #36
Hello,

First of all thanks for great package. I am starting SaaS application, and actively going to involve in this project.

Hope to have good support from package community.

Also, regarding scaling, to separate machines to host database, I think DNS link can be used directly or using private networking between servers.. Just a random thought in my mind

[2016-03-18 11:15] Luceos commented on #36
Using native Laravel functionality any set up theoretically is possible and should result in no issues. The last point noted is primarily concerning assets and other files.

@dakshhmehta thanks for committing to the project and let me know if I can assist you in any way. You can find me on [gitter](https://gitter.im/luceos).

[2016-03-24 22:12] Luceos opened #63 "hardcoded localhost in tenant database create and delete"
Both deleting and creating of tenant database is done locally, this makes any remote database server behave incorrectly.

See https://github.com/hyn/multi-tenant/blob/master/src/Tenant/DatabaseConnection.php#L151

Thanks to @vik0803 for spotting the issue.

[2016-03-25 12:33] Luceos opened #64 "explain TenantModel vs SystemModel"

[2016-03-25 12:34] Luceos opened #65 "explain use cases"
- [ ] related to global vs local code, routes and views

[2016-03-25 12:41] Luceos opened #66 "document applied projects"
- [ ] saas task management
- [ ] saas social media advertising analysis

[2016-03-25 19:00] sherkhanz opened #67 "Multiple Host Names"
After going through the documentation, I found it quite easy to implement but I have a few issues which I don't understand.

1st  one is what is the purpose of the user created in first step? Should that user be my client who will own the host-name? What else functionality is provided by that specific user table? Or should I do not care at all about that?

2nd one, for multiple host-name configura

[2016-03-25 19:53] sherkhanz commented on #67
Also can i use the same tables but a tenant_id on tables to differentiate host data?

[2016-03-25 20:30] Luceos commented on #67
1. The user/email is used for the customer not for a user. These customers are owners of both websites and hostnames. Some customers can have the admin boolean set to be able to do more.
2. Multiple hostnames are possible, they can be property of a customer and can be assigned to different or the same website.
3. You can use one database for multiple tenants, but these tenants are split up using a

[2016-03-25 20:30] #67 closed

[2016-04-08 13:38] Luceos opened #68 "db creation fails if hyn is not the default db"
@balt-web reported that db creation fails if hyn is not the default database connection.

[2016-04-08 14:04] Luceos commented on #68
Need to investigate with [this](https://github.com/hyn/multi-tenant/blob/master/src/Tenant/DatabaseConnection.php#L147)

[2016-04-19 13:12] #68 closed

[2016-04-19 13:14] #63 closed

[2016-04-19 14:38] Luceos commented on #64
Done: https://hyn.readme.io/docs/eloquent-facade-tenant-system-model

[2016-04-19 14:38] #64 closed

[2016-04-24 16:01] yientau opened #70 "Persist session across subdomain"
In order to make multi-tenancy to work with multiple subdomain, remember to configure config/session.php domain attribute to your domain name.

config/session.php

'domain' => '.lvh.me'

[2016-04-26 11:45] Luceos commented on #70
So the use case is you create a user for a newly created tenant website. A good solution would be to create a one time token that the identifies the user on the newly created Tenant website. Simply setting the session domain to allow for any subdomain will only solve this issue in the case of a subdomain set up.

[2016-04-26 14:56] yientau commented on #70
Yes, that's right. After a new user was created, I will login the user with

Auth::login($user);

Then a redirection to the user corresponding subdomain site. I am not sure if this will cause any security concern though.

return redirect()->intended("http://" . $tenant_hostname . "/home");

[2016-04-26 15:58] Luceos commented on #70
That's fine for the single use case of working with subdomains. In any other case attempting to save a cookie/session for another domain has no effect.

[2016-04-27 18:06] joelcuevas commented on #47
How far is this in the roadmap?

BTW, you have a great package!

[2016-04-27 18:43] Luceos commented on #47
Hello @joelcuevas. Thank you, I hope it's useful to you as well. Related to this issue, I have little time these past few months, so it has not been prioritized.

[2016-04-28 17:08] #61 closed

[2016-05-12 15:48] Krato opened #71 "Media alias not working on localhost Mamp"
Hi, I'm just testing your awesome package, but get some problems to run on localhost with MAMP on my MAC.

I follow all instructions, and tenant connection with DB is working right. But `media`folder alias doesn't work.

I have this structure on `storage/sites`:

[code]

And this is my apache webserver conf for site 1:

[code]

And this is for site2:
[code]

The problem is that always get first me

[2016-05-12 18:34] Luceos commented on #71
I'm not seeing anything wrong in the code snippets you provide. I guess you're sure the images are not identical? :grin:

[2016-05-13 07:17] Krato commented on #71
Sure mate. Are not the same. But I don't know why Is not working. I'm a little bit frustrated :(

[2016-05-13 07:51] Luceos commented on #71
If you're running your application locally, that might be the case, but it depends on the OS you run on. But you seem to hit the application, so it should be fine.

Some things we could do to debug:

- Try creating a third tenant site and add another image, check which image file it hits now.
- Try renaming the image file so they are not identical.

I understand the frustration, this package is a

[2016-05-13 07:54] Luceos commented on #71
Browsing through some Mamp related alias issues I wouldn't be surprised if the Alias directive is badly implemented in Mamp.

[2016-05-13 08:12] Krato commented on #71
Ok, thanks. I'm installing a Virtual Machine with Ubuntu in my MAC for testing. I will give you feedback about this issue.

Just a question. Did you thing about add a custom `.env`file for each tenant?

Thanks for this amazing package.

[2016-05-13 09:15] Luceos commented on #71
That actually crossed my mind, but I wondered how that would look if you had 200 of them :grinning:

[2016-05-13 09:16] Krato commented on #71
Yes, but if you need some configuration you need to create config files inside each tenant config folder. So, is the same not?

[2016-05-13 09:42] Luceos commented on #71
I could allow env files to be read from the tenant directory. If you want that feature, feel free to open an issue ;)

[2016-05-13 11:20] Krato opened #72 "Bash installation error"
Hi again.

Sorry but when I use or bash installer.sh on Ubuntu I get an error on final setup.

I install `supervisor`and `beanstalk` also.

Laravel log:
[code]

How to fix?

Thanks

[2016-05-13 12:12] Krato commented on #72
Ok, I think the problem is on create queue. This line: ` $this->onQueue(config('multi-tenant.queue'));` fails when you call webserver command from artisan. Error:
[code]

[2016-05-13 12:55] Luceos commented on #72
You're right the config key is an array:

https://github.com/hyn/multi-tenant/blob/master/config/multi-tenant.php#L47

[2016-05-13 17:02] Krato commented on #72
I change `beanstalk` to `sync` and work. Will work this package also with `sync`?

[2016-05-13 17:55] Luceos commented on #72
Yes.

Can you answer my previous question if you would:

[2016-05-17 07:54] Krato commented on #72
Sorry for late answer. I found it here: https://github.com/hyn/framework/blob/5b31b94f0a2023002d494568f82a7c0b170082c6/src/Commands/AbstractCommand.php

[2016-05-17 12:36] Luceos commented on #72
But it says something totally different there it says `$this->onQueue(config('multi-tenant.queue.other'));` with the `other` added. Are you running the last version?

[2016-05-17 17:19] Krato commented on #72
YEs, I updated and now works. Thanks!

[2016-05-17 17:19] #72 closed

[2016-05-18 14:12] Krato commented on #71
Well about this topic I found a little solution. If I merge all conf files in one config file and call from `httpd.conf`, alias works fine. So I think I will do that while working on localhost.

[2016-05-18 14:17] Krato opened #73 "Artisan multi-tenant:setup with Interface always setup"
Hi again.

I found maybe a bug on `multi-tenant:setup` command.

If you create users with `cli`instead a `controller` and you have `ManagementInterface` installed, always runs the `ManagementInterface` setup. I think that is ok if you don't have a user. But if you have a administrator user should not run setup again.

Is that ok?

Thanks

[2016-05-18 14:19] Luceos commented on #73
Hi, the setup is meant to be ran once to setup everything. It's in no way meant to be used to add additional users, although I've heard before that it's been used that way. If you've installed the management interface why not simply use that to add new tenants?

[2016-05-18 14:28] Krato commented on #73
Ok. I wanted to know if I will be able to create tenants from cli. Ok, I will do it from Controller.
You can close this issue.
Thanks!

[2016-05-18 14:29] Luceos commented on #73
No problem. Yes you can but I haven't created anything for that yet.

[2016-05-18 14:29] #73 closed

[2016-05-18 14:52] Krato opened #74 "ad"

[2016-05-18 14:53] Krato opened #75 "Add custom .env file"
Will be great to add custom `.env` for each tenant website.

Thanks!

[2016-05-18 14:53] Krato commented on #74
Sorry keyboard error

[2016-05-18 14:53] #74 closed

[2016-05-20 13:41] bubblemedialtd opened #76 "SQLSTATE[HY000] [2002] Operation timed out"
Fixed - user error

[2016-05-20 14:07] bubblemedialtd opened #77 "Specified key was too long"
When running the setup, I am getting an error that the specified key was too long

![image](https://cloud.githubusercontent.com/assets/9167994/15430284/8a4316a6-1e9c-11e6-9780-291b67dfc37b.png)

I notice that it is placing a key on 2 VARCHAR(255) columns. Why is this? Is this a bug?

[2016-05-22 07:21] Luceos commented on #77
It's not in fact a primary key, it's an index. What database do you use? And have you tried this with a clean database, seeing you already ran into the problem of the tables being present (and as such the indices as well).

[2016-05-22 07:22] Luceos commented on #76
Cool, great to hear, next time feel free to "Close and comment"

[2016-05-22 07:22] #76 closed

[2016-05-22 07:22] Luceos commented on #66
- http://realityanalytics.com

[2016-05-22 07:24] bubblemedialtd commented on #77
Hi,

I did try it with a clean database, it had the same issue. I had to change the collation to 'latin1_general_ci' to utf8 wouldn't accept it.

I have a few other questions which I'll query in a little while. So far I'm very impressed with the framework!

Thank you

[2016-05-22 07:24] #77 closed

[2016-05-22 07:24] Luceos commented on #71
I'm unsure whether this is a package issue, it certainly has to do with Apache and MAMP in that sense. If this issue arises outside of a localhost environment onto a production environment I'll consider further investigation.

[2016-05-22 07:24] #71 closed

[2016-05-22 13:11] bubblemedialtd opened #78 "Tenant Database Connection"
When visiting a tenant website, how does one query the tenant database rather than the global 'hyn_multi_tenancy' database?

It automatically assumes the 'hyn_multi_tenancy' database.

[2016-05-22 14:31] bubblemedialtd opened #79 "Tenant migration database Schema"
When a new tenant is created in the management interface, how can I set up a default Schema for the new database?

I understand it's a Schema?

[2016-05-22 15:59] Luceos commented on #78
There are two Models shipped along to be used the TenantModel and the SystemModel, read more about those: https://hyn.readme.io/docs/eloquent-facade-tenant-system-model

[2016-05-22 16:01] Luceos commented on #79
It's a database, and for now there is no such option unless you do it yourself. You might simply queue some Job to be scheduled a minute after Tenant creation. Easiest way to do that is to listen to the WebsiteObserver.

[2016-05-22 18:15] bubblemedialtd commented on #78
Thank you, I've done some reading on it. Using one of the examples there, I am experiencing the following issue when running the migrate option.

`Migrating for 1: tenant-exa

  [PDOException]
  SQLSTATE[HY000] [1045] Access denied for user '1-tenant-exa'@'localhost' (using password:
   YES)`

I believe the part that sets the password is:

`$clone['password'] = md5(Config::get('app.key').$this->we

[2016-05-22 18:23] Luceos commented on #78
You manually set the database user password? And it didn't help? Can you tell me where you expected the tenant connection to be made with; eg server, username etc.

[2016-05-22 18:28] bubblemedialtd commented on #78
No, I didn't manually set the database user password, but I generated the md5 hash based on:

`md5(Config::get('app.key').$this->website->id);`

The tenant connection was to be made on the localhost, with the username in the format of:

{website ID}-{website-identifier}

I can see that the user has been created, looking in MySQL. I attempted to connect to the local MySQL server using the credentia

[2016-05-22 19:13] bubblemedialtd commented on #78
I have just created a new instance of Laravel with Hyn/Multi-Tenant.

Added a new user, then tenant, then website.

Attempted to log in to MySQL using the tenant database username/credentials etc. Still not allowing it.

[2016-05-22 19:51] Luceos commented on #78
Interesting, because this suggests that either the password encoding goes wrong or the server does something unexpected. Can you give me OS, PHP and MySQL versions?

[2016-05-22 19:59] bubblemedialtd commented on #78
Of course,

OS: CentOS release 6.7 (Final)
PHP: PHP 5.6.21 (cli) (built: Apr 28 2016 07:47:46)
MySQL: 5.1.73

[2016-05-23 08:08] Krato opened #80 "Framework version. No commands folder"
Hi!

Your package requires hyn/framework. But if you install, framework package has not `command`f older and files inside command folder because of tagged version.

Can you take a look?

Thanks

[2016-05-23 09:19] Luceos commented on #80
Sure

[2016-05-23 09:21] Luceos commented on #80
Tagged a new version 0.6.2. Sorry this should have been done earlier.

[2016-05-23 09:21] #80 closed

[2016-05-23 10:24] Krato commented on #80
Thank! Thats the error I couldn't find it xD

[2016-06-02 13:33] dougmackenzie opened #81 "How to retrieve the current hostname data in a controller"
I can see in the dummy website view you use $_tenant['hostname']->hostname to retrieve data on the current hostname but I can't work out how to get that information when working in a controller. I'm guessing I'm lacking in some specific Laravel knowledge but perhaps it would be useful to include an example of how to do this in the documentation?

[2016-06-03 18:59] Luceos commented on #81
I'll close this as I haven't heard back from you, but the above should solve your issue.

[2016-06-03 18:59] #81 closed

[2016-06-07 06:19] bkintanar commented on #47
@Luceos I know you're busy with https://github.com/flarum/flarum and other projects. But when do you think this would be ready for 5.2+? Or maybe you could point us which files do you think needs change in the https://github.com/hyn/framework.

Thanks!

[2016-06-07 06:23] Luceos commented on #47
Hello @bkintanar actually I stepped down as Flarum community manager for now due to a switch in job (and location). That's what's consuming my time right now. What I would do is change the version constraint in hyn/framework to match 5.2 and install tenancy on a created project. Then it's up to the tests to point to the issues ; `vendor/bin/phpunit` should help you with that.

If you are willing t

[2016-06-07 07:14] bkintanar commented on #47
Hi @Luceos thank you for your reply and I'm sorry to hear that you're busy than usual. I haven't done anything except modified composer.json and required laravel/framework ~5.2.0. then required laravel/laravel ~5.2.0 in the terminal as what is shown below. I then ran phpunit. So what's next? Do I need to test hyn/webserver as well? But the travis returned build failure on the last build.

This is

[2016-06-07 07:33] Luceos commented on #47
You should probably set up a proper environment where you also include hyn/multi-tenant as a checkout/clone. You can do this by setting up Laravel, then configure your composer.json to have a "repositories - path" key linking to those clones and then require the package. It might be difficult to get this running, but it's certainly possible. I should probably make the package more monolythic.

[2016-06-07 10:17] bkintanar commented on #47
I've added to PRs for this. Please review.

[2016-06-07 20:50] luceos commented on #47
Thank you @bkintanar for doing most of the research! This is D O N E ! Newsletter coming in.

[2016-06-07 20:50] #47 closed

[2016-06-07 20:51] bkintanar commented on #47
Not a problem @Luceos. Glad to be of help.

[2016-06-07 21:28] Luceos commented on #78
@bubblemedialtd have you been able to move forward? I'm not sure whether this is an edge case, would you be able to reproduce this on a fresh instance running the 2.x-dev version?

[2016-06-07 22:18] luceos opened #91 "unit tests need refactoring to standards"
Also see #33

Todo:
- [x] implement test #33
- [x] use better method names, as per conventions
- [x] proper use of setUp and tearDown
- [ ] ~~separate logic from TenancySetupTest into other classes that more specifically test logic~~
- [ ] ~~allow testing through vagrant/homestead, set up beanstalkd root queue there as well~~
- [ ] ~~aim for code coverage of at least 80% with this ticket~~

[2016-06-08 05:52] luceos commented on #75
Hello @Krato i've added some code that should take care of that. Haven't been able to write a test yet because the env file should be picked up right during instantiation of the application. Let me know whether this works out for you.

[2016-06-08 06:13] bkintanar opened #95 "System migrations are still being ran when running tenant migrations"
[code]

[code]

[2016-06-08 06:27] luceos commented on #95
This can possibly be solved by creating a SystemMigration class or perhaps simply a trait that can be identified with a reflectionclass and skipped when needed.

[2016-06-08 07:03] Krato commented on #75
Perfect. I will try. Thanks!

[2016-06-08 07:23] luceos commented on #75
Please note if the .env file exists in the tenant directory, the one in the base path won't be used. At least that's how I implemented it for now and that's what I assume might happen.

[2016-06-08 20:29] #91 closed, assigned to nobody

[2016-06-08 20:50] luceos commented on #95
To fix this you have to test whether the table was already created. Any other implementation requires us to overrule the laravel migration commands, which I prefer not to do.

[2016-06-08 20:51] Luceos commented on #78
Please re-open. Tests indicate this should not be an issue.

[2016-06-08 20:51] #78 closed

[2016-06-08 20:52] #33 closed

[2016-06-08 20:52] #95 closed, assigned to nobody

[2016-06-09 15:00] Krato commented on #75
What version should I install? Because if I make `composer update`nothing is installed

[2016-06-09 16:01] luceos commented on #75
use version `2.x-dev` i think also make sure you have
- prefer-stable: true
- minimum-stability: dev

in your composer file.

[2016-06-09 22:23] luceos commented on #75
@Krato it seems this is not working, at least that's what @bkintanar has reported. Can you confirm, because I also think the env file needs to be loaded during the boot phase of the Application, which might be a hard thing to do at this point seeing the cycle tenancy takes (does most of it's things after boot).

[2016-06-10 03:15] bkintanar opened #100 "artisan db:seed --tenant=1 throwing ReflectionException"
Seeding tenant database doesn't seem to be working. @Luceos maybe we could also add test cases for this.

[code]

[2016-06-10 03:37] bkintanar commented on #100
Idiot move. needed to run `composer dump-autoload`

[2016-06-10 03:37] #100 closed, assigned to nobody

[2016-06-10 04:40] luceos commented on #100
actually: https://github.com/hyn/multi-tenant/issues/33 😀

[2016-06-10 09:13] Krato commented on #75
Yeah, it seems don't working. No problem about that. I made this touching core of laravel (`boostrap/app.php`), not from a package.

Thank you anyway!

[2016-06-10 10:04] Krato opened #102 "Load providers from Tenants"
Hello again.

I'm trying to load custom services providers for each Tenant.

Following your [dummy-tenant-example-provider](https://github.com/hyn/dummy-tenant-website/blob/master/providers.php) it doesn't load.

I have this on my `providers.php` inside `storage/multi-tenant/3-prueba-web/providers.php`:

[code]

And in `HomeController@index' is:

[code]

I'm testing this simple package: https://gi

[2016-06-11 02:10] bkintanar opened #104 "New migration doesn't run on tenant"
Ok here's the gist of my situation. I created a set of new migrations and upon issuing `php artisan migrate --tenant=all` it doesn't migrate the tenant database with the new migrations. Please see steps below.

PS. This only works if you apply my PR: https://github.com/hyn/multi-tenant/pull/103
1. blank master database
2. no tenant databases yet
3. I have migrations after hyn/multi-tenant migratio

[2016-06-11 09:32] luceos commented on #104
Didn't I do the same here?

https://github.com/hyn/multi-tenant/pull/98/files

[2016-06-11 09:45] bkintanar commented on #104
@Luceos I'm afraid not. There are two hostnames_table around. hmt_hostnames ad hws_ssl_hostnames and you missed the following files below.

[code]

[2016-06-11 09:46] luceos commented on #104
i see great. The diff is really unreadable

[2016-06-11 09:47] luceos commented on #104
closed in https://github.com/hyn/multi-tenant/pull/103

[2016-06-11 09:49] bkintanar commented on #104
Why close? My PR is needed for this to be tested but this still is occurring.

[2016-06-11 09:58] luceos commented on #104
I merged your PR, thinking that solved this issue. Did I miss something?

[2016-06-11 09:59] bkintanar commented on #104
Yes, the PR is needed for the tenancy migrations to work. but even if we merged my PR, any new migrations that are added after tenancy's migration doesn't run.

[2016-06-12 16:04] bkintanar opened #105 "[2.x] Migrations running on master db"
When issuing a `php artisan multi-tenant:setup` command, it runs migration files on the master database and creates a blank database for the tenant. What should be the correct command in order not to run the migrations on the master db but instead on the tenant db?

[code]

[2016-06-13 20:19] luceos commented on #105
the `--tenant` option takes either:
- `all` for all tenants
- `1` or any website ID
- `1,2,3` any comma delimited array of website ID's

See: https://github.com/hyn/multi-tenant/blob/2.x/src/Tenancy/Traits/TenantDatabaseCommandTrait.php

The above does not answer your errors though.

The SetupCommand does not run migrations automatically for tenants, but it does so for system-related packages. Whi

[2016-06-13 20:23] luceos commented on #102
Can you try it with the following:

[code]

[2016-06-13 20:23] Luceos commented on #79
No reply anymore, closing.

[2016-06-13 20:23] #79 closed

[2016-06-13 21:36] luceos commented on #75
reverted the code implemented for now

[2016-06-13 21:36] #75 closed

[2016-06-13 21:37] bkintanar commented on #105
Yeah, my problem is that when I have an empty master db, and no tenant dbs then I ran multi-tenant:setup, it runs ALL the migrations into the master db, and creates these unnecessary tables in the master db. Then creates this empty tenant database.

The screenshot below which it rans migrations is referring to the master database. which runs these unrelated migration to the master db.
<img width="

[2016-06-13 21:40] luceos commented on #105
If you want to force migrations onto the tenant use:

[code]

[2016-06-13 21:40] bkintanar commented on #104
Should this issue be reopened?

[2016-06-13 21:41] bkintanar commented on #105
Thanks @Luceos I'll just add that on the migrations.

[2016-06-13 21:41] luceos commented on #105
Also as said before the SetupCommand is not meant to create Tenants on the fly. You have to create your own logic to do so. The setup command is meant to install/set up your instance. Seen the number of issues related to that so far, I might actually prevent these soon.

[2016-06-13 21:45] bkintanar commented on #105
I understand now that I need to run `php artisan migrate --tenant=` to run the migrations for the tenant.

[2016-06-13 21:45] #105 closed, assigned to nobody

[2016-06-13 22:07] bkintanar commented on #105
it's now giving me `Database [tenant] not configured.` when there's no tenant created yet.

[2016-06-13 22:18] bkintanar commented on #105
I added a try catch but I don't like the solution. :)

[2016-06-14 05:03] luceos commented on #105
You should create a TenantObserver (called ModelObserver in L-speak) in your code that listens to the created event and then fire a queue job that runs migrations. Make that job delayed by a few seconds so the other listeners are done.

[2016-06-14 08:07] Krato commented on #102
It's working 😀

Thanks!

[2016-06-14 18:38] #102 closed, assigned to nobody

[2016-06-14 20:23] bkintanar opened #106 "[2.x] Disable creation of tenant directories in app_storage"
I would like to request this feature, since not all multi-tenant setup would require this feature, I would like to have it turned off.

😄

[2016-06-21 13:29] Trexology opened #107 "Installing for laravel 5.2"
when i follow the guide in https://hyn.readme.io/docs/installation:
`composer require hyn/multi-tenant`
it complain that the package does not support laravel 5.1

when attempting to add `"hyn/multi-tenant": "2.*"` to composer.json
it complain the php version requirement is >= 7.0

Is that the really the requirement to use this package???

[2016-06-21 14:13] luceos commented on #107
Yes, PHP 7 is now the standard for all upcoming releases. Multi tenancy is meant to be running on its own VM anyway, so switching that in production shouldn't be all too complicated. The downside is you probably also need to switch in development, you can use vagrant/homestead to make that working as well...

[2016-06-22 18:50] #107 closed, assigned to nobody

[2016-07-10 07:59] yientau opened #108 "Failed to create tenant (inconsistent)"
Sometimes it creates tenant successfully but there are some other times it fails to create. The following are the error trace.

[error.txt](https://github.com/hyn/multi-tenant/files/355910/error.txt)

I am running this on latest XAMPP(PHP 7.0.8, Apache 2.4.18, MariaDB 10.1.13) on my local machine(using Mac). It actually also happens when I was using PHP5.

[2016-07-12 21:48] luceos commented on #108
[code]

[2016-07-12 22:04] luceos commented on #108
https://github.com/hyn/multi-tenant/tree/multi-tenant-108

Started work on sorting this out properly. This is a preliminary fix, I need to test it still.

[2016-07-12 22:18] luceos opened #110 "implement beanstalkd test"
Switched back to use QUEUE_DRIVER=sync instead of beanstalkd because it seemed not to work at all right now.

[2016-07-12 22:21] #106 closed, assigned to nobody

[2016-07-12 23:39] #108 closed, assigned to nobody

[2016-07-12 23:42] luceos commented on #104
@bkintanar are you able to verify the recent changes fixed this?

I tagged 2.0.0-beta.1

[2016-07-12 23:47] bkintanar commented on #104
@Luceos let me check and see. I'll get back to you with update.

[2016-07-12 23:49] bkintanar commented on #106
should I add a `disallowed` param on tenant creation?

[2016-07-13 03:15] bkintanar opened #112 "Option to set database name during setup"
This issue is related to https://github.com/hyn/multi-tenant/issues/56

It would be great to be able to set the database name during setup. Currently the database is being named by concatenating the tenant_id and the identifier.

[2016-07-13 05:09] luceos commented on #112
Hi,

Once again, the SetupCommand was never meant to be used to add Tenants. It was meant for the post-installation step of the package. In order to fulfil your request what needs to be done is create a new command "TenantCommand" which allows for some regular actions, like adding, updating and deleting tenants.

I'll see whether I can push this in any time soon. My first priority for 2.x however

[2016-07-13 05:09] #112 closed, assigned to nobody

[2016-07-13 05:16] luceos commented on #106
You should update the config file.

[2016-07-13 05:19] luceos opened #113 "Improve setup command to allow configuration to be set earlier"
At this point when you run the SetupCommand it will already do logic for which the configuration file is needed. As you haven't really had any (logical) chance of updating the config before running the command the SetupCommand has to ask questions to change the configuration file during runtime and persist it to disk.

This is related to #106

[2016-07-13 05:20] bkintanar commented on #106
I see. thanks @Luceos

[2016-07-15 12:59] #110 closed, assigned to nobody

[2016-07-16 12:51] bkintanar commented on #104
@Luceos this issue is still occurring.

[2016-07-19 12:29] hisenbergguj opened #116 "Override the tenant database dynamically"
foreach(Website::all() as $website) {
$website->database->setCurrent();
$user = User::all();
dd($user);
}
why this will return data of current website[Tenant] itself even though I have change database connection?

[2016-07-28 20:05] luceos commented on #104
@bkintanar are you using the 5.2 compatible one? Might be the case that native Laravel command was modified and the package doesn't reflect those changes.

[2016-07-28 22:34] #60 closed

[2016-07-29 01:12] bkintanar commented on #104
@Luceos I'm not sure I understand. I just created a normal migration file using command and then I tried creating manually. Is this your question?

If you're question if I'm using the 5.2 compatible branch then yes.

[2016-07-29 09:59] luceos opened #121 "document v 5.x"
Create a new documentation tree in readme.io for version 2.x.

- [ ] Change links in code to refer to new documentation page http://laravel-tenancy.com

Some things that need documentation:
- [ ] where are 3.x and 4.x
- [ ] backward incompatibilities
- [x] compatibility with latest Laravel and PHP 7 only
- [x] replace tenant with customer where needed
- [x] replace old namespace MultiTenant with n

[2016-07-30 19:07] dakshhmehta opened #122 "Language folder is replaced"
Hello,

recently I am working on a hotel booking system, created as SaaS. When I started using hyn. My language files are broken.

While dig into the code, I found in Tenant Directory handler, we create the folders and replace the lang folder to point towards the tenant's lang folder, excluding resources/lang folder.

Now, all my languages needs to be copied manually, even after no changes to tena

[2016-08-01 20:35] luceos commented on #122
Hi @dakshhmehta maybe we can extend the logic, so that in case the `lang` config param is a string we'll use that as a language namespace? Would that help you out?

[2016-08-01 22:02] #113 closed, assigned to nobody

[2016-08-01 22:03] luceos commented on #106
You can now add a new option to the setupcommand called --tenant-config with a path to a pre-filled config php file. It will be copied over the published config. Also if you leave out this option, the setup command will ask you to confirm to move on, giving you opportunity to manually edit the published files.

[2016-08-07 18:36] bkintanar opened #126 "Make Migration Commands Consistent"

[2016-08-09 00:27] yientau opened #127 "Unable to create tenant after upgrade to 2.x branch"
I did a composer update and I am getting the latest now on 2.x branch. Then I proceed to try adding a new tenant but it breaks all legacy codes, because some package name has been changed from multitenant to tenancy, for example.

Then I try to create a new tenant and the following error appear consistently...

[code]

I notice from the above error - /Applications/XAMPP/xamppfiles/htdocs/staffmana

[2016-08-09 12:59] yientau commented on #127
After I have created webserver folder in storage folder, it looks like I have fixed it.

I was actually using another method to create the tenant, which was suggested by @Luceos a while back, like follows:-

[code]

instead of the following...

[code]

So, maybe that's the reason why webserver folder wasn't created at the first place.

[2016-08-10 00:27] yientau commented on #127
Wait, the error comes back to bite me again! It's just being inconsistent at different times. Sometimes it creates tenant perfectly, the other time not. Is anyone looking into this?

[2016-08-11 12:39] bkintanar opened #128 "Bug In Migration"
The down() function for RenameTenantsToCustomers2 has some bugs.

[2016-08-11 12:48] #128 closed, assigned to nobody

[2016-08-11 15:55] Keiron-BWS opened #130 "Configuring on 2.0"
I've clean installed Laravel 5.2, then pulled in multi-tenant v2 (by lowering my stability required to beta to get v2).

But when I run the setup:

`sudo php artisan multi-tenant:setup --tenant=EXAMPLE --email=foo@example.com --hostname=example.com --webserver=nginx`

All I get is:
`[Symfony\Component\Console\Exception\RuntimeException]
  The "--tenant" option does not exist.`

Am I doing somethin

[2016-08-11 18:14] bkintanar commented on #130
The docs isn't updated. You need to be using `--customer` instead of `--tenant`

[2016-08-12 06:34] luceos commented on #130
[Updated the readme](https://hyn.readme.io/v2.0/docs/configuration#run-setup) to reflect these changes.

[2016-08-12 06:34] #130 closed, assigned to nobody

[2016-08-12 06:48] bkintanar commented on #130
@Luceos that version of readme isn't published yet.

[2016-08-12 06:50] luceos commented on #130
made it public, but not yet default 👍

[2016-08-12 09:47] Keiron-BWS opened #131 "Can't locate TenantModel"
I might be looking in completely the wrong place here.

I'm using some existing packages, but I want then to run in all the tenant sites, the problem is they automatically use the .env database connection and clearly we want them to use the tenant connection. I "think" I've got the databases migrating correctly.

So I've tried replacing Eloquent in config/app.php
'Eloquent'  => Hyn\MultiTenant\Abs

[2016-08-12 09:58] bkintanar commented on #131
Actually that part of the docs is once again not updated yet. You need to be pulling in Tenancy and not MultiTenant.. so `Hyn\Tenancy\Abstracts\Models\TenantModel`.

sorry.

[2016-08-12 10:13] Keiron-BWS commented on #131
Perfect, that works now I need to work out why it's not finding my tenant database connection

[2016-08-12 10:53] luceos commented on #131
Updated that page in v2 readme. We're in the process of rewriting it.

[2016-08-12 10:54] luceos commented on #127
How did you setup your queue?

[2016-08-12 13:21] luceos commented on #116
What model is User extending? It would be helpful to know more about your set up than just this.

[2016-08-12 13:47] #56 closed

[2016-08-12 17:24] yientau commented on #127
This is what I found from multi-tenant.php under config folder

[code]

If you're talking about queue.php file under config folder, the following is my configurations...

[code]

[2016-08-12 17:54] yientau commented on #127
Does this "storage/webserver/fpm/129-ryau2.conf" file must exists else it will fail? I can confirm this file or folders does not exists.

[2016-08-12 18:08] luceos commented on #127
Do you see any errors in your laravel log?

[2016-08-13 07:17] yientau commented on #127
The error is the first comment I logged in this ticket. It simply complains that folder doesn't exist. I am curious, since I am not using the webserver. Why does the framework didn't skip the web server part?

[2016-08-15 16:30] luceos opened #134 "integrate different dashboard"
Eg:
- Spatie Blender

[2016-08-16 09:27] bkintanar opened #135 "Support for Laravel 5.3"
Because Laravel 5.3 is around the corner. We'll support 5.3 ASAP.

![14021658_520845924781346_3460873072962188817_n](https://cloud.githubusercontent.com/assets/685928/17694499/ac2dd5ba-63d6-11e6-9118-3519adb4d0e4.jpg)

[2016-08-17 12:37] bkintanar commented on #135
Closed by https://github.com/hyn/multi-tenant/commit/32eb9076c6b091578c910fd7f18ae75648c8a950

[2016-08-17 12:37] #135 closed, assigned to bkintanar

[2016-08-17 16:32] luceos commented on #131
@Keiron-BWS please open a new issue related to that tenant db connection if it's still an issue. We'll gladly assist were possible.

[2016-08-17 16:32] #131 closed, assigned to nobody

[2016-08-20 09:17] hisenbergguj opened #137 "unable to install/update hyn package 1.0"
on executing following command

composer require hyn/multi-tenant

I will receive following error :

[code]

[2016-08-22 16:57] luceos commented on #137
You still have the old package installed:

edit your composer.json file and rename `hyn-me/multi-tenant` to `hyn/multi-tenant` then do a composer update. After that change the version constraint in the file.

[2016-08-22 17:31] luceos commented on #127
That's most definitely a good question.

[2016-08-22 17:52] luceos commented on #127
In version 1 the webserver command would simply not fire because the package is not installed. Now it's installed by default due to the monolythic structure.

[2016-08-25 05:21] yientau commented on #127
I see. So does this mean in the next release you will have it removed if I'm not using web server option?

Thanks a lot Daniel.

[2016-08-25 14:12] julianfox opened #139 "The doc does not seem updated for "run set""
`sudo php artisan multi-tenant:setup --customer=EXAMPLE --email=foo@example.com --hostname=example.com --webserver=(nginx|apache|no)`

instead of

`sudo php artisan multi-tenant:setup --tenant=EXAMPLE --email=foo@example.com --hostname=example.com --webserver=(nginx|apache|no)`

[2016-08-25 14:15] bkintanar commented on #139
@julianfox, thank you for pointing that out. I'm tasked on updating the docs. I'll make time this weekend to update as much docs as possible.

Cheers!

[2016-08-25 14:17] bkintanar commented on #139
Also, you can check here: https://hyn.readme.io/v2.0/docs/configuration

It's published but currently not set as default.

[2016-08-25 15:22] #139 closed, assigned to bkintanar

[2016-08-25 15:22] luceos commented on #137
Please re-open if this was not the solution.

[2016-08-25 15:22] #137 closed, assigned to nobody

[2016-08-25 15:23] luceos commented on #134
Will most probably not be integrating a new one, but will be adding functionality based on commands.

[2016-08-25 15:23] #134 closed, assigned to nobody

[2016-08-25 15:24] luceos commented on #127
I'm working on the fix as we speak. Will release asap. The fix will keep track of whether you installed the package or not and what your webserver preference is, more information soon.

[2016-08-26 02:42] yientau commented on #127
This is very good.

[2016-08-29 20:55] julianfox opened #140 "The webserver command return an error when the website identifier is not correct (uppercase)"
The webserver command return this error:

[code]

When I create website with "Exemple" identifier through create function of Hyn\Tenancy\Contracts\WebsiteRepositoryContract

Should I reformate or check the user input in my controller or there is a better solution to manage it?

[2016-08-30 13:22] julianfox commented on #140
Same issue here: http://askubuntu.com/questions/232742/failed-to-create-user-due-to-regular-expression-error

It'll be great to add a check with this regex: NAME_REGEX="^[a-z][-a-z0-9_]*\$" on the identifier field of website model.

[2016-08-30 23:39] julianfox opened #141 "Error with EloquentUserProvider"
I just followed this recommendation:
https://hyn.readme.io/docs/eloquent-facade-tenant-system-model

But now I get this error when I try to login with a tenant hostname:
`FatalThrowableError in EloquentUserProvider.php line 114:
Type error: Argument 1 passed to Illuminate\Auth\EloquentUserProvider::validateCredentials() must be an instance of Illuminate\Contracts\Auth\Authenticatable, instance of

[2016-08-31 08:21] julianfox commented on #141
I just fixed the first issue with:

[code]

[2016-08-31 08:24] julianfox commented on #141
But I have no idea how to fix the second issue... Is it possible to login with users in the system database through the default domain ?

[2016-08-31 11:35] julianfox opened #142 "Error: 502 Bad Gateway"
I get error: 502 Bad Gateway when I visite the url of new tenant just after creation.
The webserver command is successfully processed with a queue running as root.

I have to do:
`Vagrant reload`

For fix the issue

[2016-08-31 16:36] bkintanar opened #143 "Disable adduser feature until implemented"
We need to disable this feature until the separation of files per tenant be implemented.

[2016-09-02 13:07] deleugpn commented on #107
@Luceos

does this mean I'll have a problem using it on a shared host running cPanel?

[2016-09-02 13:50] luceos commented on #107
@Deleugpn it is possible, but you are responsible to map the hostnames to your installation. Also I have never tested this on a shared environment, so you will probably run into more issues.

[2016-09-05 16:14] luceos opened #144 "Add event when database was created"
When the database was created fire an event so we can listen to it.

[2016-09-09 03:08] deleugpn opened #145 "How to re-run a new customer?"
I'm new to the package and I have been going through the whole documentation to try and setup my first "Hello World Hyn Multi Tenant" project. Problem is I just ran the `php artisan queue:work` without root privileges, which made the job disappear and the queue to fail.

Now I have set the `failed-table` to avoid this in the future, but I'd like to know if it's possible to setup a website that has

[2016-09-09 03:31] deleugpn opened #146 "502 Bad Gateway on nginx (Homstead with PHP 7)"
When trying to setup my first project, I was getting 502 Bad Gateway when trying to access the domain of the first tenant. Here is what I found at the logs:

[code]

Now, notice the **/var/run/php5-fpm.hyn-9001.sock**. I believe it should be something related to `php7.0-fpm` instead. I'm not really experienced in this matter, but I don't think my homestead with PHP 7 is running php5-fpm.

That can

[2016-09-09 06:19] luceos commented on #145
You can regenerate the webserver related files by using:

[code]

Hope that helps.

[2016-09-09 09:34] MithrandirDK commented on #104
I am using Laravel 5.3 and Hyn 2.0\* and new migrations are not run on my tenant databases.

I don't get any errors about failed tables etc.

Once I rename the migration to 2014_something, it runs perfectly on the tenants.

[2016-09-09 09:35] bkintanar commented on #104
@MithrandirDK this is still an open issue.

[2016-09-09 09:38] MithrandirDK commented on #104
Right, I just hoped to shed some light on the issue and ease the reproducing - since I experience it on a very clean Laravel 5.3 / Hyn 2.0\* installation - not any 5.2 compatible branch or anything.

It was not meant to be a rant or otherwise criticism of this really excellent component that will prove to be essential in my current project :)

[2016-09-09 13:09] julianfox commented on #146
I got the same error, the workaround is just to don't run php artisan queue:work as root on Homestead env (or Vagrant env)

If you do: `vagrant reload` that'll work too normally...

You'll got error in worker log but it's for a not implemented feature: https://github.com/hyn/multi-tenant/issues/143

[2016-09-09 13:14] julianfox opened #147 "Implement the "--tenant" option for migrate:refresh"
I got this error when I do: `php artisan migrate:refresh --tenant=all`
`The "--tenant" option does not exist.`

Is it possible to implement the tenant option for this case ?

[2016-09-09 13:41] luceos commented on #146
I see, so the sock for 7 has probably changed, because it has the version hardcoded in 5.

[2016-09-09 13:44] luceos commented on #142
Yes vagrant works differently with the webserver because it configures webserver related stuff during provisioning. This is not something we will be supporting.

[2016-09-09 13:44] #142 closed, assigned to nobody

[2016-09-09 13:52] deleugpn commented on #142
What is the proper supported way to setup a development environment with this package and achieve at least two different Hello World homepage?

[2016-09-09 14:03] deleugpn commented on #112
Are you referring to this?

`sudo php artisan multi-tenant:setup --customer=EXAMPLE --email=foo@example.com --hostname=example.com --webserver=(nginx|apache|no)`

If that's not the proper way to add a new Tenant, what is? Should I manually add to the database and run the `php artisan webserver:toolbox --update-configs`? Also, if that's not the proper way to add a new Tenant, but it ends up adding

[2016-09-09 15:16] deleugpn commented on #42
Subscribing to this.

[2016-09-10 13:34] aisha90 opened #148 "Is there any management interface to setup tenants?"
I am looking forward to use "hyn" but I want to make some points clear. Please tell me are there any limitations to use this package that will bound me in terms of development of application?
Is there any ready to use interface to setup a new tenant or I have to develop it?
My application structure will be like separate database for each customer and single code base for all but each tenant will h

[2016-09-10 13:49] luceos commented on #148
- What do you mean with limitations? It's MIT, do with it what you want.
- The "old" management interface is no longer supported in 2.x of this package. There are no plans yet to add one again.
- Adding tenants should be done from within your code, each use case is different.
- Separating databases and code per tenant is possible, using system and global code is also possible. So no worries.
- Fro

[2016-09-10 13:54] aisha90 commented on #148
Thanks for the quick response. I am glad to know it will be great to use this package. My point # 1 about limitations is regarding to development, I want to ask Can I develop any type of application with whatever features with any kind of plugins in it or there are some limitations in this domain? Do you have a detailed documentation that explains how to start using it because I find this link for

[2016-09-10 14:21] aisha90 commented on #148
Please tell me this one also, here on this link https://hyn.readme.io/docs/requirements it is mentioned that it must be PHP 7+ and I have PHP 5.6, so it means it won't be compatible with mine PHP installation?

[2016-09-10 22:11] luceos commented on #148
So far I've not heard someone complain that something envisioned was not possible due to using this package. There might be some tough work ahead depending on your goal, but with the help of ioc and laravel in general, you should be able to get there one way or another.

[2016-09-11 06:07] aisha90 commented on #148
Thanks so much Luceos for all your answers.

[2016-09-11 17:20] aisha90 opened #149 "Unable to install hyn/multi-tenant"
I am trying to install hyn package on my local server, I have latest version of laravel installed i-e; 5.3.8 and PHP verision 7. When I am installing it through this command "composer require hyn/multi-tenant" its saying installation failed. Here are the details

c:\xampp\htdocs\sassApplication>composer require hyn/multi-tenant
Using version ^1.0 for hyn/multi-tenant
./composer.json has been updat

[2016-09-11 18:31] aisha90 commented on #149
anyone? who can help me with this issue?

[2016-09-11 19:36] julianfox commented on #149
Try to add this version to your composer.json
`"hyn/multi-tenant": "2.0.*@dev"`

And do:
`composer update`

The version 1.0 is not compatible with Laravel 5.3

[2016-09-11 20:34] aisha90 commented on #149
Thanks @julianfox  for your reply. But please can you tell me where should I add `"hyn/multi-tenant": "2.0.*@dev"` this line in composer.json?

[2016-09-12 08:07] julianfox commented on #149
Here

[code]

[2016-09-12 08:26] luceos commented on #149
use the following in your composer.json:

[code]

Drop the last comma in case of being the last entry.

Then try installing hyn/multi-tenant again.

[2016-09-12 09:16] aisha90 commented on #149
Thank @Luceos  and @julianfox solution worked for me. hyn installed successfully. It's working like a charm. The package is just awesome. Thank you.

[2016-09-12 10:56] #149 closed, assigned to nobody

[2016-09-12 11:37] MithrandirDK opened #150 "Simplification of the (already quite simple) multitenancy"
Hi and thank you for your great work on making an unobtrusive multi-tenancy solution. It works very well in my current development, however, I am wondering if I could simplify it even more.
## The Use Case

I want to build a multi-tenancy system where tenants have separate databases and separate file storage. Cache will be shared - but with a prefix to keep cached data separate.

All tenants will

[2016-09-12 12:24] julianfox commented on #149
@Luceos is it not preferable to use 2.0.*@dev only on the package instead of "minimum-stability": "beta" globally ?

[2016-09-12 13:29] luceos commented on #149
You have to use that in combination with `prefer-stable`, in that case it's safe. Adding @dev will actually include the branch - not a tagged moment in time - because the branch has a branch-alias. If you do this any commit that we make is pulled in on an update and .. I don't work with stable branches 😄  , I work with tagging/versioning.

[2016-09-12 15:33] luceos commented on #150
Extend the Baum\Node and set the connection manually, the same way I did on the TenantModel.

[2016-09-12 15:43] luceos commented on #150
If you are running everything on the Tenant database anyway, you can also simply set that connection as the default in your `database.php` 👍  much easier.

[2016-09-12 17:02] MithrandirDK commented on #150
Thank you for your reply.

Yes, I did end up with the Baum\Node extension with a manual connection, but felt it was a little too much copy-paste of rather crucial code - so I will go with the default database method, I think. (and now I see the part, I had missed about replacing the Eloquent model via facades... Same-same with database.php default connection?)

Different questions, but also relate

[2016-09-12 17:08] julianfox commented on #149
Good to know ;-)

[2016-09-12 18:26] luceos commented on #150
1. You'd have to do some logic there yourself, it shouldn't be too hard with a custom service provider.
2. Check the tests written for the package, they force tenancy as well. Please note terminal/cli has no way of automatically identifying tenants.

Replacing the facade class is not quite the same as setting a default, but the effect is, yes.

[2016-09-12 18:47] MithrandirDK commented on #150
Thank you and thank you. I'll dive back in :)

[2016-09-12 18:47] #150 closed, assigned to nobody

[2016-09-13 05:56] luceos commented on #142
You can use vagrant, but you'd have to apply changes to your vagrant machines when you add new hosts using `vagrant reload`. Please understand the webserver changes made by this package are reset if you provision the virtual machine anew.

[2016-09-13 05:58] luceos commented on #112
The best practice to add a new Tenant is to add the objects and persist them. There is event listener that checks when a new tenant is created, which will fire the WebserverCommand to update the configuration and create the directories.

An example on how to implement adding a tenant is documented in the [readme](https://hyn.readme.io/docs/tenants#example-code-helping-you-manage-tenants).

[2016-09-13 06:13] #44 closed

[2016-09-13 06:14] luceos commented on #42
The documentation is already mentioning part of this; https://hyn.readme.io/v2.0/docs/tenant-identification.

[2016-09-13 07:53] #148 closed, assigned to nobody

[2016-09-13 08:03] luceos commented on #146
Working on this in https://github.com/hyn/multi-tenant/tree/php-7-webserver

[2016-09-14 21:57] deleugpn opened #152 "How to overwrite the default views files through the multi-tenant folder?"
I'm trying to build a Hello World project with 2 customers and see the power of the package for myself, but I'm stuck at the **resources** and **routes** elements now.
## The problem

When accessing my different hostnames (`home.php7.local` and `customer-1.php7.local`), I see `welcome.blade.php` that is located under `hello-world/resources/views/welcome.blade.php`. I tried creating different files

[2016-09-14 23:55] luceos commented on #152
Currently the tenant view path does not have a higher priority over the system-wide view path. This is caused by using `addLocation` on the `FileViewFinder` which simply appends another location to search for views. A solution would be to make this configurable and allow for namespacing, pre- or appending the location. From the top of the brain I think I decided for this approach because a) I hate

[2016-09-14 23:56] luceos commented on #145
No answer so far, please re-open if needed.

[2016-09-14 23:56] #145 closed, assigned to nobody

[2016-09-15 00:58] deleugpn commented on #152
After reading your comment, I just erased the system-wide file `resources/views/welcome.blade.php` and that was enough to have each `welcome.blade.php` being shown by their respective domain. Although it is sad to know that I can't work on generalized views system-wide and add customization views on a tenant-level, it was **really** nice to know that I did everything correctly.

My migrations are

[2016-09-15 00:59] deleugpn commented on #145
Sorry I forgot to answer. That was exactly what I wanted at the time. Thanks.

[2016-09-15 06:53] luceos commented on #152
I think making view loading configurable is something I'd like to have. So no worries it will be in there, just not sure prepending will be an option then.

Can you explain how you want to solve this with symbolic links?

[2016-09-15 10:34] yientau commented on #127
Is this going to be fixed anytime soon?

[2016-09-15 11:08] deleugpn commented on #152
My thought is to never have view files under the system-wide folder `resources/views/` and come up with a new separate folder `whatever/views`. From the system perspective, those views don't even exists. So every tenant that will inherit the standard view file would have a symbolic link at `storage/multi-tenant/<tenant>/` pointing to the respective file in `whatever/views`. If a tenant buys custom

[2016-09-15 14:18] luceos commented on #127
Sorry about this. I've actually had to hand in my company laptop and never committed the progress I made on this. Will need to re-implement this again. TLDR will take a bit longer.

[2016-09-15 14:25] luceos commented on #146
Merged into 2.x

[2016-09-15 14:25] #146 closed, assigned to nobody

[2016-09-18 07:46] thandonguocmo2020 opened #153 "Error run php artisan migrate:reset"
Step 1: After configuration

The directory to hold your tenant websites has been created under website.
'getent' is not recognized as an internal or external command,
operable program or batch file.
'adduser' is not recognized as an internal or external command,
operable program or batch file.
Configuration successful

Step 2 : php artisan migrate:reset

 [Doctrine\DBAL\Schema\SchemaException]
##

[2016-09-18 11:19] luceos commented on #153
Reset has no --tenant flag so it currently does not support resetting or refreshing. This is something that still needs implementation.

[2016-09-18 13:16] thandonguocmo2020 commented on #153
You can review the database structure of the table! or there's something not right leads to the use of migration not working properly reset.

There is no column with name 'customer_id' on table 'websites'.

in 2016_06_13_202803_rename_tenants_to_customers

---

   Schema::connection(DatabaseConnection::systemConnectionName())
                ->table('websites', function (Blueprint $table) {

[2016-09-18 13:18] thandonguocmo2020 commented on #153
khi chạy php artisan migrate:reset lần nữa. tôi gặp nhiều lỗi hơn !

D:\xampp\htdocs\laravel>php artisan migrate:reset

  [Illuminate\Database\QueryException]
  SQLSTATE[23000]: Integrity constraint violation: 1451 Cannot delete or update a parent row: a foreign key constraint fails (SQL: drop table if exists `ssl_certificates`)

  [Doctrine\DBAL\Driver\PDOException]
  SQLSTATE[23000]: Integrity c

[2016-09-18 13:19] thandonguocmo2020 commented on #153
when running php artisan migrate: reset again. I met many more bugs!

D: \ xampp \ htdocs \ laravel> php artisan migrate: reset
                                                                                                                                                            
  [Illuminate \ Database \ QueryException]
  SQLSTATE [23000]: Integrity constraint violation: 1451 Can not delete

[2016-09-18 19:12] deleugpn commented on #104
I just reproduced this bug on a clean install of Laravel 5.3 and Hyn 2.0.x@dev. All I did was `php artisan make:migration` to create a new migration and when running `php artisan migrate --tenant=1` I had the following scenario:

[code]

When I ran it again, I got this:

[code]

but none of these tables were actually created in the tenant database. However, his `migrations` table registered those

[2016-09-18 19:23] bkintanar commented on #104
@Deleugpn yes. currently my workaround above is the way to do this. The team is working so that this will be fixed before 2.0.0 release. Please stay tuned and sorry for this inconvenience.

[2016-09-19 12:12] MithrandirDK opened #154 "Unit tests"
I am trying to write unit tests for models in my tenant system, but am coming up short.
My test class looks like this:

[code]

It reports "Class 'Config' not found" in

[code]

Could you give some guidance as to how to write unit tests in a multi-tenant system? I don't mind setting which tenant to use manually, but I feel I lack some basic foundation to build upon.

[2016-09-19 12:16] MithrandirDK commented on #121
May I suggest to add documentation on the following topics:
1. Queues - anything to do differently in a multi-tenant setup
2. Scheduled jobs - anything to do differently in a multi-tenant setup
3. Unit tests - how to do them in a multi-tenant setup (see [#154](https://github.com/hyn/multi-tenant/issues/154) )
4. Custom artisan commands - how to make them multi-tenant aware (implement the --tenant=

[2016-09-19 20:28] luceos commented on #154
First of all, writing unit tests like the ones you are attempting to write has nothing to do with my package. Second of all using setUpBeforeClass is frowned upon and will most likely not work, because Laravel uses setUp and tearDown to instantiate/setup the application before each method. The setUp method is called after the setUpBeforeClass, so the Laravel application isn't yet available.

Inste

[2016-09-19 20:29] luceos commented on #121
@MithrandirDK good points, will append them when I have the chance.

[2016-09-20 06:33] MithrandirDK commented on #154
Well... getting a tenant database connection for unit tests has something to do with your package, I think - but ok, I will not bug you with that, then.

And yes, I don't know where I found that setUpBeforeClass and tearDownBeforeClass example - I got it working now with just setUp, tearDown and manually setting the tenant database connection in config.

[2016-09-20 06:33] #154 closed, assigned to nobody

[2016-09-20 07:51] luceos commented on #154
The test you are writing is related to your own code, which uses the tenant connection, I agree. But I have no insight into your code and as such cannot help you with writing tests for them. The package by itself also tests the tenant connection, if you need examples how to write tests for them check the tests in the package.

[2016-09-20 07:54] luceos commented on #153
You cannot use reset for now, it will only reset the system database not the tenant databases. If you continue running reset yes you might run into the attempt of deleting a table that has rows which causes the above error.

What are you trying to accomplish?

[2016-09-21 07:37] MithrandirDK opened #155 "Storing files"
How do I use the media storage path for saving files?

Directory in the Hyn package has the media path with tenant-specific sub-directory and tenant_path() returns the base path to the tenant directory - but how do I get e.g. Storage::put() to use the tenant directory? As far as I can see, it will always use storage_path() which returns standard ./storage/app

I'm sorry to bug you again with anoth

[2016-09-21 11:19] luceos commented on #155
This starts to become more like a support channel for Laravel questions 😄

If you look at the [FilesystemServiceProvider](https://github.com/laravel/framework/blob/5.3/src/Illuminate/Filesystem/FilesystemServiceProvider.php) shipped by Laravel, you will notice it will register different disks:

[code]

We can implement the same but using `filesystem.tenant`. If you're able to send in a PR for this

[2016-09-21 11:21] luceos commented on #147
Related to #153

[2016-09-21 12:16] MithrandirDK commented on #155
I do apologize for the many questions, but every time I stumble across something like this, I keep thinking "I could maybe make it myself and skip the complexity" but then I instantly think "Well, Hyn is _so close_ - maybe it is just a small step to go".

Currently, I am at the file storage, but next steps will be running scheduled jobs and processing queues where I also think Hyn is so close, but

[2016-09-22 07:26] MithrandirDK commented on #155
I have created [PR#156](https://github.com/hyn/multi-tenant/pull/156)

It is not using the singleton method because that doesn't really look like it is registering the disks, rather it is putting the already configured disks into singletons.

Instead I found that we would have to dynamically add a configuration array to filesystems.disk in order to create a new disk that can be used for Storage::d

[2016-09-22 08:10] MithrandirDK opened #157 "General approach to CLI/Artisan"
I have considered an approach to running artisan commands for tenants and would like to propose such an approach that hopefully would make it possible to run any artisan command in a tenant context.

**Idea**
What if we could wrap artisan commands in an... artisan command?
Meaning, a general artisan command with the --tenant option that would:
1. Load the tenant websites
2. For each website fire t

[2016-09-22 09:23] #155 closed, assigned to nobody

[2016-09-22 09:25] luceos commented on #157
This is a very good idea. Some feedback:
- Environment variables should be uppercase.
- If you add this, we need to refactor the existing code as well (SetupCommand and all overruled migrate commands)

Is there anything I'm missing that needs to be refactored.. @bkintanar ?

[2016-09-22 22:10] deleugpn opened #158 "How to run the tests of the package?"
I might have a solution for issue #152, but I have never contributed to any open-source project in my life. I was hoping to learn how to do that with this. Here's what I've done so far:

[code]

After that, I tried to run `vendor/bin/phpunit`, but I get the following error:

[code]

Analyzing the file, I know the error is here:

[code]

It's getting to the `require $app_file;` line with the `$app_

[2016-09-23 07:45] MithrandirDK commented on #157
I have made an attempt and it seems to work pretty well.
[artisan_multi_tenant.txt](https://github.com/hyn/multi-tenant/files/489126/artisan_multi_tenant.1.txt)

I have made it on the form
artisan multi-tenant:run {commandToRun} --tenant={1,5,all} --arguments="argument1 argument2 argument3" --options="--option1=value1 --option2=value2 --option3=value3"

using a putenv('TENANT=1'); method for ident

[2016-09-23 12:38] luceos commented on #158
The tests I wrote only work through travis, because it requires the whole laravel framework to test the integration properly. What you can do is:
- fork the repository to your own namespace
- clone that repository
- implement the fix
- add a test that proves the fix works
- visit github (either the package page or the package in your own namespace), it will popup a button to do a pull request
- tr

[2016-09-23 12:40] luceos commented on #158
and .. welcome to open source 😁

[2016-09-23 14:23] deleugpn commented on #158
Thanks!

Although I was not able to come up with a testing code for the simple change that could simbolize the fix on issue 152, I was able to run almost all tests successfully on my local environment with the following changes:

[code]

That way, all I had to do was setup `phpunit.xml` to point to a clean install of Laravel:

[code]

That was not enough to get full green on all tests, but it was

[2016-09-24 15:14] yientau commented on #127
Ok. Any progress do let me know :) Thanks.

[2016-09-24 17:25] Luceos commented on #127
I certainly will @yientau ; I just need to balance the little time I have between this project and [serverpanel](http://github.com/serverpanel) I started recently.

[2016-09-25 17:33] luceos commented on #158
I understand, please feel free to open a PR to add this minor change, if I'm not mistaken from what you've posted this should work next to the travis configuration.

[2016-09-25 17:34] luceos commented on #157
Seems to be a valid implementation. Allow me to consider the benefits and drawbacks of this implementation aka I need to think about this.

[2016-09-29 07:02] luceos commented on #158
@Deleugpn need further help with getting a PR done? Feel free to chat me up on gitter.im/luceos or the larachat slack.

[2016-09-29 12:48] deleugpn commented on #158
No, we can close this as I've already managed to make the PR #159. I will soon make another one with the small snippet that helps running test code locally. Maybe we can go back to this if and when we manage to run all tests locally without any error.

[2016-09-29 12:48] #158 closed, assigned to nobody

[2016-10-05 02:34] MithrandirDK commented on #157
An alternative approach would be to have a helper method somewhere that resets the environment.

As I see it, it shall:
1. set the tenant database connection
2. set the tenant directory
3. set the tenant cache prefix

this happens already in TenancyEnvironment::construct() - except that the cache prefix is only set (as far as I can see) if the cache directory exists (shouldn't this be set universa

[2016-10-05 02:44] bkintanar commented on #157
@Luceos I just read this today. My apologies. This is a perfect idea in contrast to the current implementation that overrides the commands.

[2016-10-05 07:27] luceos commented on #157
@MithrandirDK aren't environment variables supposed to be fixed; so trying to set them again after being set should have no effect? Might be that dotenv actually allows overwriting the variable.

[2016-10-05 07:28] #152 closed, assigned to nobody

[2016-10-05 11:03] MithrandirDK commented on #157
Might be - but I agree that environment variables are supposed to be constant.

If the TenancyEnvironment approach is viable, we can pass the hostname as an optional 2nd parameter to its constructor and just set it instead of looking it up

[code]

I'll attach the TenantCommand, I made earlier, that would have to be changed, though.
[TenantCommand.txt](https://github.com/hyn/multi-tenant/files/510

[2016-10-06 08:00] MithrandirDK commented on #157
I have collected everything in a single patch file:
[GeneralArtisanTenancyCommand.txt](https://github.com/hyn/multi-tenant/files/513152/GeneralArtisanTenancyCommand.txt)

It allows for passing a website object to TenancyEnvironment::construct() which is picked up in the hostname detection.

Caveats:
- The syntax is a little different from normal with the --options="--option1=blah" etc.
- Since we

[2016-10-06 10:18] MithrandirDK commented on #157
Another thing: I have not tested if we need to do something to change cache prefix and tenant directory - I needed to do a DB::purge('tenant') in order to get the instantiated database connection to reset.

[2016-10-06 13:21] MithrandirDK commented on #157
After looking further (and sorry for spamming) I find that we do need a
Cache::setPrefix("{$this->laravel['config']->get('cache.prefix')}-{$website->id}");
line inside the website loop

Unfortunately, there is no way (as I see it) to re-set a Filesystem disk configuration once it has been resolved... so using Storage::disk('tenant') in a console command does not look feasible... so that's another

[2016-10-06 13:22] bkintanar commented on #157
@MithrandirDK no apologies necessary. you can join us on Gitter if you think you're spamming: https://gitter.im/hyn/multi-tenant

[2016-10-10 06:14] luceos opened #160 "Support system and tenant authentication in the package"
Quite often people are asking how to implement authentication of users that are system-wide and local. This split authentication system is quite easy to hack into Laravel authentication by overriding the authentication layer. Instead of only querying the User (tenant) model, we can natively add a Admin (system) model. Additionally we should allow enabling a specific ServiceProvider in the package

[2016-10-10 10:33] #143 closed, assigned to luceos

[2016-10-12 12:17] aisha90 opened #161 "Can I add multiple users of each tenant?"
Is it possible to add multiple users of one tenant/customer/company and provide them unique login credentials with your hyn package?

[2016-10-12 13:19] luceos commented on #161
A user is simply a model (most likely the User class) which has either the System or Tenant connection. This choice defines what kind of users you have, those that can log in onto one website or those that can log into the system - and based on the logica you implemented - do more than a normal user eg log into all other sites. If you want a user to be able to log in on all sites of one customer,

[2016-10-12 13:27] aisha90 commented on #161
Thanks for the quick reply. You answered my question very well.

[2016-10-17 06:40] luceos commented on #161
You meant to close this, I assume.

[2016-10-17 06:40] #161 closed, assigned to nobody

[2016-10-20 07:23] aisha90 opened #167 "Error when creating new customer/tenant"
When I am trying to add a new tenant, its throwing this error:

php artisan multi-tenant:setup --customer=EXAMPLE3 --email=foo@example3.com --hostname=example3.com
Welcome to hyn multi tenancy.
Copied Directory [/vendor/hyn/multi-tenant/database/migrations] To [/database/migrations]
Publishing complete for tag []!
Copied Directory [/vendor/hyn/multi-tenant/database/migrations] To [/database/migrat

[2016-10-20 07:25] bkintanar commented on #167
@aisha90 is the db user `jamtak_hyn` has a grant privilege? I'm asking this because hyn needs it's db user to have this kind of permission since it creates a user for that particular tenant you are trying to create.

[2016-10-20 07:27] aisha90 commented on #167
I granted all privileges to jamtak_hyn while creating it. Is there anything else that needs to be done to grant privileges?

[2016-10-20 07:31] aisha90 commented on #167
@bkintanar Yes, you are right it seems to be permissions issue. But I am wondering what is missing.

[2016-10-20 07:33] bkintanar commented on #167
Can you verify the things in this screenshot?

<img width="551" alt="user_managment" src="https://cloud.githubusercontent.com/assets/685928/19550095/6ecd687a-96da-11e6-904e-10acc4978b62.png">

[2016-10-20 07:37] aisha90 commented on #167
yes, here it is

![shot](https://cloud.githubusercontent.com/assets/22116649/19550216/e24a8292-96c1-11e6-90ad-5cd8711abc1f.PNG)

[2016-10-20 07:38] bkintanar commented on #167
I dont see create user here.

[2016-10-20 07:40] aisha90 commented on #167
Ohk. so I have to make some changes from root access. Let me try this. Thanks so much.

[2016-10-20 13:07] aisha90 opened #168 "Can I edit the prefix of customer database?"
I am trying to edit the prefix of name of customer's database. For example: name of customer's database generating is 1-example-com, I want to make it as myprefix_1_ex_com.

Is it possible? If yes, from where I can edit this option?

One more thing I am getting error

when I am adding a new tenant.

Thank you

[2016-10-20 13:49] luceos commented on #168
For version 2.x this is not possible, sadly I have been quite stupid in hardcoding that (https://github.com/hyn/multi-tenant/blob/2.x/src/Tenancy/Tenant/DatabaseConnection.php#L80).

As the upcoming version 3.x will be vastly more flexible, I will keep it in mind! If you need this for version 2.x please send in a PR if possible, thanks.

As to the adduser issue, this is a known open issue; the Web

[2016-10-20 14:02] aisha90 commented on #168
Can you please refer that issue here?

[2016-10-20 18:29] luceos commented on #168
Yes sure, wasn't able to find it that easily either: #143

[2016-11-16 19:09] bubblemedialtd opened #169 "RuntimeError"
When attempting to create a new user, using the following syntax:

`sudo php artisan multi-tenant:setup --customer=BUBBLEMEDIA --email=mike@bubblemedialtd.co.uk --hostname=tenants.bubblemedialtd.co.uk --webserver=apache
`

I receive the following runtime error:

`  [RuntimeException]
  The "--customer" option does not exist. `

[2016-11-16 19:49] Luceos commented on #169
Which version of the package do you use?

[2016-11-16 19:53] bubblemedialtd commented on #169
I have now upgraded to `2.x-dev` and that issue has now been resolved.

Now a different issue is occurring...

`FatalThrowableError in WebserverServiceProvider.php line 33:
Class 'Hyn\MultiTenant\Models\Website' not found`

`laravel/framework                     v5.3.23
hyn/management-interface              0.5.5
hyn/multi-tenant                      2.x-dev dff0380
hyn/webserver

[2016-11-16 19:58] Luceos commented on #169
please don't use the 2.x-dev constraint, better use `^2.0.0-dev.1`

[2016-11-16 20:00] bubblemedialtd commented on #169
`[UnexpectedValueException]
  Could not parse version constraint ^2.0.0-dev.1: Invalid version string "^2
  .0.0-dev.1"  `

Says that's an invalid version, I can't see it on the packagist either. Instead I've used `^2.0.0-beta.1`

But unfortunately the problem still exists. I'm just about to wind up a brand new instance of Laravel 5.3 and see if I can replicate the issue.

[2016-11-16 20:08] Luceos commented on #169
My apologies it should have read:

[code]

[2016-11-16 20:12] bubblemedialtd commented on #169
Ok, fresh install..

Laravel 5.3.23
hyn/multi-tenant 2.0.0-beta.4
hyn/webserver 0.5.3
hyn/management-interface 0.5.5

I am still greeted with the following error:

`Class 'Hyn\MultiTenant\Models\Website' not found`

[2016-11-16 20:20] Luceos commented on #169
remove both hyn/webserver and hyn/management-interface; the first is integrated into the tenancy package and the latter is not compatible with version 2

[2016-11-16 20:24] bubblemedialtd commented on #169
Thank you @Luceos - That resolved the issue.

[2016-11-16 20:24] #169 closed

[2016-11-16 20:26] Luceos commented on #169
Good to hear, let me know if you need anything else.

[2016-11-16 22:05] bubblemedialtd opened #170 "php artisan multi-tenant:setup error"
When attempting to run:

`sudo php artisan multi-tenant:setup --customer=BUBBLEMEDIA --email=mike@bubblemedialtd.co.uk --hostname=bubblemedia.swoolo.com --webserver=apache`

I receive the following error:

`  [Illuminate\Database\QueryException]
  SQLSTATE[HY000]: General error: 1005 Can't create table 'hyn_multi_tenancy.#sql-277c_9a'
   (errno: 121) (SQL: alter table `tenants` add constraint `ten

[2016-11-17 12:14] bubblemedialtd opened #171 "Unrecognised option --ingroup"
When running the following multi-tenant:setup call, it returns the following error.

`sudo php artisan multi-tenant:setup --customer=APPTEST2 --email=mike@bubblemedialtd.co.uk --hostname=apptest2.swoolo.com --webserver=apache`

`adduser: unrecognized option '--ingroup'`

[2016-11-17 12:15] bubblemedialtd commented on #171
Laravel 5.3.23
Hyn 2.0.0-beta.4

[2016-11-17 12:16] Luceos commented on #171
What OS are you using? I highly recommend using tenancy on a bare ubuntu machine.

[2016-11-17 12:17] bubblemedialtd commented on #171
OS is bare CentOS 7.2

[2016-11-17 12:21] bubblemedialtd commented on #171
Loading up a bare Ubuntu machine now, will try with that.

[2016-11-17 12:25] Luceos commented on #171
`--ingroup` is part of the code that adds a user to the machine with `adduser` might be the case that option is not available on centos.

[2016-11-17 12:28] Luceos commented on #170
What database driver did you have installed? Seems like it cannot create a constraint.

[2016-11-17 19:08] bubblemedialtd opened #172 "Webserver config nginx error"
After creating a couple of new users and adding the virtual host directives to the `nginx.conf`, I am experiencing the following error when starting nginx:

`Nov 17 20:06:32 app.swoolo.com nginx[8382]: nginx: [emerg] the same path name "/var/www/html/storage/multi-tenant/1-apptest-sw/cache/image" used in /var/www/html/storage/webserver/nginx/1-apptest-sw.conf:8 and in /var/www/html/storage/webserv

[2016-11-17 19:30] bubblemedialtd commented on #79
Has there been any movement towards my request? Ideally I'd like to create certain table structures once the tenant has been created. Would a Job be the best way to carry out this task?

[2016-11-17 20:41] bubblemedialtd opened #173 "Query System authentication in tenant model"
I'm checking that the logged in user is authenticated, but the authentication is failing due to querying the tenant database.

[code]

[2016-11-18 08:48] MithrandirDK commented on #104
For improved debugging, I find that we need a change in MigrateCommand::fire() as it swallows any PDOExceptions and only give output when the error contains a very specific string.

[code]

I would suggest a

[code]

inside the catch() block

[2016-11-21 11:16] Luceos commented on #172
That's weird it seems it's including the nginx configuration files twice.. Did you run the setup command twice?

[2016-11-21 11:17] Luceos commented on #173
What database is used by the User model is depending on what connection the User model is using. Tenancy is not interfering with the connections, unless you want it to.

[2016-11-21 11:19] Luceos commented on #79
At this point there is no such functionality. Version 3, if I get to it, might include this functionality. Feel free to create a PR for any needed logic though.

[2016-11-22 09:28] MithrandirDK commented on #157
I finally got around to making the patch for this and have made the PR #174

[2016-11-22 09:36] #157 closed, assigned to nobody

[2016-11-22 09:44] MithrandirDK commented on #116
Should be corrected with #174 and the added DB::purge() in setCurrent() so give it a go.

[2016-11-22 09:44] #116 closed, assigned to nobody

[2016-11-22 09:46] MithrandirDK commented on #104
This change was included in #174 , so are you now getting more information out of a migrate run?

[2016-11-25 14:30] bubblemedialtd opened #175 "Using incorrect database connection"
I'm extending the TenantModel in my Property Model, but the DB facade is using the global database connection.

Code below:

[code]

[2016-11-25 14:45] MithrandirDK commented on #175
How would you expect it to function? That the DB facade always uses the tenant connection? Or that the DB facade should know that it is being called from a class that extends TenantModel and therefore should use tenant connection?

I'm unsure where the 'incorrectness' comes from, so please elaborate.

[2016-11-25 14:48] bubblemedialtd commented on #175
Given that the model is extending the TenantModel, I'd expect it to use the tenant's database connection, not the global connection.

If that is not the case, how do I specify to the DB facade to use the TenantModel database connection? The query builder uses the correct connection, if I were to use the following:

`Property::all();`

[2016-11-25 14:55] MithrandirDK commented on #175
The model is extending the TenantModel - but that has nothing to do with the DB facade. It is completely de-coupled from where it is called.

The query builder uses the correct connection, because it is part of the Property class' built-in functionality, but the DB facade is called statically and has no knowledge of where you call it from.

See https://laravel.com/docs/5.3/database#using-multiple-

[2016-11-25 14:55] #175 closed

[2016-11-25 15:24] Luceos commented on #175
[code]

This should work. It actually instantiates a Connection instance based on the connection of the current Model object.

[2016-12-07 06:00] jaydeepakbari opened #176 "How to use multiple database with multiple website"
I have installed hyn/multi-tenant package successfully now i want to make two website with separate database but i don't know how to configure this

i read your documentation from "https://hyn.readme.io/" but there is only how to install package

just tell how to use code with laravel 5.3 fresh installation

[2016-12-07 07:21] luceos commented on #176
The documentation didn't help?

https://hyn.readme.io/docs/tenants

[2016-12-07 09:04] luceos commented on #176
As discussed on Gitter.

[2016-12-07 09:04] #176 closed, assigned to nobody

[2016-12-07 09:21] jaydeepakbari commented on #176
ok got it

[2016-12-16 10:53] nhg2016 opened #177 "SQL server support"
Hi,

Are there any issues in using this package with SQL Server databases?

Thanks,

Nhg

[2016-12-16 12:23] luceos commented on #177
As long as Laravel supports the database driver, these is no issue.

[2016-12-20 07:43] luceos commented on #177
No answer, closing.

[2016-12-20 07:43] #177 closed, assigned to nobody

[2016-12-20 07:43] Luceos commented on #172
No answer, closing.

[2016-12-20 07:43] #172 closed

[2016-12-20 07:43] Luceos commented on #171
Not going to support Centos, closing.

[2016-12-20 07:43] #171 closed

[2016-12-20 07:44] Luceos commented on #173
No answer, closing.

[2016-12-20 07:44] #173 closed

[2016-12-20 07:45] Luceos commented on #170
Closing, no answer.

[2016-12-20 07:45] #170 closed

[2016-12-20 12:05] jdbolts opened #179 "Postgresql compatibility with version 2.x"
I'm currently unable to connect to create a tenant as the system states that password authentication failed for the given user.

I can see that this stems from the package using the website as the database user dynamically. However, when i check my postgres installation i cannot see any newly created users.
Below is the command which fails:
` php artisan migrate --tenant=all`

![image](https://clo

[2016-12-20 13:27] luceos commented on #179
The package revolves around MySQL, not PGSQL. Although I understand that might be a very good alternative database driver. Are you sure you've given the system connection the rights to create users? This has been documented [here](https://hyn.readme.io/docs/configuration):

[code]
Seems postgres should be able to do the same thing: https://www.postgresql.org/docs/9.0/static/sql-grant.html

[2016-12-20 13:56] jdbolts commented on #179
I have tried various different user privileges within Postgresql. i currently have a user set up with the following user privileges:
`Superuser, Create role, Create DB, Replication`

However, this is not an ideal scenario to have these user privileges.

Also, PostgreSql user 'roles' instead of 'users' although these work in the same way. It could be possible that this could be affecting the way th

[2016-12-20 14:01] luceos commented on #179
Assuming your schema is called public:

[code]

I think there are hardly any restrictions to the database driver already, the only requirement is either a root user or a privileged user to create and manage other users.

Related to your concern about security with these privileges, it's sadly the only way of allowing tenancy databases to be separated. My documentation always suggests installing th

[2016-12-20 14:14] jdbolts commented on #179
I have granted all privileges to the database user and tried again however the same issue is occurring.

I have followed the documentation and cannot seem to see what the problem is. I can see that all files and folders are created after running this command:
[code]

However, there is no database created either.

[2016-12-20 14:17] luceos commented on #179
The cause is the system connection. Your user does not have alleviated rights. Did you try using the root database user, `postgres` in this case? You have to do some tuning to allow connections from the user, but once set it should be possible to safely use that user on a dedicated machine.

[2016-12-20 14:20] luceos commented on #179
Might also be some issues with creating databases/users from the package. Not sure though as I haven't tested the package on postgres.

[2016-12-20 14:26] jdbolts commented on #179
| Role Name   |                                       Attributes                                         | Member of |
|---------------|-----------------------------------------------------------------|---------------|
| default_user | Superuser, Create role, Create DB, Replication, Bypass RLS |           {}         |
| postgres       | Superuser, Create role, Create DB, Replication, Bypass RLS |

[2016-12-20 20:02] psaunders opened #181 "Move Migration Scripts?"
I'm just wondering, a friend and I have both run into issues with the migration scripts. I made a PR fixing one a while ago but it seems they're still getting in the way and a lot of the problems seem to be related to having them mixed in there with migration files for tenants and all those if checks.

Is there a reason that the migration scripts related to HYN aren't kept in the vendor directory

[2016-12-20 20:04] luceos commented on #181
Sounds very plausible. If you're running on v2 already feel free to send in a PR. I'm actively working on version 3 so I might pull that in as well, I separated the source for now.

[2016-12-20 20:08] luceos commented on #181
For v3 I'm considering simply running based on path by the way.

[2016-12-20 20:15] humbugz commented on #179
Unfortunately there will be additional issues with using this package with PGSQL: the DatabaseConnection class's create() method uses "create database if not exists", which isn't valid SQL to Postgres. The DB creation is also wrapped in a transaction, which is not supported by PGSQL either.

I've been experimenting with a few hacks to see where else I may run into issues and to see if adding PG su

[2016-12-20 20:35] luceos commented on #179
Right, version 3.x (in dev) will be easier to extend/modify. In 2.x the connection class in some situations is still hardcoded (unresolved through ioc), I noticed this flaw a while back and decided to rethink all of it completely. I will take into consideration flexible database drivers for the new version. In the meantime feel free to report further issues.

[2016-12-20 21:21] humbugz commented on #179
@Luceos, out of curiosity do your plans for v3 include breaking changes? Or is it likely to be a (more-or-less) drop-in replacement for v2?

I ask as the reason I'm investigating v2's compatibility with PgSQL is we're about to embark on a new project and are evaluating this package to kick-start the multi-tenancy aspects.

Thanks!

[2016-12-20 22:15] luceos commented on #179
3.x is a complete rewrite and will not work with a 1.x or 2.x implementation at all, guaranteed. Aside from being event driven, I plan (and work on) making as much as possible interchangeable with whatever logic the implementation requires. I'll push the latest changes to this repository so you can check for yourselves.

[3.x tree](https://github.com/hyn/multi-tenant/tree/3.x)

[2016-12-21 07:48] luceos commented on #181
Related to this, we might even consider having migrations specific for one tenant only. If that is a plausible use case the implementation of such a Migrator class could then also more easily migrate the system migrations and global tenant migrations.. Hm.. 🤔

[2016-12-21 09:54] jdbolts commented on #179
Is there any time-frame on when the 3.x branch will be available to use?

[2016-12-21 10:01] luceos commented on #179
Not really no. I had planned on releasing it a while ago, way before adoption of 2.x gained momentum. But circumstances left me without the time to continue my efforts. I expect to release 3.x somewhere early next year though, not sure if that's a comfort 😊

[2016-12-21 11:06] jdbolts commented on #179
@humbugz is it possible you could share your implementation for postgres?

@Luceos i will keep watching the repo :+1:

[2016-12-21 13:45] humbugz commented on #179
@bolts1 I wouldn't call it a real implementation at this point... Just started it the other day actually, and it currently consists of making bad in-line hacks to the existing code. My intent is to get more familiar with the code and identify where there may be other PgSQL incompatibilities. See if it's a logical starting point for our project or not.

That said, with a v3 in the near future, I'm

[2016-12-21 14:25] luceos commented on #179
@humbugz that alpha is already up: https://github.com/hyn/multi-tenant/tree/3.x

But it's not functional, you might be able to read through it and run tests to see what it does. I plan to take your comments at heart and will make sure there will be no hardcoded MySQL anymore, perhaps if one can drop-in a custom db driver adapter to run specific tenant queries, that might solve driver compatibility

[2016-12-21 16:35] humbugz commented on #179
Thanks @Luceos, I'd missed that was posted. I'll take a look!

[2016-12-21 20:38] humbugz commented on #181
Tenant-specific migrations would be a good idea I think; it's certainly an aspect likely to come up in our project. I can see a scenario where one, or a few, tenants have an add-on feature or two that doesn't apply to the majority of sites. That's possible at the code level with routing and what not, but could also include DB requirements to support.

That actually may be better described as migra

[2016-12-21 20:42] luceos commented on #181
Great idea, just not having any clue how to pursue such grouping at this point 😄

[2016-12-22 08:49] luceos opened #185 "Version 3.x development"

[2016-12-22 08:50] luceos commented on #179
Just for both your information: https://github.com/hyn/multi-tenant/issues/185

[2016-12-22 14:10] humbugz commented on #181
Can't say I've considered the implementation details much myself as of yet! :)

As a general thought I could see something along these lines:
- Within the database folder (to keep /migrations global) a /features folder
- Inside of /features are sub folders for each set of feature related migrations. E.g. lets say we have /features/quiz with various migration files inside as you might in /migration

[2017-01-13 09:56] n-ramos opened #186 "Questions About modules & tenancy"
Hey guys, im sorry for my bad english but i would like to know how can i create a tenant app with some modules like ping pong modules for some customers website,

For example i have 2 customers, one need invoice system but not the other

I have module invoice with ping pong but i want enable it for the other, how can i do that, any ideas ?

[2017-01-13 10:55] luceos commented on #186
@SpeedUpFramework okay so there are several different ways to approach this.

1. Add the module (let's call this logic) globally, including routes etc. Add some middleware that tests whether the activated Tenant has some configuration (you can add your own system database table with columns `tenantId`, `configuration`, `setting` for instance). In case the routes matches the module and it is not ac

[2017-01-13 11:01] n-ramos commented on #186
Hello @Luceos Thanks for this approach, i think it's a good start about this, i gonna try this when i can, i ask questions if i need. Thanks again.

[2017-01-13 11:17] luceos commented on #186
Feel free to comment when you have anything else. As this is not a bug or feature, I'm closing this.

[2017-01-13 11:17] #186 closed, assigned to nobody

[2017-01-13 12:28] n-ramos commented on #186
With ping pong, i can do that: Module::find('name'); can i do that in specific route for a specific website ?
With this method => $module->enable();

[2017-01-13 15:03] luceos commented on #186
I have no visibility what Module is. It's not part of this package, as such I cannot foresee whether that call will work.

[2017-01-19 19:16] insign opened #187 "Upgrade to 5.3/5.4"
Since it will be used for many apps, be up-to-date looks a must... LTS lseems behide in many features...

[2017-02-02 18:12] deleugpn commented on #187
Any plans to support 5.4 soon? Any known breaking changes?

[2017-02-02 18:33] luceos commented on #187
No immediate plans yet. Major overhaul was halted due to other responsibilities.

[2017-02-21 07:57] luceos commented on #187
@bkintanar is putting effort on getting the compatibility done. However in version 3 of this package, which is currently in development.

[2017-02-28 11:55] appningsdev commented on #137
![composer-hynerror](https://cloud.githubusercontent.com/assets/15102213/23404442/0e7bf384-fddb-11e6-83be-0c97b33f86e1.png)
I dont think this is fixed yet or probably not working at this moment, I am trying to require 2 packages

Inmy composer.json I get the above mentioned error. and also it will fallback to github where it fails to authenticate similar like in the above bug. Kindly check my scre

[2017-02-28 11:57] luceos commented on #137
I can no longer provide support for version 1. In addition the management interface has been dropped.

[2017-02-28 11:59] appningsdev commented on #137
Ya i knew you guys had stopped supporting the 1.x version but that is the only one compatible with Laravel 5.1 which is actually a LTS. sad to see you guys not supporting :( Atleast can u suggest me an alternative in what other way i can load this package to my existing 5.1 laravel app

[2017-02-28 12:04] luceos commented on #137
You are still including the wrong package or you have `hyn-me/framework` in your composer file. If you require `hyn/multi-tenant:1.*` it should load `hyn/framework` not `hyn-me/framework`, see
https://github.com/hyn/multi-tenant/blob/1.x/composer.json#L19

[2017-02-28 12:05] luceos commented on #137
Just did a test by running:

[code]

And it worked perfectly.

[2017-02-28 13:30] appningsdev commented on #137
I tried what you said no luck, I even cleared composer cache and tried installing in a seperate folder freshly out of my project no luck I still get same error. Any how thank you very much i really liked your package .

[2017-02-28 13:31] luceos commented on #137
can you post your composer.json?

[2017-02-28 13:34] appningsdev commented on #137
here is the link https://codeshare.io/2BAKEx

[2017-02-28 14:13] luceos commented on #137
Drop this from the composer.json and it will work:

[code]

[2017-03-01 05:20] appningsdev commented on #137
Tried removing the config from composer.json! same error :( What am I doing wrong this is the first time I m facing this issue with composer

[2017-03-01 05:48] bkintanar commented on #137
@appningsdev same error meaning it's still looking for `hyn-me/framework`?

[2017-03-01 05:50] appningsdev commented on #137
Yes same error like in the screen shot i have posted

[2017-03-01 05:54] bkintanar commented on #137
@appningsdev can you humor me and send me a new screenshot of the problem please...

When getting the screenshot please include the command you are running so that I can know what command you ran, and see what the error is...

Thanks

[2017-03-01 06:04] appningsdev commented on #137
![saas-eerror](https://cloud.githubusercontent.com/assets/15102213/23447740/f8ffeb58-fe72-11e6-8ab2-204ebc5018ff.png)

[2017-03-01 06:08] bkintanar commented on #137
@appningsdev ok. that is weird.. maybe it is a composer problem..

try this: `rm -rf vendor composer.lock`

then try to `composer update` again..

[2017-03-01 06:21] appningsdev commented on #137
Tried that! nothing changed .
![saas-2](https://cloud.githubusercontent.com/assets/15102213/23448158/4d8956d0-fe75-11e6-8488-9b74b72dc120.png)

[2017-03-01 06:29] bkintanar commented on #137
@appningsdev have you tried removing your home global composer directory? `~/.composer`?

I don't see why it's causing this issue.

[2017-03-01 06:40] appningsdev commented on #137
I have never done that, how do i do it just go and delete that folder ? would that affect my project ?

[2017-03-01 06:55] bkintanar commented on #137
it will remove any composer packages that you've installed globally. yes just delete it..

please do a backup before deleting so.

[2017-03-01 07:23] appningsdev commented on #137
No luck!

[2017-03-01 07:47] luceos commented on #137
@bkintanar i ran into the same issue with the old composer.json. I'm not sure why this is happening but loading the dist files results in this behaviour. Either we report this at the composer repo and hope for the best or we let this be. It's taking too much of my time already for an unsupported version.

[2017-03-01 07:56] appningsdev commented on #137
Well is there any other alternative to your multi-tenant package compatible with Laravel 5.1.

[2017-03-01 08:00] luceos commented on #137
Maybe this will help for seeking an [alternative](http://stackoverflow.com/questions/34201696/multiple-laravel-websites-central-codebase/34206349#34206349).

[2017-03-01 08:04] appningsdev commented on #137
Thank you very much  :+1: .

[2017-03-05 09:28] utf4 commented on #187
This is great package and I am using it for many projects. It will be great if this package support Laravel 5.4.

[2017-03-05 11:10] deleugpn commented on #187
It is indeed a great package, but given my necessity for Laravel Dusk, I decided to just keep it simple with a TenantConnector middleware and move on.

[2017-03-05 13:38] insign commented on #187
I'm using a Middleware too...

Em 5 de mar de 2017 08:10, "Marco Aurélio Deleu" <notifications@github.com>
escreveu:

[2017-03-05 22:30] luceos commented on #187
There has been some progress already from my side on the 3.x branch. I still cannot guarantee anything yet, trying to set it up for both 5.3, 5.4 and dev-master of framework (instead of focussing on just one).

If you want to stimulate progress on that version, feel free to buy me a [cup of coffee](https://paypal.me/luceos), make sure you add a comment mentioning this package or issue ;)

[2017-03-18 23:10] MithrandirDK commented on #187
I have forked the 2.x repo and tested with 5.4 - to me, it looked like only a few changes and it was usable (disclaimer: I don't use the dynamic webserver configuration - only the tenancy part)

You can find it here: https://github.com/MithrandirDK/multi-tenant/tree/laravel54
It has a few extra things such as caching of HostnameRepository::findByHostname() and findByWebsiteId() and some personally

[2017-03-19 08:54] luceos commented on #187
@MithrandirDK would be great if you could send in a backward compatible PR for 2.x. Might be a bit more work, but that would help a lot of people I guess.

[2017-03-22 14:12] luceos opened #189 "compatibility with laravel forge"

[2017-03-22 14:52] #185 closed, assigned to nobody

[2017-03-23 22:54] dhiva opened #190 "Option to run only on HTTPS"
Currently the apache and nginx configurations create virtual host for both port 80 and 443. I would like to have a feature to run the app only on port 443 and forward all the requests from port 80 to 443.

[2017-03-23 23:14] luceos commented on #190
If you set `prefer_https` to true on the `Hostname` models of choice, [this logic](https://github.com/hyn/multi-tenant/blob/2.x/src/Tenancy/Models/Hostname.php#L121) will do a redirect from within the app. I hadn't considered redirection from the server level, which makes a bit more sense eventually. A good idea for 3.x

[2017-03-30 11:26] federicadellamonica opened #191 "How to switch customer to his tenant-db"
Good morning,
I'm new in Laravel. I have to create a multi-tenant app where every registered user, after login, connects to his tenant database. Where can I do this?
Thanks in advance. Regards.

[2017-03-30 11:37] luceos commented on #191
That's a very broad question. Are you able to differentiate between tenants based on separated hostnames?

[2017-03-30 17:30] froid24 opened #192 "Error in the last step, the setup"
I am running wampserver 64 on my local machine, with php 7.1.3 and mysql 5.7.14.

Since this package is said to work with Laravel 5.3, I installed 5.3. Then followed all steps to install and configure multi-tenancy.
When running the last command, to set up, I get an error. I've had the same error while trying to use Laravel 5.4 with the 3.x-dev version, but there exists a solution for fixing it in

[2017-03-30 18:02] luceos commented on #192
3.x-dev is unstable, might even use volatile here.. Hardly any of the features are implemented. Related to your issue, you should [read this](https://laravel-news.com/laravel-5-4-key-too-long-error), in your AppServiceProvider `boot` method:

[code]

and import Schema at the top:

[code]

![image](https://cloud.githubusercontent.com/assets/504687/24518961/d61d69bc-1583-11e7-9214-838ce1f90588.png)

[2017-03-30 18:11] froid24 commented on #192
That was the solution I was talking about for 5.4, found it and worked on the 5.4 installation. But as I understand (correct me if I'm wrong), defaultStringLength is a function introduced in 5.4. If I try to do this on my 5.3 installation, I get:

php artisan multi-tenant:setup --customer=flux53C1 --email=froid24@yahoo.com --hostname=flux53t1 --webserver=apache

  [Symfony\Component\Debug\Exceptio

[2017-03-30 18:13] luceos commented on #192
You should not use it in every version of Laravel. Because of that and the freedom the developer (and customer) has to decide on their own database driver I was against putting it in the package code by default. It's related to your app ánd your setup, not the package :)

[2017-03-30 18:27] froid24 commented on #192
Ok. I see tables are created in hyn_multi_tenancy, but no initial tenant was added. This will be done only through code? or are there console commands for this?

Now since you've been so kind to answer my questions, can you please clarify a bit the relation between tenant and website. I am new to Laravel, so before I start learning, I would like to know that it is the right solution for my project

[2017-03-30 19:26] luceos commented on #192
Yes this is possible with 2.x and the future 3.x too.

[2017-03-30 20:31] froid24 commented on #192
One last question, this will probably shed some light on future things as well.

I created 2 tenants through code as described in the documentation. Configured the hosts, so they are accessible.

Then I added the auth scaffolding (php artisan make:auth). Then I went to each tenant host and registered a user. But when I look in the DB, both users are in the initial DB, not in the tenant db.users ta

[2017-03-30 20:40] luceos commented on #192
Make sure your User model uses the tenant connection instead of th system one. Easiest way is changing the default connection to `tenant`. The other way is having the User class extens the TenantModel provided by this package or by implementing some logic of your own to force the connection on the model, [eg](https://github.com/hyn/multi-tenant/blob/2.x/src/Framework/Models/AbstractModel.php#L16).

[2017-03-30 20:46] froid24 commented on #192
OK. chose the first option for now.
Many thanks for the help!

[2017-03-30 21:45] #192 closed, assigned to nobody

[2017-03-31 07:21] federicadellamonica commented on #191
No, I'm not able yet but I don't think it's a problem. Why?

[2017-03-31 19:24] luceos commented on #191
Well if someone tries to log in on hostname X, this package links that user to that hostname and a hostname is connected directly to a "website" or "tenant" in this case. Nevertheless, all of it is possible. You can allow system-wide users and link them manually to tenant websites, during login a middleware can then redirect automatically if need be.

[2017-04-01 09:48] federicadellamonica commented on #191
Well, I'll try and I'll let you know. Thanks a lot!

[2017-04-15 12:07] pLavrenov opened #193 "How to use with Sentinel?"
How to use with Sentinel?

[2017-04-16 17:55] luceos commented on #193
I don't know. Did you try setting it up with sentinel and what issues did you encounter?

[2017-04-17 15:56] mortezarajabi commented on #167
I have the same issue. I double checked the installation process and every thing is ok. @aisha90 did you fix it?

[2017-04-18 08:59] luceos commented on #167
@mortezarajabi the system user has to have root-like access to the database to create users and databases.

[2017-04-18 09:03] mortezarajabi commented on #167
@Luceos I even set the root user on it, but didn't get the result.

[2017-04-18 09:04] luceos commented on #167
@mortezarajabi Did you configure the connection hyn to use these credentials?

[2017-04-18 09:16] mortezarajabi commented on #167
.ENV
![screen shot 2017-04-18 at 1 37 18 pm](https://cloud.githubusercontent.com/assets/5724986/25123252/05b914f6-243d-11e7-930a-0ce934efa53e.png)

config/database.php
![screen shot 2017-04-18 at 1 40 25 pm](https://cloud.githubusercontent.com/assets/5724986/25123324/3d9b4e7a-243d-11e7-9008-7fb2d269ab71.png)

mysql user
![screen shot 2017-04-18 at 1 42 47 pm](https://cloud.githubusercontent.com/as

[2017-04-18 09:28] luceos commented on #167
Is that user created with [grant option](https://dev.mysql.com/doc/refman/5.7/en/show-grants.html)?

[2017-04-18 09:37] mortezarajabi commented on #167
![screen shot 2017-04-18 at 2 04 39 pm](https://cloud.githubusercontent.com/assets/5724986/25124220/52286758-2440-11e7-85c5-e8fdda8dac17.png)

[2017-04-18 09:42] luceos commented on #167
The part behind `l...` is important :D

[2017-04-18 09:45] mortezarajabi commented on #167
It is: GRANT ALL PRIVILEGES ON *.* TO 'hyn'@'localhost' IDENTIFIED BY PASSWORD '****' WITH GRANT OPTION

[2017-04-18 11:16] luceos commented on #167
What is the exact error you get? @mortezarajabi

[2017-04-18 11:21] mortezarajabi commented on #167
I have created a tenant with the name of blog. It is created successfully, but when I run the artisan
 migration command, I get
![screen shot 2017-04-18 at 3 48 41 pm](https://cloud.githubusercontent.com/assets/5724986/25128417/eb21bc4e-244e-11e7-8a51-9bc0ed0c2e68.png)

[2017-04-18 12:04] luceos commented on #167
@mortezarajabi a major difference between your error and the one @aisha90 gives:

[code]

Your tenancy user is trying to hit a mysql permissions table, in the above paste you see the user connecting to the tenant database. I'm not sure what is causing this right now.

[2017-04-19 03:10] mortezarajabi commented on #167
@luceos I removed every thing and reinstall them. I also create a new user and database, and  it's working now!
Seems it was a MySql issue.

[2017-04-19 08:06] luceos commented on #167
Glad to hear, I was not seeing a relation to the package so that should have been a pointer.

Good luck, let us know if you run into more troubles. Closing this issue it has gone too far outside of the scope of the original report.

[2017-04-19 08:06] #167 closed, assigned to nobody

[2017-04-23 11:43] provun opened #195 "Doctrine"
Will this package work with Doctrine or is it tied into Eloquent?

[2017-04-23 16:22] mahmouddev opened #196 "Help with V3.x usage"
I need any guide to how use v 3.x as i planning to use this version in developing project similar to http://swifthr.io/

[2017-04-23 18:14] luceos commented on #196
@mahmouddev 3.x is under active development and should not be used yet.

[2017-04-23 18:15] luceos commented on #195
Yes this is a laravel/eloquent only package.

[2017-04-23 18:15] #195 closed, assigned to nobody

[2017-04-23 18:26] mahmouddev commented on #196
@Luceos then http://swifthr.io/ use 2.0 or it is custom development , i ask because  you mentioned that http://swifthr.io/ is dependent on this package

[2017-04-23 18:36] luceos commented on #196
If I mentioned them using this package, then yes that will be either version 1 or 2. So far noone uses 3.x, because it doesn't work yet. I'm closing in on a release though.

Development can be supported over at [patreon](http://patreon.com/tenancy).

[2017-04-23 18:42] mahmouddev commented on #196
thanks @Luceos for clarification  , is there any time schedule for 3.0 release  ?

[2017-04-24 09:14] luceos commented on #196
No. Without any patreon pledgers, there's no reason nor motivation for me to dedicate more time on this project. You just have to be patient 😁

[2017-04-24 10:27] #196 closed, assigned to nobody

[2017-04-27 00:50] kjdion84 opened #197 "5.4"
When will a full support of 5.4 be released?

[2017-04-27 06:20] luceos commented on #197
It's part of the 3.x development. I've been doing a lot of work on it lately, as you can see [here](https://gitlab.com/hyn-me/multi-tenant). A stable release is not imminent and depends partially on the [patrons](http://patreon.com/tenancy).

[2017-05-01 22:52] luceos commented on #197
See #187

[2017-05-01 22:52] #197 closed, assigned to nobody

[2017-05-01 22:53] luceos commented on #193
No response.

[2017-05-01 22:53] #193 closed, assigned to nobody

[2017-05-01 23:29] #191 closed, assigned to nobody

[2017-05-04 12:17] luceos commented on #179
3.x now can work with psql :) during db creation for tenants

[2017-05-10 14:25] luceos commented on #179
Okay, stable in gitlab CI. Closing.

[2017-05-10 14:25] #179 closed, assigned to nobody

[2017-05-10 14:32] #168 closed, assigned to nobody

[2017-05-10 14:32] #144 closed, assigned to nobody

[2017-05-10 14:33] luceos commented on #121
obsolete, but keeping for 3.x roadmap considerations

[2017-05-10 14:36] luceos commented on #187
Closing this, support for 5.3, 5.4 and dev-master (5.5) is part of 3.x, which is being tested continuously using gitlab-ci with a high code coverage.

[2017-05-10 14:36] #187 closed, assigned to nobody

[2017-05-10 14:37] luceos commented on #41
No longer valid in 3.x

[2017-05-10 14:37] #41 closed

[2017-05-10 14:37] luceos commented on #39
No longer valid for 3.x

[2017-05-10 14:37] #39 closed

[2017-05-12 09:07] luceos commented on #104
Obsoleted with the work on 3.x

[2017-05-12 09:07] #104 closed, assigned to nobody

[2017-05-12 09:08] luceos commented on #181
In 3.x you will be able to provide a realpath option to the migration command.

Obsoleted.

[2017-05-12 09:08] #181 closed, assigned to nobody

[2017-05-12 09:11] luceos commented on #141
Did you manage to solve this? My apologies for the lack of response.

[2017-05-12 09:11] #141 closed, assigned to nobody

[2017-05-12 09:13] luceos commented on #127
Obsoleted due to progress on 3.x

[2017-05-12 09:13] #127 closed, assigned to nobody

[2017-05-12 09:14] luceos commented on #66
see #121

[2017-05-12 09:14] #66 closed

[2017-05-12 09:15] luceos commented on #65
moved to #121

[2017-05-12 09:15] #65 closed

[2017-05-12 09:15] luceos commented on #55
obsoleted with 3.x

[2017-05-12 09:15] #55 closed

[2017-05-12 09:15] luceos commented on #42
closing this in favor of #121

[2017-05-12 09:15] #42 closed

[2017-05-12 09:17] luceos commented on #36
see #121

[2017-05-12 09:17] #36 closed

[2017-05-12 09:17] luceos commented on #70
not going to do this, will consider some solution with the authentication feature for 3.x

[2017-05-12 09:17] #70 closed

[2017-05-12 09:18] luceos commented on #126
obsolete with 3.x

[2017-05-12 09:18] #126 closed, assigned to bkintanar

[2017-05-12 09:21] #122 closed, assigned to nobody

[2017-05-12 09:21] #49 closed

[2017-05-14 20:02] abiodunjames opened #202 "Tenancy Database Connection Error"
Thank you for this package. I  set up a laravel project with Hyn package was able to create my 2 tenants.
Now, I followed the doc here [https://hyn.readme.io/docs/eloquent-facade-tenant-system-model] Created a TenantModel and have one of the of the tenants' model extends it.
I expected the model to pull data from the tenant database but I get this error.
**InvalidArgumentException in DatabaseManag

[2017-05-15 07:01] luceos commented on #202
What version of hyn/multi-tenant are you on?

[2017-05-15 07:50] abiodunjames commented on #202
@Luceos
Am using version 2.0 with laravel 5.3

[2017-05-15 07:52] luceos commented on #202
Is the service provider registered?

[code]

[2017-05-15 07:56] abiodunjames commented on #202
Yes is registered
![image](https://cloud.githubusercontent.com/assets/14722744/26047736/40446f0c-394c-11e7-8052-c59be3c72038.png)
and alias
![image](https://cloud.githubusercontent.com/assets/14722744/26047751/5327eee6-394c-11e7-9349-dadf9044112c.png)

[2017-05-15 08:32] abiodunjames commented on #202
Service provider is registered as stated on the documentation page
![image](https://cloud.githubusercontent.com/assets/14722744/26049018/5f821e0a-3951-11e7-8f7f-d51e4d18d439.png)

I changed it to this `Hyn\Tenancy\TenancyServiceProvider` it didn't work either

[2017-05-15 09:42] luceos commented on #202
Yes it should be the FrameworkServiceProvider. I'll take another look.

[2017-05-15 09:44] luceos commented on #202
A few things I notice:

- HostnameMiddleware runs
- Connection requested is `tenant` which is great, because it actually tries to use the tenant connection.
- Tenant connection configuration is not set. This blocks code execution.

[2017-05-15 09:46] luceos commented on #202
Possible cause is not having configured a website to the hostname, related [code](https://github.com/hyn/multi-tenant/blob/2.x/src/Tenancy/TenancyEnvironment.php#L52).

[2017-05-15 09:47] abiodunjames commented on #202
Exactly the point. I  think the package creates connection parameters automatically. I can see new usernames created in mysql user table. Am I suppose to hard code tenant's connection parameters again?

[2017-05-15 09:51] abiodunjames commented on #202
Here is the table for website
![image](https://cloud.githubusercontent.com/assets/14722744/26052109/4d0cad20-395c-11e7-9745-1f4a94f62cdc.png)
and that of hostname
![image](https://cloud.githubusercontent.com/assets/14722744/26052183/854dbd28-395c-11e7-9d11-e287da7aab1f.png)
They are all created. Am I missing something?

[2017-05-15 10:06] luceos commented on #202
No the package will automatically set up the database connection when it finds a tenant. Perhaps the hostname is not matched. Let me check real quick how it resolves it.

[2017-05-15 10:07] luceos commented on #202
So the code is not matching your custom port:

https://github.com/hyn/multi-tenant/blob/2.x/src/Tenancy/Helpers/TenancyRequestHelper.php

[2017-05-15 22:36] abiodunjames commented on #202
Oh great. That was the cause. I changed my port back to 80 and is working fine now. I noticed something when I change my connection name to 'tenant' in .env file. All tenant sites come up fine but the main site does not. What i did was to rename the parent's site connection parameters from hyn to 'tenant' in `database.php`. So when you are on parent's hostname it picks up the parameters and while

[2017-05-16 06:35] luceos commented on #202
That is a great solution. You can do this yes, the drawback of this is that the settings will be overridden (temporarily during runtime) whenever a tenant was identified.

It's okay like this. I assume this issue is then resolved?

[2017-05-16 06:35] #202 closed, assigned to nobody

[2017-05-17 09:53] luceos commented on #160
Perhaps see if we can hook into [fort](https://github.com/rinvex/fort).

[2017-05-24 10:19] luceos commented on #140
dropping support for running sites under their own user

[2017-05-24 10:19] #140 closed, assigned to nobody

[2017-05-24 10:23] luceos opened #203 "Re-implement tenant features 3.x"
- webserver
  - [x] write apache config
  - [x] write nginx config
  - [ ] write php-fpm config
  - [x] create databases
  - [ ] ~~work with ssl certificates~~
- directories
  - [x] routes
  - [x] config
  - [x] vendor
  - [x] translations
  - [x] static assets
- migrations
  - [x] migrate
  - [ ] seed

[2017-05-31 09:56] mihaelacmihai opened #206 "hyn instalation fails on Laravel 5.4.23"
- hyn/framework 0.1.3 requires laravel/framework ~5.1.0 -> satisfiable by laravel/framework[5.1.x-dev, v5.1.0, v5.1.1, v5.1.10, v5.1.11, v5.1.12, v5.1.13, v5.1.14, v5.1.15, v5.1.16, v5.1.17, v5.1.18, v5.1.19, v5.1.2, v5.1.20, v5.1.21, v5.1.22, v5.1.23, v5.1.24, v5.1.25, v5.1.26, v5.1.27, v5.1.28, v5.1.29, v5.1.3, v5.1.30, v5.1.31, v5.1.32, v5.1.33, v5.1.34, v5.1.35, v5.1.36, v5.1.37, v5.1.38, v5.1

[2017-05-31 11:08] luceos commented on #206
Currently this package has no version compatible with Laravel 5.3 or up. The upcoming 3.x version is compatible however but has not yet been released.

See #187

[2017-05-31 11:08] #206 closed, assigned to nobody

[2017-06-09 08:15] ozstriker opened #208 "Can't migrate with error"
Hi!

I've made everything, like described at installation manual. But I have an error when trying to migrate

.env file has:
`
TENANCY_DEFAULT_CONNECTION=mysql
TENANCY_SYSTEM_CONNECTION_NAME=lms
TENANCY_TENANT_CONNECTION_NAME=system
TENANCY_MIGRATION_CONNECTION_NAME=tenant
`
and of course default mysql configuration.

Can't get what am I doing wrong?

Thanks for your help

/S

[2017-06-09 08:23] luceos commented on #208
Hi @ozstriker what version of tenancy do you have installed?

Also the connection `lms`, the one configured to be your system connection has to be set up in your `database.php` of your laravel installation.

[2017-06-09 08:26] ozstriker commented on #208
I'm using 3.0 branch with Laravel 5.4

So, I should create one more connection named `lms` at database.php with all credentials?

[2017-06-09 08:28] luceos commented on #208
First of all 3.x is under heavy development, no version has yet been tagged, I recommend against using it unless you plan the release of your application later this year.

But yes the system connection has to be configured in your database.php in order to have a working install. Good point, I'll need to update documentation to explain that.

[2017-06-09 08:31] ozstriker commented on #208
Yup! Just started app development and it would be released much later this year :) So I can be one of beta testers for you ;)
And YES it's migrated!!

And it would be good to have some guidelines for fresh starters how to use multi-tenancy at all. I mean, how to create tenants, how to work with core and tenant tables, etc.

Anyway thanks for your help and module!

[2017-06-09 08:37] luceos commented on #208
@ozstriker glad to have you join in then, feel free to ask questions if you need to. And if you wish for more hands on assistance access to a private discord is granted through [patreon.com/tenancy](http://patreon.com/tenancy).

[2017-06-09 08:40] #208 closed, assigned to nobody

[2017-06-12 12:45] luceos opened #209 "Database generator has to be split up"
The database generator has to be split up based on the driver. Now it's just awful.

[2017-06-21 10:54] xyrintech opened #211 "Issue with Laravel 5.4"
composer require hyn/multi-tenant
this raises an issue for installation with Laravel 5.4

Problem 1
    - hyn/multi-tenant 2.0.1 requires laravel/framework ~5.3.0 -> satisfiable by laravel/framework[5.3.x-dev, v5.3.0, v5.3.0-RC1, v5.3.1, v5.3.10, v5.3.11, v5.3.12, v5.3.13, v5.3.14, v5.3.15, v5.3.16, v5.3.17, v5.3.18, v5.3.19, v5.3.2, v5.3.20, v5.3.21, v5.3.22, v5.3.23, v5.3.24, v5.3.25, v5.3.26, v

[2017-06-21 11:18] luceos commented on #211
Support for 5.3 and up is currently in development. Branch 2.x supports 5.3.

Relates to https://github.com/hyn/multi-tenant/issues/206

[2017-06-21 11:18] #211 closed, assigned to nobody

[2017-06-21 11:22] xyrintech commented on #206
Is 2.x-L-5.4 is not compatible too?
If this is compatible, then may I know how can I install with composer?

[2017-06-21 11:24] xyrintech commented on #211
I am trying to install this on Laravel 5.4 and I believe 2.x is compatible with 5.4.
If yes, then please suggest how I can install this using composer.

[2017-06-21 11:31] luceos commented on #211
Tenancy 2.x is compatible with Laravel 5.3 (my mistake, not 5.1). It's not compatible with Laravel 5.4.

[2017-07-03 17:13] xyrintech commented on #211
May I know which package is compatible with 5.4?
How can we install this package i.e. 5.4 one?

[2017-07-03 18:13] xyrintech opened #212 "Publishing is not creating any config file."
php artisan vendor:publish --tag=multi-tenant-config

After using this command, no file is being created with 3.x

[2017-07-03 18:57] BertKooij commented on #211
There is a branch named '2.x-L-5.4' which is compatible with Laravel 5.4. You can refer to this branch by using a Alias. See [https://getcomposer.org/doc/articles/aliases.md](https://getcomposer.org/doc/articles/aliases.md) for more information.

So simply add the following information to the end of the require part in your composer file:
`"hyn/multi-tenant": "dev-2.x-L-5.4"`

[2017-07-03 19:13] #212 closed, assigned to nobody

[2017-07-03 19:14] xyrintech opened #213 "Service Provider Error"
I am getting an error with Service Provider - Class 'Hyn\Tenancy\Providers\TenancyServiceProvider' not found

[2017-07-03 19:14] #213 closed, assigned to nobody

[2017-07-03 19:34] xyrintech opened #214 "Error for migrations and seed"
php artisan migrate --tenant=all

The "--tenant" option does not exist.

[2017-07-03 20:55] luceos commented on #211
@xyrintech @beko1997 I recommend not using that branch. It was never finished. 3.0.0-beta.1 was tagged an has support for 5.3 and up if you want to give it a try.

See https://www.patreon.com/posts/12376707

[2017-07-03 20:58] luceos commented on #214
Hello @xyrintech what version of this package do you have installed?

[2017-07-04 04:39] haxoman commented on #121
It is abviously not working with laravel 5.4, I can't install with apache 2.4, php 7.1

[2017-07-04 07:03] luceos commented on #121
@haxoman please open a new issue to report that, I'll gladly help you make it work. Make sure to include more information, eg the version of tenancy, your `tenancy.php` and `webserver.php` config would be helpful too.

[2017-07-04 07:10] haxoman commented on #121
@luceos
Hi thanks for this,

well first of all,

php artisan vendor:deploy --tag tenancy -> that one not working, even I replace deploy to publish, not working.

And I can't do anything without installing by composer require hyn/multi-tenant
So I run:

and it gives me after all as following:
[code]

finally, I followed your installation process at https://github.com/hyn/multi-tenant.
It doesn't ma

[2017-07-04 07:13] luceos opened #215 "Installation issue"
@haxoman reported

Hi thanks for this,

well first of all,

php artisan vendor:deploy --tag tenancy -> that one not working, even I replace deploy to publish, not working.

And I can't do anything without installing by composer require hyn/multi-tenant
So I run:

composer require hyn/multi-tenant
and it gives me after all as following:

Problem 1
    - hyn/multi-tenant 2.0.1 requires laravel/frame

[2017-07-04 07:13] luceos commented on #215
Environment:

[2017-07-04 07:14] luceos commented on #215
@haxoman you can solve this by editing your `composer.json` and setting these properties:

[code]

Then run:

[code]

[2017-07-04 07:17] haxoman commented on #215
oh thanks for that.

Danny

[2017-07-04 07:38] haxoman commented on #215
Hi @Luceos,
than for helping me, but can u have a look what I did wrong?

my composer.json

[code]

and I did
[code]

I seems I need to set up tenants envioronment before installing please help me if you can.

Thanks in advance.

[2017-07-04 08:10] haxoman commented on #215
sorry It is my bad that I used tenanti module from another module.
I tried to use new server with all, it is completely installed.
Thanks!

[2017-07-04 08:24] luceos commented on #215
You successfully installed version 3 now?

[2017-07-04 09:41] haxoman commented on #215
Yes i am following ur instructions

D

[2017-07-04 09:41] luceos commented on #215
Okay feel free to reopen if you need more assistance.

[2017-07-04 09:41] #215 closed, assigned to nobody

[2017-07-04 09:59] xyrintech commented on #214
2.x-L-5.4

[2017-07-04 10:02] luceos commented on #214
That branch is not supported. Please use the beta of 3.x instead: hyn/multi-tenant:3.*, see:

https://github.com/hyn/multi-tenant/issues/215#issuecomment-312799344

[2017-07-04 10:02] #214 closed, assigned to nobody

[2017-07-04 10:04] luceos commented on #214
Also see the discussion here; https://github.com/hyn/multi-tenant/issues/187

[2017-07-04 17:05] xyrintech commented on #214
I have installed this but I don't see the documentation for 3.x

May I have the documentation for this?

[2017-07-04 17:50] xyrintech opened #216 "Database [system] not configured and migration issue"
__Description__

php artisan tenancy:install
raises error
Database [system] not configured.

php artisan migrate --tenant=all
raises
 The "--tenant" option does not exist.

---

__Information__

- hyn/multi-tenant version: 3.x
- laravel version: 5.4
- database driver and version: mysql
- webserver software and version: apache
- php version: 7.0

---

[2017-07-04 18:09] luceos commented on #216
Before installing either

- set in your `.env` a variable `TENANCY_SYSTEM_CONNECTION_NAME` with the value being the connection name you want tenancy to use to store system information like websites, hostnames etc.
- or configure the connection `system` in your `database.php`.

[2017-07-04 18:10] luceos commented on #214
You can use the Repositories to create websites, hostnames etc.. The documentation is still on the to-do. As to settings you can check the inline documentation in the configuration files themselves, they are quite extensive.

[2017-07-04 18:12] xyrintech commented on #216
That is ok, but after installation too this gives an error:

php artisan migrate --tenant=all
raises
The "--tenant" option does not exist.

[2017-07-04 18:15] xyrintech commented on #216
Also, please advise if you have any documentation for this 3 version.
There are couple of things which are available in 2 and seems that this is no more available.
Like - sudo php artisan multi-tenant:setup --customer=EXAMPLE --email=foo@example.com --hostname=example.com --webserver=(nginx|apache|no)

[2017-07-04 18:16] xyrintech commented on #214
Thanks.

[2017-07-04 18:52] BertKooij opened #217 "Ability to add a postfix for the database username"
__Description__
I'm currently experimenting with running multi-tenant on an azure mysql configuration. So far I'm able to create a new 'tenant' (Customer, Website and Hostname).  The tenant migration is starting after creating a Website. At that moment the connection fails because Azure (and possibly other systems) requires a servername after the username.

So for example: `1f0f797e-7103-40bb-b755

[2017-07-04 19:07] luceos commented on #217
Wouldn't this be a deficit of the MySQL driver for Eloquent? Connection set up is completely controlled by Laravel/Eloquent for that matter.

In addition Mariadb and PostgreSQL are currently the only two supported drivers for this version of this package, although I'd gladly support more of course if feasible with low effort.

[2017-07-04 19:10] luceos commented on #216
Yes how to run migrations is changed and needs a documentation update. It also needs to be completed, you can use the configuration file instead to specify a folder from which migrations are ran during tenant creation.

[2017-07-04 19:16] xyrintech commented on #216
Got it, one question, how can I specify to which tenant do we need to run migrations?

Like this:
php artisan migrate --tenant=all
raises
The "--tenant" option does not exist.

[2017-07-04 19:21] BertKooij commented on #217
I'm currently working on a pull request to implement the ability of adding a postfix. MySQL seems to work fine as driver. Although as you pointed out the uuid of 36 characters is too long for MySQL. From version 5.7.8 MySQL supports a length of 32 characters. So I extended the ShaGenerator to strip the dashes in the Uuid. (For more information https://dev.mysql.com/doc/refman/5.7/en/user-names.htm

[2017-07-04 20:08] luceos commented on #217
Easier would be to listen to the ConfigurationLoading event and add the postfix there.

https://github.com/hyn/multi-tenant/blob/3.x/src/Database/Connection.php#L246

Also, I'm not too sure about the value of a postfix PR. If PR'ing make sure to prove the value of that functionality too, aka wider need to the public.

[2017-07-04 20:18] luceos commented on #216
This functionality is not yet available in the beta.

[2017-07-05 10:26] BertKooij commented on #217
Yes, indeed, great idea, I will go for that option. I only have to figure out a way of determine whether the configuration will be used for creating the MySQL user or for setting up the connection. Otherwise the user will be created with an addition of `@servername` which will make the connection still fail because `@servername@servername` will be required.

Any ideas on how I can determine whethe

[2017-07-05 10:46] luceos commented on #217
You could postfix it globally using the previously mentioned event and then undo that postfix during Database creation if you need to, see:

https://github.com/hyn/multi-tenant/blob/3.x/src/Generators/Webserver/Database/DatabaseGenerator.php#L77

[2017-07-05 21:01] luceos commented on #216
Migrating command has now been made available, but only in `dev-3.x` not in a tagged version.

[code]

[2017-07-07 07:06] xyrintech opened #219 "Single Domain but with prefix Database"
__Description__

Is it possible to use this package for single domain but with different or prefix database?

---

[2017-07-07 07:14] luceos commented on #219
Can you explain? You need to run one tenant that uses a different database?

[2017-07-07 07:27] xyrintech commented on #219
What I mean is that I want to allow users to use one domain (not any subdomain) and in the back-end this package maintains the data in the single database but with prefix with it.

Think of what Quickbooks is doing.
They have one domain which people use to access and the user can see their own concerned data.

[2017-07-07 07:31] luceos commented on #219
That's very much possible. You would need to [disable hostname auto-identification](https://github.com/hyn/multi-tenant/blob/3.x/assets/configs/tenancy.php#L105) though and then create your own logic to switch between the tenants. The code is there though, you would just have to write it; as 3.x is beta there aren't many helpers yet.

For instance you could use the [Connection](https://github.com/

[2017-07-07 07:38] xyrintech commented on #219
Do you mean is it going to be available with helpers in version 3 in future?
One more question, how can we select the tenant in commands? Let's say I have a command to send email after every 10 minutes then how can we execute the command on every tenant. (Considering we have emails table consisting of all the email store in there).

[2017-07-07 07:50] luceos commented on #219
The helpers will make the process of manual implementation easier, that implementation is already possible though.

Commands can have different implementation depending on the goal you try to achieve. You mention a cronjob (automated recurring) command. I'd suggest looping over all tenants to see whether they have mails listed to be send.

[2017-07-07 07:50] xyrintech commented on #216
Thanks.

[2017-07-07 07:51] luceos commented on #217
@beko1997 I am curious whether you were able to implement your logic using the suggested solution 😄

[2017-07-07 07:52] xyrintech commented on #219
Got it.
Well, how can we loop through the tenants? Do we have any helper function within this package to get the list of tenants which can further select and loop through it?

[2017-07-07 08:07] xyrintech commented on #219
The helpers will make the process of manual implementation easier, that implementation is already possible though.

Would it be possible to help me out to understand, like how this is possible?
I have looked into the Connection, the functions are very tightly bounded with each other. So, bit confused about the context how this make it easier.

[2017-07-07 08:23] luceos commented on #219
There is actually a recent implementation of switching tenants to set their connection. The custom [MigrateCommand does it](https://github.com/hyn/multi-tenant/blob/3.x/src/Database/Console/MigrateCommand.php#L61-L69):

[code]

[2017-07-07 08:25] xyrintech commented on #219
Got it.
I am still confused for this.
How and when we gonna use this? :)

[2017-07-07 08:34] luceos commented on #219
You'll have to switch database to access the emails table you mentioned earlier. Once you've switched the database connection of the tenant you can retrieve the rows in that table using your Eloquent models and run your email sending logic.

As an example;

[code]

[2017-07-07 08:34] xyrintech commented on #216
It still gives the same error - The "--tenant" option does not exist.

[2017-07-07 08:35] luceos commented on #216
What version are you on, exactly?

Verify by looking at your composer.lock file and searching for `hyn/multi-tenant` the actual version or commit hash should be mentioned.

[2017-07-07 08:36] xyrintech commented on #216
"hyn/multi-tenant": "3.x-dev",

[2017-07-07 08:37] luceos commented on #216
Please check your composer.lock file for the exact version. That which you mention is your constraint which allows any version that matches it.

Most likely you are not running 3.0.0-beta.2 or the changes from the 3.x branch.

[2017-07-07 08:37] xyrintech commented on #219
now this becomes more clear.
How and when we need to switch the connections too? The reason I wanted to know this because, the package is completely dependent on the connection.

[2017-07-07 08:38] xyrintech commented on #216
Its on 3.0.0-beta.2, lemme share with you.

[2017-07-07 08:38] xyrintech commented on #216
"name": "hyn/multi-tenant",
            "version": "3.0.0-beta.2",

[2017-07-07 08:38] luceos commented on #219
That depends on your implementation. I don't know 😄

Yes the tenancy package depends on the tenant connection to be set for the Eloquent models to work.

[2017-07-07 08:41] xyrintech commented on #219
Got it. :)

[2017-07-07 08:50] #219 closed, assigned to nobody

[2017-07-07 10:02] luceos commented on #216
I've tagged beta.3, the migrate command is now available under it's own prefix:

[code]

There's no need for a `--tenant` option anymore. Separating it will prevent further conflicts with ioc and rebinding.

[2017-07-07 10:02] #216 closed, assigned to nobody

[2017-07-07 10:13] xyrintech commented on #216
Is this for all tenants or specific tenant?
Also, seems to be another tenant bug in the system:

$customer = app('Hyn\Tenancy\Repositories\CustomerRepository')->create([
        'name'=> 'some-one',
        'email' => 'guess-who@some-one.org'
    ]);

Raises - Cannot pass parameter 1 by reference

[2017-07-07 10:20] BertKooij commented on #217
First of all thank you for pointing out the necessary events. Currently I have created two listeners, one for adding the `@servername` to the username on configuration loading. And another for removing the `@servername` on creation. By logging the configuration I've confirmed that the listeners do set the right username.

Sadly the configuration is than overwritten on https://github.com/hyn/multi-

[2017-07-07 10:30] luceos commented on #216
The migrate command runs it for all tenants. If you need to do it for specific ones I guess you would have to come up with a way to group/identify them, because the UUID generator generates lengthy string :grin:

---

Related to the error, you are looking at the wrong documentation, example implementation hasn't been yet updated in the docs for 3.x. If you look at the [code](https://github.com/hyn

[2017-07-07 10:32] luceos commented on #217
Right.. I could move the event dispatching to after the check for division mode. Or create a new event. I guess that would be easiest in your use case.

[2017-07-07 10:35] luceos commented on #216
@xyrintech I just found out that the CustomRepository contract wasn't registered into IoC. I just pushed a fix and a test for it. Thanks for your patience ;)

See an example creation: https://github.com/hyn/multi-tenant/blob/3.x/tests/unit-tests/Repositories/CustomerRepositoryTest.php#L39-L44

[2017-07-07 11:09] xyrintech commented on #216
This works, but there seems to be one another bug :)
When create customer, website and hostname:

$this->customers = $app->make(CustomerRepository::class);
    $this->websites = $app->make(WebsiteRepository::class);
    $this->hostnames = $app->make(HostnameRepository::class);

    $customer = new Customer();
    $customer->name = 'John Doe';
    $customer->email = 'john@doe.example';
    $custome

[2017-07-07 11:13] luceos commented on #216
Use the `--path` or `--realpath` options of the migrate command to point to the migration files for tenants, also store them in a different folder. That's been found to be the best solution based on implementations of 2.x.

[2017-07-07 11:42] luceos commented on #217
@beko1997 you should try the [ConfigurationLoaded](https://github.com/hyn/multi-tenant/blob/3.x/src/Database/Connection.php#L270) event 👍 , available on `hyn/multi-tenant:3.x-dev` for now.

[2017-07-07 12:43] BertKooij commented on #217
@luceos Thanks, the ConfigurationLoaded event is working great. But there seems to be one problem left with the DatabaseGenerator and the Database\Creating event. The configuration inside the listener (to remove the `@servername`)  is not referencing the same configuration used later in the createMysql function. Which seems to be strange since changing the configuration in the ConfigurationLoaded

[2017-07-07 12:52] luceos commented on #217
Seems the database creating event was not using the right referencing. Pushing soon.

[2017-07-07 13:06] luceos commented on #217
There it is. I'll write a test for this as soon as possible.

[2017-07-10 07:10] BertKooij opened #223 "HostnameValidator uses wrong connection when using Associate"
__Description__

After creating a new customer and website successfully, the creation of a new hostname fails when I associate the website and customer instead of using the website_id and customer_id. The issues seems to be limited to the HostnameValidator. When I comment this line out: https://github.com/hyn/multi-tenant/blob/3.x/src/Repositories/HostnameRepository.php#L93 the hostname will be cr

[2017-07-10 07:53] luceos commented on #223
@beko1997 working on a fix ;) Thanks for your extensive report, much appreciated.

[2017-07-10 09:33] #223 closed, assigned to luceos

[2017-07-10 11:52] #209 closed, assigned to nobody

[2017-07-11 06:02] Shin97 opened #226 "Error create a customer"
Description

Why i try to create a customer error

[code]

__Error log__

Class Hyn\Tenancy\Contracts\CustomerRepositoryContract does not exist
--
in Container.php (line 729)
at ReflectionClass->__construct('Hyn\\Tenancy\\Contracts\\CustomerRepositoryContract')in Container.php (line 729)
at Container->build('Hyn\\Tenancy\\Contracts\\CustomerRepositoryContract')in Container.php (line 608)
at Contai

[2017-07-11 06:19] luceos commented on #226
What version of hyn/multi-tenant do you run?

Please the github issue template exists for a reason 😬

[2017-07-11 14:05] luceos commented on #226
I'm guessing you're using the unfinished documentation for 3.x. The actual Repository contract is now:

[code]

[2017-07-11 14:05] #226 closed, assigned to nobody

[2017-07-13 07:32] luceos commented on #203
Apache2 vhost configuration is written but holds no configuration, only the signature.

[2017-07-14 07:02] Shin97 opened #229 "BindingResolutionException"
__Description__

I want to  create a new tenant website ,

        $customer = app('Hyn\Tenancy\Contracts\Repositories\CustomerRepository')->create(
            ['name' => $name, 'email' => $mail]);

        $website = app('Hyn\Tenancy\Contracts\Repositories\WebsiteRepository')->create(
            ['identifier' => $site, 'customer_id' => $customer->id]);

        $hostname = app('Hyn\Tenancy\Cont

[2017-07-14 13:36] luceos commented on #229
Try those calls in the `boot` method of your AppServiceProvider instead of the `register` I assume you do now.

Hope that works.

[2017-07-17 01:38] Shin97 commented on #229
I try calls in the boot , but have same error

[2017-07-17 05:42] luceos commented on #229
Okay are you able to copy the code I need to reproduce this specific error? An [MVCE](https://stackoverflow.com/help/mcve) would even be better. Eg:

- Is the AppServiceProvider registered after the Tenancy ones?

I'm not sure where this comes from, hence my odd request ;)

Another thing I noticed is you use MySQL, that driver is not supported. Either use MariaDB or PostgreSQL. Otherwise you can't

[2017-07-17 07:17] Shin97 commented on #229
This my AppServiceProvider  code :

[code]

[2017-07-17 07:24] BertKooij commented on #229
Which version of Multi-Tenant are you using? I had a similar problem but it was fixed in: https://github.com/hyn/multi-tenant/commit/2f4cf589f2c2a1acf9f4fef5a4fef732e3b2204d

I am unsure whether this is released yet in one of the beta releases.

[2017-07-17 07:29] luceos commented on #229
@beko1997 thanks for that, forgot about it. It's not yet tagged:

https://github.com/hyn/multi-tenant/compare/3.0.0-beta.3...3.x

I'll tag a new version.

[2017-07-17 07:32] luceos commented on #229
Tagged 3.0.0-beta.4 can you confirm it now works @Shin97.

Closing this until you have confirmed it's not working.

[2017-07-17 07:32] #229 closed, assigned to nobody

[2017-08-01 14:46] froid24 opened #233 "moving multi-tenant laravel from localhost to sever: Database [tenant] not configured."
__Description__

I have build a web app using hyn and laravel 5.3 on my computer (local). Everything works, so now I wanted to move it to a server. I uploaded the source code, changed the user/pass for the hyn db connection (and other laravel-related configs). Copied the database hyn_multi_tenancy and emptied the customers. hostnames and websites tables.

I tried to add a tenant using the setup st

[2017-08-01 19:22] luceos commented on #233
Some questions to identify possible causes;

- Are the multi-tenant configuration files in your code base too?
- Is the system connection configured?
- Is the tenant connection _not_ configured?
- Does the system connection user have the necessary rights, eg almost root access?

[2017-08-02 12:24] froid24 commented on #233
Figured it out... Yes, everything was configured, but the db connections were defined with 127.0.0.1 and for some reason on the production server that didn't work. Changing that to localhost solved it. Maybe this will save some time for other people.

Thanks.
Cheers!

[2017-08-02 12:25] #233 closed, assigned to nobody

[2017-08-03 05:47] haxoman opened #235 "Laravel 5.4 with mysql 5.7"
Hi I have succefully installed the multi-tenant system and about to start.
Had couple of issues to install but all solved, just one thing I got it in my mind is,
the instruction says it won't work with mysql, would it be impossible at all?

Thanks in advance.

__Information__

- hyn/multi-tenant version: 4.x
- laravel version: 5.4
- database driver and version: mysql 5.7
- webserver software and v

[2017-08-03 06:44] luceos commented on #235
The drawback of MySQL vs MariaDB is that MySQL doesn't allow usernames and databases that are longer than 16 characters. Tenancy uses a UUID generated specifically for the Website to name both user and database, that uuid looks like: `25769c6c-d34d-4bfe-ba98-e0ee856f3e7a`

In the tenancy.php you can specify a different Generator, which should implement `Hyn\Tenancy\Contracts\Website\UuidGenerator`

[2017-08-03 06:44] #235 closed, assigned to nobody

[2017-08-03 06:55] haxoman commented on #235
Thanks so much.

Danny

[2017-08-04 11:00] abiodunjames opened #236 "Database does not get created when using Redis as queue driver."
Thanks for this awesome package.  I have an issue with creating tenant with Redis queue driver.
It seems jobs are not fired with Redis driver.
It works when you set queue driver to 'database' or 'sync'.

[2017-08-04 11:37] luceos commented on #236
Hello. I don't understand why you deleted the whole issue template. Now I have to ask each question specifically;

- What version of Laravel?
- What version of tenancy?
- Any logs?

[2017-08-04 11:44] abiodunjames commented on #236
@luceos   My sincere apology. Am using laravel 5.3, tenancy version 2.0 . No error logs of any kind. I got a successful response in terminal

[2017-08-17 12:59] albanny opened #237 "Tenant wrong connection"
__Description__

Teanant only connects to main database, so accessing from subdomain app is connected only on server database

---

__Information__

- hyn/multi-tenant version: 3.*
- laravel version:5.4
- database driver and version: 10.1.25-MariaDB-1
- webserver software and version: Apache/2.4.18 (Ubuntu)
- php version:7.1

---

[2017-08-19 18:05] luceos commented on #237
Can you clarify your set up. This is far too little to go on and provide valuable feedback from.

[2017-08-21 08:02] albanny commented on #237
Everything looks ok configured, i dont know if im missing something here, when i connect to example.mydomain.com is not connecting to example database, just the main database.
I have configured Eloquent for tenant but seems not to be working for me ('Eloquent'  => Hyn\Tenancy\Abstracts\Models\TenantModel::class,).

I made anothere laravel instalation and installed hyn/multi-tenant version: 2.* and

[2017-08-21 08:55] luceos commented on #237
I'll look into it. Thanks for reporting!

[2017-08-23 03:31] haxoman opened #238 "Can not find tenency command in php artisan"
__Description__

Hi

I got successfully published when I run
php artisan vendor:publish --tag tenancy

then I set up for tenancy.php and webservers.php.

However when I run:
php artisan tenancy:install

I cannot find tenancy command in php artisan, and gives error as below:

[Symfony\Component\Console\Exception\CommandNotFoundException]
  Command "tenancy" is not defined.

Did I need to clear some

[2017-08-23 06:23] luceos commented on #238
What is the output of `php artisan`?

[2017-08-23 06:50] haxoman commented on #238
I may need to reinstall? I think it is my fault, btw I will attach few images
1. https://www.awesomescreenshot.com/image/2756291/af4c1153d91dbd5d91b0e0c4bb8ba3ac
2. https://www.awesomescreenshot.com/image/2756295/b90689210d1eb9b6af14b2ac01b7de73
3. https://www.awesomescreenshot.com/image/2756302/b43ea51729b05e64ad1888a512de5058

[2017-08-23 07:42] luceos commented on #238
The asset deployment will show a success even if no assets were deployed 🙄 . Pretty damn confusing. So did you add the service provider to your `config/app.php`?

[2017-08-23 08:01] haxoman commented on #238
I added it in  providers = [ ...
...
...
        /*
         * Multi tenancy
         */
        // Hyn multi tenancy.
        Hyn\Tenancy\Providers\TenancyProvider::class,
        // Hyn multi tenancy webserver integration.
        Hyn\Tenancy\Providers\WebserverProvider::class,
];

and it surely created two files when I publish.
Let's just remove it and re publish it.

[2017-08-23 23:34] haxoman commented on #238
Ah sorry it is my fault, I didn't clear config cache after I added in providers.
php artisan config:cache fix all.

[2017-08-24 00:33] haxoman commented on #238
I know you have already explained about "system" before tenancy install,
I tried to clear it myself but hard to achieve it.

$> php artisan tenancy:install
[InvalidArgumentException]
  Database [system] not configured

it gives that error, do i need to create new database called system? and add a system connection in config/database.php like.. as below image?

<img width="762" alt="screen shot 201

[2017-08-24 01:33] haxoman commented on #238
Oh I got it, I move system under the connections, then all migrated.

Thanks,

[2017-08-24 01:46] haxoman commented on #238
Sorry to bother, again,
I got this error, but I can see directory.php under vendor:

I just found directory.php line 359 uses:
/**
     * @return Website|null
     */
    public function getWebsite(): ?Website ---> this makes syntax error.
    {
        return $this->website ?: $this->environment->website();
    }
and attach a image:
<img width="1223" alt="screen shot 2017-08-24 at 12 26 33 pm" sr

[2017-08-24 03:58] haxoman commented on #238
Sorry again, it is my fault to make site ready with php7.1, didn't install the proper one.

[2017-08-24 03:58] #238 closed, assigned to nobody

[2017-08-29 08:39] Versoo commented on #237
Hi @albanny, I have that same problem. Do you found some solution?

[2017-08-29 08:45] albanny commented on #237
Hi @Versoo , i did get back to version 2 which is stable version, didn't have much time to check on it.

[2017-08-30 13:58] luceos opened #239 "Use boulder instance for testing"
The SSL related tests for Let's encrypt should use a boulder instance, but this is only possible once [this issue](https://gitlab.com/gitlab-org/gitlab-ci-multi-runner/issues/1042) is resolved.

[code]

.gitlab-ci.yml

[code]

[2017-08-31 07:37] luceos commented on #236
This is most likely an issue with your redis. Did you find a cause in the meantime? Perhaps the redis log can be of use.

[2017-08-31 07:38] #217 closed, assigned to nobody

[2017-09-05 20:40] dneykov opened #240 "question about PHP version"
Hi,

I'm wondering why this package requires php version 7.1 while laravel 5.5 support 7.0?
Thanks.

[2017-09-05 20:44] luceos commented on #240
Because php 7.1 offers optional return type hinting and it's the latest stable version. As tenancy is meant for a clean hosting environment anyway you should be able to easily configure php 7.1 with ondrej's ppa.

[2017-09-05 20:48] luceos commented on #240
On the other hand it might make it easier for 5.5 users to install...

I'll consider it. It would require additional tests though.

[2017-09-05 21:43] luceos commented on #240
There, version 5.x is compatible with php 7.0 and up.

[2017-09-05 21:43] #240 closed, assigned to nobody

[2017-09-06 04:41] #236 closed, assigned to nobody

[2017-09-06 05:11] haxoman opened #241 "Tenant database connection example"
__Description__

Hi
I have successfully installed multi-tenant for my existing system which is running laravel 5.4.
and I have excuted some example code from your new web site.

$tenancy = app(Hyn\Tenancy\Environment::class);
$tenancy->website();            // resolves the currently active website
$tenancy->hostname();           // resolves the currently active hostname
$tenancy->customer();

[2017-09-06 07:10] luceos commented on #241
The easiest way once your Tenant is globally identified:

[code]

See [Connection::get](https://github.com/hyn/multi-tenant/blob/5.x/src/Database/Connection.php#L104-L107).

[2017-09-06 07:23] haxoman commented on #241
thanks for that,
One last question, it may be silly question,

basically I have system database and all tenants shared the exactly same database as system db except the user table,

so I will use all the same queries in controller level as it is, but still needs a user session from system db. Is there anyway, I can use same query machanism but can switch it to tenant db?

for example,
I have exist

[2017-09-06 07:58] luceos commented on #241
I'm pretty unsure what you are exactly asking, so here's a wild guess.

You can force queries onto a specific connection from any Model class using the `on()` method, eg:

[code]

In case you're looking more to manually identify tenants, disable the option in the `tenancy.php` configuration file and run the `hostname()` method on the `Environment` class (make sure to load it via ioc).

Hope this h

[2017-09-07 00:14] haxoman commented on #241
Thanks for that, helpful. I will try more with ur suggestions.

[2017-09-07 05:32] haxoman commented on #241
Just one quick question,
hostname is working only with FQDN, however, Would it be possible like, "www.domain.dom/group/unique_id/", wouldn't it be accepted?
so if I store "www.domain.dom/group/unique_id/" in table hostnames.fqdn, it would not seem recognise it and gives and error "Trying to get property of non-object".

I also tried to use prefix in tenant.php that is not working. like
prefix = "g

[2017-09-07 07:26] luceos commented on #241
@haxoman

- Hostname has to be a FQDN it cannot hold any path segment, it doesn't work if you manually hack it into the database either because the hostname is matched against the requested domain. Unless you also override the tenancy identification, disable the auto identification and do it manually.
- Seems that the path prefix is not yet fully working, I'll look into that asap.

[2017-09-07 07:33] haxoman commented on #241
Yes You are right, I try to check more and only FQDN is working for this. I may can use mod_rewrite to make all with sub-domain.
however, it will be better if I can override,  your class, "src/Jobs/HostnameIdentification.php".
It is a bit hard for me is, I don't really much know about the laravel and how to override a package file. I know it is not your responsibilities, but if you can give me how

[2017-09-07 08:01] luceos commented on #241
Okay so:

- [disable auto identification from the tenancy.php configuration](https://github.com/hyn/multi-tenant/blob/5.x/assets/configs/tenancy.php#L105)
- create a service provider in your app that does your logic for identifying the tenant hostname and call the hostname method on the Environment to switch tenant:
[code]

^ untested..

[2017-09-07 08:26] haxoman commented on #241
thanks for that, but so many errors when I do php artisan config:cache... :(
I did, set to false auto identification, then create service provider as you gave.
then add service provider to config/app.php
then php artisan config:cache

it gives:

[Illuminate\Contracts\Container\BindingResolutionException]
  Target [Hyn\Tenancy\Contracts\CurrentHostname] is not instantiable.

.. sorry, but you know

[2017-09-07 08:34] luceos commented on #241
You might need to add `$defer = true` as property on the TenancyProvider to make it load after all other code. And possibly use the `boot` method instead of the `register` one.

If your knowledge of Laravel is limited, you might best look at writing a simple app first.

Please also note that LinkedIN user pages are not tenants, they are .. user profiles. The database comes from the same database n

[2017-09-07 19:36] dneykov opened #243 "Suggestion: MySQL support"
In README is mentioned that MySQL is not supported because users are limited to 16 characters. But with MySQL 5.7 users can be up to 32 characters.

So my suggestion is instead of uuid for username for tenant database is to use md5()

Greetings,
Daniel

[2017-09-07 21:28] luceos commented on #243
Hello namesake :)

The documentation is flawed it seems. The UUID generator creates usernames/databases of length 36, not 32. So sadly MySQL is still no option (per default).

If you still need to use MySQL you can quite easily create your own UUID generator and add it to the config file. Feel free to send me a PR with a MD5 Generator, I would be willing to merge it.

[2017-09-10 11:22] luceos opened #244 "Tenant path prefix not working"
See #241

[2017-09-10 11:22] #241 closed, assigned to nobody

[2017-09-12 08:45] luceos commented on #43
Remove the line in the webserver.php once done.

[2017-09-12 11:56] julesbloemen opened #245 "Question: rollback option for tenancy?"
__Description__

I was wondering if there is an option to rollback the migrations for a tenancy. php artisan tenancy:migrate works great but could not find an rollback command?

---

__Information__

- hyn/multi-tenant version: 4.*
- laravel version: 5.4
- database driver and version: mysql
- webserver software and version: apache
- php version: php 7.1

[2017-09-12 12:34] luceos commented on #245
Hello @julesbloemen ; yes the rollback feature is not yet implemented. In addition it won't be implemented in 4.x or lower. You'd have to move to Laravel 5.5 LTS and tenancy 5.x to be able to use that feature once I release it in the coming weeks.

[2017-09-12 12:34] #245 closed, assigned to nobody

[2017-09-12 12:36] julesbloemen commented on #245
Thanks! We will be upgrading soon :)

[2017-09-12 12:37] luceos commented on #245
Good to hear, it's actually a smart decision with 5.5 being an LTS. 😁

[2017-09-12 14:33] hpiMat opened #246 "Redis loose tenant when dispatching job."
__Description__

...
Hello,
 I'm using laravel 5.4 with hyn multi tenancy. Everything is working as intended exept when interacting with redis (1.1.1).  Before dispatching a job on a queue, the tenant is well configured as an environment and interact well with models. As soon as i dispatch a job with the following configuration:
`use Illuminate\Bus\Queueable;
use Illuminate\Queue\SerializesModels;

[2017-09-12 14:40] luceos commented on #246
Yes a queue job is a new process, it doesn't know anything about the currently active tenant. In order to support this functionality you will have to send some information along about what Tenant you'd like to work with. You could send the Website object along or something.

Ps I highly recommend moving to Laravel 5.5. LTS and 5.x of this package as 4.x (and 3.x) will no longer see active developm

[2017-09-12 14:59] #244 closed, assigned to nobody

[2017-09-12 15:38] hpiMat commented on #246
Hi again,
I intended to send something to the job to allow it to identify the tenant by itself (tried with the customer id which is perfectly working in tinker). Apparently it doesn't work and i got no trace of laravel changing the tenant (Which tends to mean that the line to swap the tenant is not even read and the jobs never launch to begin with).

I think the problem is appearing when dispatchi

[2017-09-12 18:15] luceos commented on #246
Can you share the "Job" code, which is dispatched to the queue?

[2017-09-12 18:16] luceos commented on #153
Fixed in 5.x

[2017-09-12 18:16] #153 closed, assigned to nobody

[2017-09-12 18:18] luceos commented on #147
Fixed in 5.x

[2017-09-12 18:18] #147 closed, assigned to nobody

[2017-09-13 08:18] hpiMat commented on #246
This is the function to send the job. at this point the tenant is identified and $tenant_id has the right variable in it.
[code]
After that when i dispatch the job. It is not only specific to this particular job since every job i had give the is leading to the same issue and error. Mostly, i lost a the tenant any time i dispatch a job. Maybe the problem is in the driver from the queue.

[code]

[2017-09-13 08:37] luceos commented on #246
Some remarks about your code;

- A customer is **not** a tenant, a website is. Because a request is handled by a website. You should send over the Website or Hostname reference. A hostname is linked to one website, a website is linked to one customer. A customer can have multiple websites and hostnames. As such you're doing a wild guess what tenant you execute your code on.
- Your ioc resolving sh

[2017-09-13 13:17] hpiMat commented on #246
Ok it is working now!
Solution:
Step1: get the hostname from the environment before launching the job:
[code]
Step2: As you said, you have to get the hostname or the website outside the construct area and put it at the beginning of the handle function. Right at the beginning of the handle function switch the tenant back by getting another time the environment.
[code]

nb: About failed_jobs if you

[2017-09-13 13:19] luceos commented on #246
Very glad it actually worked out! Good luck and let me know if you have any further questions.

[2017-09-13 14:25] MithrandirDK commented on #246
Sorry to arrive late at this discussion, but I had the same problem and solved it in a general way by overloading the RedisConnector to include website information.

My solution is three-part:
1) A TenantRedisQueue extending RedisQueue to add website meta data to the job payload
2) A TenantRedisConnector extending RedisConnector to use the TenantRedisQueue
3) Registration of the connector and init

[2017-09-13 15:09] luceos opened #248 "Document how to hook into apache/webserver"

[2017-09-13 15:10] luceos commented on #237
Verified working by using a test.

[2017-09-13 16:50] bekee opened #250 "Can't seem to run php artisan down(maintenance mode) or up for each tenant"
__Description__
For each tenant, how possible is it to execute php artisan down to turn the tenant into maintenance mode and php artisan up

[2017-09-14 06:37] luceos commented on #250
You can set a value to `$hostname->under_maintenance_since`. The [HostnameActions](https://github.com/hyn/multi-tenant/blob/5.x/src/Middleware/HostnameActions.php) middleware will take care of the rest. If you want to put all tenants into maintenance, use the global artisan command.

[2017-09-15 12:55] sharabh commented on #237
I am having the same issue, it's not picking up tenant database. Instead of it, it's using the main database. Any suggestions.

hyn/multi-tenant version: 3.*
laravel version:5.5
webserver software and version: Apache/2.4.18 (Ubuntu)
php version:7.1

[2017-09-15 13:03] julesbloemen commented on #237
In my Tenant Models I just set the connection. And working fine.

`protected $connection = 'tenant';`

[2017-09-15 13:26] sharabh commented on #237
@julesbloemen I am using 'Eloquent' => Hyn\Tenancy\Abstracts\Models\TenantModel::class, in config/app.php. so I think I don't need this. but I tried your suggestion and it didn't help.

[2017-09-15 18:45] luceos commented on #237
@sharabh are you able to identify what connection your model uses?

[2017-09-16 19:28] sharabh commented on #237
It's using the connection named tenant which was manually created in database.php file

[2017-09-16 19:29] sharabh commented on #237
also tried to switch to MariaDB from mysql but it didn't help.

[2017-09-18 05:28] luceos commented on #237
@sharabh you can't configure the tenant connection settings in the database.php manually, they are set automatically during run time.

Nevertheless the code should override those during code execution. I'd love to hear more about your set up.

[2017-09-18 06:13] sharabh commented on #237
@luceos Looks like it's not overriding tenant connection when I try to remove it from database.php I get an error. PLease let me know what kind of information you need to help me in resolving the issue.

[2017-09-18 06:46] luceos commented on #237
@sharabh This is interesting, did you modify anything about how tenant identification works?

Also can you give me the information about your versions? Laravel and multi-tenant?

[2017-09-18 06:53] sharabh commented on #237
We changed the settings in tenancy.php and webserver.php only, we are following https://hyn.readme.io/v3.0/docs/

Laravel version 5.5
Multi-tenant version 3.0

[2017-09-18 06:54] luceos commented on #237
Could you try moving to `5.x` on `hyn/multi-tenant`? I've dropped development on 3.x and 4.x and as you're using Laravel 5.5 you should be on the 5.x version anyway.. I think the 3.x version you are using is pretty outdated, as the latest 3.x version is fixed to Laravel 5.3.

[2017-09-18 07:00] sharabh commented on #237
just updated it to 5.0.0-beta.8, should I run any command after the update?

[2017-09-18 07:05] haxoman commented on #241
Hi

I just use my service provider to override hostnameIdentifiaction.php that actually identify hostname so,
It seems works, and I added it to boot() otherwise so many errors comes with register().

Thanks,

Danny

[2017-09-18 07:15] luceos commented on #237
@sharabh no, not likely. The 5.x code is based on the 3.x code. You might need to change some classes etc which have been renamed.

[2017-09-18 07:16] sharabh commented on #237
I am just uninstalled it and re-installing it from scratch, hope that will work

[2017-09-18 07:49] luceos commented on #237
@sharabh let me know if it did. Feel free to create a new issue if you encounter any issues.

[2017-09-18 07:49] #237 closed, assigned to nobody

[2017-09-19 11:21] luceos opened #251 "Allow Hostname to match wildcards"
relates to #377

We need to create a stricter hostname validator, but should still allow for wildcard hostnames.

[2017-09-19 11:35] #250 closed, assigned to nobody

[2017-09-23 21:11] luceos opened #252 "Use symfony Process and implement TDD for server commands"
see https://hackernoon.com/assert-process-was-executed-laravel-5-5-72228a8f6322

[2017-09-24 05:28] luceos opened #253 "Document migration commands"

[2017-09-24 06:51] luceos opened #254 "Test whether database migration directory isn't used on tenants"
Seems the default migration path is only merged in case there is no path or realpath option given. In case we auto migrate it seems the default path is still included in the migrations according to @julesbloemen.

[2017-09-24 06:51] luceos opened #255 "Document how the global migration directory works with tenants"

[2017-09-24 07:41] luceos opened #256 "Tenants migration directory by default"

[2017-09-25 02:17] eGeekster opened #257 "Specified Key Too Long when running Installation"
__Description__

Installation fails with the errors described below.

---

__Actual behavior__

[code]

__Expected behavior__

That the installation would set an appropriate key and continue.

---
__Information__

- hyn/multi-tenant version: 5.0.0
- laravel version: 5.5
- database driver and version: mysql Ver 15.1 Distrib 5.5.56-MariaDB, for Linux (x86_64) using readline 5.1

- webserver software

[2017-09-25 07:00] luceos opened #258 "Tenant identification might be queued, should be an event"
Otherwise it won't work.

[2017-09-25 09:27] julesbloemen opened #259 "Tenancy Storage put file"
__Description__

Hi!,

I was just wondering if the Tenant Storage should be working in the 5.X version.

In the Storage folder the needed folders are created but how to store files to a specific tenant folder?

`Storage::disk('tenancy')->put('test.txt', 'test')` just  puts it in the root of de storage/tenancy/tenant folder.

Or should we fetch the tenantID from the database before hand?

Would lov

[2017-09-25 11:32] luceos commented on #259
Hello @julesbloemen 👍

[code]

[2017-09-25 14:30] #255 closed, assigned to nobody

[2017-09-25 14:30] #259 closed, assigned to nobody

[2017-09-25 14:30] #253 closed, assigned to nobody

[2017-09-27 07:25] jonathan-bird commented on #243
A simple solution @luceos is to remove hyphens. This is common practice to get it to work.

The generator would simply str_replace to reduce to 32 length:
`return str_replace('-', '', Uuid::uuid4()->toString());`

[2017-09-27 07:38] luceos commented on #243
That might be a good idea.. I'd have to look into this or feel free to submit a PR @jonathan-bird

[2017-09-27 07:55] jonathan-bird commented on #243
I just replaced your one sha generator file. Super simple. I can PR but not
sure if you want to change the filename specific for mysql.

On 27 Sep. 2017 5:38 pm, "Daniël Klabbers" <notifications@github.com> wrote:

[2017-09-27 08:08] luceos commented on #243
I think creating a separate `MySQLShaGenerator` would be best ;)

I'll then document to use that one.

[2017-09-27 11:14] luceos opened #260 "Add Event triggered when a tenant directory is created/deleted etc"
Separately to Website events.

[2017-09-27 14:48] #248 closed, assigned to nobody

[2017-09-27 19:40] luceos commented on #243
Fixed in 5.0.1, see https://laravel-tenancy.com/documentation/introduction/requirements for MySQL support.

[2017-09-27 19:40] #243 closed, assigned to nobody

[2017-09-28 03:29] julianfox opened #262 "No tenant disk config in the version 5"
__Description__
It seems to don't have tenant disk config setup in the version 5

__Actual behavior__
When I use 'tenant' as disk for example:
`$file->storeAs($destination_path, $new_file_name, 'tenant');`

I got: Driver [] is not supported.

---
__Information__
- hyn/multi-tenant version: 5
---

[2017-09-28 07:12] luceos commented on #262
I don't think that disk is automatically set. There is a `tenant.disk` in IoC though. What would be better is using the Directory functionality to store files inside a tenant directory:

http://tenancy.dev/documentation/implementation/directory

But having an automatic disk makes sense too.

[2017-09-28 08:54] #262 closed, assigned to nobody

[2017-09-28 09:20] #260 closed, assigned to nobody

[2017-09-28 09:21] luceos commented on #257
This is something I won't consider to support in this package. It's related to Laravel in general. Good that you figured it out though, it's a bit bothersome to run into this same issue every time.

[2017-09-28 09:21] #257 closed, assigned to nobody

[2017-09-29 04:59] julianfox opened #265 "Create event for tenant database migration"
__Description__
Useful for database seeding

[2017-10-01 12:17] haljeshi opened #266 "After moving my code to production, I receive "Database [tenant] not configured." Error"
__Description__

I have been using Hyn for a long time now on my project on my local host which is working fine. After pushing my work to the production online server, I receive the following error when accessing a tenant hostname:

`Database [tenant] not configured.`

So, I have the same code that works on my local machine but is not working on the production server. The only difference I can thi

[2017-10-01 12:27] luceos commented on #266
Being quite a while since I've actively looked at 2.x, but from what I can tell it would seem that your tenant connection is not activated. One reason for this can be that you have no websites configured as the [code uses](https://github.com/hyn/multi-tenant/blob/2.x/src/Tenancy/TenancyEnvironment.php#L52) the website of the currently identified hostname to switch the connection to.

Let me know i

[2017-10-01 12:31] luceos commented on #265
What would be the benefit of an event versus the existing way of [auto running migrations for tenants](https://github.com/hyn/multi-tenant/blob/5.x/assets/configs/tenancy.php#L160-L164).

[2017-10-01 12:32] luceos opened #267 "Document tenancy division mode and other db configurations"

[2017-10-01 12:42] haljeshi commented on #266
Thanks for your response.

I went to check my base database to make sure that the website is present and it was there. But when I looked into my hostnames table, I found something strange.

The hostname itself is wrong and when I updated it in the database, it worked again.

Thank you very much for your help. Now the problem is resolved.

[2017-10-01 12:42] #266 closed, assigned to nobody

[2017-10-01 14:37] julianfox commented on #265
I meant an event after the auto migrations, like database/migrated.
In this way, we can listen it for do database seeding.

Or may be we can add an option for auto running database seeding for tenants ?

[2017-10-04 16:25] Thijmen opened #269 "SQL user too long"
__Description__

After creating a fresh install of laravel and a fresh installation of multi-tenant, I get this error when I create a new website:
[code]

I run these commands with `php artisan tinker`:
[code]

---

__Actual behavior__

The database gets created correctly, but creating the SQL-user is not working because of the length of the username

__Expected behavior__

I expected that the use

[2017-10-04 17:51] Thijmen commented on #269
Is it possible to generate my own unique sql-user names?

[2017-10-04 18:16] Thijmen commented on #269
Closed, my solution was to alter mysql.users and increase length for the username.

[2017-10-04 18:16] #269 closed, assigned to nobody

[2017-10-04 18:25] Thijmen opened #270 "Migration issue"
In one of my migrations, I also seed the created table because I have a relation that depends on it.
How do I make sure, when running
[code]
That a model that I create in a migration is using the right connection? My model extends from `\Hyn\Tenancy\Abstracts\TenantModel`.
For full context, I use this in my migration:
[code]

[2017-10-04 20:10] luceos commented on #269
pretty weird i thought mariadb 10+ allows longer usernames by default?

[2017-10-04 20:12] luceos commented on #270
Two suggestions:

1. Temporarily set the connection of the model to use the tenant migration one.
2. Never ever use models in migrations! Use raw db queries. The reason for this is simple, at some point your code (and so your models) change, your migrations or what they are supposed to do are not. You'd have to go back to those old migrations to patch them up, which is not a good idea because they

[2017-10-04 20:24] Thijmen commented on #269
Yeh I thought so, but I upgraded from MySQL to MariaDB. You keep the structure of the 'mysql'-database.

[2017-10-04 21:15] Thijmen commented on #270
Okay, for the purpose I had, I could used `DB::table()->insert()`. Now, I have a model with JSON-data in it. How would you do that? How can I set the connection of the model to the tenant migration one?

Also, out of scope question: can I seed also?

[2017-10-04 21:16] luceos commented on #270
`DB::connection('tenant')` in case you run `tenancy:migrate` there's no need to specify the connection, you should be able to use `tenancy:migrate:seed` :) Let me know how that works out for you.

[2017-10-04 21:26] Thijmen commented on #270
Hmm, seems to me that there is no command like `php artisan tenancy:migrate:seed`. However, there is `php artisan tenancy:db:seed`. I am not sure how I can tell tenancy which website-id to use.

What I would like is, that when I create a new website (and thus a new database), my seeds gets also seeded.

[2017-10-04 21:33] luceos commented on #270
I see that's related to #265

[2017-10-04 21:57] Thijmen commented on #270
Yeah, that'd be great! Is there a WIP? I'd love to contribute!
Another question: how does multi-tenant know the password of the created database? I don't see where it's stored. I suggest combination of app-key and website id?

[2017-10-05 07:09] luceos commented on #270
@Thijmen

- There's no WIP but what I think needs doing is:
  - Add an event when migrations have ran which is triggered in the listener that runs the migration.
  - Add a configuration setting to specify a path for seeders for seeding when tenants are created, the same way the migration configuration works.
  - Add a listener with a lower priority than the one that runs the migration for new tena

[2017-10-05 09:34] Thijmen commented on #270
Great, I'll take a look and try to create this.

[2017-10-05 09:41] luceos commented on #270
That would be great @Thijmen if you need any assistance, feel free to join discord at https://laravel-tenancy.com/chat

[2017-10-09 10:48] Thijmen commented on #265
@julianfox, I think this will be available when https://github.com/hyn/multi-tenant/pull/271 gets merged :-)

[2017-10-10 09:28] Thijmen commented on #265
Now available; https://github.com/hyn/multi-tenant/commit/0648eb3b117b5eea6bd168e2ef04f057fc81291e

[2017-10-10 09:28] Thijmen commented on #270
There, I contributed! Yay! Thanks for merging.

[2017-10-10 09:28] #270 closed, assigned to nobody

[2017-10-10 09:31] luceos commented on #265
Just wait for it to be tagged, I'm still cleaning up the code 😁

[2017-10-10 10:07] luceos opened #273 "Document how the Environment works as easy proxy"
[code]

[2017-10-11 11:04] wertmenschen opened #275 "Migration name mixup"
I just stumbled over this by accident and think it's an issue, maybe I'm wrong (doesn't cause any problems for me because it defaults to the same value at both locations):

config/tenancy.php:
```'tenant-migration-name' => env('TENANCY_MIGRATION_CONNECTION_NAME', Connection::DEFAULT_MIGRATION_NAME),```

I don't find "tenant-migration-name" anywhere again, but:

Database/Connection.php:
[code]

Reg

[2017-10-11 11:33] luceos commented on #275
Thanks totally missed that, changed and will push asap. Have some other important changes coming in that need a new tag anyway.

[2017-10-11 11:33] #275 closed, assigned to nobody

[2017-10-11 12:20] luceos opened #276 "mysql/mariadb renaming database doesnt work"
Currently it's not possible to rename a database from within a query. Investigation is required how to solve this. We might need to add a lower level integration into the database server using symfony processes to run those commands; do dump, create, import and delete. Such a thing can most likely only be done from the terminal.

[2017-10-11 12:36] wertmenschen opened #277 "Documentation proposal: use another path for the migrations path example"
I was a little confused by the example proposed for tenant specific migrations (https://laravel-tenancy.com/documentation/implementation/migrations): `storage/app/tenancy/migrations`. I usually have nothing within the storage path in my repository, but I think the migrations should belong there. So maybe something like `database/tenancy/migrations` (which is in the repository by default) would be

[2017-10-11 20:36] meritlouka opened #278 "i chouldnt complete the setup"
sudo php artisan tenancy:install

[InvalidArgumentException]
  Database [system] not configured

[2017-10-12 07:05] luceos commented on #278
Hello @meritlouka ,

Thank you for trying out this package. I'd like you to point to the documentation which informs you of the need for a system connection:

https://laravel-tenancy.com/documentation/introduction/requirements#elevated-database-user

[2017-10-12 07:05] #278 closed, assigned to nobody

[2017-10-12 07:45] luceos commented on #277
I've also considered moving the default location to a folder directly inside of base_path. Your points are valid though. Any suggestion is welcome, feel free to PR.

[2017-10-12 10:38] S43534 commented on #277
...didn't realize there is a repository for the documentation. Here you go: https://github.com/hyn/laravel-tenancy.com/pull/2 (sorry, I used another account - it's still me :-) )

[2017-10-12 10:58] luceos commented on #277
Reopened as a reminder to move the default tenancy location.

[2017-10-12 11:34] #265 closed, assigned to nobody

[2017-10-16 08:05] julesbloemen opened #283 "php artisan tenancy:migrate does run from main migration folder"
__Description__

When running php artisan tenancy:migrate from the command line it tries to run the migration from the main folder instead of the tenantmigration folder.

Creating a new tenant does run the migration from the correct folder.

Any ideas why?

---

__Actual behavior__

migrations from mainfolder are used

__Expected behavior__

migrations from tenantfolder should be used :)

---
__In

[2017-10-16 11:24] Thijmen commented on #283
It is expected behaviour when running `php artisan migrate` on the main migration folder. However, when you run `php artisan tenancy:migrate` it will migrate from the tenancy-migration folder.

[2017-10-16 11:26] julesbloemen commented on #283
Sorry, Did not check my text.. But I ran` php artisan tenancy:migrate` and then it checks the `migration` folder. I just noticed when I add the` --path="database/clientmigrations" `it does work.

[2017-10-16 11:55] #283 closed, assigned to nobody

[2017-10-16 11:55] luceos commented on #283
tenancy:migrate now takes into consideration the configuration set at `tenancy.db.tenant-migration-path` 😬

[2017-10-16 12:42] julesbloemen opened #284 "Website update validation error for uuid"
__Description__

When updating a website with `app(WebsiteRepository::class)->update($website);`

It gives a validation error that uuid has to be unique. I think you have to rule this out with the update method :)

---

__Actual behavior__

..

__Expected behavior__

..

---
__Information__

- hyn/multi-tenant version: 5.0.4
- laravel version: 5.5
- database driver and version: mysql
- webserver s

[2017-10-17 19:21] huzzi opened #285 "Database connections"
I have a 3 separate database connections as follows:
- tenancy-tenant
- tenancy-system
- tenancy-migration

When I run the install (php artisan tenancy:install) the **tenancy-system** gets populated and the **tenancy-migration** database is empty.

When I create a new tenant using the code below, a new database is created.

`$website = new Website;`
`app(WebsiteRepository::class)->create($website)

[2017-10-18 05:15] AbhijeetSomwanshi opened #286 "Running default migrations even though in tenancy.php config `tenant-migrations-path` has been set"
__Description__

I am trying to run tenants specific auto migrations while creating a tenant. I also have added seeder to add a record to tenant's 'users' table. But it's running the default system migrations.

---

__Actual behavior__

Its running default migrations from the folder 'database/migrations'

__Expected behavior__

This should run the migrations from the folder specified in the config

[2017-10-18 07:13] julesbloemen opened #287 "Apache2 not restarting"
__Description__

Hi,

reloading apache does not seem to work? I have set the correct user rights for www-data user to allow restarting apache. Running the process from a controller seems to work fine. But when creating a tenant the reload action does not seem to be triggerd?

have the following reload action `sudo /etc/init.d/apache2 reload`

---

__Actual behavior__

Apache2 not restarting

__Exp

[2017-10-18 08:16] Thijmen opened #288 "Ability to disable the generation of the SQL-user"
In some cases, it would be helpful to disable the generation of the SQL-user and use the 'system'-connection sql-user to access the database.

[2017-10-18 08:57] luceos commented on #285
Good question!

- tenancy-system is the system connection where hostnames, websites and customers are stored.
- tenancy-tenant is the tenant connection, it is set whenever you switch to a tenant; per default this is done whenever you identify a specific tenant, for instance by hostname.
- tenancy-migration is the connection used to run short lived, mass mutations on tenant databases. It prevents r

[2017-10-18 08:58] luceos commented on #286
I think I've answered this on discord. The `tenant-migrations-path` has to be an absolute path.

[2017-10-18 13:35] julesbloemen opened #290 "Feature request. Validator unique checks the maindatabase instead of tenant."
__Description__

Would be a nice feature to have the Validator look into the tenant tables instead of the main database.

Currently have solved this like this :) seems to be a okay workarround :)

`'username' => 'required|string|min:6|unique:tenant.users',`

---

__Actual behavior__

..

__Expected behavior__

..

---
__Information__

- hyn/multi-tenant version:
- laravel version:
- database drive

[2017-10-18 14:05] luceos commented on #290
Use tenant connection 👍

[2017-10-18 14:05] #290 closed, assigned to nobody

[2017-10-18 14:53] #284 closed, assigned to nobody

[2017-10-18 14:59] #258 closed, assigned to nobody

[2017-10-18 15:00] #203 closed, assigned to nobody

[2017-10-18 15:14] #256 closed, assigned to nobody

[2017-10-19 11:57] huzzi commented on #285
Yes, it does. Thank you

[2017-10-19 11:59] luceos commented on #285
Needs documentation ;)

[2017-10-22 11:19] luceos commented on #286
Modified the config to explain absolute path.

[2017-10-22 11:19] #286 closed, assigned to nobody

[2017-10-27 19:13] dgruseck opened #295 "Autodiscover in laravel 5.5 is not adding the namespace tenancy.generators"
__Description__

If I use autodiscover with this package I get following error on creating a website with the apache webserver on:
[code]
In manual mode everything is working fine.
Debugging the FileViewFinder::addNamespace adds first the tenancy.generators and on the next call the hints are empty.

---
__Information__

- hyn/multi-tenant version: 5.0.6
- laravel version: 5.5
- database driver and

[2017-10-28 04:56] castrolol opened #296 "Not installing on laravel 5.5"
I had problems trying to install the package in my project, newly created in the latest version of laravel (5.5), I followed the steps described in the official documentation. I tried changing some values (laravel versions, multi-tenancy package) but I did not succeed.

---
__Information__
- OS: OSX Sierra 10.12.6
- hyn/multi-tenant version: Using version ^5.0 for hyn/multi-tenant
- laravel versio

[2017-10-28 10:34] Thijmen commented on #296
Could you please post your `composer.json` file?

[2017-10-28 18:06] juhasev opened #297 "If tenancy.json is deleted after the installation the hostname identification fails"
__Description__

The package assumes that tenancy.json file is located in the projects root folder. However if this file is removed the application will die mysteriously when identifying hostnames. This is because Environment.php _construct() fails to do anything because it is checking for two separate concerns at the same time.

__Actual behavior__

Line 38: Environment.php

The following test:

[2017-10-28 19:18] luceos commented on #297
The reason this was added is auto discovery and service provider registration. Throwing an exception by default will cause the `tenancy:install` command to fail too.

An alternative solution is to write a file to bootstrap/cache after a test whether the system connection has the required tables. Not sure if that's a better solution.

[2017-10-28 19:20] luceos commented on #296
I suggest removing `orchestra/tenanti` because that package seems to use an outdated `illuminate/console` 5.3, whereas this package uses Laravel 5.5.

[2017-10-30 21:14] luceos commented on #296
Caused by a conflicting package. Not an issue of tenancy.

[2017-10-30 21:14] #296 closed, assigned to nobody

[2017-10-31 15:27] luceos commented on #295
You mention using auto discovery but your composer.json clearly states to not discover it:

[code]

👍

[2017-10-31 15:27] #295 closed, assigned to nobody

[2017-10-31 15:33] luceos commented on #273
Include the `Tenancy` facade.

[2017-10-31 21:04] Thijmen opened #303 "Test models"
All models, and especially relations, should be tested for proper use. See https://github.com/hyn/multi-tenant/pull/302

[2017-11-01 10:51] dgruseck commented on #295
Sry my mistake, I didn't use
[code]
for autodiscovery.

[2017-11-01 12:24] luceos commented on #295
@dgruseck this issue still exists?

[2017-11-01 13:10] luceos opened #305 "Add tutorial to integrate with spatie/permissions"
# Setting up spatie/permissions with hyn/multi-tenant

1. Create a fresh install of Laravel 5.5.  If you have installed the Laravel Terminal Installer you can just do: `$ laravel new app`
2. `$ cd app`
3. Install `hyn/multi-tenant` package by running:
[code]
4. Follow the instructions until "Deploy configuration" section.
5. If you are using MySQL DB, you need to add the entry `LIMIT_UUID_LENGTH_3

[2017-11-01 14:47] dgruseck commented on #295
It looks like it is working now with 5.0.8, have you fixed something?

[2017-11-01 15:13] dgruseck opened #306 "Seeding for a specific Website is not working"
__Description__

If I try to execute a Seeder manually with:
[code]
the following error shows up
[code]
shows up
---

__Actual behavior__

The seeder tries to use the configured tenant connection

__Expected behavior__

The seeder should use the connection from the website given by the website_id

---
__Information__

- hyn/multi-tenant version: 5.0.8
- laravel version: 5.5.19
- database driver an

[2017-11-01 15:24] luceos commented on #295
I don't think so.. 😊

[2017-11-01 19:55] Thijmen opened #307 "Migrations should not be published"
A few releases back, publishing migrations was introduced.
In my opinion, a developer should not be able to change the main migration because the models are relying on it.

Also, the migrations are added with 2017_01_01 in stead of the current date.
It would be nicer to just migrate the tenancy tables with `tenancy:install` and then the user-migrations.

[2017-11-01 20:00] Thijmen commented on #189
What makes it incompatible?

[2017-11-01 20:17] bkintanar opened #308 "Add More Love To MySQL DB In clean-local-dbs.sh"
__Description__

MySQL DB has a 32 character limit in database name. Running `clean-local-dbs.sh` doesn't consider this.

---

__Actual behavior__

Running `clean-local-dbs.sh` on MySQL database driver will not find the databases since the REGEX will look for Uuids with dashes on it.
__Expected behavior__

Dashes in REGEX should be optional to catch db names created in MySQL.

---
__Information__

[2017-11-01 20:29] luceos commented on #308
Ouch, good point. But this shouldn't be the default. Either allow for an `argv` or `env` to be set before running the script?