[2018-06-25 06:23] RushabhJoshi opened #523 "Helper function for creating routes for Hostname"
I need a correct way to create routes for hostname

e.g.
I need to create a route for the password reset for hostname XYZ

[code]
which will generate appropriate route for password reset for that particular hostname

[code]

A solution for above requirement is also helpful, Please share if you have any

Note: tried changing the environment for that hostname but it won't work

[2018-06-25 06:46] mintunitish commented on #523
If you are using Laravel's default Authentication, all you need to put a middleware that will tell the Auth to use the tenant database. A brief explanation is given here : [Make Laravel out-of-the-box authentication scaffolding work with tenancy](https://medium.com/@ashokgelal/a-full-featured-multi-tenant-app-with-laravel-part-4-tenancy-aware-authentication-e0ee37270bc8)

[2018-06-25 10:08] richardfeliciano commented on #452
i`m using homestead on mac, an have the exact same problem.

the connection tenant is found, but it tries to connect on the system database, not in the tenant db

SQLSTATE[42S02]: Base table or view not found: 1146 Table 'tenancy.users' doesn't exist (SQL: select * from `users` where `email`

[2018-06-25 14:43] chrissound commented on #297
Is there a solution to this issue? Has it been fixed already as it's closed?

[2018-06-25 15:27] fletch3555 commented on #523
So... something like this? Where `$hostname` is the hostname you want to use.
[code]

If you want it to be tenant-specific, then don't bother adding the route group at all, and it'll be available to your tenant.  If that isn't adequate for your needs, then you'll need to provide more specific requirements.

[2018-06-25 15:31] fletch3555 commented on #297
Yes, being closed means it's resolved.  `hyn/multi-tenant` no longer makes use of the `tenancy.json` file.

[2018-06-25 18:24] RushabhJoshi commented on #523
Maybe I am not clear in my previous question description.
But what I need is to create the route for one tenant from another tenant

like I have one tenant which only have super admin authority
admin.localhost

here, I can create a new user for another tenant which send email for password reset but I am facing one problem here
the reset link has domain name *admin*
[code]
but I need a tenant-speci

[2018-06-26 00:49] kylekz commented on #499
Just updated to 5.2 beta and the issue still persists. Other than hardcoding changes to Spark itself, I haven't found any solution either.

[2018-06-26 11:00] mintunitish commented on #435
@luceos I am going to start working on this. Anything that I should consider before implementing it?

[2018-06-26 14:40] fletch3555 commented on #435
I'm not sure we need blade helpers for all of this.  This (mostly) sounds like logic that should be in a controller or service class, which can already use `app(CurrentHostname::class)`.  Once you have the hostname, you can get the current Customer or Website (tenant) object through relations.

[2018-06-27 07:33] adamthomason opened #525 "Trouble with 'public' site"
Forgive me if this is ignorance on my part!

After reading through the documentation on how to set up a 'public' site or landing page site, it seems as though the following method only allows the use of a subdomain for this:

[code]

The issue I have with this, id that I'd like my public site to sit on the top-level domain - with authentication also - with all my tenants as subdomains, as such:

P

[2018-06-27 08:50] mintunitish commented on #525
I think this will help you out.

[code]

In addition you can also create routes for tenant in a file tenant.php and autoload it.

[2018-06-27 09:40] adamthomason commented on #525
That looks like exactly what I'm after. I'll give that a try later today!

[2018-06-27 13:28] luceos commented on #525
Never use environment files outside of configuration files. Laravel, when using `config:cache` will no longer use the environment. Use `config('app.url')` instead.

In addition I can suggest using (or looking at) 5.2-beta which has a better way of supporting a landing page by replacing the routes when hitting tenants.

See https://laravel-tenancy.com/docs/hyn/5.2/fallback#tenant-routes-override

[2018-06-27 13:28] #525 closed, assigned to nobody

[2018-06-27 13:32] luceos commented on #523
What you could do is update `app.url` whenever a tenant was identified.

In addition make sure to add a `connection` key in the auth file: https://github.com/laravel/laravel/blob/d53539b47b6d2a20d0c3d3257ad801bc72547c9d/config/auth.php#L98

See https://github.com/hyn/multi-tenant/issues/443

If this doesn't solve it, please re-open.

[2018-06-27 13:34] luceos commented on #523
Seems like I've already added updating the app url automatically:

`tenancy.hostname.update-app-url` configuration key 👍

[2018-06-27 16:21] BKirev opened #526 "Database [tenant] not configured."
__Description__

When I try to login  via main site/domain(where super-admin UI is supposed to be) I get `Database [tenant] not configured.`

---

__Actual behavior__

`Database [tenant] not configured.`

__Expected behavior__

Return success or fail on login

---
__Information__

- hyn/multi-tenant version: 5.1.6
- laravel version: 5.6.26
- database driver and version: MySQL 5.7.22
- webserver so

[2018-06-27 18:35] luceos commented on #526
1. Please post the environment variables mentioned in the tenancy.php configuration file, if any.
2. Please post the DB_CONNECTION environment variable value.
3. What route model bindings do you have set up, or better yet, please post your web.php routes file (or api.php if you hit an api route).

[2018-06-27 18:58] luceos commented on #452
@richardfeliciano please create a new issue if your environment is unrelated to the current one discussed.

[2018-06-27 19:07] BKirev commented on #526
1:
`LIMIT_UUID_LENGTH_32=true
AUTO_DELETE_TENANT_DIRECTORY=true
AUTO_DELETE_TENANT_DATABASE=true`

2: DB_CONNECTION=system

3:
[code]

[2018-06-27 19:52] dneykov opened #527 "Single domain multi tenant application."
I want to make admin dashboard but not separated by subdomains. Just single domain e.g example.com.
Depending on logged user I will identify the tenant. I'm not sure how can I achieve this. Should I use hostnames or no.
I need some advices thanks.

[2018-06-27 19:58] luceos commented on #526
So you're trying to hit the main website, which is not a tenant. But your `tenancy.enforce` middleware (from what i remember) enforces the default connection to be `tenant`. That will obviously cause an error.

Why are you grouping the auth routes inside the tenant connection if you want to use it on a landing page?

[2018-06-27 20:07] luceos commented on #527
Disable auto identification, then create a custom middleware which during the `handle` method will check for a user `$request->user()` and then through a custom relation with a Website will activate that Website as tenant, eg:

[code]

Please note this assumes hyn/multi-tenant 5.2-beta!

[2018-06-27 20:14] luceos commented on #435
I guess additional helpers would be helpful in some cases; but perhaps we can just add those to the Facade and make that available per default in views?

[2018-06-27 20:15] luceos commented on #522
This should be pretty straightforward; it mimics the PR #524 slightly.

[2018-06-27 20:25] luceos commented on #499
So...

- SparkServiceProvider::register binds the contract NotificationRepository to the implementation; while binding Laravel always creates an instance (yes) of the bind in case it's a singleton
- because the binding has already taken place, the booted event being listened on by tenancy is possibly too late https://github.com/hyn/multi-tenant/blob/e7b0e3b15489d452e958dd9458dd6dc030b93253/src/Lis

[2018-06-27 20:34] dneykov commented on #527
@luceos Thanks.
Does this means that I don't have to create hostname and customer? Actually the users will identify the tenant.

[2018-06-27 20:40] luceos commented on #527
Yes, as long as you relate a Website object to a User; you could potentially have the User object implement the Website contract then the tenant would be the User and you would not even need the Website model of this package. You can replace tenancy models inside the `tenancy.php` configuration file 👍

[2018-06-27 22:12] BKirev commented on #526
I was following this tutorial and this step in particular:
https://medium.com/@ashokgelal/a-full-featured-multi-tenant-app-with-laravel-part-4-tenancy-aware-authentication-e0ee37270bc8

So is there a way to access(being able to login, etc.) in both(tenant and non-tenant[super-admin]) or I should look for different approach?

[2018-06-27 23:32] kylekz commented on #499
Added tenancy to the don’t discover in composer.json, added tenancy’s provider above Spark, enabled early identification, cleared caches etc etc. Still getting the same error.

Edit: Updated stacktrace: https://gist.github.com/xKairu/231f7a0c08e1929c7d54f8f82d78069a

[2018-06-28 00:25] kawarien commented on #526
@BKirev

I had followed the same tutorial

- to be able to access the domain.com, copied the migrations that are the tenant folder in the migration folder. register yourself and then tried to connect it's going to work.

- for sub.domain.com I also had the same error. from what I understood from this error (
for this case) , occurs when a tenant is not created.
if you have already created a tenant

[2018-06-28 03:20] nevertry opened #528 "Custom Customer Models hinders Website to be created when using Repository class"
__Description__

Cannot create Website using custom Models (Website) when using repository. Here is the code I used.

[code]

---
__Information__

- hyn/multi-tenant version: 5.1.*
- laravel version: 5.6.*
- database driver and version: pgsql 10
- webserver software and version: apache 2.4
- php version: 7.1.10

---

__tenancy.php config__

[code]

__webserver.php config__

[code]

---

__Error lo

[2018-06-28 03:22] nevertry commented on #528
this would fix:
[code]

[2018-06-28 07:03] #528 closed, assigned to nobody

[2018-06-28 07:06] luceos commented on #526
@kawarien that is a suggestion based on your OS Windows. The stack of @BKirev is ubuntu.

@BKirev can you try using 5.2-beta it has an option to (completely) replace global routes, including auth routes if found, https://laravel-tenancy.com/docs/hyn/5.2/fallback#tenant-routes-override

[2018-06-28 10:00] adamthomason commented on #525
Okay so this is definitely working with regards to separating my landing pages by the base hostname. However my new issue is that ``$hostname = app(Hyn\Tenancy\Contracts\CurrentHostname::class);`` returns null, and therefore none of my tenant routes can be reached.

[2018-06-28 11:07] luceos commented on #525
@adamthomason i suggest switching to 5.2 which is now the default; it has native support for the landing page and routes.

Unless of course this is the version you are using right now.

[2018-06-28 12:36] adamthomason commented on #525
@luceos I'm currently using 5.2, yes. I upgraded from 5.1 due to ``CurrentHostname::class`` throwing instantiation errors.

It must be said that, like many others, my project because from following the linked tutorial 'Townhouse', although I have stripped away the vast majority of what I don't need for my project.

I'm a little stuck here now!

[2018-06-28 12:40] mintunitish commented on #525
Are you able to create a new tenant in your application?

[2018-06-28 12:45] adamthomason commented on #525
Yes, I can create a new tenant using ``php artisan tenant:create example example@example.com``

(From the tutorial)

[2018-06-28 13:07] luceos commented on #525
Okay so.. I'll need a proper report then;

- tenancy.php configuration
- related environment variables set, including `DB_CONNECTION`
- the error backtrace you receive that is bugging you

[2018-06-28 13:49] adamthomason commented on #525
Thanks guys, I'll post requested info below. It should be mentioned that I've now switched to using a separate routing file for tenants as suggested in the docs, but I am still seeing the same problem:

tenancy.php:
[code]

Environment variables:
[code]

For good measure, here's database.php:
[code]

There's no error per se, rather that I'm certain that the tenant database isn't being connected to

[2018-06-28 22:21] f0reclone commented on #448
As you requested I'm following up on this issue @luceos
I think this is the same issue, so I will post my comments here.
It fails at the Set Command in the tenantDatabaseExists in the TenantRecreate Command:
`$this->connection->set($website);`
Because either the db user oder database is not known

When you are setting the connection for the check, you expect that there is a working connection for

[2018-06-28 22:59] f0reclone commented on #473
I've had the same error on 5.2 when I used the old app(Environment::class)->hostname($hostname); Method to switch to a tenant. Maybe you are switchingt the hostname manually at some point using a class which is no hostname or you have already 5.2 and use old methods.
Do you have a value in .env for TENANCY_AUTO_HOSTNAME_IDENTIFICATION?

[2018-06-29 14:50] aBuder commented on #521
I don't get an error, I get page not found. I have locally valet running and my routes file looks so.

[code]

[2018-06-29 16:43] surgiie commented on #309
Anyone have any idea on `Driver [redis_tenancy] is not supported.`  error? Did anyone have this issue.
Really like this package setup and would like to use it, but caching is important in this particular application..

[2018-06-29 17:18] luceos commented on #437
This was done.

[2018-06-29 17:18] #437 closed, assigned to luceos

[2018-06-29 17:52] fletch3555 commented on #309
@surgiie, if you're not getting a response, it's likely because this issue was closed 3.5 months ago.  You're welcome to open your own issue, which would prompt you to provide all the necessary information for us to properly track your issue through resolution.

[2018-06-29 17:55] jeitnier commented on #309
@surgiie Please provide your `config/cache.php` and your `app/Providers/CacheServiceProvider.php` file please. I haven't worked on my project that uses this package in months due to being super busy, but I'll try to help how I can. I have logs where I experienced this issue too, so I'm sure it's probably an easy fix.

[2018-06-29 19:03] surgiie commented on #309
@jeitnier Thank you any help would be greatly appreciated.

My `config/cache.php`:

[code]

and CacheServiceProvider(which is added in `config/app.php`):

[code]

Whenever i run any php artisan command:

[code]

[2018-06-30 01:48] jeitnier commented on #309
@surgiie It looks to me like your `boot` method isn't being called, possibly your `CacheServiceProvider` class isn't instantiated properly. What's your `config/app.php` look like?

Ensure the load order is like this:

[code]

If `App\Providers\CacheServiceProvider::class,` is after, it won't work, you'll get that error.

[2018-06-30 13:35] aBuder commented on #521
I solve the problem.

My solution was:
You have so set an dataset in table hostname.

![bildschirmfoto 2018-06-30 um 15 34 38](https://user-images.githubusercontent.com/1265139/42125642-292aeae4-7c7b-11e8-9aaf-4d7539e11862.png)

[2018-06-30 13:35] #521 closed, assigned to nobody

[2018-06-30 13:42] aBuder opened #530 "Custom guard admin assign role to web guard error"
I would like to create an new website as admin with hostname, at the moment it will work, but the roles would not be set. I wrote an custom auth guard admin and if i create an new website the tenant database seeder would start, but the guard would be admin instead of web. I get an the following error.

![bildschirmfoto 2018-06-30 um 15 28 38](https://user-images.githubusercontent.com/1265139/42125

[2018-07-01 10:16] mah3uz commented on #378
@luceos I got same error after upgrade to 5.2 from 5.1
Initial user creation says
`Undefined index: driver`
My user table is in tenant database and I `use UsesTenantConnection` trait on User Model.
Am I missing something? or it's a bug?

[2018-07-01 11:28] surgiie commented on #309
@jeitnier This worked. My problem was the auto discover feature. I set `hyn\tenancy` to not be discovered in my `composer.json`. However im noticing that when i `dd(config('cache.prefix'));`, it is still outputting `laravel_cache` which is the default prefix. `redis_tenancy` is the new driver set. The query in the `CacheServiceProvider` is returning the uuid, because i `dd` that out to confirm tha

[2018-07-01 11:33] surgiie commented on #309
@jeitnier Cache however seems to be working properly for each tenant though. So it is working i  think. Thanks!

[2018-07-02 07:28] adamthomason commented on #525
@luceos Can you see any issue with the above?

[2018-07-02 16:55] Nowi5 commented on #527
I think this only works when one user works on one tenant, what are you doing if the same user (same e-mail) has accounts on multiple tenants? I think about to have one tenant like admin. The user model base on system connection so the core user table is shared across all tenants and user can have 1:n tenants.
If one user is admin of multiple tenants he can see all his tenants in the admin center

[2018-07-02 18:01] luceos commented on #527
@Nowi5 you can create a dropdown like (or landing page with tenants listed) for the user to choose from, then when user clicks that before redirecting set a cookie that sets the tenant preference. Hope that makes sense.

[2018-07-02 18:07] BKirev commented on #527
So far I made this:
-in user model(User.php):
[code]
_Website is use Hyn\Tenancy\Contracts\Website_
and
[code]
But it's still related to hostnames, as far as I understand?
What I want is when a new user registers in the system, it's automatically added and identified as a tenant.
The rest of the users that will be added to him will be via invite link, for example and must be attached to him.
Shoul

[2018-07-02 18:12] luceos commented on #525
First off, I see no issue with your setup. Your issue is that the tenant database is not being set up; how are you sure of that? Are you able to run a simple `php artisan tenancy:migrate --website_id=<uuid>` on your app to migrate the tenant you expect?

[2018-07-02 18:24] luceos commented on #527
First off, although the flexibility exists to replace the model, using a User model was never tested; as such you're moving into uncharted territory ..

What you would need to do is use the `Environment::tenant` method to force set a specific tenant, in your case User and hope the code won't break. If it does I'd love to hear about it. Make sure your user has a `uuid` property, you can use an acce

[2018-07-02 18:25] luceos commented on #473
This is going to sound dumb, sorry:

A tenant no longer is a hostname, but a website. Switching a tenant as such has to be done using the `app(Environment::class)->tenant()` method with a valid Tenant, being a Website. Only this will now switch the environment and database connection and every other piece of logic.

https://laravel-tenancy.com/docs/hyn/5.2/upgrade-from-5.1

[2018-07-02 18:31] luceos commented on #378
@mah3uz please create a new issue with a backtrace and your configuration.

[2018-07-02 18:33] luceos commented on #530
I don't see what relation the guard has in all of this. What I see is an error that a specific database entry (role) cannot be found. The package spatie permissions seems to be unable to load the role. If you successfully seeded the database then perhaps those models (Role) isn't using the correct connection?

[2018-07-02 18:38] BKirev commented on #527
Can I not replace the model then? Maybe just create a relation between user and website instead of hostname and website?

[2018-07-02 18:47] luceos commented on #527
That is possible too 🤔 Why overcomplicate it if you don't have to 🤷‍♂️

[2018-07-02 18:51] BKirev commented on #527
Any directions?
Should I add `website_id` in the users table? Am I going to need any modification in the package itself?

[2018-07-02 19:11] luceos commented on #527
Not at all; create an additional migration (or use the published one from the package). You can choose for yourself whether you need a relation back from Website to User; in that case you might need to extend the Website model..

[2018-07-02 19:12] adamthomason commented on #525
I've set up the following code to create a tenant purely for testing purposes (It's messy, literally just for testing). As I expected, I can see that the tenant database is created, and migrations are ran on it. The command you posted above runs without error, but there is also no output whatsoever (is there supposed to be?).

[code]

It does seem like everything is working correctly, apart from t

[2018-07-03 08:09] luceos commented on #525
@adamthomason

- you are posting code without any indication where this is, if you expect "tenant created" to be shown on a page you must return it from a controller
- your code is not automatically switching the current tenant; the package won't do this whenever you create a tenant because you might want to create tenants in batches you still have to switch, using the environment

Hope this helps

[2018-07-03 09:25] mah3uz opened #531 "Undefined index: driver when creating initial user to new created tenant"
__Description__
I have upgraded multitenant package from 5.1 to 5.2 and when I create new tenant it would create a initial user & notify via email. tenant created, but it's giving error when new user to be create saying
`Undefined index: driver`
..

---
__Information__

- hyn/multi-tenant version: 5.2
- laravel version: 5.6
- database driver and version: Mysql 5.7.2
- webserver software and versio

[2018-07-03 11:35] adamthomason commented on #525
That did indeed help tremendously! I've managed to get everything working perfectly now. Thank you very much for your time :)

[2018-07-03 14:59] fletch3555 commented on #531
@luceos I'm noticing a trend.  This is the 3rd report I've seen of this error while creating a user.  All seem to be creating a user immediately after creating the tenant (a hunch in this report, but the stacktrace seems to hint at that with user creation being completed as part of `CreateTenantJob`), which leads me to believe it's an issue with auto-identification of tenants after creation, which

[2018-07-03 18:11] luceos commented on #525
Glad it worked out 👌

[2018-07-03 18:18] luceos commented on #531
@fletch3555 I understand your anxiety, but I think this relates to the change to the tenant aware job. In the trace the create tenant job is fired, deserialization of the tenant seems to go wrong here.

@mah3uz can you post the code of the job and the createTenant method of the controller?

[2018-07-03 18:35] mintunitish commented on #494
Can I take this issue?

[2018-07-03 18:36] mintunitish commented on #488
@luceos Any hints about where to start?

[2018-07-03 18:41] mintunitish commented on #340
@luceos I think this issue was resolved in #516 and can be closed now.

[2018-07-04 06:46] mah3uz commented on #531
@luceos & @fletch3555 Thank you for fast reply.
Here is my CreateTenantJob:
[code]
---
And CreateTenantController:
[code]

[2018-07-04 06:50] bkintanar opened #532 "[5.2] Route in web.php is taking precedence, even with the override config enabled"
`'tenancy.routes.replace-global' => true,`.

Create `routes/tenants.php`

Create a route that has a similar route signature to one of the routes found in `routes/web.php`

Try accessing the said route, it triggers the web.php route instead of the one found in `routes/tenants.php`

Now try removing the one found in the `routes/web.php`. now it triggers the route in tenants.php.

Thanks to @fletch35

[2018-07-04 18:13] luceos commented on #532
[code]

Is that taken into consideration?

[2018-07-04 18:13] luceos commented on #532
[code]

Is that taken into consideration?

[2018-07-04 18:34] fletch3555 commented on #532
Yes, auto-identification was enabled.  I added `dump()` statements in all code branches of the RouteProvider code, and it definitely got in there.  I suspect the Hyn RouteProvider I being booted before the App RouteServiceProvider, so its being overridden.

[2018-07-04 22:50] xmarkclx opened #533 "New Tenant Division Mode: Multischema for PostgreSQL"
__Description of your feature__
Allow mode to use multischema on 1 database for PostgreSQL.

https://www.citusdata.com/blog/2016/10/03/designing-your-saas-database-for-high-scalability/ says why it is preferable.
..

---

__Proposed behavior__
Add a new tenant-division-mode option, along with codes to create the schema, query based on it, etc.

..

__Current behavior__
There is no such option.

..

[2018-07-05 01:48] fletch3555 commented on #532
Looks to be an issue with load-order of service providers.  After disabling auto-discovery of `TenancyProvider` then manually adding it or the provider array in `app.php` AFTER `RouteServiceProvider`, I was able to get it to load the correct route.  I also added `dump()` statements to the `map()` method of both route providers to see which is loading first.  When Hyn loads after App, it loads the

[2018-07-05 14:20] adamthomason opened #534 "User Model defaults to System connection automatically"
I'm implementing auth in my project, and have migrations to create the user tables on the tenant on creation. I'm also setting the connection based on the tenant I'm on.

My issue is that when registering, although I can confirm that the connection is set to use 'tenant', the user is created on the system database instead. I haven't defined anywhere that the User model should use the system connec

[2018-07-05 14:24] bkintanar commented on #534
@adamthomason are you using the UsesTenantConnection trait in the user model?

[2018-07-05 14:25] adamthomason commented on #534
@bkintanar No, I'm not using any code or config to explicitly force a connection for models

[2018-07-05 14:37] adamthomason commented on #534
I've worked out a fix for this by created my own Trait and attaching it to the User model. I'll post this below in case anybody has the same use case. Although if there is a more official way to do this, then I'm all ears!

[code]

[2018-07-05 15:32] roble commented on #531
I fixed with this:

Change handle method:

[code]

and register tenant method:

[code]
finally:
[code]

I hope this help you

[2018-07-06 12:18] Nowi5 commented on #446
Why do we have something easy like that in a kind of FAQ within documentation?

[2018-07-06 21:06] schemedesigns commented on #531
I was following Ashok's tutorial as well and ran into this issue.  The key to creating the user as @roble pointed out is you need to switch to the tenant beforehand.

[code]

[2018-07-07 17:35] endrureza commented on #532
i got this issue too. Is there any solution yet?

[2018-07-07 18:33] andranikbadalyan commented on #532
Same here, just create a fallback tenant until this gets resolved.

[2018-07-07 19:39] andranikbadalyan commented on #532
The same issue persists when trying to override through tenant routes.php

[2018-07-08 05:36] mah3uz commented on #531
Thank you @roble . Problem fixed.
I was new the problem was selecting the tenant before creating new user. But I didn't figure out how to select new created tenant. I am closing the issue.

[2018-07-08 05:36] #531 closed, assigned to nobody

[2018-07-08 07:51] luceos commented on #488
I already searched the code for ssl and as far as I can tell this issue was already resolved. It requires one last scan to see everything is cleaned up.

[2018-07-08 07:53] luceos commented on #494
This was already done.

[2018-07-08 07:54] #494 closed, assigned to nobody

[2018-07-09 05:04] luceos commented on #446
@Nowi5 because we're only human. Feel free to suggest so or create a PR.

[2018-07-09 05:05] luceos commented on #534
@adamthomason this should be a PR against the package as TenantAwareConnection or TenantOptionalConnection trait 👍

I like it!

[2018-07-09 05:10] luceos commented on #533
This would be great to have. But it doesn't have a high priority on my planning. A tested PR would be accepted.

[2018-07-09 05:10] #340 closed, assigned to nobody

[2018-07-09 06:30] #532 closed, assigned to luceos

[2018-07-09 06:43] luceos commented on #488
Just checked, nothing left.

[2018-07-09 06:43] #488 closed, assigned to nobody

[2018-07-09 22:36] hmamman opened #538 "Page not found on local development server."
Am developing a multi-tenant app using this package. I have successfully configured the package and created one tenant using one tutorial about this package on medium site. The problem I have is when I use laravel local development server (php artisan serve), the routes always result to 404. Is there any further configuration I need to do? Thanks

[2018-07-09 23:42] on3nx opened #539 "How to define tenant owner / creator"
Hi,

I got a question, is there a function to define / set tenant creator (owner)?
i saw in the customers database that there is no "creator_id" (link to users db).

what i'm trying to achieve is:
i will have master users under master/main tenant that will be able to create tenant from the main website, and set/create a 'local' user for her/his newly created tenant - this master user will be known

[2018-07-10 04:47] luceos commented on #538
I'd gladly help you, please submit your tenancy.php configuration file.

[2018-07-10 04:50] luceos commented on #539
You can add another migration that adds the necessary columns you see fit to get your app up and running. Wildly assuming what each implementation needs and offering migrations, model, controllers and views only increases the weight of the package unnecessarily.

Please note Customers are dropped in 5.2; if you want to keep them I suggest moving the migrations and models over to your app codebase

[2018-07-10 04:50] #539 closed, assigned to nobody

[2018-07-10 05:01] hmamman commented on #538
This is the tenancy.php configuration file.
`
<?php

/*
 * This file is part of the hyn/multi-tenant package.
 *
 * (c) Daniël Klabbers <daniel@klabbers.email>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 *
 * @see https://laravel-tenancy.com
 * @see https://github.com/hyn/multi-tenant
 */

use Hyn\Tenancy\Databa

[2018-07-10 05:02] hmamman commented on #538
`<?php

/*
 * This file is part of the hyn/multi-tenant package.
 *
 * (c) Daniël Klabbers <daniel@klabbers.email>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 *
 * @see https://laravel-tenancy.com
 * @see https://github.com/hyn/multi-tenant
 */

use Hyn\Tenancy\Database\Connection;

return [
    'models' => [

[2018-07-10 05:03] hmamman commented on #538
`use Hyn\Tenancy\Database\Connection;

return [
    'models' => [
        /**
         * Specify different models to be used for the global, system database
         * connection. These are also used in their relationships. Models
         * used have to implement their respective contracts and
         * either extend the SystemModel or use the trait
         * UsesSystemConnection.
         */

[2018-07-10 05:08] hmamman commented on #538
`
use Hyn\Tenancy\Database\Connection;

return [
    'models' => [
        /**
         * Specify different models to be used for the global, system database
         * connection. These are also used in their relationships. Models
         * used have to implement their respective contracts and
         * either extend the SystemModel or use the trait
         * UsesSystemConnection.
         */

[2018-07-10 05:10] hmamman commented on #538
This is the configuration on my .evn file please.
`DB_CONNECTION=system
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=tenancy
DB_USERNAME=tenancy
DB_PASSWORD=Zhuauth+

LIMIT_UUID_LENGTH_32=true
TENANCY_DEFAULT_HOSTNAME=localhost
AUTO_DELETE_TENANT_DIRECTORY=true
AUTO_DELETE_TENANT_DATABASE=true`

[2018-07-10 05:14] hmamman commented on #538
`DB_CONNECTION=system
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=tenancy
DB_USERNAME=tenancy
DB_PASSWORD=*****`

`LIMIT_UUID_LENGTH_32=true
TENANCY_DEFAULT_HOSTNAME=localhost
AUTO_DELETE_TENANT_DIRECTORY=true
AUTO_DELETE_TENANT_DATABASE=true`

[2018-07-10 05:27] hmamman commented on #538
I thinks this will be cleaner. Am having difficulties inserting code.
`return [
  'models' => [

        'hostname' => \Hyn\Tenancy\Models\Hostname::class,

        'website' => \Hyn\Tenancy\Models\Website::class
    ],
    'website' => [

        'disable-random-id' => false,

        'random-id-generator' => Hyn\Tenancy\Generators\Uuid\ShaGenerator::class,

        'uuid-limit-length-to-32' => e

[2018-07-10 05:29] hmamman commented on #538
routes/tenants.php
`Route::get('/', function () {
    return view('welcome');
});

Auth::routes();

Route::get('/home', 'HomeController@index')->name('home');

[2018-07-10 05:50] hmamman commented on #538
I changed
`'abort-without-identified-hostname' => true,`
to
`'abort-without-identified-hostname' => false,`
and the app works!

[2018-07-10 07:08] endrureza opened #540 "Running PHP Artisan Got Error "Invalid Host ""myhostname""""
__Description__

..

Well, i enable this in .env

[code]

and don't modify any code

---

__Actual behavior__
Error Invalid Host
..

__Expected behavior__
php artisan display its output
..

---
__Information__

- hyn/multi-tenant version: 5.2.2
- laravel version: 5.6
- php version: 7.1

---

__tenancy.php config__

[code]

__webserver.php config__

[code]

---

__Error log__

[code]

[2018-07-10 07:23] luceos commented on #540
This is funny! The exception is thrown here:

[code]

You most likely set up a `SERVER_NAME` or something which is being read by Symfony. I think we need to disable auto identification when running in console.

[2018-07-10 07:31] #540 closed, assigned to nobody

[2018-07-10 14:57] fletch3555 commented on #538
multi-line code snippets should be surrounded by triple-backticks (i.e. ```).  This will [auto-format the block as code](https://help.github.com/articles/basic-writing-and-formatting-syntax/#quoting-code)

Becomes:

[code]

[2018-07-10 16:11] on3nx opened #542 "How to Create Tenant in 5.2"
Hi

I'm implementing 5.2.3 from 5.1
what i did was:
- composer update (`"hyn/multi-tenant": "^5.2.3",`)
- remove tenancy table and rerun `php artisan vendor:publish --tag=tenancy`
- docker-compose exec app php artisan migrate
- am i miss anything else here?

and i build artisan tenant:create as follow:

[code]
it throw me error:

[code]

this seems like missing database driver?

do I need to creat

[2018-07-10 16:18] kawarien opened #543 "database confusion between tenant and super admin"
**Information**
operating system: linux ,
homestead version: 7.7
hyn / multi-tenant version: 5.1.2
Laravel version: 5.6
database driver and version: MySQL
php version: 7.1.3

**Description**

when I connect to a sub.domain.com tenant I create a user the user is not created in the tenant database.
user is created in the database of domaine.com why?

User.php
![us](https://user-images.githubusercont

[2018-07-10 17:10] fletch3555 commented on #542
You don't need to configure that driver.  The error is telling you the driver doesn't exist, but that's because this package hasn't configured it yet, because it hasn't identified a tenant.  Since this is in a command, that must be done manually.

Until 5.2, that was done using the `Environment::hostname()` method.  In fact, your command already has that:
[code]

For 5.2+, however, there's a new m

[2018-07-10 17:12] fletch3555 commented on #543
Didn't we answer this on Discord yesterday?

Did you change the BREAD configuration for `users` to use your `App\User` model instead of the default `TCG\Voyager\Models\User`?

[2018-07-10 17:20] on3nx commented on #542
Thanks, I did tried, now it giving me error:

[2018-07-10 17:28] fletch3555 commented on #542
Ah, my mistake.  It needs a Website object, not a Hostname.  You should change the `registerTenant` method to return `$website`, not `$hostname`.  That should work since they're already linked

[2018-07-10 17:34] on3nx commented on #542
Awesome! that works
Thank you so much

[2018-07-10 17:34] #542 closed, assigned to nobody

[2018-07-10 17:46] kawarien commented on #543
hello @fletch3555
when I had changed  to App/User I had this

![err](https://user-images.githubusercontent.com/36641497/42526470-6be60d40-8465-11e8-9f7e-5547aca762f6.png)

now i just changed to `app\User` and it works. thank you very much

it was @luceos  told to me to open a issues on github and i see that his paid  lol ..

[2018-07-10 17:55] #543 closed, assigned to nobody

[2018-07-10 21:29] #538 closed, assigned to nobody

[2018-07-10 22:37] sarmad4444 commented on #160
I've been handling this in my applications. In User Model, I've setup UseTenantConnection. When the hostname isn't identified (means not a tenant), the User model uses the default connection for app. Which is the app's main DB. Even the whole auth module keeps working without any fault.

[2018-07-11 04:13] #160 closed, assigned to nobody

[2018-07-11 13:33] edmundss commented on #473
That did it. Thank you!

[2018-07-11 13:39] #473 closed, assigned to nobody

[2018-07-12 08:10] luceos commented on #400
I was assuming one cannot identify the model being overridden with the custom Connection Resolver. But what we have to do is only call the static method for these classes.

[2018-07-12 09:08] #400 closed, assigned to luceos

[2018-07-13 07:18] endrureza opened #546 "After Installing Passport, Invalid Hostname Error When Running php artisan passport:client"
__Description__

After Installing Passport, if you run passport command it will return error `Invalid Hostname` again

---

__Actual behavior__
Error Invalid Hostname

__Expected behavior__
Creating client key

---
__Information__

- hyn/multi-tenant version: 5.2.4
- laravel version: 5.6
- webserver software and version: Nginx 1.12
- php version: 7.1

---

__tenancy.php config__

[code]

__webserv

[2018-07-13 07:24] luceos commented on #546
Seems Laravel is relying on the `getHost` method which reads the `SERVER_NAME`. Nevertheless I see no fault in the hostname used.

@fletch3555 would you spare me a minute of your time to review the issue for anything I missed?

`getHost` method of Symfony:

[code]

[2018-07-13 17:26] femz12 opened #547 "Error while creating a new tenant"
I got this error while trying to create a new tenant

[code]

MySQL version 14.14
Laravel Version 5.6
PHP version 7.1.16
OS: Ubuntu 14.04

function where it failed
[code]

[2018-07-13 17:54] luceos commented on #547
Which MySQL server version are you using, you posted the MySQL version your client was built against:

https://stackoverflow.com/questions/8645184/version-vs-distrib-number-of-mysql

[2018-07-13 22:24] femz12 commented on #547
Thanks for your response, I discovered I was using MySQL v5.5 and i guess that is the issue.

Please what is the best advise you can give me, because upgrading my MySQL version may be risky,

Thanks in advance

[2018-07-14 08:12] luceos commented on #547
A few options crossed my mind;

- get us to implement a new event before doing actual mutations on the database where you can change the driver
- get us to introduce a version compatible mysql driver
- disable auto generation and listen to the events yourself to create, update and delete databases and users.

I'm not a huge fan of the actions we can take. I would still suggest upgrading MySQL.

[2018-07-14 09:40] femz12 commented on #547
Thank you!

[2018-07-14 09:40] #547 closed, assigned to nobody

[2018-07-14 15:35] dluague commented on #355
After all the digging in the Laravel core I came up with this solution which will delete tanants databases after the test and able to use RefreshDatabase trait.

[code]

[2018-07-14 16:49] mintunitish opened #548 "UsesTenantConnection and UsesSystemConnection"
I have a situation where I want to use the same `User `model to authenticate the users in _tenant_ as well as _system_ connections. But adding the `UsesTenantConnection `makes it point directly to tenant database. There should be a way to use the same model for both the purposes, or there's is a way and I am missing it?

[2018-07-16 06:09] luceos commented on #548
Would this [pr](https://github.com/hyn/multi-tenant/pull/537) solve your question?

Also, what commonly is the solution is to create two classes that extend User; the TenantUser and SystemUser, some might call those User vs Admin. Each of these would apply a different trait.

I'm closing this as this is a question more than an issue, feel free to continue commenting or re-open if you think we shou

[2018-07-16 06:09] #548 closed, assigned to nobody

[2018-07-16 06:12] luceos commented on #355
I've already pushed code to 5.2 that removes tenant databases, but ONLY those that were created during the tests. Otherwise if you are developing locally you might be deleting too much.

You can see the changes I made in the trait: https://github.com/hyn/multi-tenant/blob/5.x/tests/traits/InteractsWithTenancy.php

[2018-07-16 06:12] #355 closed, assigned to nobody

[2018-07-16 06:29] spacemudd commented on #355
@luceos Do you want people to dance for you? Cause that's how you get people to dance for you. Awesome code. 👌

[2018-07-16 06:36] luceos commented on #355
@spacemudd if you visit Laracon EU, you can dance for me 🤗 Hugs afterwards btw 😁

Thanks, it's always hard to create something which seems clear, understandable and still does what it has to do, without bordering on a hack. Luckily we can get inspiration from great people in our Laravel community.

[2018-07-16 07:27] mintunitish commented on #548
Yeah that PR will solve my problem.

[2018-07-17 15:13] on3nx opened #549 "Main Website use System Connection"
I'm Installed and Running 5.2.4
upon installation my site giving me 404 at my main domain.com, until i setup/create a Tenant with below syntax:

[code]

Above syntax will create a tenant and I'm able to access my main domain.com
however, this domain.com is created using tenant connection (it using website uuid database)
even-though I have set `managed_by_database_connection ` to system or blank.

[2018-07-17 15:27] fletch3555 commented on #549
You don't need to create a tenant for `domain.com`, you only need a `Hostname` for it.  OR you can simply set `abort-without-identified-hostname` to `false` in your `config/tenancy.php`.  If you do this, you will need to add the domain to your routes so they don't affect actual tenants.

[2018-07-17 15:28] on3nx commented on #549
but if I don't create tenant, my domain.com give me 404
I may missed something here, what do you mean by: "you only need a Hostname" ?

[2018-07-17 15:34] fletch3555 commented on #549
The `abort-without-identified-hostname` config is what determines whether non-existent hostnames result in a 404 Not Found response from this package or if it's left up to the app.  If set to true, it will throw a 404 if there is now Hostname record with a `fqdn` matching the requested domain (`domain.com` in your case).  This is exactly what you're experiencing.

You have 2 options.

1. Create a

[2018-07-17 15:38] on3nx commented on #549
Thanks @fletch3555,
anyway, my `'abort-without-identified-hostname'`, is already false before i post this

and yes it still throw me 404 - unless i create the tenant domain.com, then if I access notexist.domain.com it will direct me back to domain.com

you said: "it will throw a 404 if there is no Hostname record with a fqdn matching the requested domain"
may I ask, where should i put/set Hostname

[2018-07-17 15:47] fletch3555 commented on #549
Well without seeing your code/config, I can only guess at the issue.  If you follow the [issue template](https://github.com/hyn/multi-tenant/blob/5.x/.github/ISSUE_TEMPLATE/Bug_report.md), it would provide most of the information we would need.

[2018-07-17 15:48] on3nx commented on #549
let me post the issue template...

you said: "it will throw a 404 if there is no Hostname record with a fqdn matching the requested domain"
may I ask, where should i put/set Hostname record that will be matched with fqdn?

[2018-07-17 16:00] on3nx commented on #549
---
name: Main hostname throw 404 upon installation
about: Main hostname throw 404 upon installation until i set tenant manually

---

__Description__

I Install 5.2.4, upon installation it throw me 404 at my main domain.com.

Note: my site is running on port 8080 so it is accessible at: http://domain.com:8080
not sure if this could be the issue

---

__Actual behavior__

return 404 on main domain

[2018-07-17 19:50] luceos commented on #549
[code]

Abort without hostname is still enabled.. It will enforce a 404 whenever no tenant was identified.

[2018-07-18 00:48] on3nx commented on #549
That was because I'm troubleshooting, i could change back the value to false and see the result leter.

However, let me try to understand...
`'abort-without-identified-hostname' => true;` will send 404 if there is no tenant identified in the particular url that being accessed - am i correct?

That means:
If i have no tenant at all (fresh install and `'abort-without-identified-hostname' => true;` )

[2018-07-18 01:13] fletch3555 commented on #549
Yes that is correct in both cases, for the same reason.  However, I would caution you not to confuse "Hostname" with "tenant".  That config will throw a 404 is no _Hostname_ exists, whether its associated with a _tenant_("Website" by default) or not.

[2018-07-18 02:27] on3nx commented on #549
@luceos and @fletch3555
when i set `'abort-without-identified-hostname' => false`, it give me error:

[2018-07-18 03:33] on3nx commented on #549
ok, so let me run through what i did:

**case 1:**
i did fresh installed all database hostname and website are empty, i set `'abort-without-identified-hostname' => true`
**result**: 404

i set `'abort-without-identified-hostname' => false`
**result**: Database [tenant] not configured.

**case 2:**
i set back again `'abort-without-identified-hostname' => true`
i set hostname db as below (manual / d

[2018-07-18 07:02] luceos commented on #549
@on3nx this is what I call Due Diligence and for that alone you deserve my respect!

Now let's get your train rolling:

- `abort-without-identified-hostname` let's call it `abort` for now. This will throw a 404 whenever the requested page did not find a Hostname based on the HTTP_HOST.
- The error `Database [tenant] not configured.` is thrown whenever an Eloquent model is being used to query the d

[2018-07-18 14:46] fletch3555 commented on #546
I've never used Passport, so I can't comment specifically about that.

Looking at the stacktrace and `getHost` method @luceos posted, it looks like the domain is being discovered as `"dreampeople.me"`, including the quotes.  I'd be interested to see where that's coming from.  @endrureza, can you attempt to debug this further? Add a couple `dump()` lines inside the getHost method (will be under you

[2018-07-18 14:47] fletch3555 commented on #364
Question answered/guidance provided, and no activity in 6 months.  Closing

[2018-07-18 14:47] #364 closed, assigned to nobody

[2018-07-18 18:43] pankaj-ag commented on #526
@luceos I am using Mac OS, laravel 5.6 and this package with version 2.0. I am able to create the tenant and added my **User::class** to **force-tenant-connection-of-models**  array. Now I am trying to create a user (with laravel basic auth ) and getting this ( ```Database [tenant] not configured. ```) error. Please help me to fix this.

[2018-07-18 19:10] luceos commented on #526
@pankaj-ag please create an issue of your own instead of hijacking this one. The issue template you have to fill in has been created for a reason, to ask for necessary situational details. Please don't ignore all that.

Speaking of which, closing due to inactivity.

[2018-07-18 19:10] #526 closed, assigned to nobody

[2018-07-19 01:40] on3nx commented on #549
Thanks @luceos

pardon for my newbie-ness :)

following what you advise:

- set abort to true --> done
- add a hostname domain.com to hostnames table connected to the site (you create) bytedb
 i'm not clear about this: how?
do you mean manually adding to hostname DB?
and to "_hostnames table connected to the site bytedb_" --> how to connect hostname table to the site?
- use the repository instead

[2018-07-19 08:58] luceos commented on #549
this should be easy once above sort out :D

@on3nx did it work?

[2018-07-19 09:18] #246 closed, assigned to nobody

[2018-07-19 09:19] #267 closed, assigned to nobody

[2018-07-19 09:19] luceos commented on #254
we've fixed this along the way

[2018-07-19 09:19] #254 closed, assigned to nobody

[2018-07-19 09:20] luceos commented on #277
database/migrations/tenant is the new location

[2018-07-19 09:20] #277 closed, assigned to nobody

[2018-07-19 09:21] #273 closed, assigned to nobody

[2018-07-19 09:21] #311 closed, assigned to nobody

[2018-07-19 09:21] #323 closed, assigned to nobody

[2018-07-19 09:22] #322 closed, assigned to nobody

[2018-07-19 09:23] luceos commented on #318
Fallback controller already exists, so does the disk.

[2018-07-19 09:23] #318 closed, assigned to nobody

[2018-07-19 09:24] #354 closed, assigned to bkintanar

[2018-07-19 09:24] #331 closed, assigned to nobody

[2018-07-19 09:26] luceos commented on #358
The Servant should be able to take care of that now:

https://github.com/hyn/multi-tenant/blob/981db5ff905a69515f1c7381dd8f9cb75c5546f5/src/Listeners/Servant.php#L125-L143

[2018-07-19 09:26] #358 closed, assigned to nobody

[2018-07-19 09:28] luceos commented on #348
Moved to docs repo.

[2018-07-19 09:28] #348 closed, assigned to nobody

[2018-07-19 09:28] luceos commented on #430
Moved to docs repo.

[2018-07-19 09:28] #430 closed, assigned to nobody

[2018-07-19 09:28] luceos commented on #422
Obsolete for now.

[2018-07-19 09:28] #422 closed, assigned to bkintanar

[2018-07-19 09:29] luceos commented on #438
Moved to different repo, might become public later on.

[2018-07-19 09:29] #438 closed, assigned to nobody

[2018-07-19 09:29] luceos commented on #443
Moved to docs repo.

[2018-07-19 09:29] #443 closed, assigned to nobody

[2018-07-19 09:30] luceos commented on #347
Moved to docs repo.

[2018-07-19 09:30] #347 closed, assigned to nobody

[2018-07-19 09:30] luceos commented on #495
Moved to docs repo.

[2018-07-19 09:30] #495 closed, assigned to nobody

[2018-07-19 09:32] #432 closed, assigned to bkintanar

[2018-07-19 09:32] luceos commented on #432
Should have been moved to tenancy/docs @bkintanar

[2018-07-19 09:32] #471 closed, assigned to nobody

[2018-07-19 09:33] luceos commented on #471
Please retest on current version and reopen if still valid.

[2018-07-19 09:40] #460 closed, assigned to nobody

[2018-07-19 09:41] luceos commented on #499
This should have been fixed, please confirm and re-open in case it still causes troubles.

[2018-07-19 09:41] #499 closed, assigned to nobody

[2018-07-19 09:44] #376 closed, assigned to nobody

[2018-07-19 09:49] luceos commented on #448
@f0reclone thanks for your due diligence, this helped a lot!

[2018-07-19 09:50] #448 closed, assigned to nobody

[2018-07-19 09:50] luceos commented on #359
Much has changed since 5.0. If anyone can confirm this is still an issue, I'll reopen.

[2018-07-19 09:50] #359 closed, assigned to nobody

[2018-07-19 09:51] luceos commented on #496
Stale.

[2018-07-19 09:51] #496 closed, assigned to nobody

[2018-07-19 09:51] #328 closed, assigned to nobody

[2018-07-19 09:51] #401 closed, assigned to nobody

[2018-07-19 09:51] luceos commented on #401
Not pursuing.

[2018-07-19 09:52] #527 closed, assigned to nobody

[2018-07-19 09:52] luceos commented on #446
@bkintanar please move, 😍

[2018-07-19 09:52] #446 closed, assigned to nobody

[2018-07-19 09:53] luceos commented on #534
merged

[2018-07-19 09:53] #534 closed, assigned to nobody

[2018-07-19 09:54] luceos commented on #530
Please supply information required or ask for a paid code review.

[2018-07-19 09:54] #530 closed, assigned to nobody

[2018-07-19 09:56] luceos commented on #546
@fletch3555 we tried this on discord and the output seemed to be without quotes.

I'm pretty confused as well..

[2018-07-19 11:35] on3nx commented on #549
@luceos
I'm not quite understand your step 2 and 3 - I couldn't get it work as you advise...

however, I did manage to get a workaround, so what i did is:

1. I run:
[code]

this command will make new tenant with new database and new user

2. I delete the database and the user of its DB
3. I change the hostname in websites DB to bytedb
4. I create bytedb user with pass that the package try to acce

[2018-07-19 11:46] luceos commented on #549
The code snippet you provided is valid. However you want to identify it with `bytedb` you can set the `uuid` on the `Website` model before sending it to the `create` method of the Website Repository to override that identifier:

[code]

You should now be able to visit `domain.com` depending on how your own environment is set up. In case you rely on the vhosts being generated, the files should exis

[2018-07-19 13:50] on3nx commented on #549
@luceos
I did try that before, for some reason, it show me some strange result like:

when i do:

[code]

I guess there is something wrong there

[2018-07-19 14:55] luceos commented on #549
That's a bug!

[2018-07-19 15:05] luceos commented on #549
@on3nx please installed 5.2.6

[2018-07-19 15:13] on3nx commented on #549
Thanks @luceos, I may be able to try tomorrow - it's late here :)

[2018-07-19 20:02] Nowi5 commented on #446
See https://github.com/tenancy/docs/pull/49

[2018-07-19 20:03] Marko298 commented on #401
I have a small fork where I added support for lumen but I haven`t tested it fully (main features works fine) https://github.com/Marko298/multi-tenant

[2018-07-20 09:39] johannesschobel opened #551 "[Question] Use Package with API Style Application"
Dear @luceos and community,

before starting of with my "how to" and "best practice" questions, let me start saying "thank you" for this awesome and very inspiring piece of code! :+1:

I am currently evaluating this framework (i know that there is a spiritual successor "right around the corner") to be used in a project starting in about 3 months.. However, i would like to ask some questions regard

[2018-07-20 10:59] luceos commented on #551
# URI

No it does not. It uses Hostnames (any hostname) connected to a Website (tenant). Hostnames identified from the request are auto resolved to a tenant which sets up the environment for multi tenancy.

You can use `api.tenant.your.app` and `tenant.your.app` for instance.

# Laravel passport

This should not be an issue, you have to decide where what lives and from then on most coding logic re

[2018-07-20 11:51] johannesschobel commented on #551
Hi there...
wow, thank you very much for this in-depth answers on my issues.. This really helps..
Yeah, my application structure is similar to the one in the linked article.. As far as i understood, I have to develop my own "collect all required migration files from my packages" logic, right?

i really like the idea of this package (and most likely the one from tenancy as well).. I think, i really

[2018-07-20 11:53] luceos commented on #551
Yes.

Good luck!

[2018-07-20 11:53] #551 closed, assigned to nobody

[2018-07-20 20:26] eusouodaniel opened #553 "Custom domain (without subdomain)"
I would like to know how to use this for custom domains, ie the client can point a domain in my system.

[2018-07-20 20:31] luceos commented on #553
Add a hostname with the custom domain as FQDN and have the client point the DNS to your app for that domain.

Hope that helps 👍

[2018-07-20 20:31] #553 closed, assigned to nobody

[2018-07-21 07:44] on3nx commented on #549
@luceos Perfect! and Thanks!
this solved the issue.

just to clarify,,, so understanding this, it means:

after new install, I have to init tenant for my main domain.com? because otherwise it will throw 404
I didn't encounter this in 5.1 before...

just to share, so after installing your package, I need to run below to make my main domain.com works:

    // This is Artisan Command

        $connec

[2018-07-21 07:44] #549 closed, assigned to nobody

[2018-07-21 18:54] luceos commented on #549
If you keep abort-without-hostname enabled and tenancy does not find a hostname match it will 404. You can circumvent this by adding the hostname of any domain you need into the table, you don't need to connect it to a website/tenant.

[2018-07-24 06:39] vireshtripathi opened #554 "[Hyn\Tenancy\Contracts\CurrentHostname] is not instantiable."
I have install Tenancy and getting error.

    protected function notInstantiable($concrete)
    {
        if (! empty($this->buildStack)) {
            $previous = implode(', ', $this->buildStack);

            $message = "Target [$concrete] is not instantiable while building [$previous].";
        } else {
            $message = "Target [$concrete] is not instantiable.";
        }

        throw

[2018-07-24 14:16] Marko298 opened #555 "Multiple database requests"
__Description__

Problem is located in TenancyProvider. Environment class is registered only in boot phase which causes next problem: when other service providers try to boot, they instantiate Environment class, but DI still does not know that Environment is a singleton and successfully creates instances of Environment. This well saw when you log every database request:
select * from information_s

[2018-07-25 07:39] luceos commented on #554
Please use the issue template, there are questions we'd like you to answer so that we can help you solve your problem in a time effective way (for you and us). This includes your config, the full backtrace from `/storage/logs/laravel.log` and much more.

Feel free to reopen when provided.

[2018-07-25 07:39] #554 closed, assigned to nobody

[2018-07-25 07:41] luceos commented on #555
You can circumvent this issue by adding the TenancyProvider to your `config/app.php` pretty high up in the `providers` array.

It might make sense to request manually adding the provider during installation.

[2018-07-25 07:44] Marko298 commented on #555
Ok, I will try. I have a solution, currently only one unit test is crashing. When I finish with it, I will send pull commit
On Jul 25, 2018, 10:41 +0300, Daniël Klabbers <notifications@github.com>, wrote:

[2018-07-25 08:57] luceos commented on #555
If I'm not mistaken your solution still will not bind the Environment as singleton; it will prevent booting it multiple times yes, but it will not fix the underlying issue.

As suggested what would be required is adding the TenancyProvider to the config/app.php in the `providers` array and disable auto discovery in the package al together.

[2018-07-25 09:31] Marko298 commented on #555
I tried to move TenancyProvider and it caused even more problems
select * from information_schema.tables where table_schema = ? and table_name = ? connection: system time: 3.22ms
select * from `hostnames` where `fqdn` = ? and `hostnames`.`deleted_at` is null limit 1 connection: system time: 0.54ms
select * from information_schema.tables where table_schema = ? and table_name = ? connection: system

[2018-07-25 10:13] aminalali8 commented on #418
any solution for this ?

[2018-07-25 11:01] luceos commented on #418
@aminalali8 please create an issue of your own filling out all required information.

The error that the system connection is not configured relates to the requirement to set up a connection called `system` inside your `config/database.php`.

[2018-07-25 11:07] luceos commented on #555
Can you clarify what you did, so we can have a chance at identifying the underlying cause?

[2018-07-25 11:26] Marko298 commented on #555
Just moved TenancyProvider to the top. Auto discover was disabled. Issue
with multiple identification calls. I am working on fixing it.

On Wed, 25 Jul 2018, 14:07 Daniël Klabbers, <notifications@github.com>
wrote:

[2018-07-25 12:06] Marko298 commented on #555
I figured out that problem appears when there is no such hostname. When hostname can`t be identified it returns null, laravel DI thinks that there is no instance of CurrentHostname and tries to resolve it every time when you try to get an instance of CurrentHostname

[2018-07-25 20:09] johannesschobel opened #557 "[Question] Custom Database Connections for Tenants"
Dear @luceos and community,

i recently toyed around with hyn, and i was able to get it to work - even though i have a quite complex application architecture (e.g., see another issue posted). That was a really (!) awesome experience 👍

However, i have an additional question - i was not able to find respective information on the docs and i am not sure if this is even possible:

Imagine the followin

[2018-07-25 20:29] luceos commented on #557
If you plan to automate interaction with the website of your hosting provider I can only recommend against it. What if the site is unreachable or they block your requests due to thinking they are spam. If they have an API that is much better though.

The easiest, and very cheap, way of running tenancy is using your own VM. If you don't want to have the burden of server set up; I can recommend http

[2018-07-25 20:34] johannesschobel commented on #557
wow, that was a fast resposne 😆

sorry, i may have not provided enough information. I don't want to "automatically" create a new database on my hoster - i will do this manually. So there should / will not be a "create account and immediately start working" setup (at least not for now, haha)..

Why shouldn't i use such an approach? Can you provide some details in order to reproduce your though-proc

[2018-07-25 20:59] luceos commented on #557
Aha. The process is possible in both packages. Let's stick to the stable one though.

You can configure your own database configuration whenever tenancy needs it. For that to work you can listen to a specific event ; hyn tenancy events database configuration loading, sorry on mobile :v:

As to my thought process. This package was developed to give you as much automation as possible, hence the vhos

[2018-07-25 22:02] hmamman opened #558 "Namespace issue with tenants.php route file"
I have configured this package successful. However, i run into this problem

[code]

whenever i used tenants.php file. Here is its content

[code]

When i used the full namespace `App\Http\Controllers\Auth...` i got the following error
[code]

Here is the content of login.blade.php

[code]

[2018-07-26 05:53] johannesschobel commented on #557
haha, that is  a good example..
however, i would like to have some kind of "the admin can move the tenant ot another server" functionality..

For example, `TenantA` may be a "premium" user that should get a more "powerful" (i.e., less users per server) machine.. So i would like to move his database from `ip-address-of-slow-server` to `ip-address-of-powerful-server`. This way, however, the admin mu

[2018-07-26 08:29] luceos commented on #557
- Migrating to another server; as the code base doesn't change (and you can rely on block storage for most other files) we only have to offer a way to reconfigure another connection that is being seen as the connection on which to create users and databases. This feature exists under the name ["managing connection"](https://laravel-tenancy.com/docs/hyn/5.2/repositories#managing-connection). The de

[2018-07-26 08:39] luceos commented on #558
You should use the full namespace or add the namespace inside the group declaration. So the issue to resolve here is the undefined value `$errors` which seems to be unavailable in the current view scope.

The tenants.php route file is a raw include, it has no middleware (groups) applied. What you probably need to do is add the middleware group `web` which will automatically add `Illuminate\View\Mi

[2018-07-26 10:10] ametad opened #559 "Functionality to restore soft deleted Website and Hostname"
__Description of your feature__

After soft deleting a Hostname or Website, it would be nice to be able to restore them.

---

__Proposed behavior__

Restoring a Website would remove 'deleted_at' in the database. If necessary tenant directory-, tenant database- and virtualhost file(s) are recreated.

The same goes for Hostname.

__Current behavior__

Website and Hostname can be soft deleted, also

[2018-07-27 07:09] johannesschobel commented on #557
Hey @luceos ,
sorry for the delay, but at the moment I am quite busy with finishing my PhD thesis :joy:

If I would use the `managed by database connection` feature, however, I would need to specify a new `connection` in the `config/database.php` configuration file, right? So, basically, for each tenant, i would need to add such a block?!

Further, if i want to store the db-connection information

[2018-07-27 10:28] lucadello91 opened #560 "Automatic tenant db switch"
Hi,

I've installed hyn/multi-tenant (v 5.2) on fresh laravel 5.6

I notice that the database connection is not switched automatically to `tenant` when an hostname is recognized.

I need to use both `system` and `tenant` connections.

I haven't the possibility to use Trais within models provided by other thid-party packages.

My solution is to implement a `TenantServiceProvider` that switch on `te

[2018-07-27 10:33] Marko298 commented on #555
Please take a look at this commit. It fixes all my problems

[2018-07-27 10:58] Marko298 commented on #555
I've added a couple commits, maybe some of them will be useful to you

[2018-07-27 11:22] steveerg commented on #560
Hi, i've also noticed the same issue and resolved it partially with the tutorial "enforceTenant" middleware on Auth::roles().
However, I've also taken for granted that the Hyn package would perform this switch for me, but not.

This is a little lack of clearness within the package docs (or i don't understand the docs at all) or something is broken or not working as expected?

Thank you

[2018-07-28 08:39] luceos commented on #560
We don't promote using models which are both for the tenant and system. Because that makes your code harder to understand.

We do allow overriding third party package models using the override functionality, see tenancy.php db, force-tenant-connection-of-models for instance.

Functionality like you propose makes sense inside a Middleware. Perhaps we need to add that.

[2018-07-28 08:41] luceos commented on #555
Looking at your code I notice the tenant is only being set when anything was identified. It should always set the tenant even when it's null...

[2018-07-28 08:44] Marko298 commented on #555
Can you give me a more info what you’re talking about? File and line for example

[2018-07-29 16:14] MohameedElsaeid opened #561 "Need To make new package but i cant understand this error"

[2018-07-30 05:49] aaronfahey opened #562 "FreshCommand using Website model instead of the contract"
__Description__

In the file `hyn/multi-tenant/src/Database/Console/Migrations/FreshCommand.php` the `Hyn\Tenancy\Models\Website` model is used. This should be the `Hyn\Tenancy\Contracts\Website` contract instead.

I'll see if I can find any other occurrences of this.
__Information__

- hyn/multi-tenant version: 5.2
- laravel version: 5.6.29

[2018-07-30 05:59] aaronfahey opened #563 "[Feature Request] Interchangeable models"
__Description of your feature__

Currently, the package allows the use of custom models, provided you implement the correct contracts. However, we are still currently bound to the use of the `hostnames` table, and `websites` table, this generally would suit the majority of the package's users, however it would be really cool if these were able to be configurable.

 In my situation, I'd like to ren

[2018-07-30 08:53] lucadello91 commented on #560
Thanks for your explanation

I'll try to fix my models (i thinks is only one at the end, `User`, that exist both on system and tenant connections)

I'll try to split it into two differents models using it into two different auth systems. I've never do it before but I don't think that is complicated (I hope)

For the third party packages i will use tenancy config (I had forgotten that configuration

[2018-07-30 09:00] #562 closed, assigned to nobody

[2018-07-30 09:03] luceos commented on #557
If you need a separate database __server__ per tenant then you need a separate database connection set up per tenant. You can however do that during runtime as well! A possible location would be the `ConfigurationLoading` event, so that the system connection is set up before the Tenant connection..

That would be possible. You can easily extend the implementation and configure it in the tenancy.ph

[2018-07-30 09:04] luceos commented on #563
If you explain where the tables are hardcoded I'll make sure to get those out. Hardcoded tables was never planned. They might have snuck in.

[2018-07-30 09:05] luceos commented on #561
Without posting the error there is absolutely nothing I can do. Sadly I haven't adopted the skill to read server logs without authorisation.

Feel free to reopen once you posted the actual error.

[2018-07-30 09:05] #561 closed, assigned to nobody

[2018-07-30 10:31] aaronfahey commented on #563
@luceos sorry should have provided that information initially.

I have only found instances of hardcoded tables in the validator classes, see:

https://github.com/hyn/multi-tenant/blob/c7e36198d5bec6b016c5d0c8a54f547a681b0314/src/Validators/HostnameValidator.php#L22

https://github.com/hyn/multi-tenant/blob/c7e36198d5bec6b016c5d0c8a54f547a681b0314/src/Validators/HostnameValidator.php#L26

https://

[2018-07-30 16:49] oluomotoso opened #565 "Unauthorized problems for multitenancy api"
__Description__
I have been working on Api with this very fantastic package and its been good. Using Tymondesigns/jwt, I have been able to register and get access token for the tenants. However, on attaching the token, I get 401 unathorized
..

---

__Actual behavior__

..

__Expected behavior__

..

---
__Information__

- hyn/multi-tenant version:5.2
- laravel version: 5.6
- database driver and v

[2018-07-30 17:46] DennisOng opened #566 "Package events not firing / not being captured"
__Description__

Seems like this package's events are not firing for me, or rather, I'm unsuccessful in capturing those events.

---

__Actual behavior__

Events not captured

__Expected behavior__

Events captured

---
__Information__

- hyn/multi-tenant version: 5.2.6
- laravel version: 5.6.29
- database driver and version: mysql
- php version: 7.2

---

__tenancy.php config__

[code]

---

__Re

[2018-07-30 19:40] fletch3555 commented on #563
@MrFahey those make sense, as the validators are specific to those models.  Perhaps the issue is that the validator is still being applied to your custom model

[2018-07-30 19:42] fletch3555 commented on #565
Without code, config, or an error stacktrace (doesn't seem applicable to your issue), I'm not sure there's anything we'll be able to suggest.

[2018-07-30 21:42] oluomotoso commented on #565
Fixed by changing auth in protected middleware under Http/kernel.php to Tymon/Jwt authenticate class

[2018-07-30 21:42] #565 closed, assigned to nobody

[2018-07-30 22:01] aaronfahey commented on #563
@fletch3555 good point, perhaps we could somehow allow the ability to specify a validator for a given model?

[2018-07-31 08:34] luceos commented on #563
I like that idea; perhaps a method on the model that returns the validator, we could add that to the contract too..

[2018-07-31 08:36] luceos commented on #566
Just a wild guess but:

[code]

If I'm not mistaken FQCN in strings are prefixed with a `\`. Can you try:

[code]

[2018-07-31 08:41] luceos commented on #555
We should push the bindings of CurrentHostname and Tenant into the provider. I think that's all that is needed.

[2018-07-31 08:46] Marko298 commented on #555
Yup, I did that and added couple optimizations (they fit perfectly my project, but maybe usefull for others). And please make middleware not registering when they are useless, bacause they have influence on performance (also fills call stack)
On Jul 31, 2018, 11:41 +0300, Daniël Klabbers <notifications@github.com>, wrote:

[2018-07-31 11:27] forlomax commented on #297
fletch3555 how did you resolve this. i have done  'abort-without-identified-hostname' => false,
but still get the error Target [Hyn\Tenancy\Contracts\CurrentHostname] is not instantiable.

[2018-07-31 11:53] fletch3555 commented on #297
@forlomax, that's unrelated to this issue. Please open a new one with all relevant information

[2018-07-31 12:34] engineerpros opened #567 "Schedule queue and avoid overlapping of job"
Lets say we have 2 Jobs
- Job1
- Job2

We have 2 tenants:
- TenantA
- TenantB

We have 2 process running using supervisor
- Laravel_Worker_1
- Laravel_Worker_2

We are using queue driver as datatabase

Now, schedule the queues for tenants, upto this it works fine. But the concern is that we need to avoid overlapping of queues for same jobs for same tenant.

Ex:
Laravel_Worker_1 is executing JobA f

[2018-07-31 13:19] luceos commented on #297
The installation command was removed, this issue is no longer valid. For any further question open a new issue and provide all relevant information.

[2018-07-31 13:21] luceos commented on #567
What you are looking for is [Job Chaining](https://laravel.com/docs/5.6/queues#job-chaining), this feature is available in Laravel. This package adds multi tenancy support, using job chaining with tenancy should add any complications.

[2018-07-31 13:21] #567 closed, assigned to nobody

[2018-07-31 14:58] xyrintech commented on #567
Thanks for your response.
I am not looking for Job Chaining.
Rather I want to have something like a queue to handle one tenant with respect to a job.
Ex. if a JobA with Tenant1 is in queue and in progress then another queue worker shall not start the same JobA for same tenant Tenant!.

[2018-07-31 18:19] luceos commented on #567
@xyrintech as long as you run one queue worker there won't be any overlap. You can create queues per tenant if you want, but then you would also need to set up a queue worker per tenant ..

[2018-07-31 18:36] DennisOng commented on #566
Unfortunately tried that, but still no luck, thanks though!

[2018-07-31 19:37] athiffau opened #568 "[Feature Request] Console command tenancy:run"
__Description of your feature__

Version 2.x of Hyn/multi-tenant had a command called _multi-tenant:run_  which could be used to run any artisan command on a specific tenant.

One usage scenario is for confirming tenant specific routes with the artisan _route:list_ command.

---

__Proposed behavior__

For version 5.x of Hyn\Multi-tenant I suggest the command tenancy:run having the following signa

[2018-07-31 20:32] luceos commented on #566
Can you post your `.env` values (except database information).

[2018-07-31 22:25] DennisOng commented on #566
Sure, they are pretty much the default:

TENANCY_DEFAULT_HOSTNAME=demo.api.whispli.test

TENANCY_CONNECTION=system
TENANCY_HOST=127.0.0.1
TENANCY_PORT=3306
TENANCY_DATABASE=xxx
TENANCY_USERNAME=xxx
TENANCY_PASSWORD=xxx

[2018-08-01 05:12] DennisOng commented on #566
Hey @luceos I seem to have found the solution for my case:

If I disable package auto-discovery for this package, and manually register Hyn\Tenancy\Providers\TenancyProvider::class in config/app.php **after the EventServiceProvider**
then it works

Might be a bug with the auto-discovery here

[2018-08-01 11:06] luceos commented on #566
This.. is extremely confusing! 😂

[2018-08-01 11:41] RushabhJoshi commented on #523
Let me describe to you my problem again
I am in `admin.localhost` website
Just created a new admin user for `xyz.localhost` website
here I am sending a mail for password reset now here
password reset show the reset link for `admin.localhost` not for `xyz.localhost`

any hack for this?

FYI I have update package to 5.2

[2018-08-01 11:50] luceos commented on #523
@RushabhJoshi send the password reset inside a TenantAwareJob and use the tenant setter to force it to the new tenant; see https://laravel-tenancy.com/docs/hyn/5.2/queues

[2018-08-01 15:34] ametad commented on #566
Hi @DennisOng and @luceos ,

Thankfully I am not the only one with this kind of problem. For some reason the events fired by this package are not being captured in the `App\Providers\EventServiceProvider`. Not out-of-the-box anyways.

When I discover more I report back. Or perhaps I read an answer here in time... ^_^

Success!

[2018-08-01 22:59] eusouodaniel opened #569 "Multiple domains"
With this bundle is it possible to instantiate multiple domains?

[2018-08-01 23:01] bkintanar commented on #569
Yes.

--
Bertrand Kintanar
bertrand.kintanar@gmail.com
On 2 Aug 2018, 06:59 +0800, Daniel Silva <notifications@github.com>, wrote:

[2018-08-01 23:03] eusouodaniel commented on #569
And how would that be? I have an interface for this, would I save multiple domains in fqdn?

[2018-08-01 23:18] bkintanar commented on #569
Yes. Just save multiple domains in fqdn.

--
Bertrand Kintanar
bertrand.kintanar@gmail.com
On 2 Aug 2018, 07:03 +0800, Daniel Silva <notifications@github.com>, wrote:

[2018-08-02 07:20] RushabhJoshi commented on #523
Everything worked as expected but still password reset link has a domain name `admin.localhost`

PS
I am testing this thing in QUEUE_DRIVER=sync

[2018-08-02 07:52] luceos commented on #523
Did you set `tenancy.hostname.update-app-url` to true?

[2018-08-02 08:52] ametad commented on #566
I am sorry I was not correct in my last post: the Hyn\\*\Events are fired and can be listened for in `\App\Providers\EventServiceProvider`.

It is only confusing in what order, when is what fired!?

This is what I observe:
in `App\Providers\EventServiceProvider`

[code]
Two urls are pointing to the webserver. One url is defined as Hostname for a Website, the other url is not defined and so will no

[2018-08-02 10:49] ametad commented on #566
Further more, var_dumping from `\Illuminate\Events\Dispatcher` in the fire() method, the `Hyn\Tenancy` events are showing up correctly!

So this must have something to do with the order in which all things are flowing...

[2018-08-02 11:16] luceos commented on #566
I looked at this last night but found no cause yet..

[2018-08-02 11:31] RushabhJoshi commented on #523
Yes, it still shows `http://admin.localhost`
maybe it does not work for sync drive of the queue

[2018-08-02 12:05] ametad commented on #566
Do you also experience the behavior where the events are not 'heared' in `App\Providers\EventServiceProvider`?

[2018-08-03 05:06] mintunitish commented on #568
@luceos Please look into the PR and suggest changes if required!

[2018-08-03 15:32] DeveloperOnCall commented on #568
@mintunitish I too need this (asap) so I merged your code into my versions - problem is, I get errors when using it.

 **ReflectionException  : Method Hyn\Tenancy\Commands\RunCommand::handle() does not exist**

So I change the method fire() to handle() and am presented with this error:

**Call to undefined method Hyn\Tenancy\Repositories\WebsiteRepository::all()**

I then tried to adapt the code t

[2018-08-03 15:51] athiffau commented on #568
I tried the proposed PR and it does not "fully" work.  I had tried to port the 2.x command over as well and pretty much got the same result.

The issue I have is that some routes are missing when running `route:list` via this command.   I am comparing Laravel 5.6 with Hyn 5.1 to Laravel 5.3 with Hyn 2.x and not sure if this is due to Laravel changes.  The problem, I believe, is that with Laravel 5

[2018-08-03 16:05] athiffau commented on #568
@DeveloperOnCall my hack to make the PR work was:

in RunCommand.php function getWebsitesFromOption():
- change `queryBuilder()` to `query()`

**temporary source hack**
in WebsiteRepository.php add:
[code]

**OR**
in RunCommand.php
- add `use Hyn\Tenancy\Models\Website;`
- change function getWebsitesFromOption():
  `return $repository->all();` to `return Website::all();`

[2018-08-03 16:20] mintunitish commented on #568
@athiffau Is your hack working properly?? I am a little bit confused why the PR isn't working. I will incorporate your changes and will see where it goes. Thanks for the update! My bad for not incorporating tests in the PR.

[2018-08-03 17:01] mintunitish commented on #568
I have incorporated the hack that was mention @athiffau . However I am running blind about how to incorporate tests for all the commands that Laravel has for the tenant.

[2018-08-03 17:37] athiffau commented on #568
@mintunitish the hack is working as per my initial comment: not all routes are returned with the command `route:list`.  The hack only address issues preventing the PR to execute as intended.

Regarding tests; I'm not sure how to proceed either.

Glad to continue testing as the PR is WIP.  Also glad to contribute in developing tests if some we can come up with some sort of strategy/spec

[2018-08-03 17:52] mintunitish commented on #568
Brainstorming on the tests. @luceos any tips?? 🤔

[2018-08-05 14:58] aBuder opened #571 "Error: Base table or view not found"
Hi,

I get the following error if I logged in. Base table or view not found, I don't know why because the model is set to      use UsesTenantConnection; Tenant would successful created and also category table would be created in tenant.

![bildschirmfoto 2018-08-05 um 16 55 34](https://user-images.githubusercontent.com/1265139/43687130-77f4fa90-98d0-11e8-9308-683269f84a1e.png)

[code]

Here is the

[2018-08-05 18:37] aBuder commented on #571
I found the problem. In system database was the fqdn not set correct.

[2018-08-05 18:37] #571 closed, assigned to nobody

[2018-08-06 06:07] luceos commented on #566
@ametad can you compare your tenancy.php with the one from @DennisOng to check for overlap? So that I can see what  you both configured to get at this state?

[2018-08-06 07:32] luceos commented on #568
@mintunitish I'll take a look at the PR, thank you both for picking this up!

[2018-08-06 07:36] ametad commented on #566
Yes of course, here it is:

[code]

Most of config/tenancy.php is the same, the things that are different in my file:

[code]

To be thorough: `website.cache` and `hostname.cache` are both false.

[2018-08-06 07:41] ametad commented on #566
~~~I was thinking, because the events does only **not** show up (at least in the `EventServiceProvider`) in the early identified hostnames, perhaps the problem is te be found somewhere here(?):~~~

[code]

[code]

[2018-08-06 12:24] RushabhJoshi commented on #523
@luceos any update on this issue?

[2018-08-06 19:09] luceos commented on #523
Have you tried another queue driver?

[2018-08-07 06:13] RushabhJoshi commented on #523
Yes, I tried with database driver after you asked

and the result changed but not expected.
now the link address is `localhost` instead of `admin.localhost`

maybe I am missing something in a config

**tenancy.php**
[code]

**webserver.php**
[code]
**queue.php**
[code]

[2018-08-07 07:39] luceos commented on #523
Can you dd `config('app.url')` inside your job when fired not as sync?

[2018-08-07 11:33] Nowi5 opened #572 "Question: Multiple Modules & Migrations"
Hi all,

I have a questions (support request), where do I need to start the enhance the migration command.
I would like to use caffeinated/modules which allow to have multiple migrations sources, this I have to split into normal and tenant related, for sure. But how do I extend the existing migrate command, so that he is also searching for migrations in the subfolders of modules /app/Modules/*/dat

[2018-08-07 11:43] luceos commented on #572
The migrate command provided by this package can take the `realpath` option to point to specific directories. It cannot take multiple of those. The realpath option was added to Laravel itself.

If that doesn't help, I guess the only solution would be to write your own command that provides this functionality.

[2018-08-07 12:32] endrureza opened #573 "Pass Data from System to Tenant"
I have a case when there is a time system will generate tenant and need to pass some data into that just created tenant. Let's say, customer information like email in system being passed as user authentication data for tenant.

What kind of solution that will work for such thing ? i mean, perhaps there will be more cases when system will pass data to tenant.

[2018-08-07 12:35] luceos commented on #573
Can you explain the flow, either from the perspective of the user or the perspective from the system that describes what you are trying to implement. Although I understand the raw request, I am having a hard time offering suggestions as your explanation is rather vague.

[2018-08-07 12:38] endrureza commented on #573
Let me show you a case by procedure

1. Customer registers by inputting information into system
2. System gives invoice to customer to pay for that registration
3. Customer pays the bill
4. System will then generate new tenant with the customer information (in this case: email) as username for authentication in their new tenant

That's the main point of procedure @luceos

[2018-08-07 12:49] luceos commented on #573
Once the system receives the payment and marks the invoice payed, you can dispatch a job from the system with the email, stored in a system table somewhere (signups, users, invoice). If you dispatch the Job by setting the tenant correctly you can run queries inside the Job on the Tenant database..

Hope that makes sense 🙏

[2018-08-07 12:56] endrureza commented on #573
alright, i'm going try that. I will close the comment, if that works. thanks mister @luceos

[2018-08-08 09:42] RushabhJoshi commented on #523
yes, I did and its `http://admin.localhost`

[2018-08-08 16:55] fletch3555 commented on #569
@eusouodaniel did you get this working?

In short, you just need to create multiple `Hostname` records, all connected to the same `Website` (or whatever your tenant model is) record.

If you get it working, please close this issue or let us know so we can close it for you.  If you have further issues, please let us know so we can continue to help.

[2018-08-08 19:24] luceos opened #574 "Allow APP_KEY rotation"
By @bkintanar ;)

Relates to https://t.co/XdhgIkbu0v

[2018-08-09 05:37] luceos commented on #569
Awaiting response, reopen if needed.

[2018-08-09 05:37] #569 closed, assigned to nobody

[2018-08-09 05:52] mintunitish commented on #574
There should be some mechanism that changes the APP_KEY automatically in some intervals.

[2018-08-09 06:03] luceos commented on #574
I think that having key rotation is very expensive with many tenants. In addition there are so many risks involved; eg jobs/crons/pages not loading due to the credentials being invalid. Something like this is best run during a maintenance window on larger platforms.

My suggestion is to write a `tenancy:key:rotate` command that will allow the key to be regenerated, and stored only after all tenant

[2018-08-09 07:48] bkintanar commented on #574
I'll try to have a whack at it.

[2018-08-09 14:00] fletch3555 commented on #574
This seems like such a one-off case... The issue is "resolved" by laravel disabling serialization.  The only reason to change keys is if you know it's been compromised.

Can we simply provide a method that accepts both old and new keys and handles it.  Then let the user create the command if that's how they want to do it, perhaps with an example in the docs.

[2018-08-09 15:45] mintunitish commented on #574
Agree with the idea of providing a command or some sort of method to do that. However it's being fixed in Laravel v5.6.30 so that's done!

[2018-08-09 18:41] Nowi5 commented on #440
Yes, this need to be changed indeed. Same issue.

[2018-08-09 18:45] Nowi5 opened #575 "Question: Maintance Mode not for admin area."
Hi,

I would like to allow the tenant admin to de/activate the maintenance mode. The issue is that as soon he activates, he can't deactivate due to the fact that the admin interface isn't reachable, too. How can I extend / overwrite your Middleware/HostnameActions.php?

Thanks for your support.

[2018-08-11 10:08] Plytas opened #576 "Ability to make 3rd party package jobs tenant aware"
__Description of your feature__

I'm experimenting with https://github.com/spatie/laravel-medialibrary and they provide an option to generate image conversions through a queue worker. Unfortunately, there is no way to make their jobs tenant aware.

[2018-08-11 11:01] #573 closed, assigned to nobody

[2018-08-12 04:56] howlowck commented on #378
I might've found the issue.. if someone (like me or anyone following [this blog post](https://medium.com/@ashokgelal/a-full-featured-multi-tenant-app-with-laravel-part-1-4049a3cc229d)) uses `app(Environment::class)->hostname($hostname)` to switch the tenant, the connection is never set because `ConnectsTenants` is not subscribing to `Events\Hostnames\Switched`, the event that `hostname` fires.

--

[2018-08-12 16:22] fletch3555 commented on #378
That is a change between 5.1 and 5.2, and is mentioned in the upgrade guide in the docs.  `Environment->hostname` no longer sets the tenant, for exactly the reason you describe.  This was a conscious decision, so no change/PR is necessary.

[2018-08-12 17:10] aBuder opened #578 "Error if create website"
Hi, I get an error if I create an new website.

![bildschirmfoto 2018-08-12 um 19 07 54](https://user-images.githubusercontent.com/1265139/44004458-439a4fd2-9e63-11e8-818a-a99a94b0e498.png)

[code]

[2018-08-12 22:33] fletch3555 commented on #578
Is this actual code, or just various attempts you've made? Because this looks weird and unnecessary.
[code]

----

This is the old (5.1) way of identifying tenants.  5.2 no longer uses this, so while it will change the identified hostname, it's effectively a useless call.  Also, not sure what the 2nd call to `hostname()` is intended for, since it will only return the currently identified hostname,

[2018-08-13 11:32] luceos commented on #378
I'm locking this issue as it starts to off road into different versions and different topics. I'd prefer you only comment to an existing issue if you're sure this is related to you and your current hyn package version.

[2018-08-13 11:36] luceos commented on #576
See https://github.com/spatie/laravel-medialibrary/pull/377#issuecomment-412487156

[2018-08-13 11:38] Plytas commented on #576
This can be closed as my specific issue will be solved. Though I'm wondering if it's actually possible to somehow intercept jobs and add tenant information to them.

[2018-08-13 11:39] luceos commented on #575
There are several solutions thinkable:

1. Extend the HostnameActions shipped with the package and enable it in your app (disable it in the tenancy.php). Then override the `maintenance` method to do whatever you want.
2. Use another property on the Hostname/Website to identify maintenance mode and built your own implementation.

[2018-08-13 11:39] luceos commented on #574
@mintunitish link?

[2018-08-13 11:40] luceos commented on #440
@Nowi5 this was fixed with the Hostname Listener, see the commit linked:

https://github.com/hyn/multi-tenant/commit/786b12b4323c4e67c99c2207a6fff453dd5ce766

[2018-08-13 11:41] luceos commented on #576
I'm leaving this open to increase integration with other packages. I'm not sure it's possible, but it's worth a shot.

[2018-08-13 11:59] Nowi5 commented on #575
Thank you. You are right, the second seems to be the best idea. Due to performance, can I deactivate your middleware easily so that they do not need to check the DB?

[2018-08-13 13:47] drbyte commented on #574
I'm pleased to see @luceos taking this seriously. Adding `tenancy:key:rotate` or equivalent is a great idea.

I disagree with one of the comments above:

This Laravel 5.6.30 patch due to a discovered risk is a perfect example of a reason to rotate keys, whether compromised or not.

While I realize many of us here aren't intending to submit our apps for PA DSS or PCI DSS certification, implementing

[2018-08-13 15:40] fletch3555 commented on #574
@drbyte, I think you've confused my comment and inadvertently argued the same point.

That Laravel patch has been announced as exactly what my comment stated.  It's only needed if your key has been compromised.  However, there are many ways it could've been compromised, including it being known by former employees, regardless of malicious intent.

All my comment suggested is that this package does

[2018-08-13 17:15] drbyte commented on #574
@fletch3555 yes, it appears we are indeed saying the same thing.
While key-rotation isn't urgent if there's not been any (known) compromise, it should still be something that's made possible, and if this package depends on keys associated with its stored data then it should provide a means of rotating them in a way that maintains the integrity of the data managed by the package.

Thumbs-up to your

[2018-08-14 07:46] luceos commented on #575
You can't disable/replace the complete Middleware; I'd gladly accept a PR for it though!

[2018-08-14 13:23] ametad commented on #566
@DennisOng Hope this helps you:

I was so blindly staring at the **boot()** method, but I think registering listeners in the **register()** method of a Provider would do the trick.

[code]
[code]

I think perhaps this is not te preferred way of Laravel reading the documentation.... But perhaps this is okay after all.

Or can anyone point me in a better/right direction?

[2018-08-15 09:08] Nowi5 commented on #575
What should be the goal of the PR?
1. Set a contract for the middleware class and allow to replace the middleware class by config?
2. Allow a whitelist of maintainance mode via config?
3. Allow via config the deactivation of "under_maintenance_since" function?

Without a PR I would just ignore this field, extend the model by my own field and attach a own middleware in addition to the existing one.

[2018-08-15 09:24] luceos commented on #575
Check this PR: https://github.com/hyn/multi-tenant/pull/579

[2018-08-15 11:50] Nowi5 commented on #575
This was quick. So means more or less Option 1, we can replace the middleware. Thank you :-)

[2018-08-15 12:08] luceos commented on #575
The PR still needs to be modified and merged. After which a new version has to be released. I'll do so as soon as possible.

[2018-08-16 22:03] Nowi5 commented on #259
Just use with a leading slash: $directory = app(\Hyn\Tenancy\Website\Directory::class);
The documentation need to be updated as well. https://laravel-tenancy.com/docs/hyn/5.2/filesystem

In addition; how do I get the path from the current tenant folder?

[2018-08-16 22:06] Nowi5 commented on #290
See https://laravel-tenancy.com/docs/hyn/5.2/validation

[2018-08-16 22:26] Nowi5 opened #580 "Invalid route action: [App\Http\Controllers\Hyn\Tenancy\Controllers\MediaController]."
Following your documentation https://laravel-tenancy.com/docs/hyn/5.2/structure, copy the coding to my web route:

[code]

Beside the fact that I would recommend system links instead of this controller for performance reason, this throw an error:

This does not show an error, maybe you like to update your documentation?

[code]

---
__Information__
- hyn/multi-tenant version:
- laravel version:5.2

[2018-08-17 00:34] xmarkclx commented on #451
Is there a way to get the tenant ID on the migrations code?

[2018-08-17 04:41] luceos commented on #451
Yes resolve the `Tenant` contract out of ioc:

[code]

Then get the uuid:

[code]

[2018-08-17 05:53] luceos commented on #580
Feel free to send in a PR 👍

[2018-08-17 18:12] vireshtripathi commented on #554
Target [Hyn\Tenancy\Contracts\CurrentHostname] is not instantiable

[2018-08-18 22:12] Nowi5 opened #582 "How to get Tenant directory path as string?"
Hi all,

is there any function to get the current Tenant directory base path.
When I use the prefix of the tenancy-directory I just get the /storage/app/tenancy/tenant/ but I miss the UUID. What do you think, should we add some function to the current file system?

I need the path as string a I need to set this as parameter to vendor packages.

Thank you.

---
__Information__

- hyn/multi-tenant v

[2018-08-19 07:59] aBuder commented on #578
I would like to create an new tenant and would switch to new tenant. I don't know where my error is.

<img width="2523" alt="bildschirmfoto 2018-08-19 um 09 59 15" src="https://user-images.githubusercontent.com/1265139/44306817-9250f080-a396-11e8-8a98-574753430029.png">

[code]

[code]

[2018-08-19 08:45] aBuder commented on #578
I identify that the error is `IF NOT EXISTS `. On my local machine I installed
`Ver 15.1 Distrib 10.3.7-MariaDB, for osx10.13 (x86_64) using readline 5.1`

on webserver I see
`Server version: 5.6.35 Source distribution`

[2018-08-19 15:48] Plytas opened #583 "Add ability to add prefix, namespace and middlewares when registering tenants.php route file"
Right now, `routes\tenants.php` is registered as plain file. Would like to be able to register routes file with prefix, namespace and middlewares values set in config. Also I think `App\Http\Controllers` should be set as default namespace as it is in laravel it self.

Looked into it shortly and it seems easily doable. Might submit a PR once I find some time. I'm not sure about tests though.

---
_

[2018-08-20 05:30] luceos commented on #583
Including the tenants file externally and forcing middleware, namespace, prefix etc make implementation harder. If you want to specify an API route for which the controller lives in `App\Http\Api` or something, you will need to implement your own solution again.

I very much dislike the suggestion, I would consider improved explanations of how to use the file.

@fletch3555 your opinion?

[2018-08-20 05:31] luceos commented on #578
@aBuder your webserver runs what database? MySQL 5.6?

[2018-08-20 06:26] luceos commented on #582
Try this when a Tenant was identified

[code]

[2018-08-20 09:29] Plytas commented on #583
My proposal would still include it the way it is right now, it would only add the parameters from config. It's a simple change in `RouteProvider.php`.

[2018-08-20 11:24] Plytas opened #584 "routes/tenants.php is not loaded during tests, because there's no tenant, when app initializes"
Don't want this to get lost in discord.

Currently `routes/tenants.php` is being loaded during boot of service providers and it checks for a tenant. My tests and tenant is being set up after that and since json request in tests do not actually create a new app, tenant routes are never defined.

Would it be possible to have callable function to load routes during runtime?

---
__Information__

- hy

[2018-08-20 12:16] Plytas commented on #583
Change like this is what I'm talking about.

[code]

[2018-08-20 15:01] paulcanning opened #585 "Installed, now what?"
I have followed the installation guide, but now I'm stuck on the next steps.

I've looked through the rest of the docs and cannot find anything outlining how to actually add a new tenant.

I understand that tenant specific files can be added in their own folder in `storage` but how do I go about adding a tenant to the system?

[2018-08-20 15:04] fletch3555 commented on #585
To add tenants, you would use the Repository classes as noted in our documentation: https://laravel-tenancy.com/docs/hyn/5.2/repositories

[2018-08-20 15:11] paulcanning commented on #585
OK, so I need to write a controller to create a site and attach a hostname to it?

Currently, my default web route is broken, why is that and how can I fix it, so I can actually get to a controller of my own?

[code]

[2018-08-20 15:40] paulcanning commented on #347
I'm experiencing this issue in a fresh install. Any help on getting past it?

My website creation code is super basic:

[code]

[2018-08-20 16:13] paulcanning opened #586 "Failed to reload Nginx"
Whilst experiencing issues with the nginx config test, I have disabled it in order to try and gain some headway. However, I am now getting a similar issue with reloading nginx.

[code]

[2018-08-20 16:17] paulcanning commented on #462
Why is this issue closed? There was no resolution. I too am getting empty NGINX conf files being generated.

[2018-08-20 16:23] paulcanning opened #587 "Nginx conf files are generated, but empty"
Possibly related to that fact the nginx configtest and reload commands do not work, but the conf files are being created, but are effectively empty.

I chmod'd the entire `storage` folder to `777` out of desperation, but it doesn't help.

[2018-08-20 16:51] t-grm commented on #347
@paulcanning you have a typo: $hostname->fqdn, not fsdn

[2018-08-20 19:31] paulcanning commented on #347
Haha oops! Although, is that enough to stop the configtest? I'd have thought to see a different error about the incorrect method call.

[2018-08-20 21:25] fletch3555 commented on #586
`Interactive authentication required`

Seems it's looking for you to enter credentials when running that command, which obviously you won't be able to do.  This question is really best asked in our Discord chat so we can have quicker dialog.  We can attempt to work on it here if Discord is not an option for you, though I believe it would lead to a faster resolution.

Also, when opening issues here

[2018-08-20 21:27] fletch3555 commented on #587
Please refer to my comment here: https://github.com/hyn/multi-tenant/issues/586#issuecomment-414468579

[2018-08-20 21:37] luceos commented on #347
@paulcanning what is the command you configured and can you run that command successfully? If so, make sure the user running the app has permission to run that command as well, you can update your sudoers file to allow permissions like that.

[2018-08-20 21:39] luceos commented on #587
Let's fix one issue at a time to prevent us from trying to solve different issues caused by the same cause.

[2018-08-20 21:39] #587 closed, assigned to nobody

[2018-08-20 21:41] luceos commented on #462
@paulcanning please stick to your own reported issue, every environment can be different. We'll do our best to assist everyone.

[2018-08-20 21:44] luceos commented on #585
You can configure your own controllers any way Laravel supports, check those docs for more information: https://laravel.com/docs/5.6/controllers

[2018-08-20 21:46] luceos commented on #583
Your solution would limit all routes contained in the tenants.php routes file to the given namespace, middleware and prefix. In case you would like to define both web and api routes you'd still have to do so manually.

I'm not convinced..

[2018-08-20 21:50] Plytas commented on #583
I see.. To be fair I would only use namespace option as I am using different middlewares for different groups within the file.

[2018-08-20 21:50] #583 closed, assigned to nobody

[2018-08-21 04:02] aBuder commented on #578
@luceos correct there runs MySQL Server version: 5.6.35 Source distribution

[2018-08-21 08:13] luceos commented on #578
From the [requirements](https://laravel-tenancy.com/docs/hyn/5.2/requirements): MySQL 5.7+, MariaDB 10.1.13+

Your server doesn't have the right MySQL version.

[2018-08-21 08:22] paulcanning commented on #586
So how do I get around the authentication?

[2018-08-21 08:23] paulcanning commented on #347
@luceos I put my code in the opening post. That's all's I'm trying to run.

The app is running on Homestead and I'm pretty sure the vagrant user has permissions.

[2018-08-21 08:29] #578 closed, assigned to nobody

[2018-08-21 08:31] luceos commented on #347
In `webserver.php` you can configure the command to check the config of nginx. Try to run this command yourself and see if it works. If it works you need to make sure the user running your app has the correct permissions to run the command by itself (eg adding it to the sudoers).

See https://github.com/hyn/multi-tenant/blob/a7366833639b67551357b444cdc8c61e3e027a9e/assets/configs/webserver.php#L16

[2018-08-21 08:32] luceos commented on #586
Answered https://github.com/hyn/multi-tenant/issues/347#issuecomment-414595210

Please stick to this issue from now on 👍

[2018-08-21 08:40] paulcanning commented on #586
The issue is this part

Currently running the app in Homestead, so no idea what to change and if i even should change it.

[2018-08-21 09:02] luceos commented on #586
For local environments the best thing to do is use a wildcard subdomain and configure your homestead to accept them in your webserver set up. The webserver integration of this package is best left for the production environment (set up and forget about it).

[2018-08-21 13:25] luceos commented on #566
I've spend some time with @ametad trying to validate two candidate causes of this issue.

- Listeners might be returning false, blocking the event from travelling further down the chain.
- Another dispatcher is rebound somewhere in the startup cycle.

What we discovered was that once the Laravel app is booted, the number of listeners for the "Identified" amount reset back to 0, which before (durin

[2018-08-22 14:40] ametad commented on #566
It looks like there is a work around; don't auto discover `hyn/multi-tenant`. Like this:

[code]

config/app.php

[code]

[2018-08-22 14:47] ametad commented on #566
I see this work around is mentioned before @DennisOng . Credits to you!
But why the need of declaring after the EventServiceProvider? Registered Listeners/Subscribers in third party package can listen to `Hyn\\*` events with config above.

[2018-08-22 18:45] DennisOng commented on #566
Hmm that's interesting @ametad , I had assumed that the issue was caused by the order these are booted/registered, but from what you're saying this is not really the case, good to know!

[2018-08-22 20:22] fletch3555 commented on #566
I'm thoroughly confused by this issue if the order doesn't matter but disabling auto-discover works...

Providers are by Laravel in the following order:

1. `config/app.php` providers array IF they start with `Illuminate`
2. auto-discovered providers from other packages
3. the rest of the `config/app.php` providers array

Disabling auto-discovery for Hyn and adding `TenancyProvider` before any/all

[2018-08-23 12:08] ametad commented on #566
To be clear: I did NOT ignore 3rd party. Because my test of listening to Hyn* events was done in a package  that was auto discovered. I call this package 3rd party, because it was required by Composer.

(Although the code is of my own and resides in a subdirectory, Composer require does make a symlink to this code and place it in the vendor directory. Hence I call it 3rd party)

[2018-08-23 17:35] marcosjara opened #589 "Apache vhost * .conf is not generated correctly ..."
__Description__

Hello boys,

I'm wanting to put my multi-tenancy laravel application into production, but when I run the php artisan tenant: create command, the vhost file corresponding to apache dont generate correctly with my host subdomain name :

---

__Actual behavior__

The hym generate this file whithout util data:
File generate into storage / tenancy / webserver / apache2 / e2d8bcdfb4de44

[2018-08-23 19:11] fletch3555 commented on #589
It's most likely because that vhost config is generated from an event fired when a tenant(Website) is created.  It won't have anything to generate, because the config depends on the Hostname being attached, which you do after creating the Website, therefore the generated config is blank.

To confirm this, open up tinker or otherwise modify the website (with the Hostname already attached), and chec

[2018-08-23 19:23] marcosjara commented on #589
Sorry

Now is working,

my problem is in the config/webserver.php configuration file,

I change the
'reload' => 'apache2ctl graceful'
per
'reload' => 'sudo service apache2 graceful'

Thanks fletch3555

[2018-08-23 20:05] #589 closed, assigned to nobody

[2018-08-24 07:00] X-Coder commented on #566
I run into the same issue, disabling auto-discover worked for me as DennisOng described. For me it worked only when I load the TenancyProvider after EventServiceProvider too.

For me it looks like some kind of loading order issue. Multi-tenant seems to call all the events before the App\Providers\EventServiceProvider has been booted. So my listener, for example Hyn\Tenancy\Events\Database\Configur

[2018-08-27 07:42] Kristories commented on #269
I know this is an old thread, but this will be useful for someone who is having a problem with this issue.

Enable this flag in case you're using a driver that does not support database username or database name with a length of more than 32 characters. This should be enabled for **MySQL**, but not for **MariaDB** and **PostgreSQL**.

`config.php`
[code]

Or by `.env`

[code]

[2018-08-27 18:14] bkintanar opened #590 "Nova Tool to Manage Tenants"
__Description of your feature__

A Laravel Nova tool that would sit on the system / admin domain that would allow to manage models/resources across all tenants.

[2018-08-29 08:19] #585 closed, assigned to nobody

[2018-08-29 08:19] #582 closed, assigned to nobody

[2018-08-29 08:28] pedzed opened #592 "Multi tenancy with Laravel Passport"
There are basically two scenarios that a developer might stumble upon:

1. Passport must be integrated on system level (e.g. to grant access to tenants)
1. Passport must be integrated on tenant level (i.e. every tenant has its own Passport)

In regards to the first scenario, how can one set up Laravel Passport?

### Specifically in my case
The system has `licenses` with each license containing a `

[2018-08-29 08:43] luceos commented on #592
Can we make this issue about your specific use case for licenses? Otherwise we will get too much confusion in the long run.

---

Related to your set up, can you explain to me how the key and mac address are sent over? Eg header etc.

[2018-08-29 08:46] pedzed commented on #592
Query string is fine, but I don't mind using headers either.

Something like this:
[code]

[2018-08-29 11:04] luceos commented on #592
What I did on one of my projects create a custom relation to the oauth_access_tokens table. Eg your licenses table could have a `oauth_access_token_id` field relating to licenses. Then once the auth endpoint is hit you can manually generate a token by using the PersonalAccessTokenFactory. Using a middleware you can check the token and set the currently active license.

I can share a snippet on Dis

[2018-08-29 12:53] adamthomason opened #593 "Attempting to register on tenant with user that exists on public site fails"
This one has had me puzzled for a couple of weeks now. For reference, I'm using multi-tenant with Laravel Spark and have integrated github.com/jrean/laravel-user-verification also.

Once I have created a tenant, which I can access and use just fine - everything works as expected - I want to create a user on the tenant site whose email already exists on the public site (for my application, tenants

[2018-08-29 13:12] luceos commented on #593
You can force validation to happen using the tenant connection (or system) by prefixing any database related validation rules with the tenant connection name, see

https://laravel-tenancy.com/docs/hyn/5.2/validation

Related to the 3rd party package, you can force models from 3rd party packages onto a tenant or system connection using the tenancy.php configuration file, see:

https://github.com/hy

[2018-08-29 13:29] adamthomason commented on #593
Thanks @luceos, I thought you might mention that.

So I think it's probably beneficial for me to create a User model for both tenant and system, in order to use them both within these arrays?

[2018-08-29 13:31] luceos commented on #593
Not necessarily, you can also use the (new) TenantAwareConnection, see:

https://github.com/hyn/multi-tenant/blob/5.x/src/Traits/TenantAwareConnection.php

This sets the connection to Tenant if one has been identified.

[2018-08-30 07:08] adamthomason commented on #593
I'm already using that, I had updated from the old version of the trait I had contributed to.

That being said, I'm unsure how to make use of the validation for both tenant and system. Take this as an example:

`$this->validate($request, ['token' => 'required']);`

This line of code will be executed by both system and tenant during login, and so I'm unsure how to convert this to use connection bas

[2018-08-30 08:44] luceos commented on #593
I don't know your snippet has no validation rule using a database?

[2018-08-30 09:07] adamthomason commented on #593
This is why I was confused initially, although somewhere the form(s) are checking against the system database regardless of whether the current site is tenant or system. I'm stumped really.

[2018-08-30 11:10] #593 closed, assigned to nobody

[2018-08-30 15:53] pedzed commented on #592
I gave up on Passport as it does not feel to be the right solution for my problem. Thanks anyway.

[2018-08-30 15:53] #592 closed, assigned to nobody

[2018-08-30 18:58] BenaddiRar opened #596 "Barryvdh/laravel-ide-helper"
Hi,

There's a way to combine between this package and barryvdh/laravel-ide-helper package.

because for now i cant read from Model with Tenant Connection, and thQs for this great package

[2018-08-30 23:47] fletch3555 commented on #596
I don't see how that package could conflict with this one in any way.  Could you please further describe the issue you're having? Perhaps add some screenshots?

Also, we have an issue template and ask that you please use it.  It asks for relevant information upfront so we don't have to ask later and delay resolution.

[2018-08-31 05:04] Deracination opened #597 "reflection not working as expected? routes in tenants.php seem to require fully-specified controller paths"
I have installed the latest hyn on a vanilla install of laravel with laravel-auth.

After adding routes to routes/tenants.php the route handlers cannot find controller classes unless they are fully specified. I expected reflection to find the controllers as per usual. Have I got something mis-configured?

__This works__

`Route::get('login', 'App\Http\Controllers\Auth\LoginController@showLoginForm

[2018-08-31 07:59] vortechron opened #598 "multiple tenant migration path"
it will be very great if we can do something like this

[code]

instead of just single path
[code]

[2018-08-31 08:20] vortechron commented on #598
reason:

my application has mutliple modules in form of laravel package,

i want the developer to have an ability to add their tenant specific migration path in their module ServiceProvider.

[2018-08-31 15:12] BenaddiRar commented on #596
Hi,

If a model use "UsesSystemConnection" : i can run 👍

## php artisan ide-helper:models

and work fine

but whene a use "UsesTenantConnection"  :

The result is :
Exception: Database [tenant] not configured.
Could not analyze class App\Models\Tenant\XXXX.

[2018-08-31 15:19] ghost opened #600 "Can't use different tables like platforms instead websites"
__Description__

I would like to change websites table name to any other name! But the website repository class doesn't listen my custom table. Before save  on database, this repository validate if is unique uuid, but verify always on websites table.

---
__Information__

- hyn/multi-tenant version: 5.2.6
- laravel version: 5.6.*
- database driver and version: 5.7
- php version: 7.2

---

__tenanc

[2018-08-31 19:59] fletch3555 commented on #597
"Functioning as expected" is my reply.

Laravel does a bit of work for you under the hood when loading routes.  It's not reflection.  The controller namespace is explicitly defined in your app's RouteServiceProvider (https://github.com/laravel/laravel/blob/master/app/Providers/RouteServiceProvider.php#L17).  Since `tenants.php` is loaded by the Hyn package, not by RouteServiceProvider, it can't po

[2018-08-31 19:59] #597 closed, assigned to nobody

[2018-09-01 08:01] luceos commented on #597
Also take into consideration we don't know whether you want to add tenant specific api or web routes. These require different middleware.

[2018-09-01 08:13] MrFahey commented on #563
Closing in favour of #563.

[2018-09-01 08:14] aaronfahey commented on #563
Closing in favour of #600.

[2018-09-01 19:59] luceos commented on #600
See #563 which proposes a way forward.

[2018-09-01 19:59] #600 closed, assigned to nobody

[2018-09-02 04:42] Deracination commented on #597
Thank you - I was unaware of the functionality to specify the namespace for the middleware and it completely answers my question. Is it possible to add to this to the documentation? Starting new on laravel and on multi-tenant it wasn't obvious to me what hyn/multi-tenant is and isn't doing with regard to namespaces for routes in tenants.php

[2018-09-04 08:46] balping commented on #590
Well, someone needs to buy Nova first to develop such a thing. And it's not the cheapest thing out there. But the biggest issue with Nova that it's not free/libre software.

[2018-09-04 10:13] BenaddiRar opened #604 "Auth Session between tenant"
__Description__

Hy,

I integrated this beautiful package, and all work well until now.

database system and tenant, migration + seed, creation of tenant with table users and an administrator by tenant

the login page also work well and it does the test on the database of each tenant.

If i have two tenant

__xx.domain.local__
__yy.domain.local__

and two users

each one in a separated databse

ad

[2018-09-04 10:30] BenaddiRar commented on #596
any update ???

[2018-09-04 20:39] sadnub commented on #584
I have been playing around with this.

You can set a default tenant in phpunit.xml
<env name="TENANCY_DEFAULT_HOSTNAME" value="testing.fqdn"/>

And it will fallback to this tenant. I then create a Hostname/Website matching this fqdn in the system database and all of my tenant.php routes are triggering.

[2018-09-04 20:41] Plytas commented on #584
Nice find! But I feel like there should be a better solution to this. Forcing a tenant does not help while testing system stuff.

[2018-09-05 03:00] Taylord93 commented on #600
I am a bit confused as to how to change the table name within the class, could anyone give me some direction? I assumed you could just set a `$table` property but that does nothing and I can't find any sort of documentation about it. Here is my model, attempting to turn `Website` into `Organization`

[code]

[2018-09-05 03:17] Taylord93 commented on #600
I may have found the problem, it looks like everything is automatically converted to a lowercase string for table names. Unfortunately capitalized singular-case table names are a requirement for my project... any advice on how I should approach this?

[2018-09-05 10:21] ghost commented on #600
Laravel use getTable method to retrieve the table name.

[code]

[2018-09-05 12:58] johannesschobel commented on #598
try using wildcards, e.g., `migrations/tenants/*`.. This should work!

[2018-09-05 12:59] johannesschobel commented on #590
@bkintanar i would highly appreciate this feature

@balping : this would to be a dedicated (separate) package one could optionally use - this should not be required

[2018-09-05 13:03] vortechron commented on #598
thats not only the case, here another example:

[code]

[2018-09-05 13:04] bkintanar commented on #590
@balping yeah, we have a copy of Nova.

@johannesschobel we'll figure something out in the weeks to come.

[2018-09-05 13:06] johannesschobel commented on #598
my migration files were "scattered" across different modules as well.. like: `app/Modules/XXX/Database/Migrations/...` and it worked when setting the `module name` (e.g., `XXX`) as a wildcard..

However, this only works, if all "paths" have the same structure.. In your case above, this does not work, you are right..

[2018-09-05 13:22] johannesschobel commented on #590
that would be sooooooooooo awesome! thanks a lot @bkintanar

[2018-09-05 13:38] Taylord93 commented on #600
I tried implementing that method and had issues when trying to generate new tenants using `app(WebsiteRepository::class)->create($organization);`. It doesn't seem to recognize the change in the table name. This is the error I get...

`Base table or view not found: 1146 Table 'local.websites' doesn't exist`

its still looking for the `websites` table. Here is my updated Model that I adapted from wh

[2018-09-05 15:01] BenaddiRar opened #607 "Tenant Job not firing"
__Description__

Hy,

I integrated this beautiful package, and all work well until now.

database system and tenant, migration + seed, creation of tenant with table users and an administrator by tenant

I add the "jobs" table on each tenant database, and the traitTenantAware Job in each Jobs.

and when i dispatch a job, it's added correctly in the tenant database.

After that, i have to excute "ph

[2018-09-05 15:31] ghost opened #608 "I would like to abort non idenfied tenant and igore some subdomain."
__Description__

I would like to abort non idenfied tenant and igore some subdomain.

---
__Expected behavior__

I would like something like:

Hyn\Tenancy\Middleware\HostnameActions

[code]

---
__tenancy.php config__

[code]

[2018-09-05 18:27] ghost commented on #600
It's happening because WebsiteRespository use laravel validator and validate if is unique, but it only validate in websites table.
See more in pull request #602

[2018-09-05 20:04] fletch3555 commented on #607
The `queue:listen` (I thought it was `queue:work`...) artisan command will connect to the default DB connection by default, which is why this is failing (`jobs` table doesn't exist on `system`).  You have a few options to solve this:

1. Run separate queue workers for each tenant.  This will likely add up quickly, but will keep all your jobs completely separate.  This may require wrapping the `que

[2018-09-05 20:13] fletch3555 commented on #608
Why not just create Hostname records for `www` and `api`, so it's allowed through the `abort-without-identified-hostname` config?  Then you get what you want.

I would also keep all tenant-specific routes in `routes/tenants.php`, and keep your `www` or `api` routes in `routes/web.php` and `routes/api.php` respectively, but wrapped in a subdomain route group (like below).  Also, enable the `replace

[2018-09-05 20:21] ghost commented on #608
I can't to do that. I'm using folklore/graphql package and the your routes is in a package provider. I created a middleware and boot on application service provider prepend on laravel middlwares.

[2018-09-05 20:33] fletch3555 commented on #608
I'm not very familiar with that package.  I'm guessing you want these routes to live under `api`.  It looks like you can simply disable their routes(https://github.com/Folkloreatelier/laravel-graphql/blob/develop/src/config/config.php#L31) and add them manually in your project.  I don't see why this wouldn't work with what I said before.

Just disable routes in that package's config, then `require

[2018-09-05 22:11] BenaddiRar commented on #607
@fletch3555 yes redis work fine for me. (the issue is only with database driver)
but here i have another problem, when i have a database call in a job, the job can't remember wich tenant to use

[2018-09-05 22:18] BenaddiRar commented on #604
any update ???

[2018-09-06 03:50] fletch3555 commented on #604
I'm not sure I understand what you're trying to do.  Just to summarize my understanding of your issue, here's what I know and what I assume:

- Laravel's session is cookie-based, meaning it's limited to the current domain (unless you change it), and therefore will not be shared between tenants.  It shouldn't be either if you're planning to have unique authentication scopes.
- It sounds like your `

[2018-09-06 07:15] BenaddiRar commented on #604
yes my users table is on my tenant connection, and if i have two users with id = 1 on two tenant, than i can access another tenant without being connected.

- Laravel session is cookie-based : is there any specific thing to do ?

[2018-09-07 07:50] WeiKian opened #610 "Delete and recreate tenant with same uuid will throw error when creating db user in MySQL"
__Description__

I'm using my own uuid generator which is using my unique tenant name. This package helps to create db as well as the db user. However I faced a problem when I delete my tenant and recreate a tenant with same name, this error happened:

[code]

---

__Actual behavior__

From what I had research online, it seems like when I have the db user remained then `CREATE USER IF NOT EXISTS '

[2018-09-07 12:20] 4dri-wtf opened #611 "Incopatibility with Laravel/Passport"
__Description__

Some models in the use tenant connection array in the config still use the system connection.

__Actual behavior__

uses the system connection

__Expected behavior__

use the tenant connection

---
__Information__

- hyn/multi-tenant version: 5.2
- laravel version: 5.6
- database driver and version: MariaDB
- webserver software and version: Apache2
- php version: 7.1

---
Actually

[2018-09-07 17:47] fletch3555 commented on #610
MySQL uses the "MariaDB" driver: https://github.com/hyn/multi-tenant/blob/5.1/src/Generators/Webserver/Database/DatabaseGenerator.php#L71

[2018-09-07 18:00] henk23 commented on #585
I'm sorry, but I have to ask again. I have a conroller and in the controller I have the code from https://laravel-tenancy.com/docs/hyn/5.2/repositories, creating a new website.

Now how can I reach this controller? The routes defined in routes/web.php don't seem to work:

    Route::get('/my-route', 'MyController@myAction');

But when I visit localhost:8000/my-route, it just says: "Sorry, the page

[2018-09-07 19:03] luceos commented on #585
@henk23 disable `abort-without-hostname`, please next time create an issue of your own.

[2018-09-07 23:40] BenaddiRar commented on #607
@fletch3555 any response

[2018-09-08 04:03] WeiKian commented on #610
@fletch3555 I do set the option `auto-delete-tenant-database-user` to true, however when I deleted the tenant, db user still remained and not been deleted.

[2018-09-08 04:15] WeiKian commented on #610
I have my system db user with root-like privileges and the tenant deletion don't throw error. Just the db user won't dropped even I have the `auto-delete-tenant-database-user` option set to true. The problem arises when I tried to recreate a tenant with same uuid which throw this error:
[code]

[2018-09-08 17:50] londoh opened #613 "Bug when NOT Auto-Creating DB user"
[I will report this as a bug, but I only just started with mutli-tenant so apologise in advance if there's something I missed, or the reporting isnt correct.]

__Description__
in src/Generators/Webserver/Database/Drivers/MariaDB.php

on line 37
[code]

When tenancy.db.auto-create-tenant-database-user == false then we dont create a user.

But then on line 47 we attempt to GRANT ALL to the user ($co

[2018-09-08 18:06] luceos commented on #597
@Deracination adding it make sense, would you be able to PR the change yourself? https://github.com/tenancy/docs

[2018-09-10 13:57] Marko298 commented on #596
[code]
I use this walkaround

[2018-09-10 17:33] WeiKian commented on #610
@fletch3555 Hi any update about this issue?

[2018-09-11 05:50] johannesschobel commented on #608
maybe you can register a new custom middleware, that checks for "subdomains to be ignored", BEFORE actually trying to authenticate the user through the tenant middleware? @flaviodevelop

what do you think?

[2018-09-11 13:17] johannesschobel commented on #611
can you try this tutorial here? https://medium.com/@sadnub/hyn-tenancy-5-2-and-laravel-passport-a0d11c5a08eb

[2018-09-11 13:18] johannesschobel commented on #592
Hey @pedzed , maybe you can follow the guide describing the integration of passport with hyn here? https://medium.com/@sadnub/hyn-tenancy-5-2-and-laravel-passport-a0d11c5a08eb

i just stumbled upon it by accident - and the tutorial looks quite extensive.. maybe this does in fact help you (even though you already closed the issue?!)

[2018-09-11 23:24] ghost commented on #608
I'd it. I added a ignores field on hostnames in tenancy config file and this data on validator with a not in.

[2018-09-11 23:24] #608 closed, assigned to nobody

[2018-09-12 05:09] dbrw opened #614 "setting `auto-delete-tenant-database-user` to `true` on postgres throws permission denied to drop objects error"
__Description__

On local environment, I want to make sure the created users and databases automatically deleted when I delete their Website object.

---

__Actual behavior__

Error thrown as bellow from artisan via CLI:
[code]

__Expected behavior__

The command runs without error.

---
__Information__

- hyn/multi-tenant version: 5.2.7
- laravel version: 5.6.*
- database driver and version: Post

[2018-09-12 07:23] 4dri-wtf commented on #611
@johannesschobel this works but since it forces tenant's conncetion by middleware in the whole app it does not not solve the issue. Actually I'm using a similar workaround, you can see it in my repo.

The issue is that the models in the tenancy config array should use tenants connection and it's not working with the models in Passport package.

[2018-09-12 12:02] johannesschobel commented on #611
Not sure though, if i understand the issue correctly.. But in your repository you have 2 `User` models (in different namespaces!) that both link to the same database table (in different connections) - not sure if this works in general!

[2018-09-12 12:45] 4dri-wtf commented on #611
the multi-tenant config allows to set some models to work with a especific connection:

[code]

It isn't workin for passport models.

also, the traits in both models works flawlessly

[2018-09-12 12:47] johannesschobel commented on #611
ok, and adding these models to the `force-tenant-connection-of-models` does not work, right?
in other words - the `Passport` models are not forced to the `Tenant` connection?

[2018-09-12 14:23] 4dri-wtf commented on #611
exactly

[2018-09-12 14:44] bkintanar commented on #611
I have encountered this as well. I've already informed @luceos. We'll have to wait when he gets back from his vacation.

[2018-09-12 14:52] bkintanar commented on #604
@BenaddiRar I have tested this with fresh install of laravel 5.6 and tenancy 5.2 and I'm not seeing the issue you described above.

I think we need more information on your setup.

[2018-09-12 14:55] bkintanar commented on #607
@BenaddiRar you can try following the pending PR here: https://github.com/tenancy/docs/pull/58. It might fix your redis database driver issue.

[2018-09-12 14:57] bkintanar commented on #610
@WeiKian I'll look into this.

[2018-09-12 14:57] bkintanar commented on #610
@WeiKian by the way, may I know how are you deleting the tenant?

[2018-09-12 15:07] WeiKian commented on #610
@bkintanar Thanks for the response. I used the repository to delete tenant.

[2018-09-12 15:12] bkintanar commented on #610
@WeiKian Ok. I'll check on this.

[2018-09-12 15:16] johannesschobel commented on #611
ah, ok.. now i get it..

A quite "dirty hack" would be to just "wrap" the required classes in your own and apply the respective Trait there.. and then switch implementations.. but i am not sure, if Passport would allow for such changes of the implementation..

[2018-09-12 15:45] bkintanar commented on #610
It seems to be working on my end. database user has been deleted.

--
Bertrand Kintanarbertrand.kintanar@gmail.com

On Sep 12, 2018 at 23:08, <WeiKian <notifications@github.com>> wrote:

@bkintanar <https://github.com/bkintanar> Thanks for the response. I used
the repository to delete tenant.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<htt

[2018-09-13 20:01] netcom commented on #607
@BenaddiRar We are saving jobs on main database (not tenant). Jobs are running from there without a problem. This is done by one job:listen process for all tenant jobs.

[2018-09-14 02:46] dbrw opened #615 "integration with event projector"
__Description__

I started a new project that needs multi tenant setup and event sourcing, so I went to this wonderful package and spatie/laravel-event-projector. I followed Ashok's tutorial on https://medium.com/@ashokgelal/a-full-featured-multi-tenant-app-with-laravel-part-1-4049a3cc229d and all went smoothly even with the 5.2 upgrade (I changed some code based on tenancy's documentation). The p

[2018-09-14 05:42] WeiKian commented on #610
@bkintanar May I know do you set the `auto-delete-tenant-database` to true?

[2018-09-14 06:03] bkintanar commented on #610
Yes

--
Bertrand Kintanarbertrand.kintanar@gmail.com

On Sep 14, 2018 at 13:42, <WeiKian <notifications@github.com>> wrote:

@bkintanar <https://github.com/bkintanar> May I know do you set the
auto-delete-tenant-database to true?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/hyn/multi-tenant/issues/610#issuecomment-4212372

[2018-09-14 06:05] WeiKian commented on #610
I see. Because I need to keep the database even if I deleted the tenant so I set it to false. So which mean it won't auto delete db user right?

[2018-09-14 06:09] bkintanar commented on #610
hmm.. The recreate tenant assumes that tenant databases are all deleted
since it can't recreate them if they already exists.

--
Bertrand Kintanarbertrand.kintanar@gmail.com

On Sep 14, 2018 at 14:05, <WeiKian <notifications@github.com>> wrote:

I see. Because I need to keep the database even if I deleted the tenant so
I set it to false. So which mean it won't auto delete db user right?

—
You are

[2018-09-14 06:11] bkintanar commented on #610
But the database user should be deleted even if the auto delete tenant
database is set to true.

--
Bertrand Kintanarbertrand.kintanar@gmail.com

On Sep 14, 2018 at 14:05, <WeiKian <notifications@github.com>> wrote:

I see. Because I need to keep the database even if I deleted the tenant so
I set it to false. So which mean it won't auto delete db user right?

—
You are receiving this because you w

[2018-09-14 06:12] WeiKian commented on #610
The situation is kinda different with using the recreate tenant command. What I want to achieve is to leave the database untouch even I deleted the tenant. When I recreate the tenant with same uuid, I should be able to use back the database. That's why I even modified the password generator.

[2018-09-14 06:21] WeiKian commented on #610
I set `auto-delete-tenant-database` to false because I want to keep the database. However, I faced problem when I have the tenant deleted and db user retained then I recreate the tenant with same uuid. Seems like if db user existed and you tried to use this command: `CREATE USER IF NOT EXISTS 'tenant_name'@'%' IDENTIFIED BY 'password'`, it will throw error. So now what I want to do is when I delet

[2018-09-14 06:33] WeiKian commented on #610
@bkintanar Any idea on the workaround for this?

[2018-09-14 19:23] luceos commented on #523
My apologies for the delay.

Without more code it's hard to know what is happening here. Feel free to share the repo with me privately or add snippets of how you send the reset password mail.

[2018-09-15 07:14] RushabhJoshi commented on #523
I am sharing you the tenant aware job which called after creating tenant

in command, I am calling job like this

[code]

Tenant aware job

[code]

Tell me if you need anything more. I will consult with an authorized person to share repo till than I have shared a code snippet

[2018-09-15 08:40] luceos commented on #523
Please share the code for `NewUserResetPassword`

[2018-09-15 08:46] luceos commented on #610
@WeiKian can you post the exact error you get from the `CREATE USER IF NOT EXIST` call?

[2018-09-15 08:49] luceos commented on #615
It seems to me that the service provider of event projector isn't active during tests. This has nothing to do with the package. The `$config` argument of the mentioned class is missing and instantiated into ioc as singleton [here](https://github.com/spatie/laravel-event-projector/blob/master/src/EventProjectorServiceProvider.php#L45-L55).

[2018-09-15 08:54] luceos commented on #607
If you want to force the queue to run from the tenant, set the `connection` key in the `connections` queue list to `tenant`, eg:

[code]

[2018-09-15 08:57] luceos commented on #596
The tenant connection not found error is caused by having no tenant. Although not pretty @Marko298 offers a great solution ;)

[2018-09-15 08:57] #596 closed, assigned to nobody

[2018-09-15 08:58] luceos commented on #614
Have you identified the permission the system connection user requires in order to successfully drop users?

[2018-09-15 08:59] luceos commented on #613
Makes sense. This requires a change.

[2018-09-15 09:03] luceos commented on #611
Have you tried putting the TenancyProvider before the PassportProvider in your app.php?

[2018-09-15 09:08] #613 closed, assigned to nobody

[2018-09-15 09:09] luceos commented on #613
@londoh could you verify the commit fixes the problem? https://github.com/hyn/multi-tenant/commit/743f48b919504e588214fc2d68f0bc48706d6924

[2018-09-15 09:09] WeiKian commented on #610
[code]

[2018-09-15 09:11] WeiKian commented on #610
@luceos Do you need the full error stack or this is sufficient?

[2018-09-15 09:19] dbrw commented on #614
@luceos Postgres only allows owner or user `postgres` to delete database. I solved it by giving superadmin privilege to my user. This is okay in testing or local environment, but in production you won't be able to auto delete tenant database from database normal user if you using postgres.

You might add some warning on documentation about this.

[2018-09-15 09:19] #614 closed, assigned to nobody

[2018-09-15 09:24] dbrw commented on #615
Thank you very much for the input, very appreciate it!
I wonder why this error only happen when I use both packages. It only happen after the first test finished.

[2018-09-15 09:32] luceos commented on #615
I can't tell, I haven't seen any of your tests yet 😂

[2018-09-15 09:46] luceos commented on #610
A full trace could be fruitless, but might be necessary for the sake of transparency. I'll need to dive into this.

[2018-09-15 16:05] WeiKian commented on #610
@luceos Here the full trace. I do override some of the plugin implementation to fit my requirements tho.
[code]

[2018-09-15 18:40] londoh commented on #613
Hi @luceos

I did test, but it doesnt seem to fix the issue as I see it.

According to my limited understanding of the multi-tenant codebase the issue is caused in in
vendor/hyn/multi-tenant/src/Database/Connection.php, Connection Class
in generateConfigurationArray function, there is the switch statement on line 310

[code]
Isnt this where the config values for for tenant username etc are set? If

[2018-09-16 00:12] dbrw commented on #615
It's fresh laravel install.
Nothing changes on default laravel example tests.
😀

Anyway, I see some responses on the event-projector repo.

Thank you for your time and inputs, great package!

[2018-09-16 00:12] #615 closed, assigned to nobody

[2018-09-16 12:45] BenaddiRar commented on #604
@bkintanar my problem is:

"If I connect with admin@xx_domain.local, and I type yy.domain.local, I can access it."

is this sentence clear to you (sorry i'm bad in English)

if yes: have you tested it with the same user ID (cause my users table are in tenant)

thQs @bkintanar

[2018-09-16 12:51] BenaddiRar commented on #607
@luceos  i work with redis,

the jobs work fine now, but my issue now is that when the job are fire they cannot know which database to work with (sorry my english is bad)

[2018-09-16 14:16] fletch3555 commented on #604
@BenaddiRar, we need more information about your setup.  Are you using any packages for auth, or just the Auth framework builr-in to Laravel? Is your login route in web.php or api.php? Tell us more about how you set it up

[2018-09-17 07:31] 4dri-wtf commented on #611
Just did. Same behaviour. I didn't need to have them in the conf file. I guess composer was doing the job for me. Any chances that this is causing the trouble?

[2018-09-17 07:47] RushabhJoshi commented on #523
It is default I have not made changes in it

[code]

[2018-09-17 07:49] johannesschobel commented on #611
i guess, if you `autoload` service-provider, laravel registers them in whatever order.. so you don't have control over the time, a SP is loaded..

that is - amongst others - the reason, i really (and i mean, *really*) f"§$%"cking **hate** autoloading of laravel..

Can you try to `disable autloading` and manually registering the components in the `app.php` config file in the order you want them? i.

[2018-09-17 07:49] RushabhJoshi commented on #523
[code]

[2018-09-17 08:04] bkintanar commented on #611
looks like laravel is auto loading them in alphabetical order. that means
hyn is being loaded before any of the 1st party laravel packages. i.e.
passport

--
Bertrand Kintanarbertrand.kintanar@gmail.com

On Sep 17, 2018 at 15:49, <Johannes Schobel <notifications@github.com>>
wrote:

i guess, if you autoload service-provider, laravel registers them in
whatever order.. so you don't have control over

[2018-09-17 08:16] 4dri-wtf commented on #611
So, no point in disabling the autoloading?

[2018-09-17 08:41] johannesschobel commented on #611
@bkintanar yeah, that could be.. But autoloading messes up with packages that depend on a specific "order" (e.g., a middleware MUST be applied before another one)..
I really don't get the point why laravel introduced this "feature" - because it saves you about 30 seconds of time - but causes so much troubles afterwards.. I don't think, this was a good idea at all..

Nevermind, back to the actual i

[2018-09-17 17:21] fletch3555 commented on #611
Laravel's auto-discovery functionality discovers package service providers and adds them to a list, then gets the list from config/app.php and appends that to the "discovered" list.  It then sorts it so packages beginning with "Illuminate" are loaded first, and the rest remain in the same order they were loaded (auto-discovered first, then config file).

[2018-09-18 12:57] nettsite opened #619 "Tenant pointing to System database for password_reset"
Hi,

I have installed and configured version 5.2, and it is working well up to logging in to a tenant website.

However, when I test the "Reset Password" bit, I get the following error:

[code]

"devjd_tenancy" is the system database, not the tenant database.

I have modified config/auth.php as follows:

[code]

This was suggested elsewhere.

The "User" model is using "UsesTenantConnection".

Any

[2018-09-18 14:58] luceos commented on #584
So your request is to allow the tenants.php routes file to be loaded whenever a (first) tenant was identified contrary to trying to do load those routes only during the request cycle?

[2018-09-18 15:01] luceos commented on #619
Updating the configuration did not help, you still run into the same error? If so make sure you haven't cached your config `php artisan config:clear`

[2018-09-18 15:03] Plytas commented on #584
That's just an idea. The issue is that it's not loaded during tests.

[2018-09-18 15:04] luceos commented on #607
@BenaddiRar have you applied the `TenantAwareJob` trait?

[2018-09-18 16:04] BenaddiRar commented on #607
@luceos yes

<img width="525" alt="screen shot 2018-09-18 at 17 02 29" src="https://user-images.githubusercontent.com/4574674/45700569-d0dbf580-bb64-11e8-9465-71e19538aa32.png">

<img width="349" alt="screen shot 2018-09-18 at 17 04 14" src="https://user-images.githubusercontent.com/4574674/45700602-e51ff280-bb64-11e8-8ca0-e80d47d444e3.png">

[2018-09-18 16:15] BenaddiRar commented on #604
@fletch3555 ok and thQs

My login route are in tenant.php route

im working with the Auth framework built-in to Laravel

Here i have added Session put just like a temporary solution

<img width="660" alt="screen shot 2018-09-18 at 17 12 44" src="https://user-images.githubusercontent.com/4574674/45701125-4b594500-bb66-11e8-9457-886e064c312e.png">

My user Model use : UsesTenantConnection

<img widt

[2018-09-19 05:59] nettsite commented on #619
That was it, thank you. Working like a charm.

[2018-09-19 05:59] #619 closed, assigned to nobody

[2018-09-19 12:37] luceos commented on #604
What session driver do you use?

[2018-09-19 12:38] luceos commented on #607
Does it work with redis or not? The TenantAwareJob should work out of the box for redis..

[2018-09-19 12:42] luceos commented on #584
We could refresh the Router object inside IoC to force the routes... I'm not sure though, it's pretty invasive for something used in tests alone.. Your tests can also refresh the router:

[code]

^ guess

[2018-09-19 13:42] Plytas commented on #584
Thanks, I will check that out when I get the chance. I'll let you know how it goes.

[2018-09-20 11:37] BenaddiRar commented on #604
thQs @luceos

SESSION_DRIVER=file

[2018-09-20 12:00] fletch3555 commented on #604
Ah, that would be why.  All session files live under the same directory, so of course it's available to multiple sites.

You should really consider redis or database storage of sessions. Then you can have it follow the tenant connection

[2018-09-20 12:04] BenaddiRar commented on #607
hy @luceos

With :
QUEUE_DRIVER=database + TenantAwareJob
The job are added in the tenant tables. but they are not firing.

With :
QUEUE_DRIVER=redis + TenantAwareJob
The job are added in the redis DB, and they are firing, but if i have a SQL request in the job they donct know wich database tenant to work with

(sorry again for my bad english)

[2018-09-20 12:04] BenaddiRar commented on #604
@fletch3555 i test know give me 5 minutes

[2018-09-20 12:17] BenaddiRar commented on #604
no it's the same thing

[2018-09-20 17:05] javierrivarola commented on #462
Why is this issue closed? There was no resolution. I too am getting empty NGINX conf files being generated. x2

[2018-09-21 03:11] fletch3555 commented on #462
@javierrivarola I will refer you to @luceos' comment

[2018-09-21 06:35] felagund18 opened #620 "force-tenant-connection-of-models"
'force-tenant-connection-of-models', 'force-system-connection-of-models' configurations are removed from the version since 5.2.4. It was useful configs, why are those removed?

[2018-09-21 06:38] #620 closed, assigned to nobody

[2018-09-21 07:47] felagund18 commented on #400
Connection Resolver is being reset by 'Illuminate\Database\DatabaseManager'. I think that using connectionResolver is not useful anymore while forcing to use tenant connection on third-party package models...

It was not working on
php - 7.2.8
laravel - 5.7.5

___
[code]
It prints
[code]

[2018-09-21 11:25] javierrivarola opened #621 "Nginx config vhost file does not have an SSL template"
__Description__
I have a wildcard SSL for my domain and i want the package to add the configuration on the vhost file for nginx, but it is only generating the HTTP block, looking at the source code there isn't a block for SSL, so i don't know why is the option in webserver.php to set the SSL port if the only block available is for HTTP

__Actual behavior__
[code]
__Expected behavior__
[code]
note

[2018-09-22 15:03] ghost opened #622 "Laravel Forge: no vhost created in sites-enabled"
__Description__

After creating successfully a new website (nginx reload & configtest passed for user forge) there is no vhost file created in /etc/nginx/sites-enabled/.

When i go to the new created website i see a php info page.

EDIT:
The vhost files are stored in storage/app/tenancy/webserver/nginx?

---
__Information__

- hyn/multi-tenant version: 5.2.7
- laravel version: 5.6.38
- database dr

[2018-09-23 09:58] mealinux opened #623 "Subdomain for homestead at linux(manjaro)?"
example http://kilicx.tenant.test but doesn't work, ngnix vs. how is it do system setting?

[2018-09-24 06:34] luceos commented on #623
Please use the issue template, I can't guess your environment or version.

[2018-09-24 06:34] #623 closed, assigned to nobody

[2018-09-24 06:35] luceos commented on #622
Vhost files aren't saved in the etc directory for a few reasons; the most important one is transportability. Make sure you read the documentation about using nginx:

https://laravel-tenancy.com/docs/hyn/5.2/nginx#configuration

[2018-09-24 06:36] luceos commented on #621
I recommend installing let's encrypt and configure it so that it creates separate https vhost configuration files. You can set it up by listening to specific events like the Website Created one.

[2018-09-24 06:47] luceos commented on #604
@fletch3555 is correct. If you want to keep sessions separated you will need to change how sessions are stored. Even if you switch to redis; if you don't use separate connections per tenant the same connection will be used for all tenants. The best thing to do is probably to listen to the Identified event and change the `session.php` configuration to your needs; eg you could store the session info

[2018-09-24 06:48] luceos commented on #400
It completely depends on the loading order of things. If you have an issue with this please create a new issue and report what error you run into @felagund18 . Thank you.

[2018-09-24 06:50] luceos commented on #607
@BenaddiRar

- queue driver database: you will need to set up queue workers to use the specified connection.
- queue driver redis: that seems like a bug, can you confirm that the job is receiving the tenant when serializing? You can easily check this by running manual serialization on the job and then dd'ing it.

[2018-09-24 06:51] luceos commented on #584
@Plytas please do, otherwise I'll make sure to come up with a more decent solution. PLease note that testability is something I'll be looking into for the future.

[2018-09-24 06:52] #598 closed, assigned to nobody

[2018-09-24 20:38] mealinux opened #624 "Subdomain for homestead at linux(manjaro)?"
**description**

example http://sub.project.local but doesn't work, ngnix etc. how is it do system setting?
i want to subdomain with wildcard

note: i'm working homestead
<hr>

**information**

- hyn/multi-tenant version: ^5.2
- laravel version: 5.7.0
- php version: PHP 7.2.9
- OS: manjaro 17.1.12

<hr>

**hosts**
[code]
<hr>

**resolv.conf**

[code]
<hr>

**Ngnix settings**
[code]
<hr>

**tenancy

[2018-09-25 17:42] Plytas commented on #584
Looks like refresh method takes 3 parameters.  Couldn't figure out what to pass there...
[code]
I took the logic from your `RouteProvider.php` and implemented it into my tests for now. Official solution is still welcome ;)

[2018-09-25 18:34] Sti3bas commented on #584
@Plytas could you please share your solution? I’m also struggling with this problem.

[2018-09-25 18:59] Plytas commented on #584
@Sti3bas I took this code from `RouteProvider.php` and ran it after I set a tenant for my tests.
[code]

[2018-09-26 07:44] luceos commented on #584
@Plytas have you tried calling the RouteProvider instead?

[code]

[2018-09-26 08:28] Sti3bas commented on #584
@Plytas thank you. The routes are registered, but seems like `route('route-name')` helper is not working.

@luceos `app(\Hyn\Tenancy\Providers\Tenants\RouteProvider::class)->boot();` throws an exception `Illuminate\Contracts\Container\BindingResolutionException: Unresolvable dependency resolving [Parameter #0 [ <required> $app ]] in class Illuminate\Support\ServiceProvider`

[2018-09-26 08:32] luceos commented on #584
Woops, how about this:

[code]

[2018-09-26 08:35] Sti3bas commented on #584
@luceos it works, but the problem with `route()` helper still remains.

[2018-09-26 09:00] luceos commented on #584
Ah, yes the `url` binding has to be rebound with the new RouteCollection..

[2018-09-26 09:20] luceos commented on #584
@Sti3bas i've pushed a commit to 5.x related to that:

https://github.com/hyn/multi-tenant/commit/8419caa34ebe26a56340a25f533a9d0f1cbfe2fd#diff-9a7853c6c8656adb4828f621b3f1faa4R51

[2018-09-26 09:48] Sti3bas commented on #584
@luceos still doesn't work, but I've found that it works if you call `$router->getRoutes()->refreshNameLookups();`.

[2018-09-26 10:48] luceos commented on #584
@Sti3bas please provide a snippet as example.

Never mind, I noticed. Committed some changes.

[2018-09-26 11:11] Sti3bas commented on #584
@luceos here is the example of passing test on the fresh copy of Laravel 5.7.

routes/tenants.php:

[code]

Hyn\Tenancy\Providers\Tenants\RouteProvider:

[code]

Tests\TestCase.php:

[code]

Tests\Feature\ExampleTest.php:

[code]

[2018-09-26 11:13] luceos commented on #568
I took inspiration from the example PR and added a custom implementation.

It will be in 5.3.0.

[2018-09-26 11:13] #568 closed, assigned to nobody

[2018-09-26 11:22] #563 closed, assigned to nobody

[2018-09-26 11:25] luceos commented on #584
Try 5.3.0.

Previous suggestion to call the RouteProvider is still my recommendation @Plytas

Closing.

[2018-09-26 11:25] #584 closed, assigned to nobody

[2018-09-26 11:30] Sti3bas commented on #584
@luceos just tested 5.3.0 and the above test is passing. Thank you!

[2018-09-26 16:20] javierrivarola commented on #621
I added a custom view instead of the provided one for generating the SSL Block, either way i don't know why is the option there without a block view, thanks

[2018-09-26 16:41] eusouodaniel opened #626 "Databases on multiple hosts"
Hello good afternoon! Would I be able to put the databases on multiple servers, or would it only be on a single host?

[2018-09-26 19:11] #621 closed, assigned to nobody

[2018-09-26 19:12] luceos commented on #621
It's legacy code.. Let's encrypt made further implementation unnecessary.

[2018-09-26 19:13] luceos commented on #626
By using multiple "managing connections" you can put the databases of tenants on any server. The main/global database will remain on the primary system database.

see: https://laravel-tenancy.com/docs/hyn/5.3/creating-tenants#managing-connection

[2018-09-27 12:58] marcondesdddi commented on #626
Hi, what file inside the project can I include these settings?

[2018-09-27 16:20] Plytas commented on #584
Yeah, all good now using RouteProvider boot method.

[2018-09-28 04:20] luceos commented on #626
You need to configure a second system connection in `config/database.php` and then when creating a website - before sending it to the WebsiteRepository - set the property `managed_by_database_connection` on website to the new/secondary system connection, eg:

[code]

The docs should clarify this.

[2018-09-28 04:21] luceos commented on #584
@Plytas glad to hear and glad it's pretty straightforward too.

[2018-09-28 12:47] marcondesdddi commented on #626
Thank you very much, I will study the documentation.

[2018-09-28 17:47] #626 closed, assigned to nobody

[2018-09-30 09:45] #622 closed, assigned to nobody

[2018-09-30 20:08] nielsiano commented on #590
Anyone gave it a shot? Looking into doing this.

[2018-09-30 20:17] johannesschobel commented on #590
they already started a repo for this: https://github.com/tenancy/hyn-nova
maybe you can contribute..

[2018-10-01 04:40] luceos commented on #590
The above repo is pretty much done for system models. I hoped to also add a tenant switcher, but I guess that has to wait for now.

[2018-10-03 09:21] ametad opened #628 "protect param to make extending possible"
__Description of your feature__

Make `multi-tenant/src/Database/Connection.php` extendable (some more).

---

__Proposed behavior__

[code]

Should be

[code]

To make `$this->db` accessible, if I don't overlook the reason why it is private in the first place...

__Current behavior__

In the class extionsion `$this->db` is not accessible.

---
__Information__

- hyn/multi-tenant version: 5.3.0
-

[2018-10-03 09:53] luceos commented on #628
Where's the PR? 😊

[2018-10-03 12:00] ametad commented on #628
One moment :wink:

[2018-10-03 12:18] #628 closed, assigned to nobody

[2018-10-03 12:19] ametad commented on #628
Thank you!

[2018-10-03 13:46] luceos commented on #628
No, Thank you!

[2018-10-03 20:20] chigam opened #630 "Hello! I have installed this package successful and followed this tutorial https://blog.usejournal.com/writing-a-full-featured-multi-tenant-laravel-app-from-scratch-a0e1a7350d9d. I can't get the tenant website working, i don't know if it is a vhost(apache2) issue . Any help would be highly appreciated, thanks!"
__Description__

..

---

__Actual behavior__

..

__Expected behavior__

..

---
__Information__

- hyn/multi-tenant version:
- laravel version:
- database driver and version:
- webserver software and version:
- php version:

---

__tenancy.php config__

[code]

__webserver.php config__

[code]

---

__Error log__

[code]

[2018-10-03 20:21] #630 closed, assigned to nobody

[2018-10-03 20:26] chigam opened #631 "Hello! I have installed this package successful and followed this tutorial https://blog.usejournal.com/writing-a-full-featured-multi-tenant-laravel-app-from-scratch-a0e1a7350d9d. I can't get the tenant website working, i don't know if it is a vhost(apache2) issue . Any help would be highly appreciated, thanks!"
__Description__

..

---

__Actual behavior__

..

__Expected behavior__

..

---
__Information__

- hyn/multi-tenant version:
- laravel version:
- database driver and version:
- webserver software and version:
- php version:

---

__tenancy.php config__

[code]

__webserver.php config__

[code]

---

__Error log__

[code]

[2018-10-03 21:29] fletch3555 commented on #631
Please type your message in the body, not the title.  Also, use the template (versions/configs/error log, all useful information to us)

[2018-10-03 21:29] #631 closed, assigned to nobody

[2018-10-03 23:09] chigam opened #632 "Tenants website not working"
__Description__

Hello! I have installed this package successful and followed this tutorial https://blog.usejournal.com/writing-a-full-featured-multi-tenant-laravel-app-from-scratch-a0e1a7350d9d. I can't get the tenant website working, i don't know if it is a vhost(apache2) issue .
I have left webserver with default settings expect for apache2 enable which is true.
 Any help would be highly apprec

[2018-10-03 23:39] fletch3555 commented on #632
Seems to work fine for me: http://boise1.tenants.blazebytes.com/

Perhaps you have a hosts file entry for that domain pointing at the wrong IP?

[2018-10-03 23:51] chigam commented on #632
No, the vhost file is OK. What do u mean it works fine for you?

[2018-10-04 00:05] chigam commented on #632
OK sir, seems the DNS propagation was the issue. now it works . Thanks!!!

[2018-10-04 00:05] #632 closed, assigned to nobody

[2018-10-05 09:17] luceos commented on #523
Apply `TenantAwareJob` to the `NewUserResetPassword` class too.

[2018-10-07 19:55] adel-bassiony-zz opened #634 "Database [tenant] not configured."
__Description__
I installed Tenancy in a new clean laravel project ( Demo )

and created a new tenant and it created well also migrated the database

now I trying to insert data in the tenant database but I get this error ( **Database [tenant] not configured.** ) I already searched for this error but I didn't get anything or how to fix it.

I created a tenant called ( abc ) and the domain I'm usin

[2018-10-08 05:13] luceos commented on #634
`abc.` is not a valid fqdn:
https://en.wikipedia.org/wiki/Fully_qualified_domain_name

see the docs for a few examples: https://laravel-tenancy.com/docs/hyn/5.3/creating-tenants#create-and-connect-hostname

[2018-10-08 05:13] #634 closed, assigned to nobody

[2018-10-08 05:16] luceos commented on #624
Sorry I totally missed this 😞

Wildcard subdomains don't work on regular osx/linux/windows machines. The edit in the hosts file is just a one entry, one ip method.

There are solutions, eg using dnsmasq, which Laravel valet also uses behind the scenes. For now the best way to develop is by either configuring every tenant you want to test with in your hosts file or use something like valet.

I hope

[2018-10-08 07:58] adel-bassiony-zz commented on #634
yea the problem was in fqdn .. it should be ( **abc.demo.dev** ) bot only ( **abc.** ) 👌
thank you so much @luceos

[2018-10-09 06:24] RushabhJoshi commented on #523
I did and still the same

I have created foo.localhost so password set link should be something like `http://foo.localhost/password/set/<token>`
but it is still wrong
`http://admin.localhost/password/set/0b3bc4c1f87e1a602148ea626d45831d1fbb380090ded1133113342b88fc424f`

[2018-10-09 08:48] luceos commented on #523
I'm not sure. I see three stages:

1. You create the tenant and dispatch the InitTenant job
2. The InitTenant job that is tenant aware
3. The NewUserResetPassword job (Notifications are also queueables) which now is tenant aware.

Please dump the tenant in each step to see which tenant is identified, by adding the following to the __construct or handle of each of the above steps:

[code]

[2018-10-09 11:06] RushabhJoshi commented on #523
This time I have updated the Laravel version 5.7 and package version to 5.3

Note: I have little change in your code snippet which is
[code]

the same story happened
[code]
here first log is in controller and other as you said
7cc0e34739874ddd860e470a02132d5a is for admin.localhost
37141bbfe3aa41d18d17ea13b57377a6 is for foo.localhost

yes this is what expected but the route is still false
`http:/

[2018-10-10 08:18] harbrinderdebut opened #635 "Tenant Database and Main Database"
I have App/User.php which use Hyn\Tenancy\Traits\UsesTenantConnection, so when my hostname is a tenanat then it authenticates from tenant's database users table.

Now what I want when the host is not a tenant I want to use App/User.php master database's users table not tenant's database users table. How to use one App/User model for both tenant and system database by identify if host tanant or not

[2018-10-12 13:05] February30th opened #637 "Too much queries to database and cache?"
__Description__

When using auto identification there is a huge amount of duplicated queries to both the database and cache, and a huge number of events is dispatched

---

__Actual behavior__

Sending a request to the server using the auto-identification configuration results in 15+ queries to the database 30+ queries to the cache and a huge number of events dispatched

__Expected behavior__

Mos

[2018-10-12 18:28] fletch3555 commented on #635
Short answer is "don't".  The best option is to use 2 different models (they're representing different things, right?), "Admin" and "User" (or whatever you'd like to call them).  Give them each the appropriate "Uses___Connection" trait, then update the auth guards to use the right model class at the right time.

Also, we have issue templates for a reason.  They help ensure the correct information

[2018-10-12 18:33] fletch3555 commented on #637
I don't mean to point blame or anything, but that doesn't seem accurate.  Perhaps you've added code that's triggering duplicate queries?  I can't think of any reason why the package would cycle through the code repeatedly like that.

Also, what tool are you using in those screenshots?

[2018-10-13 00:46] fletch3555 commented on #533
Closing as #603 got merged.

[2018-10-13 00:46] #533 closed, assigned to nobody

[2018-10-13 02:28] adel-bassiony-zz opened #638 "problem with master domain without subdomain or tenant"
__Description__
let's say I have a website or project called ( demo.dev ) & tenant ( abc.demo.dev )

if I visited ( demo.dev ) it returns 404 error because i enabled:

so how i can use ( demo.dev ) normally without disable ( TENANCY_ABORT_WITHOUT_HOSTNAME ) ?
and use unique view and controlelrs for this url only ?

I enabled it to identify if the subdomain exists or not.
..

---

__Actual behavior

[2018-10-13 03:15] fletch3555 commented on #638
There are a few options.

The easiest is to just add `demo.dev` to the `hostnames` table (without associating it with a tenant).  This will allow it to pass the `abort-without-identified-hostname` check while not requiring it to be tied to a tenant.

Alternatively, you can change that `abort` config to false.  This stops the 404 on `demo.dev`.  Then define your tenant routes in the `tenants.php` r

[2018-10-13 03:19] fletch3555 commented on #604
@BenaddiRar, have you gotten this working with another session storage method?  I'd like to close the issue if so.

[2018-10-13 03:54] adel-bassiony-zz commented on #638
@fletch3555 Thank You, it's working now 💪

[2018-10-13 03:59] fletch3555 commented on #638
No problem!

[2018-10-13 03:59] #638 closed, assigned to nobody

[2018-10-13 11:51] February30th commented on #637
I'm using [Clockwork](https://github.com/itsgoingd/clockwork)

[2018-10-13 14:55] pascalresch opened #640 "Testing tenant API with laravels built-in functionality"
__Description__
I wanted to write some tests for my tenant API endpoints. In the setup method of the TestCase I'm creating a tenant and after that I'm switching the environment to that. First I test some not API related things, like if a user in the tenant DB is created, or if the tenant database was seeded correctly. These tests pass all. Now I'm testing some API endpoints. Firstly for their resp

[2018-10-14 18:10] #580 closed, assigned to nobody

[2018-10-15 05:53] DeveloperOnCall opened #641 "URL Not Generating Properly"
__Description__

When running an artisan job that loops through all web sites - the URL within the results (an email) is set to localhost. I do have the 'update-app-url' set to true.

[code]

It is using a Laravel Mailer to generate an email and then 'jdavidbakr/mail-tracker' (2.1) to replace links and add a tracking pixel to the email.

---

__Actual behavior__

Sets the tracking URL to http://lo

[2018-10-15 06:57] luceos commented on #641
DailyEmail most likely needs to implement the TenantAwareJob trait, see: https://laravel-tenancy.com/docs/hyn/5.3/queues

[2018-10-15 06:58] #635 closed, assigned to nobody

[2018-10-15 06:58] #604 closed, assigned to nobody

[2018-10-15 07:01] luceos commented on #523
Possibly what happens is that updating the app url is misbehaving. We need to dive into this. Thanks for your patience.

[2018-10-15 09:28] DeveloperOnCall commented on #641
I tried a few things - including your recommendation. Not luck yet.

Curious - I replaced the method that I am using with the following - just to see if the url('/') is working properly up to that point.

[code]
Which very strangely returns:

[code]

From what I understand I should be getting the URL to the current (first iteration) web site's url.

What am I doing wrong here?

Thanks,
Daniel

[2018-10-15 09:34] bkintanar commented on #641
Humor me and try using `config('app.url')` instead of `url`

[2018-10-15 09:35] DeveloperOnCall commented on #641
Hi @bkintanar thanks for chiming in here..

I gave that a try and am returned the same 'localhost' value.

D

[2018-10-15 09:37] bkintanar commented on #641
Ok. what does your `TENANCY_AUTO_HOSTNAME_IDENTIFICATION` in your `.env` looks like?

[2018-10-15 09:39] DeveloperOnCall commented on #641
What makes it a little more confusing is that we are using the tenant.database at that point - when I dump a value from the db - it is using the first web sites database properly.

Problem just seems to be the URL.

To your other question - I do not have that set in .env rather setting the default in the config/tenancy.php

[code]

D

[2018-10-15 09:42] bkintanar commented on #641
Well the thing is that the setting of the `update-app-url` happens in the `HostnameActions` middleware, and only if auto-identification is enabled. Which you claim it's set to true.

[2018-10-15 09:46] DeveloperOnCall commented on #641
For argument's sake I set it in .env here are the related entries

[code]

Still returning localhost...

[2018-10-15 09:52] bkintanar commented on #641
Looks like this is a bug then. HostnameActions is a middleware so it's only executed when an http request is made.

@luceos ?

[2018-10-15 09:58] DeveloperOnCall commented on #641
Could it be the loop? I hacked the src (recommended on an issue from some time ago - to be able to loop through all sites (in order to run a job on each site)

[code]

Which does work to loop all sites. Then using the following to set the environment etc

[code]

[2018-10-15 10:00] bkintanar commented on #641
I don't believe it's the loop since you're able to get the correct hostname out of it. I believe it's (app.url) not being set at all.

[2018-10-15 10:20] DeveloperOnCall commented on #641
Just to further help any debug here -- I made this change

[code]

Strangely I am not getting the FQDN either. This is what is dumped

[code]

[2018-10-15 10:27] bkintanar commented on #641
You cant get the hostname that way.

[code]

Can you try this code above?

[2018-10-15 10:31] DeveloperOnCall commented on #641
No change..

[code]

Here is the dump

[code]

[2018-10-15 10:35] DeveloperOnCall commented on #641
When I dd($siter) in the above loop...

[code]

Is this normal?

D

[2018-10-15 11:15] DeveloperOnCall commented on #641
For clarity sake - I only made the one change to the multi-tenant core..
(Hyn\Tenancy\Repositories\WebsiteRepository)

[code]

[2018-10-15 15:53] mauricius commented on #641
I'm using version 5.1 in my project and I have the same problem. `url('/')` returns always the value stored inside the `.env` file under the `APP_URL` key, even though I'm successfully switching tenants.

I finally managed to solve it by forcing Laravel's `UrlGenerator` class to use a custom root url:
[code]

[2018-10-16 06:13] DeveloperOnCall commented on #641
@mauricius Thanks -- but I am not even able to access the $hostname - digging into that at the moment.

D

[2018-10-16 06:20] DeveloperOnCall opened #642 "Undefined Method onTenant"
__Description__

So not being able to run the DailyMail as a scheduled command I am trying to use Laravel Job to get the mail sent.

So from the handle() of the command I am calling the job like this...

[code]

Which throws the error

[code]

I have also tried calling the job as recommended in the docs

[code]

Which gives me the same error.

In the command I have added the TenantAware job

[code

[2018-10-16 06:45] luceos commented on #642
You're very close:

[code]

Also the command does not need the trait.

[2018-10-16 07:02] DeveloperOnCall commented on #642
Thanks - that got me past the error and into the job.

[code]

Within the job I have no access to hostname and the url('/') still shows as localhost.

[code]

[code]

Any ideas - I have no idea what to try next.

D.

[2018-10-16 12:12] luceos commented on #642
might be related to #641

[2018-10-16 12:23] luceos commented on #641
@mauricius interesting method call, we might be able to use that in the package as well.. Feel free to PR that if you like.

[2018-10-16 12:25] luceos commented on #637
Is this on a clean install?

Pretty odd considering cache is enabled. This will need some diving into I guess.

[2018-10-16 13:47] February30th commented on #637
Found the issue, when using auto discovery the package works as expected, but if auto discovery is disabled and the service providers are registered manually in AppServiceProvider
[for example](https://github.com/hyn/multi-tenant/issues/312#issuecomment-354041636) the caching does not work

[2018-10-17 10:26] magarrent opened #644 "Nginx not adding host after Homestead reload"
__Description__

Hey there, when I stop and run up Homestead, the host that I had with tenant disappear, and I have to delete and recreate BDs all time

__Information__

- hyn/multi-tenant version: 5.2.7
- laravel version: 5.6
- database driver and version: 5.7.22-0ubuntu18.04.1
- webserver software and version: nginx 1.14
- php version: 7.2

---

__tenancy.php config__

DEFAULT

__webserver.php c

[2018-10-17 17:13] DeveloperOnCall commented on #641
@luceos you’re right the comment on the other issue is related. Is this a bug or still a support problem or something I’m doing wrong?

[2018-10-18 05:31] Akash-laravel opened #645 "How to define more tables while creating new tenant"
Hi!
I'm creating new tenant using this library which works fine, however i would like to add somewhere in it, to create more tables while creating new tenant. I'm using voyager template in my laravel, but when i'm creating new tenants it doesn't create voyager tables in new tenant database.
any guess or fixes to make it work.
Thanks in advance!

[2018-10-18 05:40] bkintanar commented on #645
Hello there,

You need to add the migrations to `/database/migrations/tenant` directory. When creating tenant, hyn reads all the migrations in this directory and migrates the newly created tenant databases with the migration files present in this directory.

[2018-10-18 05:43] Akash-laravel commented on #645
You mean i can define more tables here, and it will be created while running migration command?
Also, after adding migrations to suggested directory, do i need to add run any other command?

[2018-10-18 05:45] bkintanar commented on #645
Check the `tenancy.php` config file. It reads:

[code]

[2018-10-18 05:48] Akash-laravel commented on #645
can i define here tables of voyager template?

[2018-10-18 05:51] bkintanar commented on #645
@Akash-laravel 	I'm not sure about that.

@fletch3555 care to comment? You've got more experience with Voyager than any of us here. 😄

[2018-10-18 05:55] Akash-laravel commented on #645
ok, thanks, can you please tell the path and way to define a new migrations to tenant folder. I'm new to laravel and stuck in this problems for days now. If you can paste here the file and path where to add to it. would be great for me. Thanks in advance.

[2018-10-18 06:31] #642 closed, assigned to nobody

[2018-10-18 07:19] luceos commented on #645
Please read our [requirements](https://laravel-tenancy.com/docs/hyn/5.3/requirements).

I now this sounds harsh but grasping the full concepts of this package is much, much easier if you know the basics of Laravel properly. As proposed in our docs doing one project with Laravel before jumping on this package will considerably be easier.

Also I'd rather not see this issue tracker grow into a suppo

[2018-10-18 07:19] #645 closed, assigned to nobody

[2018-10-18 07:25] luceos commented on #644
I'm no expert on Homestead/Vagrant. I'm not sure what happens if you modify an nginx configuration and re-run the instance. It might as well use the configuration instead of the created vhost configuration, because those files are only contained inside the container..

Anyone?

[2018-10-18 07:26] luceos commented on #644
PS you set "webserver.php config" to DEFAULT, but the default is having NGINX not enabled. If you don't take the time to be thorough, why should we?

[2018-10-18 07:29] magarrent commented on #644
Hey, thanks for the response. Sorry, in my webserver.php I have:

apache => false
nginx => true

[2018-10-18 07:47] Sti3bas commented on #640
You should call `boot` method of `RouteProvider` after you set the hostname to register tenant routes, you can find more details in my other comment: https://github.com/hyn/multi-tenant/pull/627#issuecomment-427492644

[2018-10-18 08:01] LDP-Dries commented on #644
Hey,

Which commands are you using to power off and up the Homestead environment? Are you using the CMD as Administrator or normal user?

[2018-10-18 08:58] magarrent commented on #644
From a normal user in my Real machine:

[code]

That's all

[2018-10-18 10:08] luceos commented on #644
TLDR if the vhosts exists before running halt and disappear when you run up again, it's definitely not an issue with this package but with vagrant. I can't provide support in our issue tracker for other tools.

Feel free to join discord and ask the question there, or get assistance where knowledge about vagrant is more readily available.

[2018-10-18 10:08] #644 closed, assigned to nobody

[2018-10-18 10:47] Akash-laravel commented on #645
@bkintanar thanks, for you help.
@luceos thanks for the information. When you get into the developement of new framework, it doesn't mean you have to have knowlege of it before, for just to use a library. We develop the system as per the requirements. It doesn't mean that i have to start with basics for a library. Anyways, thanks for your reply.

[2018-10-18 11:21] DeveloperOnCall opened #646 "Spatie Medialibrary"
__Description__

In an effort to fix my hostname not identified issue I created a new Laravel install using the directions:
https://laravel-tenancy.com/docs/hyn/5.3/spatie-medialibrary

---

__Actual behavior__

When using the suggested method to attach media to a user -

[code]

Seems to work without any problem, however -  the image is placed in the ` storage/app/public/1 ` folder.

__Expected b

[2018-10-18 11:23] luceos commented on #646
[code]
This does not set the tenant, this does:
[code]

[2018-10-18 11:28] DeveloperOnCall commented on #646
Modified to set the tenant according to your comment..

[code]

Image is still saving to the ` app/public/ ` folder.

Thanks

[2018-10-18 12:14] luceos commented on #646
@bkintanar ?

[2018-10-18 12:23] bkintanar commented on #646
Will check on this later this weekend. Thanks for reporting it.

[2018-10-18 13:00] C-Spydo commented on #448
Have this same issue for 2 days now, can't figure out where the " CREATE DATABASE " line is
Kindly help @f0reclone

[2018-10-18 13:21] f0reclone commented on #448
@C-Spydo You can find the fix from @luceos here:
https://github.com/hyn/multi-tenant/commit/59fcda0fc69b13746d767cfc6f12adc0ef303ac8

[2018-10-18 13:25] PtyMatt opened #647 "Add doc for unit testing (phpunit)"
__Description of your feature__

In the `Tenant Aware` or `Tutorials` section of the [docs](https://laravel-tenancy.com/docs/hyn/5.3/), there should be an article explaining how to make tests "tenant aware".

__Current behavior__

[This complete but outdated tuto (v5.1)](https://medium.com/@ashokgelal/a-full-featured-multi-tenant-app-with-laravel-part-2-unit-tests-96d6dfbf0617) explains very well

[2018-10-18 17:14] rvetrsek commented on #611
Is there any solution to this issue jet? I just reached the same problem and I'm really in a hurry to get this working...

[2018-10-18 20:05] bkintanar commented on #611
Try adding this to your AppServiceProvider's `boot()` method:

[code]

[2018-10-18 21:31] pczartoryski opened #648 "Performance and scalability"
Hi,
First of all - great stuff!
I would like to ask about efficiency when it comes to higher number of instances - e.g. over 2000 - (with low traffic). Does anybody tested what is the limit?
Can anybody tell how this is working in such (big) projects ?
I also did not find an answer to these questions, maybe someone could help:

1. Is there possible to have directory structure something similar lik

[2018-10-19 02:17] luceos commented on #648
In terms of scalability, hyn currently offers:

- ability to use multiple database servers using the [managing connection](https://laravel-tenancy.com/docs/hyn/5.3/creating-tenants#managing-connection).
- in terms of disk/file system storage, I personally believe that 2000 subdirectories shouldn't be much of a problem as long as you don't try to read a directory list, also read [here](https://serv

[2018-10-19 04:30] rvetrsek commented on #611
Wow thank you, it works great! If I'm not mistaken, this also defeats the purpose of having the EnforceTenancy middleware? If it does it is even better because it applies the same effect but does it automatically.

[2018-10-19 06:59] luceos commented on #611
@obsessen yes it does, great snippet @bkintanar 👍 Can we pr this to a sane place in the docs (faq or connection page?)

[2018-10-19 08:36] bkintanar commented on #611
Closing this now since docs have been updated.

Link to docs: https://laravel-tenancy.com/docs/hyn/5.3/connections#forcing-the-connection

[2018-10-19 08:36] #611 closed, assigned to nobody

[2018-10-20 02:20] fletch3555 opened #649 "getWebsite() can return null. Null-check needed"
__Description__

 (reported in Discord)

When using the `path()` method of the `Directory` class is code that is referenced on every request (i.e. a ServiceProvider), if a tenant hasn't been identified (i.e. artisan commands), it will throw an exception.  This is because of this line: https://github.com/hyn/multi-tenant/blob/5.x/src/Website/Directory.php#L88.  It calls `getWebsite()` (which can re

[2018-10-20 04:39] X-Coder commented on #637
What is the solution to this if I want to use manual package discovery?

[2018-10-20 09:38] magarrent commented on #644
Hey finally I got the solution without recreate DBs, when vagrant is UP, enter vagrant ssh and reload nginx:

`sudo service nginx reload`

[2018-10-22 05:20] bkintanar commented on #646
@DeveloperOnCall

Here's my take on this. You need to override the PathGenerator.php. You can read more about it here: https://docs.spatie.be/laravel-medialibrary/v7/advanced-usage/generating-custom-urls#generating-custom-urls

Here's what I did with my setup. What you need to pay attention is the `getPath` method where we use the db name as part of the URL.

Afterwhich, you need to update the `pa

[2018-10-22 05:26] bkintanar commented on #646
@DeveloperOnCall the above code still doesn't store it to the tenant disk, as that still needs more investigation on my end, what this does it stores the image to a subdirectory using the tenant connection name.

[2018-10-22 08:52] Plytas commented on #646
You can always implement your own PathGenerator to store files where you want. I'm using this myself to separate stored tenant media.
https://docs.spatie.be/laravel-medialibrary/v7/advanced-usage/using-a-custom-directory-structure

[2018-10-22 10:46] chigam opened #650 "Relationships between Tenants and System"
Hello,
I am building an exam system for companies. Each company(tenant) has employees who will do the exams. For security purposes, the exams will be on System database. If a company has paid for the exam, then its employees can do the exam. How do I create a relationship between the Tenant model and the system model for this scenario? Or if there is any other solution to this issue.
Thanks in adv

[2018-10-22 12:07] bkintanar commented on #650
can you check my comment on [here](https://github.com/tenancy/docs/issues/55#issuecomment-431299085) and see if that'll help.

[2018-10-22 12:38] luceos commented on #649
The Directory class shouldn't work without an active Tenant. I think an older implementation only bound this class into IoC when identified..

Also, this class has low priority to me because the Disks can take care of the logic this class introduced and this class is pretty much a rude hack. Aka not too happy about it still in the package :)

[2018-10-22 12:50] chigam commented on #650
Thanks @bkintanar!
Can u please elaborate more on that example or expand it to my use case as I have not understood it yet!

[2018-10-23 11:20] lengletremy commented on #646
To secure a little more and not give the name of the database while separating the sites.

[code]

[2018-10-24 20:12] SebastianSchoeps commented on #557
For any one who stumbles over this: if you need to access the website object in the listener to `ConfigurationLoading` you could cache the website object in a listener to `Events\Websites\Identified`. Then you can access it in your listener.

@luceos Would you accept an PR which hands the website object to the `ConfigurationLoading`event?
```$this->emitEvent(new Events\Database\ConfigurationLoadin

[2018-10-25 10:50] luceos commented on #557
Yes, seems like the original question was answered. Let's not trail into having a discussion on different topics inside one issue.

[2018-10-25 10:50] #557 closed, assigned to nobody

[2018-10-29 11:29] PtyMatt commented on #647
@luceos do you have any schedule or milestone for this doc?

I will be willing to give any feedback on it :)

[2018-10-29 14:59] luceos commented on #647
Not really no.

Feel free to send in a PR if you want.

[2018-11-02 08:26] vpratfr opened #652 "[Question] How to setup the project for monitoring site + tenant sites + main site"
Thanks a lot for the package, this seems to be well thought. I spent already two days playing with it and started to port our current MVP to a multi-tenant approach.

One thing I cannot figure out though : our project will consist in basically 3 parts.

- http://example.com =  the product website. This would not really need any access to the tenant data and could be considered a separate project.

[2018-11-02 08:45] bkintanar commented on #652
You could achieve this in number of ways. One of which is that you could add a domain specific routes for the admin and a subdomain route group for the other tenants.

[code]

[2018-11-02 08:51] vpratfr commented on #652
So this part

    Route::group(['domain' => '{subdomain}.'.config('app.domain')], function () {
        // Put all your tenant routes here.
    });

will pick-up all subdomains but admin, right?

[2018-11-02 08:53] bkintanar commented on #652
not really. it will pick up any subdomain, but the previous code block catches the admin subdomain first.

[2018-11-02 09:12] vpratfr commented on #652
Thanks for the idea. I will try to setup some minimal code to test this out. Will get back here in case something else pops up.

[2018-11-02 09:56] luceos commented on #652
Another way of setting up a global admin site is by adding the hostname to the hostnames table and then use the route group (as @bkintanar points out) to route for that domain only. Nothing else is needed in that situation, because you do not need any immediate auto resolving for tenants. The added benefit is that the domain can no longer be claimed by a tenant.

[2018-11-02 09:58] vpratfr commented on #652
Looks good.

Do you think there would be an easy way to integrate the main website within the same project? (routes which should not match any subdomain)?

[2018-11-02 10:00] vpratfr commented on #652
I mean define routes which will not be matched when on a subdomain:

    http://example.com/blog would work

    http://acme.example.com/blog would 404

[2018-11-02 10:02] vpratfr commented on #652
Maybe

    Route::group(array('domain' => 'example.com'), function() {
        // root domain specific route I guess?
    });

[2018-11-02 11:10] vpratfr opened #653 "Slow execution for tests involving database"
I currently have a basic implementation working on a very simple use case. My current concern is performance of testing.

A very simple test suite regarding user creation takes around 10 seconds to run for 2 tests. That takes less than a second on a standard project using in memory sqlite database.

I feel that using MySQL as server is the main culprit. Would you have any guidelines to achieve a d

[2018-11-02 12:02] vpratfr commented on #653
I could get down to 1.6 seconds using the instructions at https://github.com/hyn/multi-tenant/pull/627

Would be nice to get that documented somewhere I guess.

[2018-11-02 12:02] #653 closed, assigned to nobody

[2018-11-02 12:18] vpratfr commented on #653
https://github.com/tenancy/docs/pull/74

[2018-11-02 12:19] vpratfr commented on #647
I have something for a start at https://github.com/tenancy/docs/pull/74

Regards,

[2018-11-05 01:44] fletch3555 commented on #652
tenant sites (`<tenant>.example.com`): routes in tenants.php, with the appropriate configs set (https://github.com/hyn/multi-tenant/blob/5.x/assets/configs/tenancy.php#L296).

main website (`www.example.com`): routes in web.php, within a `Route::domain()->group()`

admin website (`admin.example.com`): routes in admin.php, within a `Route::domain()->group()`. method added to RouteServiceProvider to

[2018-11-06 15:07] AustinMaddox commented on #399
It's been a while, but, we're now running multi-tenant version 5.2 and need to address this. In our case, we cannot set `website.disk` to `false` and disable tenancy specific folder operations completely in config/tenancy.php because we use S3 to store images uploaded by tenants. We *do not* use the overrides... things like the config, translations, vendor, etc.

Obviously our AWS bill is still ve

[2018-11-06 15:31] luceos opened #654 "ActivatesDisk further improvements"
It's been a while, but, we're now running multi-tenant version 5.2 and need to address this. In our case, we cannot set `website.disk` to `false` and disable tenancy specific folder operations completely in config/tenancy.php because we use S3 to store images uploaded by tenants. We *do not* use the overrides... things like the config, translations, vendor, etc.

Obviously our AWS bill is still ve

[2018-11-06 15:32] luceos commented on #654
I see a few options:

- Roll your own upload solution.
- PR a fix to this package that reduces overhead; I am not sure where yet as I didn't investigate it. I'm also not available right now to work on the project to alleviate the burden.
- I can optionally also take a look on a freelance basis. Feel free to reach out to me per mail if interested, it's in the composer.json file.

Right now any atte

[2018-11-06 17:01] Broutard opened #655 "tenant connection username/password overwritten"
__Description__
In my case, each tenant database can be on a different server.
So, I use `$website->managed_by_database_connection` to point to a specific connection for each website.

It seems it is caused by Hyn\Tenancy\Database\Connection:317
[code]

If `managed_by_database_connection` is used, why the username/password are overwritten ?! (`auto-create-tenant-database-user=false` in my config).

[2018-11-06 18:32] luceos commented on #655
As explained on discord:

the `managed_by_database_connection` indicates the system connection that manages this tenant database; creates, updates and deletes the tenant database and user. Setting that property on the website model does not imply that the website/tenant will use that connection from then on.

If you want to force a specific connection to be used on the tenant you can listen to the

[2018-11-06 19:14] Broutard commented on #655
@luceos thank you for these clarifications on `managed_by_database_connection` (I've taken that off for now).

But there is still a migration problem when I set my `system-connection-name` to an exisiting connection configured like this
[code]
PS: I have some load-balanced master/slave mysql servers configured with differents port/username.

Try to setup your `system` connection like this (and `au

[2018-11-06 20:44] Broutard commented on #655
Actually, I think it is due to `auto-create-tenant-database-user=false` and my `tenant-migrations-path`.

When a website is seeded, hyn create the tenant database and try to migrate it with a wrong generated username/password (for the tenant connection) instead of using my default username/password

[2018-11-06 21:58] Broutard commented on #655
finally I managed to do what I wanted by adding a listener on `ConfigurationLoaded`

[code]

but it's really a problem that it's not natively possible to use an existing connection for each tenant.

[2018-11-06 23:28] rubensrocha commented on #655
Can you tell me how you defined this listener?

[2018-11-07 09:07] Broutard commented on #655
@rubensrocha
You have to add your listener class to your EventServiceProvider like this
[code]

https://laravel.com/docs/5.7/events#registering-events-and-listeners

[2018-11-08 09:45] pcfjojo opened #659 "php artisan passport:client --password per tenent"
`php artisan tenancy:run passport:client --option="password=1"  --tenant=1`

I tried to run this command but i run migration for system database instead of tenent.

[2018-11-08 10:30] mnapoli opened #660 "`GRANT ALL` on Amazon RDS with MariaDB does not work"
**Description**

Creating a new tenant with `auto-create-tenant-database-user = true` does not work on Amazon RDS with MariaDB.

*Per the discussion below it seems this problem only appears with MariaDB, not with MySQL.*

The problem is because the root MySQL user doesn't have `SUPER` privileges (see https://stackoverflow.com/a/44441811/245552).

This piece of code fails because of the `GRANT ALL`

[2018-11-08 10:31] vpratfr opened #661 "Running tenancy:db:seed from PHP crashes"
When running the command from PHP (inside a system seeder), the command crashes with the following exception:

[code]

The code launching the command is:

[code]

Casting the parameter as an array at the source fixes the issue. However I feel it could be easy to add a cast in the command itself.

[2018-11-08 10:47] mnapoli commented on #660
Opened #663 with the list of privileges that exist on RDS. We could restrict that list further if you are sure we don't need one of those privileges.

[2018-11-08 11:35] #661 closed, assigned to nobody

[2018-11-08 14:44] vpratfr opened #664 "Automatically setting the subdomain when calling route(...)"
I have routing for tenants setup like that (in order to not create those routes on the main website):

[code]

When inside a tenant view, I need to generate links to such routes. Using named routes:

[code]

Of course, Laravel complains that a parameter (`subdomain`) is missing. And obviously, I would not like to manually specify the subdomain each time I want to generate a route.

What is the eas

[2018-11-09 03:44] fletch3555 commented on #664
Why not just use this: https://laravel-tenancy.com/docs/hyn/5.3/fallback#tenant-routes-override? Then set the config to override global routes.

This way, the tenant routes are only loaded when a tenant has been identified (i.e. a `subdomain` exists, but you're not required to make it a route parameter), and your other routes (main site) won't bleed into your tenants.

Also, please use our issue t

[2018-11-09 06:49] luceos commented on #659
Can you post the exact output when running this command you posted, please append `-vvv` for a full trace. That makes it easier to find a solution.

[2018-11-09 08:39] pcfjojo commented on #659
`php artisan tenancy:run passport:client --option="password=1"  --tenant=1 -vvv`

Password grant client created successfully.
Client ID: 19
Client Secret: rxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

**it is creates the token in system table instead of tenent 1 database.**

[2018-11-09 21:43] vpratfr commented on #664
Because I have some other subdomains and I need route generation to be specific to some domains.

I could solve the issue by subclassing the UrlGenerator and binding it into the container.

Here is a way to automatically fill the subdomain route parameter if someone needs to do that too.

### The custom UrlGenerator class

[code]

### The code to insert in the RouteServiceProvider

[code]

[2018-11-09 21:43] #664 closed, assigned to nobody

[2018-11-09 21:45] vpratfr commented on #659
- Did you publish the migration and stick it in the database/migrations/tenant folder?
- Is there any way to specify the connection to passport (so that it uses the tenant connection instead of system)?

[2018-11-10 00:41] excel-vba-course opened #666 "Laravel 5.5 Support"
Hi,

I have an existing web app written on L5.5 and not expected to move to L5.6 in the short term - what are my options ofr using Tenancy ? Is there a prior release I can use ? If so, what are the implications ?

Additionally if this is not possible, what would be the main impacted areas of a L5.5 app that would need to be considered to use the current release version ?

Thanks for any and all po

[2018-11-10 07:36] luceos commented on #666
The best option is to use laravel shift and do the upgrade to laravel 5.7. Once you stop upgrading it becomes harder with every release. Aside from that this package offers a version that is compliant with 5.5 but aside from security patches isn't actively maintained.

[2018-11-10 10:07] excel-vba-course commented on #666
Understood thanks for the input, appreciated.

Steve

[2018-11-10 10:13] excel-vba-course commented on #666
Actually, can you please advise on documentation for using version compatibke with L5.5 ? Having trouble locating instructions / documentation.

Thanks in advance
Steve

[2018-11-10 13:08] bangjelkoski opened #667 "Registering custom repositories for tenants"
__Description__

Hello. First of all I would like to thank you for this awesome package. Its really something that should be appreciated.

Let me explain my situation. I am trying to create a multi tenant application (using this package of course), but I am hitting a dead end at the moment, and please note that I tried a lot of stuff before asking for your help since I dont want to waste your time

[2018-11-10 18:04] fletch3555 commented on #666
simply installing with composer will get the most appropriate version based on your other dependencies.  Then you can see what version was installed and read our docs specific to that version.

[2018-11-10 18:08] fletch3555 commented on #667
Are "Settings" tenant-specific and therefore shouldn't be loaded at all outside of tenant sites (i.e. your main/marketing site and/or admin site)?

If so, just wrap the singleton definition (or the `settings = Cache...` code if timing isn't right in the provider) in an `if` that checks if a tenant has been identified.  There are a few ways to do this, so I won't prescribe one here, but they've all

[2018-11-10 20:25] bangjelkoski commented on #667
@fletch3555 thank you for your fast response. I did that and now everything works fine.

You guys can close this issue now, if I encounter some other difficulty along the road I am going to ask again :)

Kind regards

[2018-11-10 20:29] #667 closed, assigned to nobody

[2018-11-10 22:31] excel-vba-course commented on #666
Ah ok thanks vm for the assistance 😊

Steve

[2018-11-11 08:32] excel-vba-course commented on #666
Hi,

Still have an issue with this. Simply requiring it tries the latest Tenancy package which doesn't work. Have got a screenshot for context but not sure how to upload.

Thanks for continued assistance.

Steve

[2018-11-11 11:54] jamby77 commented on #666
Hi all, attached the screenshot of simply doing composer `composer require hyn/multi-tenant`
![screenshot](https://user-images.githubusercontent.com/162916/48312546-01ff0200-e5b9-11e8-8c23-42d9605e4ed0.png)

[code]

[2018-11-11 12:29] Sti3bas commented on #666
`5.0.17` is the latest version supporting Laravel 5.5. You can install it with `composer require hyn/multi-tenant:5.0.17`

[2018-11-11 12:31] jamby77 commented on #666
@Sti3bas thanks, that worked as expected

[2018-11-11 12:41] #666 closed, assigned to nobody

[2018-11-12 14:00] #660 closed, assigned to nobody

[2018-11-13 13:49] zxckoko opened #668 "Automatic seeding of newly created tenants"
__Description__

Default Seeds For Newly Auto-Migrated Tenants

---

__Actual behavior__

No seed action executed

__Expected behavior__

Seeders be applied once a new tenant is created

---
__Information__

- hyn/multi-tenant version: 5.3.*
- laravel version: 5.6
- database driver and version: MariaDB 10.*.*
- webserver software and version: Apache 2.4
- php version: 7.2.4

---

__tenancy.php con

[2018-11-13 13:54] bkintanar commented on #668
Did you add the TenantTableSeeder to the main `database/seeds/DatabaseSeeder.php` file?

[2018-11-13 14:31] luceos commented on #668
Is the `Database\Seeds\Tenant\TenantTableSeeder` resolvable? You can try to instantiate it from within Tinker to check.

[2018-11-13 14:39] Sti3bas commented on #668
You don't need to namespace it by default. Just add `database/seeds/tenant/TenantTableSeeder.php` file and set the config to `'tenant-seed-class' => TenantTableSeeder::class,`.

[2018-11-14 08:42] zxckoko commented on #668
Already did. Same result.

I'm not sure if I am doing it right, but here is the result. Had to namespace `DatabaseSeeder`, else unknown class. Similar result is given if `Database\Seeds\Tenant\TenantTableSeeder` is used.

![image](https://user-images.githubusercontent.com/10623125/48469991-2d892300-e82b-11e8-9ce5-704e4993f79f.png)

Add to where exactly?

I am still coming up empty. Had to manually

[2018-11-14 08:49] Sti3bas commented on #668
![screen shot 2018-11-14 at 10 46 20](https://user-images.githubusercontent.com/17280721/48470625-986e3600-e7fa-11e8-806a-627b0ecbd848.png)

You should probably also run `composer dump-autoload`.