[2017-11-01 20:31] bkintanar commented on #308
Yes. I think the `env` route is better, we can pickup the `DB_DATABASE`, `DB_USERNAME`, and `DB_PASSWORD` along the way instead of suggesting a default.

[2017-11-01 20:33] Thijmen commented on #297
I think this is a good aproach and should be kept this way.

[2017-11-01 23:47] ashokgelal commented on #306
Like I mentioned on Discord#support channel, I'm having this exact same issue but in a different way. What I'm doing: create a customer => create a website => create a hostname => auto run tenant migrations and seeds (this is where the problem begins)

[2017-11-02 04:20] ashokgelal commented on #306
Repro: https://github.com/ashokgelal/tenancy-repro

[2017-11-02 08:24] luceos opened #309 "Make cache handling better for tenants"
Currently the Laravel cache will use the same cache key for all tenants. This can and will cause issues in the long run. The config key for tenants should be automatically changed and the ability to disable overriding the cache key should be configurable inside tenancy.php

[2017-11-02 08:25] luceos opened #310 "Make queue handling better for tenants"
Current there is no easy way to sent jobs meant for tenants into the queue. I recommend sending along the tenant (website) id and loading that one again, activating the tenant if necessary to resolve the database connection.

Queue handling should be improved, I was thinking of a Trait or Abstract Job, but this has to be specced out better.

[2017-11-02 08:27] luceos opened #311 "Document the trait to add website_id to commands"
One helper to add tenancy support to commands is the [AddWebsiteFilterOnCommand](https://github.com/hyn/multi-tenant/blob/5.x/src/Traits/AddWebsiteFilterOnCommand.php).

How to apply and use it has to be documented.

[2017-11-02 14:39] bkintanar commented on #305
@luceos shouldn't this be closed yet?

https://github.com/hyn/laravel-tenancy.com/pull/6

[2017-11-02 14:53] Thijmen commented on #305
Closed, as it is merged. Thanks @bkintanar for your effort! 👍

[2017-11-02 14:53] #305 closed, assigned to nobody

[2017-11-02 15:41] luceos commented on #189
I am not using forge so I haven't checked whether it works with it. I see no issues, but I'd like to have it verified so it can be added to the documentation.

[2017-11-02 15:52] luceos commented on #306
This needs a test that proves it won't work.

[2017-11-02 15:53] luceos commented on #297
I also believe there is currently no better way to improve this. Closing for that reason.

[2017-11-02 15:53] #297 closed, assigned to nobody

[2017-11-02 16:02] juhasev opened #312 "SQLite implementation - unit testing"
__Description__
Currently the package does not support SQLite. This means that you cannot run SQLite backed unit tests against any part of the code that uses Tenancy because tenancy will force MySQL connection and cause your tests to execute in development database instead.

---

__Actual behavior__

Forces MySQL connection (default) in the middle of the test suite regardless what is in phpunit.xm

[2017-11-02 18:55] dgruseck commented on #306
The problem is maybe related to the fact that I'm using tenant models (model with trait UsesTenantConnection) in the Seeder, because normal DB Statements are working.

Seeder:
[code]

[2017-11-02 22:03] #306 closed, assigned to nobody

[2017-11-02 22:09] #307 closed, assigned to nobody

[2017-11-03 01:50] TNovalis commented on #307
The way the majority of packages do it is they publish migrations, that is why I added that change, it is what most people expect when a package has migrations.

[2017-11-03 06:40] luceos commented on #307
@tnovalis I totally understand. In fact this procedure is suggested in the documentation as well. I should have been more aware of the possible consequences of this modification, because the package has a very specific use case. We simply cannot assume that the database migrations folder belongs to the system connection as some implementations might use it for tenants or even a third connection, e

[2017-11-03 11:19] Thijmen commented on #285
Closing as tenancy-migration is no longer present.

[2017-11-03 11:19] #285 closed, assigned to bkintanar

[2017-11-06 10:31] luceos commented on #312
Have you tried configuring your system connection to use sqlite too? I'm very curious now whether the package is compatible with a SQLite driver now 😊

[2017-11-06 15:35] bkintanar opened #317 "Document Validation on both Validator and FormRequest"
When using Validation Rules that touches the databases like `unique` and `exists`, one should add the `tenant.` db connection to correctly check the correct tenant db connection respectively.

[2017-11-06 15:45] ghost opened #318 "Using Storage::class per tenant (Media)"
I was struggling with retrieving media from Tenant storage. Since i wasn't using the (Nginx) webserver integration, i had to mimic this behavior.

__Description__
When retrieving files from storage, by default you fetch the system storage directory. If you like to call upon Tenant specific storage, you can solve this by e.g. a Route definition like this:

[code]
---
__Information__

- hyn/multi-te

[2017-11-07 05:38] #287 closed, assigned to nobody

[2017-11-07 11:00] luceos opened #319 "Setting uuid on website ignores the uuid generator"
It's possible to set the uuid property on the Website object before sending it over to the repository. This allows you to set a custom uuid from your code.

[2017-11-07 11:10] Thijmen commented on #319
Setting the `uuid` prior to creating the website in the repository. This gives the developer the ability to set the database-name to be created.

[2017-11-08 00:48] luceos commented on #318
If we could find an unobtrusive way to add this route and controller functionality per default we could in fact always use this fallback. The webserver will first run a check whether a file exists and only then forward the reuqest to the controller/php.

[2017-11-08 15:36] juhasev commented on #312
Hi Daniel,

Did you update the package or something? I could give it an another shot
later today.

Thanks, Juha

On Mon, Nov 6, 2017 at 4:31 AM, Daniël Klabbers <notifications@github.com>
wrote:

[2017-11-08 15:40] bkintanar commented on #312
Last release was 5.0.13 which was 2 days ago.

[2017-11-08 16:25] luceos commented on #312
@juhasev no, nothing added to support this. Just curious whether compatibility is already existing..

I think it won't work because there's no pgsql driver support.

[2017-11-13 14:17] bkintanar opened #321 "Remove migration connection on tenant/identification"

[2017-11-13 14:25] #321 closed, assigned to bkintanar

[2017-11-15 20:13] ghost opened #322 "Backup / restore of tenants"
__Description__

In case of an issue with your server, the system database and tenant db's will be backupped. After setting up a new server, you will pull the repository and reinstall the application. Run composer update and your NPM packages, if any.

---

__Actual behavior__

This results in the behavior of a fresh installation and your databases need to be recreated from scratch too. Since you

[2017-11-16 01:57] haxoman opened #323 "php artisan migrate takes so long"
__Description__

I have one apache2 server with php7.1 and mysql 5.7, and
When I create a new tenant, migration process will take upto 1 to 2 mins, whereas my local server in c9, it takes around 5 secs. and all db and tables ready.

having same apache configuration, only differences is my live server uses opcache in php.ini

Is there any advise for it?

I don't actually use webserver.php in config

[2017-11-16 08:44] Thijmen commented on #323
What are the server specs? Is it really different? Is it also slow prior to tenancy?

[2017-11-16 08:46] Thijmen commented on #322
I agree, it should be documented. We have it on our roadmap and we will notify you on this issue when we added the documentation. If you want to help, feel free to create a pull request @ https://github.com/hyn/laravel-tenancy.com

[2017-11-16 16:31] maelga opened #324 "Local setup issue - Undefined variable: host"
__Description__

..When running `php artisan tenancy:install` I get the following error:
Is there something to change to the default tenancy.php or webserver.php?

---

__Actual behavior__

..Installation fails

__Expected behavior__

..Migration(s) should be created I believe

---
__Information__

- hyn/multi-tenant version: 5.0.13
- laravel version: 5.5.19
- database driver and version: MySQL 5.

[2017-11-16 16:33] bkintanar commented on #324
Check your database.php file and check on your tenant db connection. Make sure host is set.

[2017-11-16 19:19] Thijmen commented on #324
Read the documentation and make sure you add your new connection to `database.php`.

[2017-11-16 19:19] #324 closed, assigned to nobody

[2017-11-17 21:37] bkintanar commented on #322
For the past two days, @Develeapment and I created a solution. As long as you have the system db intact, it can regenerate the tenant dbs with the command we created.

[2017-11-18 18:47] pedzed opened #327 "Comments in nginx config talks names Apache"
Minor issue as can be seen in the comments:
https://github.com/hyn/multi-tenant/blob/0e7e51801c038c5a969b0a6ce8568c6924b5965f/assets/configs/webserver.php#L125-L187

Where Apache is named, it should be nginx.

[2017-11-19 15:16] Thijmen commented on #327
Feel free to create a PR for this, @pedzed!

[2017-11-19 19:56] pedzed opened #328 "Configuration is inconsistent with Laravel conventions"
It is a Laravel convention to use `snake_case` in the configuration files. However, `kebab-case` is used by this package which goes against the Laravel conventions.

Proposal: change all `kebab-case` configuration items to `snake_case`.

[2017-11-19 19:58] pedzed commented on #328
A problem is that many people already do have the current config as `kebab-case`. To stay backwards compatible, we could alias all `kebab-case` config items to `snake_case` (i.e. both get accepted, but the former will be deprecated).

[2017-11-20 06:27] #327 closed, assigned to bkintanar

[2017-11-20 06:34] luceos commented on #328
I personally find kekab-case easier to read, but am willing to pick this up in future major versions in case enough people approve of this change.

[2017-11-20 22:30] pedzed opened #331 "Documentation on website needs previous/next button"
Currently you have to go to the index to be able to view a documentation page. It would be nice if you can go to the previous or next documentation page by adding two links on each page  (or one for the first/last page).

[2017-11-22 08:46] #310 closed, assigned to nobody

[2017-11-23 15:48] pedzed opened #340 "Command "tenancy:migrate:fresh" is not defined"
Since Laravel 5.5, you can not only `migrate:refresh`, but also `migrate:fresh`. This is unfortunately not supported for tenants (`tenancy:migrate:fresh`).

[code]
[code]

https://laravel-news.com/migrate-fresh
https://laravel.com/docs/5.5/migrations#running-migrations ("Drop All Tables & Migrate")

[2017-11-24 10:17] Thijmen commented on #340
We currently do not support this, feel free to create this with a PR! :)

[2017-11-26 18:42] pedzed commented on #327
@luceos Did you also change the other ones? There is more than one occurrence.

[2017-11-27 05:07] luceos commented on #327
@Thijmen patched that up, I incidentally totally missed that 😊

[2017-11-28 21:59] bkintanar opened #341 "Document the tenancy:recreate artisan command"

[2017-11-29 09:39] syl5005 opened #342 "What can i do next?thank you"
I have installed hyn/tenant (by Getting started:Requirements,Installation,Configuration),then I want to create a new website,a new hostname,a new tenant.But,i am not  familiar with hyn/tenant,i don't know the way to create.

Please help me .Thank you.
..

---

__Actual behavior__

..

__Expected behavior__

..

---
__Information__

- hyn/multi-tenant version:
- laravel version:5.5.0
- database dri

[2017-11-29 10:08] Thijmen commented on #342
Please read this carefully, you need to use the repository to create a new tenant. https://laravel-tenancy.com/documentation/implementation/repositories

[2017-11-29 10:19] luceos commented on #342
If you're still stuck, feel free to join us on discord chat at https://laravel-tenancy.com/chat

[2017-12-01 19:52] #342 closed, assigned to nobody

[2017-12-06 16:58] Racherik opened #343 "artisan tenancy:migrate:refresh (without --path migrates all system db(s) into the website/tenant dbs"
Description

Executing "php artisan tenancy:migrate:refresh" results in  tenant db(s) receiving all the table migrations that are associated system table migrations.

Actual behavior

When executing "php artisan tenancy:migrate:refresh" all tenant db(s) receive the table migrations that are associated or part of the system table migrations.  when running  "php artisan tenancy:migrate:refresh --pat

[2017-12-07 15:02] ReinierB opened #344 "Tenant specific media and trans files not showing up"
Hi,

I am building a multi-tenancy application using Laravel 5.5 and hyn/multi-tenancy (5.0.6.) and 5.0.15 (I upgraded after reporting this issue, but there is no improvement.)

The multi-tenancy works fine for the database: if I login to the application for a specific tenant through the url for the tenant, changes to the data are nicely reflected in the database of the tenant.

However, I try to

[2017-12-08 02:36] julianfox commented on #344
Hello,
I don't know if it's related but did you try with: asset('media/logo.jpg') ?
I use this path on my app and it's work fine.

[2017-12-08 12:30] ReinierB commented on #344
Hi Julian,

Yes, I have tried that too. If I use asset('storage/media/logo.jpg') the
logo in the default folder is displayed, if I follow your suggestion, the
logo.jpg is not found at all.

(sorry for the late response, my Windows 10 crashed and I am
reinstalling.... :-( )

On Fri, Dec 8, 2017 at 3:36 AM, Julian Renard <notifications@github.com>
wrote:

--
Mat beschte Gréiss
Kind regards

Reinier

[2017-12-10 00:54] julianfox commented on #344
Sorry for my late response too, pretty busy this weekend...
Do you have this instruction:
[code]

In your tenant nginx config ?

[2017-12-11 09:44] luceos commented on #344
@ReinierB you have to use a direct link:

[code]

Please note this only works currently if you use the apache or nginx webserver configurations. Also you might need to touch the website model once you created the media folder, it will only add the alias to the internal storage folder if the media folder exists in the tenant directory.

[2017-12-12 10:46] ReinierB commented on #344
Hi,

I have solved the problem for the /media:
 1) I have added the line of code as suggested by @julianfox:

location ~* ^/media/(.+)$ {
        alias /home/vagrant/code/<the project folder>/storage/app/tenancy/tenants/1c5b76eed9f5422a9d983fdeb08e991c/media/$1;
    }
 to the "1c5b76eed9f5422a9d983fdeb08e991c.conf" file

2) "a.cff.dev" is the tenant web site. There were 2 files with the same name

[2017-12-12 15:17] ReinierB opened #347 "The command "/etc/init.d/nginx configtest" failed when creating new website"
__Description__

The php script to create a new tenant website reports the following error:

The command "/etc/init.d/nginx configtest" failed.

Exit Code: 1(General error)

Working directory: /home/vagrant/Code/cff/public

### Output:
================
 * Testing nginx configuration
   ...fail!

### Error Output:
================

__Actual behavior__
The tenant database has been created, including

[2017-12-13 08:06] luceos commented on #347
The easiest solution is to run your website creation logic inside a Queue job where the Queue is run with elevated permissions.

In your example you're adding sudo to the command, this assumes the current web user has elevated permissions, if that is the case that's a very huge security risk (in production). Hence the use of a queue for these tasks. I'll possible need to document this and offer so

[2017-12-13 08:07] luceos commented on #344
Related to trans can you explain the steps to reproduce? What key do you use, what trans file did you add, etc.

[2017-12-13 13:50] luceos opened #348 "Create tutorial for Laravel passport implementation"
I'd like to see a practical step by step tutorial how you can implement Laravel passport like this:

- all tenant websites of one customer can authenticate via one specific tenant website
This requires you to replace the customer model and register the passport server url.

A tutorial of good quality can expect a months patron donations to be paid in return. Contact me on chat for details.

[2017-12-14 05:26] ReinierB commented on #344
@luceos:

Here is my setup:

Inside the tenants folder, I created  "/lang/en" and I have place the translation file "setup.php" in there:

storage/app/tenancy/tenants/102fd25696904985bbd8558651fc4fae/lang/en/setup.php

Some of the translation strings in the setup.php (see zip below) file are:

    'Company' => 'Compaan',
    'Companies' => 'Comps',
    'Label' => 'Naam',

Translations work fine in

[2017-12-14 13:55] luceos commented on #343
Tenant related commands always require a path. I'm a bit confused here, you expect the refresh command to understand the difference between a system and tenant migration by itself? Could you clarify so I can get my head around this?

[2017-12-14 14:18] fletch3555 commented on #343
I'm mobile, so forgive me if I'm mistaken, but isn't there a config that identifies the tenant migration folder. That controls which migrations are run automatically when a new website is created.  Shouldn't that config be used automatically when running any "tenancy:migrate:*" commands?  The path option can alter that behavior, but I think it should be the default.

[2017-12-14 14:48] luceos commented on #344
What's the translation key you used in your views, code?

[2017-12-14 14:55] luceos commented on #343
The issue with refresh is that it uses the path option directly. Then it calls rollback/reset native commands with that path. The path is a relative path not an absolute path, the auto-migrate path is an absolute path.

The refresh command should either be removed or fully implemented. As it's mostly a proxy around rollback and reset I'm not sure it's worth overriding so much and possibly lose a l

[2017-12-14 21:29] Racherik commented on #343
I think I follow.  After playing around with hyn, it makes sense why the "--path" option is what it is.
Thanks.  I'm good with the way it is for the time being.

[2017-12-14 21:29] #343 closed, assigned to nobody

[2017-12-16 17:56] froid24 opened #349 "early tenant identification doesn't work when used with Backpack package"
Tenant identification doesn't work when used with Laravel Backpack admin panel package

Full trace:

[code]
..
![image](https://user-images.githubusercontent.com/26799334/34073106-502d453a-e29b-11e7-9d91-77455978f973.png)

---

__Actual behavior__

..

__Expected behavior__

..

---
__Information__

- hyn/multi-tenant version: 5.0.17
- laravel version: 5.5
- database driver and version:
- webserve

[2017-12-18 07:43] #319 closed, assigned to nobody

[2017-12-18 10:35] ReinierB commented on #344
What do you mean by translation key?

A translation string example I use in a blade file is:
 @lang('setup.Company')

The translation as in the default setup.php file is displayed instead of the translation from the tenant specific file.

[2017-12-19 11:27] prakash-pokhrel opened #350 "In DatabaseManager.php line 140: I am getting the error of Database [tenant] not configured."
__Description__

I am getting the error of
Database [tenant] not configured.
---

__Actual behavior__

..

__Expected behavior__

To run tenant migration

---
__Information__

- hyn/multi-tenant version:5.*
- laravel version:5.5
- database driver and version:
- webserver software and version:
- php version: 7

---

__tenancy.php config__

[code]

__webserver.php config__

[code]

---

__Error log_

[2017-12-19 12:32] luceos commented on #350
An exception trace would be extremely helpful here. Please re-open when you've appended that.

[2017-12-19 12:32] #350 closed, assigned to nobody

[2017-12-19 15:21] bkintanar opened #351 "Fix docs configuration section"
The files are automatically added by the installation command:
php artisan tenancy:install

[2017-12-21 11:54] luceos opened #354 "Spatie backup command"
Thanks to @Thijmen

We need to add this to the documentation.

[code]

[2017-12-21 11:59] luceos commented on #354
- Code uses hardcoded path to tenant directory.
- Doesn't use the Repository.
- Uses facades.

[2017-12-21 17:55] AustinMaddox opened #355 "Improve testing to accommodate for phpunit implementation testing"
I posted this in the Discord support channel and was asked to create an issue here.

To which @luceos responded...

And I responded...

I wrote something which feels very "hacky" to force the use of a single "test-tenant" to speed up my unit testing process. If you could, offer suggestions, that would be helpful. The gist is here: https://gist.github.com/AustinMaddox/f083cac499ac02597a783d9ebf49e3

[2017-12-21 20:04] Thijmen commented on #355
I have big migrations and my tenants also have some big seeders. In my case I use docker to test them with CI and let Docker clean the mess afterwards. No need for cleaning databases up on my side! But I see why this would be handy. Following.

[2017-12-22 01:37] juhasev opened #356 "Unit testing broken"
__Description__

After going from 15 to 17 unit testing is now broken.  Any unit tests that interacts with any controller will crash. After  going from 15 to 17 unit tests are now failing to error:

Illuminate\Contracts\Container\BindingResolutionException: Target [Hyn\Tenancy\Contracts\CurrentHostname] is not instantiable.

Settings during while running unit tests:
hostname.auto-identification =>

[2017-12-22 10:09] Thijmen commented on #356
Could you please provide some more information about your unit tests, e.g. some examples?

[2017-12-22 19:20] fletch3555 commented on #356
@juhasev, since you believe the issue is related to my commit, I figured I'd chime in.  Were you running the package's unit tests, or unit tests for your own app?  I'll assume you're only referring to the package's unit tests, until you say otherwise.

The error you describe sounds like `CurrentHostname` has not yet been added to the DI container, which is done when `Environment` is instantiated (

[2017-12-26 22:33] juhasev commented on #349
Leave the following to the defaults:

TENANCY_SYSTEM_CONNECTION_NAME
TENANCY_TENANT_CONNECTION_NAME
TENANCY_DEFAULT_CONNECTION

When I had TENANCY_DEFAULT_CONNECTION set to "tenant" I got the same error as you when visiting APP_URL (which is non tenant URL). Now the app terminates correctly to 404 (not found) when:

TENANCY_ABORT_WITHOUT_HOSTNAME=true

and also let's you thru with:

TENANCY_ABORT_

[2017-12-26 22:54] juhasev commented on #355
I already posted something similar [https://github.com/hyn/multi-tenant/issues/312]. PHP Unit just doesn't play along well and all testing should be done in sqlite in memory database. What this package needs is away tell Tenancy that we are unit testing and this means the following:

1) We are using configurable testing driver which means Tenancy shall not overwrite DB_DATABASE configuration so yo

[2017-12-27 02:49] juhasev commented on #312
I found a solution that works with SQLlite. So the basic idea is that you disable "Tenancy" completely and build all your tests so that they can be run against a single "tenant" database in memory. All of my application logic happens in "tenant" databases so this works quite nicely but if your application requires testing in the "system" database this solution will not work but similar approach co

[2017-12-27 06:09] gkarugi opened #357 "I can't load any non tenant website e.g. admin dashboard"
Everything is working as expected with tenant websites. How can I set the system connection as the default on the fly when the base URL (base URL should hold the admin panel) is requested?

-Edited

[2017-12-27 10:33] Thijmen commented on #357
You could create a middleware for that, you can look into our middleware for identification hostnames and implement it as you want it :-)

[2017-12-27 21:20] gkarugi commented on #357
The tenant host names are the ones saved in the database, but the URL which should hold the main website and admin dashboard is not saved in the database. Can you point me in the right direction on how I can use a middleware to accomplish this?

[2017-12-29 18:55] ghost commented on #216
I am having the same probleme here (Database [system] not configured)

+ hyn/multi-tenant version: 5.x
+ laravel version: 5.5
+ database driver and version: mysql
+ webserver software and version: apache
+ php version: 7.0

I did configure the connection system in my  database.php
I actually follow  https://laravel-tenancy.com/documentation/introduction/
*****
on #php artisan tenancy:install
i get

[2017-12-30 13:09] Thijmen commented on #216
@yves93 Please create another issue for that.

[2017-12-30 14:40] luceos commented on #312
I don't think supporting sqlite is going to be something that makes sense for this package, mainly because it does not work with constraints.

[2017-12-30 14:40] #312 closed, assigned to nobody

[2017-12-31 12:59] luceos commented on #357
Can't your dashboard models not simply connect to the system database by applying that trait?

[2018-01-01 19:29] vikas5914 opened #358 "Delete Nginx conf file on customer delete."
__Description__

Is there any way to delete the Nginx config file when customer website gets deleted. ?

---

__Actual behavior__

nginx config is not geetting deleteed

__Expected behavior__

nginx config should get deleted.
---
__Information__

- hyn/multi-tenant version: 2.x (We are planning to upgrade but we need to solve this)
- laravel version: 5.3.x
- database driver and version:
- webserve

[2018-01-01 20:32] Thijmen commented on #358
We currently do not have this as far as I know, but you can listen for the event and implement it on your own.

OR you could create a great PR for this :-)

[2018-01-02 08:37] vikas5914 commented on #358
Thanks for the reply. I will look into the event.

[2018-01-03 09:31] leamiko commented on #216
@yves93  in config/database.php  append below, it's ok

[code]

[2018-01-03 22:02] ReinierB commented on #344
Hi, any news on this topic?

[2018-01-04 23:41] juhasev opened #359 "Disk null setting does not work as intended"
__Description__

Leaving disk -setting as null will not result into intended behavior. For example my default disk is s3 in filesystems.php and files appear in my local filesystem instead. If you set the tenancy disk to s3 in tenancy.php the file upload to S3 as intended.

  /**
         * Specify the disk you configured in the filesystems.php file where to store
         * the tenant specific fil

[2018-01-04 23:45] juhasev commented on #356
I think we can close this issue. Really the problem here was that I was trying to use this package the way it is not intended to be used. You either configure the package to provide full "transparent" tenant switching or things start falling apart sooner or later like this hostname issue. You end up to the point where you need to manually disable tenancy or change some tenancy settings in order to

[2018-01-06 10:57] luceos commented on #359
Using tenancy with S3 can cause unintended side effects. The package requires a local file system for many of the tenant specific directories. Nevertheless this is a bug.

[2018-01-06 17:54] juhasev commented on #359
This far no issues with S3, everything works storing, listing and settings files without a problem. Why do you say that? Everything is going thru Fly system either way so really your application should not know the difference right?

[2018-01-08 23:41] luceos commented on #359
There are some files that cannot be included from a cloud storage, for instance [routes.php](https://github.com/hyn/multi-tenant/blob/5.x/src/Listeners/Filesystem/LoadsRoutes.php#L40), [translations](https://github.com/hyn/multi-tenant/blob/5.x/src/Listeners/Filesystem/LoadsTranslations.php#L44) and the [vendor](https://github.com/hyn/multi-tenant/blob/5.x/src/Listeners/Filesystem/LoadsVendor.php#

[2018-01-08 23:43] #356 closed, assigned to nobody

[2018-01-08 23:45] #189 closed, assigned to nobody

[2018-01-08 23:45] #38 closed

[2018-01-08 23:45] #43 closed

[2018-01-08 23:45] #121 closed, assigned to nobody

[2018-01-08 23:45] #190 closed, assigned to nobody

[2018-01-08 23:46] luceos commented on #344
I need to investigate this issue, but it seems to be related to a fix proposed in this pr https://github.com/hyn/multi-tenant/pull/353

[2018-01-08 23:49] luceos commented on #355
We indeed need to keep the database cleaner by running tests with the same (renewed) tenant. This requires its tenant folder, tenant database and system entries to be removed. I'd gladly merge a PR for this.

[2018-01-09 08:45] ReinierB commented on #344
Thanks Daniël,

It is not urgent. I will upgrade to the latest version in the coming days
and test again.

On Tue, Jan 9, 2018 at 12:46 AM, Daniël Klabbers <notifications@github.com>
wrote:

--
Mat beschte Gréiss
Kind regards

Reinier Bloem
Téléphone: +352 273 950 59
Mobile: +33 7800 22533

[2018-01-11 14:25] hpiMat opened #361 "Tenant setting up but database redirection not working."
__Description__
Hello,
I'm using Hyn/multi-tenancy and it works nicely when it is properly configured 👍.
Since the beginning, it is quite hard to configure it in a local environment.
It is working in my production environment.
For developing purposes i tried several time to install it locally. first with wamp and then with docker.
I'm using the hotel library to give my local environment fqdn that

[2018-01-11 14:33] luceos commented on #361
Have you applied the Tenant trait to the User model?

See: https://laravel-tenancy.com/documentation/implementation/connections#tenant-connection

[2018-01-11 15:13] hpiMat commented on #361
I never did that at least that i know of (I didn't originally implemented it).
I never seen such a trait on my models and still it works with the production version.
I still tried to add the trait still the same result.

[2018-01-11 15:44] luceos commented on #361
I think your configuration is different then in production. Have you specified the same environment variables to update the tenancy configuration?

[2018-01-11 15:55] hpiMat commented on #361
Going to double check that point and see if i can find any substantial difference.

[2018-01-11 16:04] hpiMat commented on #361
Sadly, you were totally right 4 days i'm searching for a single line.

Problem located in tenancy.php:
'db' => [
        /**
         * The default connection to use; this overrules the Laravel database.default
         * configuration setting. In Laravel this is normally configured to 'mysql'.
         * You can set a environment variable to override the default database
         * connection to

[2018-01-11 16:04] #361 closed, assigned to nobody

[2018-01-11 16:10] luceos commented on #361
i think that's also an older config, because it still uses readme.io 😊

[2018-01-13 13:02] bobkosse opened #362 "Can't connect to public website"
I succesfully installed the multi-tenant  package. Creating new tenants works fine. I get a nice subdomain for my tenant and can access the application by that subdomain.

My problem is I can't figure out how to create a public website in front of it. So what I want to do:
- domain.com (->public website)
- tenant_1.domain.com (-> application for tenant 1)
...
- tenant_n.domain.com (-> application

[2018-01-13 13:47] Thijmen commented on #362
I think you can archieve this by 'Sub-Domain Routing' https://laravel.com/docs/5.5/routing#route-group-sub-domain-routing

[2018-01-14 07:27] bobkosse commented on #362
I worked out a solution (I don't know if it is a good one so I would appreciatie it if someone could do a small review on my approach!

## Disable autodiscover
In composer I filled the dont-discover block like this:
[code]

## Register providers
Then in ```config/app.php``` I only added the Webserver provider in the providers array like this:
[code]

For the TenancyProvider I created my own overri

[2018-01-15 04:28] luceos commented on #362
If you look at what that abort function actually does you will see that it only triggers a 404 when the configuration variable tenancy.hostname.abort-without-identified-hostname is set to true. Perhaps you should try that first before overriding the whole service provider..

Hope this helps.

[2018-01-15 10:08] ana-lisboa commented on #344
Hi! I think this might be related. I added a cache.php file on my tenant/config folder, hoping to override the cache prefix for the tenants, and it has no effect on my cache (redis btw).

![11](https://user-images.githubusercontent.com/12087482/34937219-f7013d7e-f9db-11e7-8d7f-f2684f33f543.JPG)
(I think i'll proceed to prepend the uuid to my the cache keys)

[2018-01-15 10:56] luceos commented on #344
@anaisabel19886 what happened when you dumped the output of `config('cache')` for that tenant?

[2018-01-15 11:45] ana-lisboa commented on #344
![config_cache](https://user-images.githubusercontent.com/12087482/34940941-76968dca-f9e9-11e7-8b24-4ca3efc1a6d7.png)

The only thing you were supposed to do, to have separate cache prefixes was adding the cache.php on the tenant specific folder, right?

[2018-01-15 12:01] luceos commented on #344
Yes it should merge the config. How is your tenant identification set up? Are you using eager loading?

[2018-01-15 12:05] ana-lisboa commented on #344
humm, if you are referring to the configs relating to identification, it's like this:

'auto-identification' => env('TENANCY_AUTO_HOSTNAME_IDENTIFICATION', true),
'early-identification' => env('TENANCY_EARLY_IDENTIFICATION', true),

(on the .env those keys are not set)

When you say eager loading, in what part of the application do you mean it?

[2018-01-15 12:07] luceos commented on #344
I'm wondering how your tenants are identified, the config settings you mention are related. The auto identification has to be enabled and early identification as well so that tenants are identified inside middleware. If this is not enabled the cache file might not be read. Can you confirm it is being read by doing a `dd` or throwing a backtrace inside it?

[2018-01-15 12:11] ana-lisboa commented on #344
I'm sorry, could you please tell me where to dd?

I basically followed https://laravel-tenancy.com/documentation/tenant/identification to set up..

[2018-01-15 12:18] ana-lisboa commented on #344
I don't know if I needed to add   \Hyn\Tenancy\Middleware\EagerIdentification::class in kernel.php to the web middleware group, but I've just tried it and got the same result

[2018-01-15 14:44] bobkosse commented on #362
@luceos, thank you! I really looked over that. I tried and it works like a charm! Thanks again!

[2018-01-15 14:45] #362 closed, assigned to nobody

[2018-01-16 18:34] ReinierB commented on #344
Hi Daniël,

I have implemented the changes & additions made my Ian.

Tenant specific translations seem to work fine now.

Will the patches be available in the next version?

[2018-01-16 20:37] gkarugi commented on #357
it seems there is a global middleware which enforces the multitenancy. I have installed the application on azure. When I use their automatic deployment from a git repository tool, I am getting the following error :

In Connection.php line 664:

  SQLSTATE[42S02]: Base table or view not found: 1146 Table 'masterdb.hostnam
  es' doesn't exist (SQL: select * from `hostnames` where `fqdn` = uza.scm.az

[2018-01-16 21:03] gkarugi commented on #357
@luceos , I can successfully use the system connection trait.

I get the Exception Target [Hyn\Tenancy\Contracts\CurrentHostname] is not instantiable. when I try accessing any other FQDN that is not linked to a tenant.

Lets take a sub domains approach for creating tenants :

When a tenant is first created, their app is located on tenant1.domain.com, when someone tries accessing domain.com the Tar

[2018-01-17 08:11] luceos commented on #357
@gkarugi how is your tenant identification set up? Can you post your tenancy.php configuration?

[2018-01-17 15:27] gkarugi commented on #357
I have the set the following to env
` TENANCY_AUTO_HOSTNAME_IDENTIFICATION = false`

[code]

[2018-01-17 16:43] fletch3555 commented on #357
Github commenting hint: use triple-backticks (```) before and after code blocks.  Single backticks only work for single lines

[2018-01-17 18:08] gkarugi commented on #357
@fletch3555 thanks for the hint.

[2018-01-17 21:24] justjeremy70 opened #364 "Documentation"
So I've been messing with this for about 4 days.  Your package looks like it has some good potential.
However, the documentation is not quite there.  Just wanted to point out that there is not one place where it actually tells you how to create a customer, websites and hostnames to populate the database and make it work.  Yes, you go over some ways you can configure and your concepts but not how t

[2018-01-17 21:35] fletch3555 commented on #364
Website and Hostname are covered [here](https://laravel-tenancy.com/documentation/implementation/repositories), albeit briefly.  You're right, Customer isn't shown in the docs, but it follows the same pattern as the others (and is optional to use anyway)

[2018-01-18 08:07] luceos commented on #364
Here's a tutorial: https://medium.com/@ashokgelal/a-full-featured-multi-tenant-app-with-laravel-part-1-4049a3cc229d

and @fletch3555 is pointing to the right page related to creating these objects.

If you have any further specific questions, I'd love to hear them so I can improve documentation. An extended tutorial will also find its place in the documentation soon as discussed with my patrons.

[2018-01-18 08:11] luceos commented on #357
@gkarugi if you allow auto identification, but don't set early identification. Identification is done inside the package Service Provider by resolving the `Environment` class out of ioc. Trying to use the CurrentHostname in another service provider then only works if the package service provider is loaded first. You can solve this by setting early identification, but I'm not too sure that works wi

[2018-01-18 13:13] fletch3555 commented on #357
@luceos, your description of what's happening is accurate, but I'm not convinced it's unrelated to this issue.  I was attempting a very similar task (admin subdomain that doesn't rely on tenancy).  The problem is that `CurrentHostname` is resolved regardless of what setting (early identification or auto detection) you have.  It's done in `HostnameActions` middleware, which is prepended to the midd

[2018-01-18 13:29] luceos commented on #357
Hm, so HostnameActions requires CurrentHostname, even though the Environment wasn't loaded yet? That makes any installation without (custom) early identification misbehave 😞

Is this correct @fletch3555 ?

[2018-01-18 13:35] alexhiggins commented on #362
The remaining issue would be if you were to visit a tenant that does not exist with ABORT_WITHOUT_IDENTIFICATION=false

[code]

Where as if ABORT_WITHOUT_IDENTIFICATION=true you cannot visit other routes.

If i wanted to view the bottom route it would just 404. I think it would be ideal you were able to apply the tenant middleware to the route group you wanted.

[code]

[2018-01-18 13:39] luceos commented on #362
@alexhiggins set it to false and then add your own middleware. It's a few lines of code really 😊  You can also add the middleware to your own kernel, give it a name and apply it to a group. I'm not sure what the issue is exactly, unless I miss where tenancy lacks such flexibility.

[2018-01-18 14:15] gkarugi commented on #357
@fletch3555 you are right. I have tested it by setting early identification to true(by default it is false) and auto identification to false(by default it is true) but `CurrentHostname ` is still being resolved.

I was thinking on similar lines, to let the user themselves to apply a tenancy middleware  to the routes which require tenancy.

[2018-01-18 14:52] fletch3555 commented on #357
@luceos, yes that's correct, but there's a little more to it.  Even with those settings enabled, non-tenant sites will 404 because there's no hostname record.

I plan to keep both settings set to true, but had them off to test something when i noticed this behavior.  I don't want to maintain a "dummy" hostname record for non-tenent sites.  There should be a way to differentiate tenant routes from

[2018-01-24 12:39] PiranhaGeorge opened #366 "What's the reason behind the tenancy.json file"
Hi,

I'm just getting started with this package, but I'm finding it does pretty much everything I need :grinning:!

I am having some workflow issues though. I'm installing and running in a vagrant vm, however I tend to use artisan and composer on my host machine. Obviously, this doesn't work once installed (no database to connect to).

I'm wondering if the installation is really necessary? Assumin

[2018-01-24 13:24] luceos commented on #366
The tenancy.json file is used to prevent the Environment from querying system tables that aren't there yet. Although I seem to not quite grasp your proposal, having artisan default to system will still cause issues if you ignore the tenancy.json file logic, because no tables exist..

Could you clarify a bit? Hm, are you suggesting in the Environment class to check whether we are running in cli and

[2018-01-24 14:23] PiranhaGeorge commented on #366
Yes, but it seem in order to identify the current hostname, something that can't exist under a cli.

But they don't necessarily need to exist.

That's exactly what I'm saying, but I think it removes the need for the tenancy.json.

[2018-01-24 14:31] PiranhaGeorge commented on #366
Reading my op back, I think I made it confusing my conflating installation with the tenacny.json file.

Maybe I'm missing something, but I don't think the tenancy.json file is required if Environment doesn't try to identify the hostname under cli.

[2018-01-24 15:08] fletch3555 commented on #366
@luceos, seems this change would resolve (at least most of) your issues with my PR #365, yes?

[2018-01-24 15:10] Thijmen commented on #366
I'd suggest not removing the tenancy.json, as some may use it to identify in their AppServiceProvider if tenancy is already installed.

[2018-01-24 15:19] fletch3555 commented on #366
I've never really been a fan of using file existence to check for status.  It's a very *nix way of doing things, but doesn't really translate to "web" well, since there's usually a better way.  *nix apps generally don't have a database to check against.

Instead, we could just do a check for the existence of the `hostnames` table on the `system` connection instead.  One extra query never hurt anyo

[2018-01-24 15:19] PiranhaGeorge commented on #366
@Thijmen That's a good point, but maybe it could be deprecated in favor testing the database.

[2018-01-24 15:20] PiranhaGeorge commented on #366
@fletch3555 beat me to it :-)

[2018-01-24 15:23] PiranhaGeorge commented on #366
This works, but I think it makes sense that Environment has some 'awareness' of if it's running in cli.

[2018-01-25 17:28] sahidhossen opened #368 "Always show 404 error when connect default database."
__Description__
When open default domain for access default database its always show 404.php and no routes working. I have setup [tenant] database setting in database.php . But when open tenancy hostname its working fine.

maindomain.com -> 404.php
  -dev.tenant_1 -> working good
  -dev.tenant_2 -> working good
..

---

__Actual behavior__
maindomain.com -> 404.php  for default connection!
..

__E

[2018-01-25 17:40] PiranhaGeorge commented on #368
Find this line in tenancy.php, and set it to false.

` 'abort-without-identified-hostname' => true,`

[2018-01-25 17:43] sahidhossen commented on #368
It is already set true. I want default database connection when tenant hostname not resolve.

[2018-01-25 17:49] sahidhossen commented on #368
Its working by set it false.

'abort-without-identified-hostname' => false

Thanks for your help!

[2018-01-25 17:51] #368 closed, assigned to nobody

[2018-01-27 17:39] PiranhaGeorge opened #369 "Default connection changes on migrate"
Hi,

Just found a sneaky bug.

The `tenancy:migrate` command changes the default connection to tenant. This isn't a problem when using the command in the terminal, however, as it is also called from Connection::migrate(), creating a website changes the default database.

This is a huge issue for me as I'm changing the default connection via middleware so that I can use laravel passport for system

[2018-01-28 13:26] arunbabucode opened #370 "Using custom domains for tenant subdomains"
First of all, this package is super awesome. I have now a clear separation of each of my tenant applications.

Now am looking for a feature something like the client can point their existing domain to my application. The condition is, suppose if l have tenant_1.example.com and tenant_2.example.com, the tenant_1 owns a domain called tenantcompany.com, they should be able to do some CNAME forwarding

[2018-01-28 16:48] luceos commented on #370
Just create a new hostname with a fqdn of the custom domain and connect that to the website, tenancy takes care of the logic in the app. Make sure the DNS is properly configured though. A cname to that subdomain should be enough :smile:

[2018-01-28 18:29] arunbabucode commented on #370
So can I keep both? Like the application should be accessible over tenant_1.example.com as well as tenantcompany.com (in case the IT guy mess around with the CNAME redirection)

[2018-01-29 05:25] luceos commented on #370
Yes you can! 😁

[2018-01-29 05:25] #370 closed, assigned to nobody

[2018-01-29 06:16] mah3uz commented on #347
@luceos thanks for your reply, I am facing same problem with apache. I am new in Laravel if you can point how I gain elevated permissions on Queue it would be a help. Here is my error
[code]

[2018-01-29 06:53] luceos commented on #347
@mah3uz you can create a queue with elevated permissions by adding a new queue with a specific name inside your queue.php then configuring supervisor to run only that user as root. The laravel documentation should help you here, if not please create a new issue or join us on discord.

[2018-01-29 06:55] luceos commented on #369
We used to have a separate connection name for migrations, but in discussions with @Thijmen we decided to drop it assuming migrations would only be ran inside artisan anyway..

I think we should consider restoring that migration connection name, I would love to hear your opinions.

[2018-01-29 14:55] fletch3555 commented on #369
@luceos, what if we just change it so tenant commands restore the previous state after running.  So if the command needs to change to the tenant DB, then it should cache the old setting, and restore it once done.  This should minimize any side-effects these commands may have, and simplify the config so it doesn't need extra connections

[2018-01-29 14:55] lucianobosco opened #371 "DirectoryGenerator - add public permissions to tenant storage folder"
Hi, I'm facing some issues when uploading files.
In my case I want to upload a file into media folder but I'm getting this error: "Impossible to create the root directory".
Also when a file is trying to be deleted I get the following error: "Operation not permitted"
As I see the tenant folder using the random ID only has system permissions for read/write so I'm not able to upload/delete any file/f

[2018-01-30 09:48] #366 closed, assigned to nobody

[2018-02-02 02:38] jeitnier commented on #371
Why not just create a Laravel event listener to listen on the DirectoryGenerator event? And inside the listener just do

[code]

You can set whatever permissions you want on the media folder via `makeDirectory`.

[2018-02-02 06:01] luceos commented on #371
@jeitnier good point haven't even considered that. That might be a very suitable solution.

[2018-02-02 12:08] gkarugi opened #372 "How can someone override the connection strings to be used when connecting to a tenant database?"
__Description__
I needed clarification on how can I override the tenant connection config, Where are these configs stored?

Because when using Azure MySql, the database user generated needs to be appended with the Azure Mysql server name so as to successfully connect to the database.

I have gone through the  ` Hyn\Tenancy\Database\Connection::class`  but I have not gotten very far.

---

__Actual

[2018-02-02 12:10] luceos commented on #372
Listen to this event: https://github.com/hyn/multi-tenant/blob/5.x/src/Database/Connection.php#L259

And use mode bypass. Or if it's a minor change you can use the event triggered after the defaults are loaded. The tenant connection is using the system connection for its defaults.

[2018-02-02 12:31] code2prog commented on #350
php artisan config:clear may help

[2018-02-02 12:37] gkarugi commented on #372
Thanks for that. I  now understand the process.
Let me try that.

[2018-02-02 16:22] tangaye opened #373 "404 Not Found When loading non tenant website."
I know a similar [issue](https://github.com/hyn/multi-tenant/issues/357) (#357) had been submitted. I did take a look through the thread, but found little or no help to solve my problem.

It's my first time using the package and as a first time user I went through the [docs](https://laravel-tenancy.com/documentation) and got help on installing and setting up the package, but I found little or no h

[2018-02-02 17:43] ReinierB commented on #373
I ran into the same problem. This solved it for me:

(in config/tenancy.php)

        'early-identification' => env('TENANCY_EARLY_IDENTIFICATION', true),
        'abort-without-identified-hostname' => false,

[2018-02-02 18:16] tangaye commented on #373
@ReinierB  Did follow the same tutorial on medium? I ask because I tried and yet still no luck. Here is what I did in tenancy.php

    'early-identification' => env('TENANCY_EARLY_IDENTIFICATION', false),
    'abort-without-identified-hostname' => env('TENANCY_ABORT_WITHOUT_IDENTIFIED_HOSTNAME', true),

 and in .env

    TENANCY_EARLY_IDENTIFICATION=true
    TENANCY_ABORT_WITHOUT_IDENTIFIED_HOSTNA

[2018-02-02 20:19] fletch3555 commented on #373
In `config/tenancy.php`...

- `abort-without-identified-hostname` requires the requested hostname (e.g. `test.com`) to exist as a row in the `system`.`hostnames` table.  If you don't want to do this, you will need to set it to false (either directly in the config file, or by setting `TENANCY_ABORT_WITHOUT_IDENTIFIED_HOSTNAME` in your `.env`).
- `early-identification` tells the package to try to de

[2018-02-02 20:45] tangaye commented on #373
@fletch3555 you are right. I realize that when I manually insert  `domain.com` into the **hostnames table** everything works fine. Is this the only way around?
I tried setting `TENANCY_ABORT_WITHOUT_IDENTIFIED_HOSTNAME=false` yet no luck, I also set `TENANCY_EARLY_IDENTIFICATION=false` and still got the same error.
Just so you know I will love tenancy to be eager loaded so that things can speed up

[2018-02-03 05:13] arunbabucode opened #374 "How to handle media files if not using the webserver configurations?"
The setup I am currently using is without enabling the webserver configurations. Everything works perfect related to the database, now am looking to manage the media files. From the documentation, I came to understand, it will work only if am enabled webserver configurations. My development machines are in mac environment and my production environment is in Linux.

 Since the default webserver con

[2018-02-03 07:35] hiteshchavda commented on #324
On website, "[requirements](https://laravel-tenancy.com/documentation/introduction/requirements)" page show that you need to add `system` connection. and it does not contain 'host' and 'port' configuration.

it should be as follow
[code]

[2018-02-03 13:16] Thijmen commented on #374
You can create a route which fetches a media item, eg. `Storage::disk('tenant')->file()->download()`.

[2018-02-04 13:13] getrightnl opened #375 "Using base url without tenant connection"
__Description__

I'm trying to achieve the following. I have a base url with www.example.com / example.com this is a landings page. When a customer enters a register form I post the data to a route. The controller for this route will make a new tenant new-tenant.example.com. When I run my application as it is now on www.example.com it says page not found. It is trying to lookup a tenant, but this

[2018-02-05 10:49] luceos commented on #375
You can disable the abort, see https://github.com/hyn/multi-tenant/blob/5.x/assets/configs/tenancy.php#L138

If you have any further questions feel free to re-open.

[2018-02-05 10:59] luceos commented on #374
Using any part of the webserver code is optional. We'll be making it a separate package in a future release. @Thijmen is giving the correct solution here, feel free to re-open if needed.

[2018-02-05 10:59] #374 closed, assigned to nobody

[2018-02-05 11:00] #375 closed, assigned to nobody

[2018-02-05 11:01] luceos commented on #373
@nathansiafa you could create a custom middleware and apply it to the "dashboard" routes. The middleware could check whether any tenant was identified and trigger a nuke meltdown.

Seems this issue was resolved, feel free to re-open if need be.

[2018-02-05 11:02] #373 closed, assigned to nobody

[2018-02-05 11:02] luceos commented on #372
If you need more information please re-open.

[2018-02-05 11:02] #372 closed, assigned to nobody

[2018-02-05 11:42] luceos commented on #324
It does say `// Remaining settings required for this specific driver.` 😁

[2018-02-05 12:15] pcfjojo commented on #368
`InvalidArgumentException
Database [tenant] not configured.`

`        'system' => [
            'driver' => 'mysql',
            'host' => env('DB_HOST', '127.0.0.1'),
            'port' => env('DB_PORT', '3306'),
            'database' => env('DB_DATABASE', 'forge'),
            'username' => env('DB_USERNAME', 'forge'),
            'password' => env('DB_PASSWORD', ''),
            'unix_socket'

[2018-02-05 12:16] luceos commented on #368
@pcfjojo next time please create an issue of your own.

You might need to enable early identification which will enable a middleware to identify tenants early in the Laravel ecosystem.

[2018-02-05 12:22] pcfjojo commented on #368
Now I pass the error what i had.. but now i have another error
`Target [Hyn\Tenancy\Contracts\CurrentHostname] is not instantiable.`   I changed `  'abort-without-identified-hostname' => false,` in tenancy.php.

stil i have this error.. i am new to github.. sorry for creating issue inside.

[2018-02-05 12:25] luceos commented on #368
@pcfjojo create a new issue or join us on discord, see https://laravel-tenancy.com

[2018-02-05 14:18] luceos opened #376 "Set eager identification to default and test ci runs"
Currently eager identification is disabled by default. We'll need to switch that. Let's make sure our tests are corrected for this:

https://github.com/hyn/multi-tenant/blob/afa8c2e759b85fbdd647dea041919bc6df43681f/assets/configs/tenancy.php#L129

[2018-02-05 14:18] luceos opened #377 "Patch HostnameValidator to disallow ports"
HostnameValidator should be more strict. Maybe look at existing regexes? Make sure it still allows for the punycode domains.

[2018-02-05 22:10] michaeldaly opened #378 "Undefined index: driver when sending notification to new created tenant"
I have come across an issue when trying to send a welcome email after I set up a new tenant in my system.

I have put my controller and notification code below which will hopefully be straight forward to replicate for testing purposes.

I am interested to see if anyone else is having this issue too and what the fix might be?

Here is the error I am getting:

![screen shot 2018-02-05 at 22 08 34](h

[2018-02-05 22:11] luceos commented on #378
Does your `database.php` have a `driver` in the `system` connection?

[2018-02-05 22:15] michaeldaly commented on #378
Yes, I have the following:

[code]

[2018-02-05 22:17] michaeldaly commented on #378
A bit more information....If I don't call the `registerTenant` method, I don't get the error.

So, it looks like something inside `registerTenant` is creating the problem.

[2018-02-05 22:24] luceos commented on #378
Where is the listener firing the Notification?

[2018-02-05 22:31] michaeldaly commented on #378
I haven't set up a listener for the notification. Just following the instructions here: https://laravel.com/docs/5.5/notifications#sending-notifications

I didn't think I needed a listener to use the standard notifications as described in that article?

[2018-02-06 08:25] luceos commented on #378
Okay can you test in your TenantController what the value is behind `config('database.connections.tenant')`?

[2018-02-06 08:57] getrightnl commented on #375
Thanks! Exactly what I needed 👍  @luceos

[2018-02-06 09:04] getrightnl commented on #375
@luceos sorry thought this should work. But when I set this setting I still get the following error Target [Hyn\Tenancy\Contracts\CurrentHostname] is not instantiable.

[2018-02-06 09:12] luceos commented on #375
Enable early identification in the tenancy.php configuration file.

[2018-02-06 09:45] michaeldaly commented on #378
I will run this code this evening and let you know.

[2018-02-06 20:09] michaeldaly commented on #378
I have checked and here are the results:

 - `null` before I call `$this->registerTenant`
 - `[]` after I call it but before I call `$this->addAdmin()`

[2018-02-06 20:36] Xerixe commented on #378
I'm pretty sure I had this problem before and it was because the hostname was not set.

Try this

[code]

[2018-02-06 20:41] michaeldaly commented on #378
I have previously tried that code but for some reason it is looking for the tenant database rather than the system database.

Here is the error I was getting:

![screen shot 2018-02-06 at 20 40 39](https://user-images.githubusercontent.com/8914893/35883114-215274f4-0b7e-11e8-8f93-6edb0bb7b824.png)

[2018-02-06 20:43] Xerixe commented on #378
Well, that just means your tenant database does not have the `password_resets` table.

Is your `User` model a system model or tenant model? From what I can tell, you want it to be a tenant model, hence why `password_resets` needs to be in the tenant database.

[2018-02-06 20:56] michaeldaly commented on #378
sorry I don't think I explained properly. My users table is against the system table and I am managing my users there so I can provide access across multiple sites if I need to.

My users, hostnames, customers, and websites are all created as expected in the system database without any issues. The issue comes when I try to call the notification to send a welcome/set password email to the user.

So

[2018-02-06 20:58] michaeldaly commented on #378
My user model looks like this:

[code]

[2018-02-07 10:21] luceos commented on #357
@fletch3555 would you be able to review dev-5.x to see whether it solves this current issue?

[2018-02-08 15:53] paishin opened #380 "Table 'hostnames' doesn't exist after migrate:reset"
After running php artisan migrate:reset I get the following error whenever I try to run any artisan commands

SQLSTATE[42S02]: Base table or view not found: 1146 Table 'overwatch.hostna
  mes' doesn't exist (SQL: select * from `hostnames` where `fqdn` = localhost
   limit 1)  .

I guess that is because it tries to identify which database to load, but I can't figure out how to fix it.

[2018-02-08 16:00] luceos commented on #380
Hostnames is part of system. I'm unsure why it would not reset. Maybe you need to run `php artisan tenancy:install`?

[2018-02-08 16:17] paishin commented on #380
I can't any more, since every command produces the above error, even 'php artisan list'.

The only way I have found to bypass this problem is manually creating a 'tenant' table with the field fqdn
in it and then edit  '2017_01_01_000005_tenancy_hostnames.php' to add Schema::dropIfExists('hostnames'); on line 25 (otherwise I would get a table already exists error when migrating)... and then run php

[2018-02-08 16:18] luceos commented on #380
In case you have a `tenancy.json` file in your laravel root path, delete that and run `php artisan tenancy:install`. I hope that solves it.

[2018-02-08 16:40] paishin commented on #380
That didn't help.

My guess is that the hostnames table is always queried when tried to select a database to use during artisan commands but because during the reset all tables are deleted this error is shown.

I don't know where exactly this happens, it would be helpfull if I could see the stack trace, but using -v doesnt show anything for sql errors.

[2018-02-08 18:30] Thijmen commented on #380
`php artisan command:list -vvv` gives more verbose output.

[2018-02-08 20:05] snips11 opened #381 ""Real path already exists" when installing or composer updating the package L5.6"
I am getting the following response in the terminal when running a composer update or trying to do a tenancy:install.

I have also tried to manually set up the service providers by using dont-discover in composer.json. Composer is fully up to date and update runs fine without the package in composer.json file. I gather this could be because this version is not L5.6 compatible quite yet?

[2018-02-09 06:39] luceos commented on #381
Please post all relevant information as requested when opening an issue. Otherwise this will be a wild goose chase 😞

[2018-02-09 06:39] #381 closed, assigned to nobody

[2018-02-09 11:06] michaeldaly commented on #378
It would be great if someone could add a controller and a notification in a similar way to what I am doing, to see if they also get the exception.

If we can identify whether this is a config issue, or a bug in the package, it will help me to start working on finding the right fix.

[2018-02-09 11:16] snips11 commented on #381
@luceos it was a totally fresh install of Laravel 5.6 and this was the first package installed so there isn't a great deal more I can supply. The error below appears in the terminal when installing and then again when any other artisan command or composer updates are run. I have installed on a 5.5 version and all works fine.

Sorry I cant supply more detail, is there anything I could look for to s

[2018-02-09 11:25] Thijmen commented on #381
You already said it, it works on 5.5 and not on 5.6 If you look at https://github.com/hyn/multi-tenant/blob/5.x/composer.json you'll see that we only support 5.5 now, we dont have support for 5.6 yet.

[2018-02-09 11:29] snips11 commented on #381
Okay thanks, should have checked there @Thijmen but also wanted to help and supply the specific issue i was having as well. Do you have an expected date for L5.6? Will install on 5.5 and upgrade or will crack on with some other bits if it's due soon. Thanks! :)

[2018-02-09 11:35] Thijmen commented on #381
As it's open-source, feel free to start it yourself @snips11 ! :-) I myself am quite busy, maybe @luceos gets a bit of time to work on 5.6.

[2018-02-09 11:38] snips11 commented on #381
Good idea! Will give it a shot over the weekend!

[2018-02-09 12:06] Wijnands commented on #380
I have the same problem.
When i clone my application to the server and try to install with the command tenancy:install

I can't firuge out how to solve this. The only solution was to create all the tables by hand.

[2018-02-09 12:30] Thijmen commented on #380
@Wijnands Make sure you don't commit the `tenancy.json` file.

[2018-02-09 12:35] Wijnands commented on #380
@Thijmen The tenacy.json is not commited. Thats wy i need to intall the tenancy.

[2018-02-09 13:07] Thijmen commented on #380
So, if you pull your app and run `php artisan tenancy:install` before anything else, you'll end up with the `hostname doesnt exist` error?

[2018-02-09 14:42] Wijnands commented on #380
@Thijmen this is what i do when i pull my app.
- composer install
- cp .env.example .env
- php artisan key:generate
- changed .env file whit the correct settings/value for database settings
- php artisan tenancy:install

 SQLSTATE[42S02]: Base table or view not found: 1146 Table 'test.hostnames' doesn't exist

if i try to run php artisan or whatever other command the same error appear.

[2018-02-10 11:41] maelga commented on #259
**"Class App\Http\Controllers\Hyn\Tenancy\Database\Connection does not exist"**

This is the error message I get when I add `$directory = app(Hyn\Tenancy\Website\Directory::class);` in my controller.
I have spent hours trying to fix what looks like a namespace issue but the issue remains.
Any idea how to solve this?

I am trying to get files uploaded by a tenant user to store in the corresponding

[2018-02-10 11:50] maelga opened #382 "Class App\Http\Controllers\Hyn\Tenancy\Database\Connection does not exist"
__Description__

I am trying to get files uploaded by a tenant user to store in the corresponding tenant folder app/tenancy/tenants/abcxyz123.

I have this in my controller to retrieve the current tenant folder and store the file in that folder :
`			$directory = app(Hyn\Tenancy\Website\Directory::class);
			$path = $request->file('file')->store( $directory->path() );
`

---

__Actual behavior__

[2018-02-10 12:30] gkarugi commented on #382
Change this:
 `$directory = app(Hyn\Tenancy\Website\Directory::class); $path = $request->file('file')->store( $directory->path() );`

to

`$directory = app(\Hyn\Tenancy\Website\Directory::class); $path = $request->file('file')->store( $directory->path() );`

[2018-02-10 12:47] Thijmen commented on #380
Which version of tenancy are you exactly using? Or post your composer.lock, maybe I can figure something out.

[2018-02-10 12:48] Thijmen commented on #259
@maelga You need to import it, your IDE (eg. PHPStorm) can do that for you.

[2018-02-10 12:49] Thijmen commented on #382
What @gkarugi says, or do the proper import.

[2018-02-10 12:49] #382 closed, assigned to nobody

[2018-02-10 13:37] maelga commented on #382
@Thijmen What do you mean with "proper import"?

[2018-02-10 14:08] gkarugi commented on #382
What @Thijmen is saying is use proper imports for the `Directory` and `Connection` classes.  i.e

`use Hyn\Tenancy\Website\Directory;`
`use Hyn\Tenancy\Database\Connection;`

[2018-02-10 22:02] fletch3555 commented on #259
@maelga, it's trying to load it by "relative" namespace.  You need to add `\` at the front of your class namespace.

[2018-02-11 02:27] maelga commented on #382
Thank you very much for your help!

[2018-02-12 08:07] luceos commented on #380
When your run migrate:reset it will drop all tables, but only migrate based on the published migration files. Tenancy does not publish its migrations by default. So you will need to run the tenancy:install command again, which won't run migrations unless you delete the tenancy.json.

Please understand that a fix is in dev-master, which needs a changelog and migrations before being tagged to 5.1.

[2018-02-12 09:43] Wijnands commented on #380
@Thijmen the version is 5.0.17

@luceos in my application the tenancy.json file is not commited. If i run the tenancy:install command i get the same error: Base table or view not found: 1146 Table 'test.hostname'doens't exist.

[2018-02-12 15:25] itguy614 opened #383 "Laravel 5.6 Dependancy"
Update package for Laravel 5.6 support.

[2018-02-12 15:40] Thijmen commented on #383
It's on our roadmap, however feel free to create a PR which adds support for L5.6.

[2018-02-12 16:50] paishin commented on #380
@luceos, thank you for your comment. I was able to restore my application using your guideline. I have spent so much time trying to debug and trace the error and in the end it was a simple solution such as deleting the tenancy.json.

So to make a long story short to reset the database I have to migrate:reset, then delete tenancy.json and then re-run tenancy:install.

To make it easier I have added

[2018-02-12 20:18] Dayvisson opened #385 "Tenancy database RefreshCommand migrates the system migrations in the websites"
__Description__

The command **tenancy:migrate:refresh** runs:

- **migrate:reset** and   **migrate**

 instead

-  **tenancy:migrate:reset** and **tenancy:migrate**

---

__Actual behavior__

This migrates the system migrations in the websites.

__Expected behavior__

The problem is the trait **MutatesMigrationCommands**  calls the parent:handle()  that is migrate:refresh that calls the defaults

[2018-02-12 20:36] luceos commented on #385
Thanks that must have been an oversight. Would love to see a PR!

[2018-02-12 21:20] Dayvisson commented on #385
Well, I'm working here and I may have found an alternative way to fix this issue.

Cause, if we choose rewrite the handle method from **Illuminate\Database\Console\Migrations\RefreshCommand** we have also to rewrite the methods **runRollback** and **runReset** and I don't know if this is the best way.

So, I rewrote just the handle method from the trait MutatesMigrationCommands, addind the path op

[2018-02-12 21:55] itguy614 commented on #383
Forked and working through it.

[2018-02-13 19:19] itguy614 commented on #383
Making some progress...

[code]

[2018-02-13 19:21] itguy614 commented on #383
Looking at the code from @Maveriks, I think he is now further along than I got to and I think his implementation is stronger than mine.  I'm going to close this in favor of the existing pull request.

[2018-02-13 19:21] #383 closed, assigned to nobody

[2018-02-13 21:36] michaeldaly commented on #380
I have the same issues too...I had to work around it by manually creating the hostnames table in the db, then I was able to continue as normal.

What's weird is when I deployed to a server, composer update or php artisan would not run until I manually installed the hostnames table.

[2018-02-13 21:43] paishin commented on #380
@michaeldalyuk, what happened to me was that I was stuck in a limbo state where the application needed the hostnames table to exist in order to run but was failing to install because the hostnames table already existed.

Try manually adding the table and then run the command I posted above and see if it helps you reset to a stable state.

[2018-02-13 22:37] michaeldaly commented on #380
@paishin Ok thanks for the tip, I will give it a try next time I deploy to a new environment.

I even tried to ignore the package in the auto-discovery but that didn't help either - if your code works then maybe it's the way to handle this scenario moving forward.

Thanks

[2018-02-13 23:58] luceos commented on #380
This will most likely be solved in the upcoming 5.1. Feel free to try 5.x-dev to see if that helps.

[2018-02-16 16:29] swati-clarion commented on #216
I am also getting same error on
on #php artisan tenancy:install
i get Error
In DatabaseManager.php line 140:
Database [system] not configured.

I tried by unistalling and installing hyn/multi-tenant. Still no luck. Any help is greatly appreciated.

Thanks,

[2018-02-16 17:01] Thijmen commented on #216
You need to configure the `system` database-connection in your `database.php`.

[2018-02-16 18:27] swati-clarion commented on #216
I already tried this:
'system' => [
            'driver' => 'mysql',
            'host' => env('DB_HOST', '127.0.0.1'),
            'port' => env('DB_PORT', '3306'),
            'database' => env('DB_DATABASE', 'forge'),
            'username' => env('DB_USERNAME', 'forge'),
            'password' => env('DB_PASSWORD', ''),
            'unix_socket' => env('DB_SOCKET', ''),
            'charset' =

[2018-02-17 16:13] pscheminger commented on #383
Wait, what do you mean it's on your "roadmap"? If you are going to put a package out for public use you should be one step ahead of the game and make sure it's usable on future Laravel releases. Am I wrong? I have a client using your package and it completely broke because you aren't supporting Laravel 5.6. Not good man, and it's put me in a very bad situation.

[2018-02-17 22:05] Thijmen commented on #383
@pscheminger You could've looked at our requirements (https://github.com/hyn/multi-tenant/blob/5.x/readme.md). It's not our fault it broke your app/website, as we clearly state it is only for 5.5 for now. We are busy on implementing 5.6, but as it is open source we are doing this in our free time.

However, feel free to put in a PR which supports 5.5 and 5.6, as we want to support the latest LTS o

[2018-02-18 21:16] luceos commented on #383
@pscheminger

Hello Phil,

As owner of this package I'd like to take my responsibility and point out my and your obligations.

- This package is open source. You are not paying for any level of support, there's no legal contract which requires me to provide it either.
- This package has a constraint on Laravel 5.5.* not 5.6.*. Composer would object installing it on laravel 5.6 or upgrading laravel

[2018-02-19 06:20] luceos commented on #216
@swati-clarion please post your full database.php config. And next time, please do create a new issue.

[2018-02-19 16:10] swati-clarion opened #391 "No commands defined in tenant namespace"
I successfully installed tenancy using php artisan tenancy:install

The class CreateTenant is also created at app\Console\Commands\CreateTenant.php

I also added these in providers in app.php
// Hyn multi tenancy.
    Hyn\Tenancy\Providers\Tenants\ConfigurationProvider::class,
    Hyn\Tenancy\Providers\TenancyProvider::class,
    // Hyn multi tenancy webserver integration.
    Hyn\Tenancy\Provider

[2018-02-19 16:46] swati-clarion commented on #216
Thanks for help.

I uninstalled and installed hyn/multi-tenant. Then added 'system' => [
'driver' => 'mysql',
'host' => env('DB_HOST', '127.0.0.1'),
'port' => env('DB_PORT', '3306'),
'database' => env('DB_DATABASE', 'forge'),
'username' => env('DB_USERNAME', 'forge'),
'password' => env('DB_PASSWORD', ''),
'unix_socket' => env('DB_SOCKET', ''),
'charset' => 'utf8mb4',
'collation' => 'utf8mb4_unicod

[2018-02-19 20:44] luceos commented on #391
I am sorry, I did not write that CreateTenant command. Feel free to double check the `$signature` property on that command.

[2018-02-19 20:44] #391 closed, assigned to nobody

[2018-02-20 13:19] lucian-dragomir opened #393 "Directory->path issue for Windows"
__Description__

The method Directory->path is not identifying correctly the path prefix in windows environments due to the DIRECTORY_SEPARATOR constant that is different then the separator used when returning the tenant files when called "$this->directory->files($path)" in the LoadsConfigs class.

---

__Actual behavior__

curently the config files are returned using always the unix path separato

[2018-02-20 14:14] #393 closed, assigned to nobody

[2018-02-20 14:14] luceos commented on #393
Yes, we were onto this one, I just pushed a commit about it and will take it along for 5.1.0

[2018-02-20 22:00] joshjacks commented on #309
Would below be an example of this issue or have I misunderstood?

Authenticate as tenant A

[code]

Authenticate as tenant B

[code]

[2018-02-20 22:59] ekontiki89 commented on #347
@luceos  @ReinierB  Hello, I have the same problem, as they solved it if you could give me the example, I'm trying to use it in homestead of  laravel

[2018-02-20 23:13] pscheminger commented on #383
Thank you for your feedback and information, it's very much appreciated!

[2018-02-21 08:04] luceos commented on #383
@pscheminger hyn/multi-tenant 5.1.0 was tagged with compatibility to laravel 5.6; made possible by our newest sponsor @itguy614 🤗  and the contribution by @Maveriks 😍

[2018-02-21 08:31] luceos commented on #309
@Maveriks this is exactly the issue 🎉 👍  .

Saving a specific key not unique per tenant will overwrite the cache with that key. I think it would be great to modify either the config (early) or to overload or modify the Cache registry to modify the logic. I haven't done any further research but this should be possible by investigating into the inner workings of the Cache registry.

[2018-02-21 08:41] joshjacks commented on #309
Thanks for clarifying, @luceos !

I was looking into it last night and thought that we could just change the cache prefix in config.

The issue arises if I want to cache something at the system level. It wouldn't cache cross-tenant. The best solution I can immediately see is adding a Cache::onTenant()->remember.... helper method.

Possibly even have a config option so it defaults to onTenant but t

[2018-02-21 10:26] luceos commented on #309
Your suggested solution has a slight drawback, you won't be able to use the helper or ioc bound registry. Comparing to previous implementations like Directory, I'm not too happy about its implementation so let's not get into the habit of creating new classes for existing Laravel functionality..

How about we set up a new cache store, that's pretty comparable with how the database modifications wor

[2018-02-21 11:52] joshjacks commented on #309
Okay, yes I agree. Will do some work on this solution when I have some spare time and make a PR. 😄

[2018-02-21 13:11] luceos commented on #344
@ReinierB the dev-master branch holds the MediaController. I've added a test to confirm it's working as intended.

[2018-02-21 13:15] luceos commented on #309
That would be greatly appreciated! 👍

[2018-02-21 15:26] luceos opened #396 "Route middleware"
Let's create a middleware that can be applied to routes to identify whether the request is on a tenant website.

Having this middleware allows the application to easily pass requests to another layer, eg the landing page (see the docs).

[2018-02-26 14:13] ernes87lp commented on #396
Here you have a tutorial to enforce tenancy https://medium.com/@ashokgelal/a-full-featured-multi-tenant-app-with-laravel-part-4-tenancy-aware-authentication-e0ee37270bc8
It creates a simple middleware to achieve that.

[2018-02-26 20:50] impactcolor opened #397 "requesting 5.6"
Hi documentation says it's for 5.5 but I tried installing it via composer and got this error:
    - hyn/multi-tenant 5.1.0 requires laravel/framework 5.6.* -> satisfiable by laravel/framework[5.6.x-dev, v5.6.0, v5.6.1, v5.6.2, v5.6.3, v5.6.4, v5.6.5] but these conflict with your requirements or minimum-stability.

[2018-02-26 21:41] luceos commented on #397
5.5 and 5.6 are both supported, you must be referring to the readme (i've missed), see the actual documentation : https://laravel-tenancy.com/documentation/introduction/requirements

From the composer error it seems you do not have 5.6 installed.

Use hyn/multi-tenant `5.0.*` for laravel `5.5.*`, use `5.1.*` for laravel `5.6.*`

[2018-02-26 23:57] visualcookie commented on #396
That's a great idea, as my application won't have any CMS likes features, but the Tenants have. For now seperating them is quite hard to get, from the documentation.

Maybe it could be clearified a bit more for this "not"-so-special case.

[2018-02-28 13:41] michaeldaly commented on #380
@luceos I tried the latest version but the problem still exists.

If you give it a try do you receive the same erorr?

[2018-02-28 16:04] luceos commented on #380
@michaeldalyuk you could publish the migration files by manually copying them over into the migrations directory you use for your system migrations. This issue wasn't resolved in 5.1.

[2018-03-07 18:59] anil1712 opened #398 "Unable to run on Windows OS"
__Description__

Hi,
I have Windows PC (W10 OS), I am unable to run it on windows over XAMPP, can some help me to run this on the same.
..

---

__Actual behavior__
Not working anymore

..

__Expected behavior__

..

---
__Information__

- hyn/multi-tenant version:
- laravel version:
- database driver and version:
- webserver software and version:
- php version:

---

__tenancy.php config__

[code

[2018-03-07 19:15] fletch3555 commented on #398
Do you take a computer to a repair shop, put it on the desk, and say "it's broken"...?

We're going to need a lot more information about WHAT's not working, what you've tried (whether it worked or not), version numbers for everything, etc.

[2018-03-08 02:09] jeitnier commented on #309
I don't know a ton about the internals of the IOC but from what I can tell there is a catch 22 here...I sort of made progress on this today by disabling auto discovery of "hyn/multi-tenant" ("spatie/laravel-permission" also but that's sorta unrelated).

I created a custom cache driver but I had to manually load the Hyn service providers after the custom cache provider because the Hyn providers are

[2018-03-08 04:40] anil1712 commented on #398
Yeah, you are right, so let me.
I followed the documentation and did all the configuration but I got stuck in Apache configuration, so I needed help to configure it with XAMPP.
One more thing, Actually I have created vhost (domain: example.com) in apache and whenever I try to hit that domain in the browser then its redirecting to `https://example.com`

[2018-03-08 08:26] luceos commented on #398
Did you create a tenant hostname with `force_ssl` set to true? If not this is a configuration issue of your server and unrelated to this package.

[2018-03-08 08:28] luceos commented on #309
@jeitnier what the database resolving does is add a database connection to the config. The proposed solution for a tenant aware cache would be comparable, which is to add a cache store to the config during runtime. Completely implementing a new Cache Driver seems over the top from my perspective, as long as we haven't attempted the suggested solution overriding any core logic isn't making sense.

[2018-03-08 13:50] anil1712 commented on #398
Ok, I will check the `force_ssl` things but can you explain how to configure apache something like [this](https://laravel-tenancy.com/documentation/webserver/apache)  for windows

[2018-03-08 14:11] luceos commented on #398
@anil1712 I'm sorry but this issue is related to server management, not the configuration of this package (on Windows).

[2018-03-08 14:11] #398 closed, assigned to nobody

[2018-03-11 08:48] joshjacks commented on #309
Having looked into this, I'm not really sure of the best solution.

For Redis (which I guess is one of the most popular Laravel caching solutions) it seems very frowned upon to use multiple databases on one instance. Especially when these databases could easily end up numbering 100+.

Creating multiple instances seems to be the suggested solution however the viability of this depends greatly on ho

[2018-03-11 13:15] Nizari commented on #348
I got stuck here too. The overal setup looks amazing. However, once you want to add 3th party composer packages with their own models, you now either have to extend them all or either I'm missing something in the documentation.

However, already much respect for your hard work!

[2018-03-11 14:28] Nizari commented on #348
He Luceos, what is the status of this issue? Are there already people working on this (according to your knowledge)?

[2018-03-11 19:15] luceos commented on #348
So far no one has expressed an interest yet. I am aware that extending third party models is tedious, I'll look into a solution for this but that is not inside the scope of this issue.

[2018-03-11 23:46] jeitnier commented on #309
This is what I ended up doing, rolling my own solution. Added a `CachServiceProvider` with these contents in `boot` method:

[code]

Doesn't require a new Cache driver, as I'm just manually implementing the existing Redis driver. All I wanted to do is override the default prefix, which this lets me do by setting a custom cache driver in `config/cache.php`.

[code]

Maybe not the most elegant solut

[2018-03-12 05:27] luceos commented on #309
@jeitnier interesting solution indeed. Would you allow me to push this to our documentation?

@Maveriks that's a perfectly valid point, perhaps showing a few suggestions in docs would be a great starting point for any user?

[2018-03-12 05:57] #397 closed, assigned to nobody

[2018-03-12 11:51] jeitnier commented on #309
Absolutely, go for it.

[2018-03-12 12:05] Nizari commented on #348
At least for now, you'll get my Patreon support :). Inspiring code 👍

[2018-03-13 17:32] bkintanar commented on #309
Thanks @jeitnier, this has now been added to the documentation.

[2018-03-13 18:58] CodeSkills opened #399 "[Filesystem] Performance optimization with remote FileStorage"
__Description__

When using this package with remote FileStorage (like S3, Minio or so), each request connects and loads the data from the remote storage, which makes the response much slower.

__Actual behavior__

Loads data from storage every request.

__Ideal behavior__

Cache the loaded data or make an option to disable loading data from storage with every single request.

__Information__

- h

[2018-03-13 19:30] luceos commented on #399
Can you specify what exactly is stored remotely? The tenants directory?

[2018-03-13 20:06] luceos commented on #399
Okay so the problem is most likely related to the Filesystem adapter being created whenever the tenant is identified, on every request. This has a detrimental effect on the loading time of the page, especially in case of remote storage.

[2018-03-13 20:06] CodeSkills commented on #399
In my scenario - I have two App servers with load balancing. I can't store anything locally, since its not the responsibility of the App server, so I made a Minio File storage server for all (by default locally stored data). So whole file storage is remote.

As far as I know, it checks & creates the tenant folders and then loads the tenant data from it.

It is possible to disable loading tenant sp

[2018-03-13 20:11] #309 closed, assigned to bkintanar

[2018-03-13 20:41] bkintanar opened #400 "Override Connection Resolver in the Eloquent Model"
[code]

[2018-03-14 09:26] lucian-dragomir opened #401 "multi-tenancy support for lumen-framework"
Hi,

Would it be possible / do you plan to add support for hyn/multi-tenant for lumen framework?
I am interested to create an application having multi-tenancy features without using the entire laravel framework (currently each hyn/multi-tenant package is bounded it's corresponding laravel version).

Are any workarounds available to use multi-tenancy in a lumen setup ?

Thank you,
Lucian

[2018-03-14 10:30] luceos commented on #401
Hello Lucian,

This would most likely need some investigation. I'm not saying no, I'm just not sure it's feasible..

Thanks,

Daniël.

[2018-03-20 09:40] luceos commented on #396
Docs already have information on how to set up a landing page using three methodologies.

[2018-03-20 09:40] #396 closed, assigned to nobody

[2018-03-20 19:39] k33n commented on #383
@luceos thanks for the continued effort, we just contributed via open collective and will look for other ways to support the project.

[2018-03-20 20:03] luceos commented on #383
@k33n thank you so much, your donation allows me to spend more time on development of this package 🥇 🤗

[2018-03-21 06:09] mallu266 commented on #391
HI i am also getting the same error, but not getting how to fix.

[2018-03-21 06:11] mallu266 commented on #391
Hi

I am also getting the error as below

**Commant**: php artisan tenant:create test test@gmail.com

**Error:**  There are no commands defined in the "tenant" namespace.

  Did you mean one of these?
      tenancy
      tenancy:db
      tenancy:migrate

[2018-03-21 07:41] swati-clarion commented on #391
Hi ,

You can follow this tutorial and use createTenant Class from this tutorial. This will sort above issue.

https://medium.com/@ashokgelal/a-full-featured-multi-tenant-app-with-laravel-part-1-4049a3cc229d

Thanks,

[2018-03-21 07:49] mallu266 commented on #391
@swati-clarion
I Have followed the same document earlier but still am getting this error....
tried to clear all cache aswell..
Tried a new install too...

[2018-03-21 08:18] luceos commented on #391
@mallu266 this is not an issue with this package. This package offers no tenant create command. In case you have any troubles I'd suggest double checking the tutorial.

[2018-03-25 07:54] RushabhJoshi opened #403 "Can not create hostname"
Earlier everything works perfectly but suddenly I am not able to create new tenant
I also followed the documentation of [Full-featured app](https://laravel-tenancy.com/docs/hyn/5.x/full-featured-tutorial)

My sample code is
[code]
..

---

- hyn/multi-tenant version: 5.0.17
- laravel version:v5.5.32
- database driver and version:MySQL version: 5.7.21-0ubuntu0.16.04.1
- webserver software and versi

[2018-03-25 11:09] Thijmen commented on #403
Which trait does your `Hostname` model use?

[2018-03-25 13:06] fletch3555 commented on #403
@Thijmen, the snippet above shows he's using the one from this package.

[2018-03-25 16:02] Thijmen commented on #403
How does your `database.php`-config looks like?

[2018-03-26 06:26] RushabhJoshi commented on #403
[code]

[2018-03-26 08:20] luceos commented on #403
Does your system database have a hostnames table? Aka did you run those migrations?

[2018-03-26 08:24] RushabhJoshi commented on #403
Yes, as I said it was working before, FYI I run this code in a console command

[2018-03-26 08:34] luceos commented on #403
What value has `DB_CONNECTION` in your `.env`?

[2018-03-26 10:52] RushabhJoshi commented on #403
[code]
here code successfully created a website, the problem only occurs when we try to create hostname which is next to creating a website

[2018-03-26 10:59] luceos commented on #403
This is truly odd. It seems it's trying to save hostnames to the tenant connection instead of the system connection. Is this a clean install or did you modify any logic so far? You said it worked earlier and now it doesn't, any pointers what changed in between?

[2018-03-26 11:01] RushabhJoshi commented on #403
I haven't changed any code. In between, I just added other packages.

[code]
composer.json

[2018-03-26 11:42] luceos commented on #400
The problem with this approach is that the Connection Resolver is unaware of what class the connection is being requested. One could use a debug backtrace to resolve that, which is pretty hacky.

[2018-03-27 06:55] RushabhJoshi commented on #403
Hello @luceos, I have gone through the git commit one by one and appeared that nothing really changed which affect the code

I thought it is because of this package `laravelcollectiv/html`

So I have removed this package and its provider from `app.php` config file still got no luck

Other changes are related to controller, routes, migrations, and model (the models are user-defined I haven't change

[2018-03-28 15:22] gcjbr commented on #257
Just as a additional note (since @ZykezIX 's link is not working) the solution code should be put on your AppServiceProvider.php

[2018-03-29 18:27] luceos commented on #403
What is the environment like, is this virtualised?

[2018-03-30 04:14] RushabhJoshi commented on #403
@luceos I am running on my laptop os, No virtual setup
Ubuntu 16.04

[2018-03-30 04:44] luceos commented on #403
I have no clue what is wrong. But it's obvious the wrong connection is being used.

If possible you might want to upgrade to Laravel 5.6 and Hyn 5.1.*; perhaps that will resolve this issue. Otherwise you'd have to debug this as I can't seem to reproduce.

[2018-03-30 08:21] RushabhJoshi commented on #403
Sure, Thanks a lot

[2018-03-30 09:09] OwenMelbz opened #404 "[Request/Proposal] Renaming Customer to Tenant"
I know this is a completely breaking change, however the name "Customer" is very generic, and can be a little in-descriptive, especially in certain circumstances.

For example, the system we're looking to build needs to be multi tenancy - however each tenant has a concept of a "Customer" already

What is the reasoning behind having such a generic name? and is there scope in the future of potential

[2018-03-30 09:43] luceos commented on #404
Hi @OwenMelbz , thank you for joining in.

Technically [a tenant is a Website](https://laravel-tenancy.com/docs/hyn/5.x/concepts), because a website is being served from the same code base. Not a customer. A customer can have multiple websites. Nevertheless the human side of a tenant could be related to a customer, but that doesn't match up with the technical implementation.

As this has been conf

[2018-03-30 09:43] #404 closed, assigned to nobody

[2018-03-30 09:46] luceos commented on #403
Feel free to re-open when you have more information or, if possible, provide a way for me to reproduce.

[2018-03-30 14:25] misterdoak opened #405 "MongoDB compatibility using jenssegers/laravel-mongodb"
Hi,
I'd like to use your package to setup a multitenant architecture. But I only have MongoDB....

I try to provide my own Models (through tenancy.inc) compatible with jenssegers/laravel-mongodb Eloquent implementation. Sounds like a good option but for now i'm stuck with CustomerContract, HostnameContract and WebsiteContract because they use return type hinting : BelongsTo and HasMany. laravel-mo

[2018-03-30 18:13] redroses opened #406 "abort-without-identified-hostname flag"
I am using wamp v3.
configured hosts to use
127:0:0:1 mml
127:0:0:1 abc.mml
127:0:0:1 xyz.mml

http://abc.mml/anyroute works
http://mml/anyroute - 404 error

until I changed abort-without-identified-hostname from true to false.

is this the expected behavior?

basically in production I would like:

https://mysite.com for all users to go and register
as well as faqs, about, etc not to worry about t

[2018-03-30 20:46] fletch3555 commented on #406
The app wasn't able to identify `mml` as a hostname, so having that config set to true is doing exactly what it's supposed to do.

You have a few options.

1. You can look into the "Fallback" functionality: https://laravel-tenancy.com/docs/hyn/5.x/fallback
2. You can leave that config set to `false` and implement the abort functionality yourself
3. Or you can simply add that domain to the `hostnam

[2018-03-30 22:19] redroses commented on #406
Thanks

[2018-03-31 12:44] Thijmen commented on #405
We have no support for MongoDB as of yet and we do not provide the ability to override those interfaces. However, we'd gladly look into a PR which adds support for MongoDB!

[2018-04-03 19:42] redroses opened #407 "database migrations override"
Is it possible to override the 3 default migrations: customers, hostnames, websites.
I know artisan tenant:migrate command migrates the system database using assets/migrations.
I thought artisan migrate would use the custom one's I created in the project's migrations folder.
It did not.
The php artisan vendor:publish --tag=tenancy gives me config files, but no migration files to override.
I copied

[2018-04-03 19:44] bkintanar commented on #407
Those 3 migration files are the ones needed for multi-tenant to work. as long as you only add fields and modify fields that you added, I think you'll just do fine.

[2018-04-03 19:46] redroses commented on #407
How can I do this?
It uses the migrations in the hyn/multi-tenant package.
How do I get it to ignore the migrations in hyn and use the one's in my project?

[2018-04-03 19:50] fletch3555 commented on #407
Your best bet is to leave the package migrations as-is and let the package define what it needs.  If you need to add/change things, then create new "alter" migrations in your app

[2018-04-03 19:52] redroses commented on #407
i found php artisan migrate --path="database/migrations" which uses the project migrations.
i had never done that before. it worked.
thanks all for your help.

[2018-04-05 12:46] luceos commented on #405
Feel free to reopen when considering a pr. @misterdoak

[2018-04-05 12:46] #405 closed, assigned to nobody

[2018-04-05 12:47] #406 closed, assigned to nobody

[2018-04-05 13:34] f0reclone opened #408 "MediaManager is not returning Content-Type Header"
__Description__
Currently the MediaManager is just returning the binary content of the file without the right Content-Type Header.

__Fix__
Change the __invoke function in Media Manager to add the Header with the mimeType provided by Storage:
`use Illuminate\Support\Facades\Storage;`

[code]

- hyn/multi-tenant version: 5.0.0
- laravel version: 5.5
- database driver and version: -
- webserver soft

[2018-04-06 07:05] RushabhJoshi commented on #403
Hello @luceos ,

I have updated the laravel version and package
still having the same error

[2018-04-06 17:15] luceos commented on #403
Okay so this might be related to an insert on a has many relationships when attaching the hostname to the website. The relationship might default back on the wrong connection.

I'll look into it.

[2018-04-06 17:20] #407 closed, assigned to nobody

[2018-04-09 05:13] luceos commented on #401
I was considering requiring a deeper level of requirement here, eg using laravel/framework. But Lumen doesn't use the framework at all. The only valid way of doing this then would be either to drop the requirement completely or put the constraint on any of the packages used by both Laravel and Lumen 🤔

[2018-04-09 06:32] luceos commented on #408
@f0reclone a PR would be gratefully accepted 👍

[2018-04-11 09:08] #288 closed, assigned to nobody

[2018-04-11 09:09] luceos commented on #385
Will be part of 5.1.3.

[2018-04-11 09:09] #385 closed, assigned to nobody

[2018-04-11 09:32] #408 closed, assigned to nobody

[2018-04-11 09:37] luceos opened #413 "Fallback MediaController requires documentation"

[2018-04-11 11:24] luceos commented on #378
@michaeldalyuk i think we still need to follow up on this. I'll book some hours asap to dive into open issues that require manual testing.

[2018-04-11 13:31] luceos opened #415 "Property managed_by_database_connection in Website needs documentation"
Since 5.1.5 a new property on the Website model has been introduced. By default it will be filled with the name of the current system connection name. But in case you set the value beforehand that connection name will be used to create, update and delete the database and the database user of this tenant.

This solves a crucial issue when modifying the host of the tenant connection manually using a

[2018-04-11 15:01] #413 closed, assigned to nobody

[2018-04-11 15:05] #415 closed, assigned to nobody

[2018-04-11 15:09] #351 closed, assigned to nobody

[2018-04-11 15:11] luceos commented on #341
Needs a place to live in the docs.. Tbd.

[2018-04-12 08:31] luceos commented on #400
My initial thought was to replace the connection resolver for Model (by illuminate), but it might as well be possible to replace the Resolver only for the specific models you need to replace it in..

[2018-04-12 08:36] luceos commented on #400
Another option is to use Model Observers as suggested by Bryse on discord.

[2018-04-12 11:58] luceos opened #417 "Use doctrine schema manager instead of custom drivers"

[2018-04-12 12:31] luceos commented on #417
doesn't support managing users..

[2018-04-12 12:31] #417 closed, assigned to nobody

[2018-04-13 12:42] xyrintech opened #418 "Script @php artisan package:discover handling the post-autoload-dump event returned with error code 1"
Getting this issue for Laravel 5.6

[2018-04-13 12:43] luceos commented on #418
Feel free to add more information 👍

[2018-04-13 12:43] #418 closed, assigned to nobody

[2018-04-13 12:43] xyrintech commented on #418
composer require hyn/multi-tenant

Writing lock file
Generating optimized autoload files

In DatabaseManager.php line 140:

  Database [system] not configured.

Script @php artisan package:discover handling the post-autoload-dump event returned with error code 1

Installation failed, reverting ./composer.json to its original content.

[2018-04-13 12:44] xyrintech commented on #418
@luceos Added description.

[2018-04-13 12:46] luceos commented on #418
[code]

Read the requirements:

https://laravel-tenancy.com/docs/hyn/5.x/requirements

[2018-04-13 12:47] xyrintech opened #419 "Issue while installing this package"
- hyn/multi-tenant version: 5.1
- laravel version: 5.6
- database driver and version: default
- webserver software and version: default
- php version: 7.1

composer require hyn/multi-tenant

raise error:

Loading composer repositories with package information
Updating dependencies (including require-dev)
Nothing to install or update
Generating optimized autoload files

In DatabaseManager.php line

[2018-04-13 12:49] luceos commented on #419
read the comment on the previous issue, please do not duplicate the same issues..

https://github.com/hyn/multi-tenant/issues/418

This is not a bug, please read the requirements in the docs 😄

[2018-04-13 12:49] #419 closed, assigned to nobody

[2018-04-13 13:28] xyrintech opened #420 "Trying to figure it out on Documentation"
Please suggest if this package supports accessing the web application on one domain but with prefix tables in single database.

Like abc.com as domain.
A user belongs to 2 tenants company_1 and company_2.
One database has tables with company_1_... and company_2_... prefix.

[2018-04-13 18:39] luceos commented on #420
Yes that's possible. Please understand that the prefix method is implemented, but a) it has no code coverage and b) is not recommended. However if you encounter any issues while using it, feel free to report them.

You can configure the prefix method in the `tenancy.php` configuration file under the key `db`.

[2018-04-13 18:39] #420 closed, assigned to nobody

[2018-04-16 07:11] rennokki opened #421 "php artisan tenancy:migrate throws 'Access denied'"
__Description__

The command `php artisan tenancy:migrate` throws:
`SQLSTATE[HY000] [1045] Access denied for user '1970139221de4d6993bcdc213a67f570'@'localhost' (using password: YES)`.

The package works good. It creates the database, it creates the database user, it also sets the password and i can connect to the tenant database later.

The bad news is that everytime i try to update all tenants'

[2018-04-16 07:18] luceos commented on #421
Okay, getting to the bottom of this:

- use `127.0.0.1` instead of `localhost` as this has been changed in mariadb lately (if I'm not mistaken)
- never, ever use `env()` calls because if you forget them and they end up in production they will always return `null` because if you use `config:cache` the env is no longer loading
- the exact user exists and has permission over the database?

[2018-04-16 07:43] rennokki commented on #421
Thank you for the prompt answer and for some tips over stuff i should have avoided.

The problem itself was due to the nasty `localhost` which must have been `127.0.0.1`.
I am no longer calling those two DB statements, by updating privileges & flushing them anymore as long as i have ran tests and it works without them.

The problem solved after i changed to 127.0.0.1 and ran both `config:cache` an

[2018-04-16 07:43] #421 closed, assigned to nobody

[2018-04-16 08:43] luceos commented on #421
Glad that is the issue, that localhost mutation really had me think a few times too.

Good luck building, let us know if you encounter any more issues and feel free to join the Discord chat for faster issue mitigation; https://laravel-tenancy.com/chat

[2018-04-17 11:11] bkintanar opened #422 "Revisit Documentation"
I think the documentation is somewhat behind already. There's a need to revisit the entire documentation and check all pages for what is still working and what new things needed to be added.

#### Getting Started
- [ ] [Requirements](https://laravel-tenancy.com/docs/hyn/5.x/requirements)
- [ ] [Installation](https://laravel-tenancy.com/docs/hyn/5.x/installation)
- [ ] [Configuration](https://larav

[2018-04-17 11:12] bkintanar opened #423 "Revisit migration page in documentation"
Link: https://laravel-tenancy.com/docs/hyn/5.x/migrations

- [x] verify all migration related commands are documented
- [x] give one example (and explain) of how to run commands against all tenants, default behavior
- [x] give one example (and explain) of how to run commands against specific tenants

[2018-04-17 16:08] wukis opened #425 "Hello, I'm looking for best strategy to overwrite default hostname behaviour"
Hello,

first of all thank you for this awesome package, this is a huge contribution to the community.

I'm looking for a way to swap out default behavior for  hostnames:

- tenant1.basedomain.com
...
- tenantN.basedomain.com

into:

- basedomain.com/tenant1
...
- basedomain.com/tenantN

I could not find anything similar to this approach. Ofcourse I can override service provider and etc., but isn'

[2018-04-17 16:26] jeremyj11 commented on #425
Just commenting - it's a bad idea to have different tenants using the same basedomain as by default php sessions are per domain... meaning a user logged into basedomain.com/tenant1 could potentially just change their url to basedomain.com/tenantN and be already logged in / have access...

[2018-04-17 16:40] wukis commented on #425
@jeremyj11 - this is actually a concern that I didn't think about. I was kind of thinking that without subdomain it would be great to give "personal space" for each tenant through route.

[2018-04-17 19:24] luceos commented on #425
@wukis it's possible but you'll have to do the tenant identification yourself, which might be pretty easy using the request path.

[2018-04-18 08:27] #425 closed, assigned to nobody

[2018-04-18 08:28] luceos commented on #423
Added three todos in your start post.

[2018-04-18 19:17] luceos commented on #400
Done in 5.1.9

[2018-04-20 11:42] f0reclone opened #426 "Documentation Many To Many Relationship with Pivot Table in Tenant Database"
Hello, last night I wanted to use a belongsToMany Relationship with two Models
User -> in Tenant Database
Role -> in System Database
user_roles Pivot Tabe -> in Tenant Database

To resolve this, the following topic on Stackoverflow helped me:
https://stackoverflow.com/questions/25142968/belongstomany-relationship-in-laravel-across-multiple-databases

[code]
The code above can be used in the Class

[2018-04-20 17:36] redroses opened #427 "SAVEPOINT Exception when using transactions on ubuntu"
Has anyone come across SAVEPOINT issue using multi-tenant?

Any help or guidance would be appreciated.

The exact same code

WORKS on
windows 7 or 10.
mysql 5.7.9
apache 2.4.33
php 7.1.15

FAILS on
ubuntu 17.10
mysql  5.7.21
apache 2.4.33
PHP 7.1.16

with SAVEPOINT exception when using DB:

DB::beginTransaction();
		try {
                        // *** This calls the hyn multitenant code
			$custo

[2018-04-22 06:10] luceos commented on #427
Haven't done any research yet. But would you be able to use a lower MySQL Version on the failing instance? Just to see whether it's related to the MySQL version.

[2018-04-22 06:14] luceos commented on #426
I guess adding a method to the trait would make more sense than having to specify the database name every time. Good thing to have an issue though 👍

[2018-04-22 07:38] mnuhell commented on #427
Hi, That happened to me the other day, in my case it was because when you do a refreshdatabase there is a trace in the database or the tenant has not been erased correctly.

[2018-04-22 16:00] bkintanar commented on #427
@mnuhell can you define what you mean about the database has not been erased correctly? and what MySQL version were you using?

[2018-04-22 21:44] mnuhell commented on #427
@bkintanar

Mysql version:  5.7.18

When some data is not deleted correctly or the seeder does not run correctly and there is some trace in the database and then you run the tests again.

[2018-04-23 01:30] redroses commented on #427
I've rewritten the code to not use transactions for the method that's causing the problem.
Basically the problem exists when trying to use transactions before calling
app(CustomerRepository::class)->create($customer);
app(WebsiteRepository::class)->create($website);
app(HostnameRepository::class)->attach($hostname, $website);

and only on the newer version of mysql on ubuntu.

I am pausing work on

[2018-04-23 01:43] redroses opened #428 "Initializing newly created tenant database"
After successfully creating a new customer, hostname and website, I am struggling to get initialize the newly created tenant database.

The tenant database gets created with a corresponding db user with all db permissions set correctly.
All migrations are run and the tables get created.
But the table initialization code only works on windows and not ubuntu.

The tenant database gets initialized on

[2018-04-23 04:57] luceos commented on #428
I can't really make sense of your issue as to what the exact problem is aside from Windows identifying the tenant after it being created whereas Linux does not?

No it won't, unless you hit the hostname of a tenant after creating.. To know for sure I'd like to know how you create tenants, is it done from a form or in terminal?

[2018-04-23 17:39] reneenistler opened #429 "Tenant Database Connection not initialized in Ubuntu"
Good afternoon,
I have installed hyn multi-tenant package.
I am able to successfully create the customer, hostname and website records in the system database both locally and in my cloud environment.  However, on my local windows environment I have also successfully created a tenant database, tenant user account (named the same as the tenant database), migrated the tenant tables ,  seeded the tena

[2018-04-23 17:55] bkintanar commented on #429
@reneenistler thank you for your interest and in using this package.

1. if you look at [MariaDB.php](https://github.com/hyn/multi-tenant/blob/5.x/src/Generators/Webserver/Database/Drivers/MariaDB.php) you will see how the database is being created. Tenancy doesn't store database user/password anywhere but calculates the password by using your APP_KEY. See the [DefaultPasswordGenerator](https://gi

[2018-04-23 18:06] reneenistler commented on #429
bkintanar - thank you for your speedy response.
3. So my code is accurately using the system connection to create the tenant database and migrate the tenant tables BUT it is failing to connect to the tenant database to run the tenant seeds and create the tenant user.  How do I manually connect (invoke a tenant connection) within my PHP code to connect to the tenant database so I can run the seeder

[2018-04-23 18:22] fletch3555 commented on #429
@reneenistler, how did you create the databases on your remote/ubuntu environment?  If you did so as a database backup/restore, then the users wouldn't have been created.  You can run `artisan tenancy:recreate` ([ref](https://github.com/hyn/multi-tenant/blob/5.x/src/Commands/RecreateCommand.php))to recreate the DB users and databases, then re-run your DB restore to populate the tables

[2018-04-23 18:34] luceos commented on #429
@reneenistler

- Creating database users is taken care of by the package. It requires a system database user with grant permission though, see the [requirements](https://laravel-tenancy.com/docs/hyn/5.x/requirements).
- You can directly use a tenant connection by ioc resolving the Connection class: `Hyn\Tenancy\Database\Connection`.
- For seeding you can use the package command `tenancy:db:seed`,

[2018-04-23 18:39] redroses commented on #428
I updated windows mysql database to 5.7.21
Everything still works on windows.
On ubuntu 17.10, the database seeds and any tenant table inserts right after the newly created tenant db and user do NOT persist.
The same code persists to the windows tenant db.

WORKS on
windows 7 or 10.
mysql 5.7.21
apache 2.4.33
php 7.1.15

FAILS on
ubuntu 17.10
mysql 5.7.21
apache 2.4.33
PHP 7.1.16

[2018-04-23 18:49] redroses commented on #429
I am trying to also get a tenant connection manually.

$customer = Customer::find(1);
$connection = TenantDomainUtil::setTenantConnection($customer);
dd(Country::code('USA')->first());

InvalidArgumentException
Database [tenant] not configured.

class TenantDomainUtil {
....
public static function setTenantConnection(Customer $customer) {
		$hostname = $customer->hostnames->first();
		if ($hostnam

[2018-04-23 18:52] reneenistler commented on #429
Luceos, thanks for the reply.

- The Tenant database and the associated database User Account is correctly created on Ubuntu.  The system connection is performing all tasks accurately.

Fully automated Logic based on user registration/verification:
1) The user completes a form providing email, name and Stripe payment info. The System Connection creates the registration in the system database corre

[2018-04-23 19:05] bkintanar opened #430 "Duplicate content in Connections and Model sections"
There's duplicate content in the Connections and the Models sections and the Connections section doesn't mention the ability to ioc resolve the Connection class

[2018-04-23 19:11] redroses commented on #429
I see from issue Tenant database connection example #241

The easiest way once your Tenant is globally identified:

$connection = app(Hyn\Tenancy\Database\Connection::class);
$tenantConnection = $connection->get();

See Connection::get.

I realize tenant is globally identified from browser 'domain.site.com'.
From domain the tenant is found.

However, when in code, how do I set the correct tenant b

[2018-04-23 19:18] luceos commented on #428
They do not persist? Are they causing an error? Aside from not showing up are there other indications? Also did you set up both environments differently, eg the queue driver?

[2018-04-23 19:25] luceos commented on #429
@redroses please don't spam an issue of another user even when you collaborate. With the complexity at hand this is causing a lot of confusion.

@reneenistler are you and @redroses discussing the same issue aka are you working on the same project? Please stick to one issue and not two.

#428 also discusses windows and ubuntu.

[2018-04-23 19:27] luceos commented on #429
I did update locally to MYSQL 5.7.21 and the process still works Locally on Windows... so I don't think it is related to MYSQL version.

You can easily use the auto migrate and seed ability the package ships with.

As mentioned in #428 you are saying "Seems that the tenancy connection works Locally on Windows 10 but not in Ubuntu." But you don't explain what is "not working", are you getting an er

[2018-04-23 19:46] reneenistler commented on #429
Hello,
Yes I am working with Redroses. We tabled the SAVEPOINT issue discussed on #428 and indicated we would create a new issue for the Tenacy Connection described in this issue.
By not working, I mean that the code to run tenant seeds and create user are not returning any results.  No errors are MySQL or Laravel logs that indicate why the code is not successful.

**//RegisterController - calls p

[2018-04-23 19:50] luceos commented on #429
Have you tried logging that it actually hits that code?

[2018-04-23 19:51] luceos commented on #428
Let's stick to #429 👍

[2018-04-23 19:51] #428 closed, assigned to nobody

[2018-04-23 20:00] bkintanar commented on #423
@luceos what other things we can do with the migrations.md file here?

[2018-04-23 22:29] redroses commented on #427
Now WORKS.
Because of savepoint errors, I removed the transaction logic.
The hyn/tenancy package must be doing commits.
The system database always committed the customer, hostname, website data.
The tenant database does not.
Wrapping the tenant specific code in a transaction solved this.

public function setupCustomer(Registration $registration, array $data) {
		try {
			$customer = $this->createC

[2018-04-23 22:31] redroses commented on #429
solved in SAVEPOINT Exception when using transactions on ubuntu #427
not wrapping tenant db code in a transaction.

Thank you all for your help in this.
Sorry it took us so long to figure it out.

[2018-04-23 22:34] redroses commented on #427
Note:
I would still like to be able to wrap both DBs in a transaction and commit or roll them back together.
Right now I have to cleanup the system tables if the tenant transaction gets an exception.
This is because it is getting commited automatically - or I just don't know how to set it up properly.

[2018-04-23 23:38] t-grm commented on #347
You can also simply add www-data to the sudoers file, allowing it to only run nginx configtest & nginx reload with elevated permissions.

`www-data ALL=(ALL:ALL) NOPASSWD:/usr/sbin/service nginx configtest,/usr/sbin/service nginx reload`

[2018-04-24 04:13] luceos commented on #427
Transactions are always connection-based (eg per database) and not global if I'm not mistaken. There would be no way of solving this by using Laravel natively. Perhaps some helper function would work or a third party package exists that can do this.

[2018-04-24 04:14] luceos commented on #429
Glad you figured it out 👍

[2018-04-24 04:14] #429 closed, assigned to nobody

[2018-04-24 18:02] #423 closed, assigned to bkintanar

[2018-04-24 18:05] markandrewkato commented on #317
Hi! How can I implement this one? I'm confused and tried to put

=> 'unique:connection.tenant,coupons,code'

but this doesn't work. Any help?

[2018-04-24 18:08] bkintanar commented on #317
@markandrewkato that's supposed to be `unique:connection.table,column` so in your case, you need to use `unqiue.tenant.coupons,code`

[2018-04-25 01:57] #427 closed, assigned to nobody

[2018-04-25 02:06] redroses opened #431 "Multi-Tenant Configuration on Ubuntu 17.10"
For anyone interested.
I am using the latest hyn/multi-tenant package.
Ubuntu 17.10

The following configuration works to get multi-tenant working for me: DNS, apache config, laravel .env

Replace mydomain.com with your domain.
Assuming main site where clients register is mydomain.com
Each client logs in at clientsubdomain.mydomain.com

DNS Records
A       mydomain.com
CNAME   www.mydomain.com
CNA

[2018-04-25 07:31] luceos commented on #431
You could have used mass virtual host configuration to catch all requests to the server and forward them to the app with `UseCanonicalName Off` see https://httpd.apache.org/docs/2.4/vhosts/mass.html

In addition the package already generates apache configurations, are these lacking? If so I'd like to hear how.

[2018-04-25 13:36] redroses commented on #431
Thanks. I will take a look at mass virtual host config.

I initially started using the package to generate the configs.
Couple of things.
1. Copied server.blade and vhost.blade into views/webserver/apache
    Did not see a way to get them into views/vendor: ie php artisan vendor:publish view.
    Changed webserver.apache2.view => ''webserver.apache.vhost'
2. Tried changing
    from webserver.apach

[2018-04-25 14:23] redroses commented on #431
From what I can see  mass virtual host configuration is if I want different html directories:
abc.mysite.com --> /var/www/html/abc
xyz.mysite.com --> /var/www/html/def
then using wild cards apache will forward to abc or def index.php (html) accordingly.

This is not my case. Running the same code.
Using the package to set the tenant db, handle file uploads to the correct tenant directory, etc.
The

[2018-04-25 14:26] redroses commented on #431
Thanks luceos and all who replied on this forum. We were struggling to switch from single db to multi db.
For now seems like we can move on building our app.
Thanks again all for your timely responses. It was a great help.

[2018-04-25 14:46] luceos commented on #431
No problem, good luck with your app; if there's anything else please let us know!

[2018-04-25 14:46] #431 closed, assigned to nobody

[2018-04-25 17:01] bkintanar opened #432 "Revisit middleware page in documentation"
Link: https://laravel-tenancy.com/docs/hyn/5.x/middleware

[2018-04-30 09:26] waiel opened #435 "Feature Request : Blade Helpers"
**This is more of a feature request than an issue**

Is it possible to have multiple helpers that can identify the tenant or help in identifying the current customer as it helps to build a custom interface for tenants.

Some quick helper examples:
* identify if the current session is a tenant
* identify the tenant session host name, subdomain or FQDN
* identify current tenant customer

more helper

[2018-04-30 17:35] luceos opened #437 "add sentry for error reporting to docs site"
And while you're at it, fix

https://laravel-tenancy.com/docs/tenancy/1.x/t/tenant

[2018-04-30 17:42] bkintanar commented on #437
that link shows whoops at work.

[2018-04-30 18:18] luceos commented on #437
Hence a bug report 👍 😊

[2018-04-30 21:37] luceos opened #438 "Design merchandise"
- shirts
- mug
- stickers

[2018-05-02 10:29] satyago opened #440 "Maintenance mode on hostnames is cached and not released on manual DB edits"
Maintenance mode activation / deactivation only works by using the Repositories provided with the package as the cache invalidation is otherwise not handled.

If someone edits the database directly, maintenance mode is triggered, but a consecutive change is not picked up. Hence, modifying or removing the timestamp has no effect and maintenance stays active.

Adding an additional check and resettin

[2018-05-02 11:56] luceos opened #443 "Password reset table on tenant database"
It's possible to force the password reset entries to be saved on the tenant connection. In order to do so update the `auth.php` file and add the `connection` key like this:

[code]

[2018-05-02 14:11] redroses opened #444 "Add Grant to system database"
Trying to GRANT REFERENCES ON systemDB.* TO the new user created when creating a new tenant DB.
This allows me to reference a foreign key in another DB.
Cannot figure out where to put this.

I see that MariaDB created() creates the user and database. Then GRANT ALL ON newTenantDB.* TO this new user. I would then like to  GRANT REFERENCES ON systemDB.* TO this new user.

1. Do I override MariaDB? W

[2018-05-02 14:57] luceos commented on #444
If you're interested in increasing the user permissions I'd say listen to Created and run the query in addition..

[2018-05-02 15:31] redroses commented on #444
Thanks.
The Created event works.
For anyone else needing to get FKs working across DBs, below is what is working for me.

[code]

[2018-05-02 15:42] fletch3555 commented on #444
@redroses, just an FYI, triple-backticks (```) on the lines before and after a code block will autoformat that block.  Right now, only part of your snippets are being formatted since it's relying on the indentation.

[2018-05-02 15:52] bkintanar commented on #444
Fixed indentation for everyone.

[2018-05-02 17:42] #444 closed, assigned to nobody

[2018-05-04 10:27] markandrewkato commented on #317
@bkintanar Got it working. Thank you very much!

[2018-05-04 11:06] xyrintech opened #445 "Can we use this package with same link but multiple databases behind?"
I have a requirement to use same link for the application but different databases for each tenant.
Will this package solve the purpose for this requirement?

I tried to find out in the documentation but unfortunately I do not see any such option.

I just want to make sure that I am am understanding this package in a complete manner. So, that's why I am writing this over here.

If this package solv

[2018-05-04 17:38] luceos commented on #445
Hello @xyrintech can you clarify what a link is? Are you curious whether it is possible to run the application and all tenants on the same hostname?

If so the answer is yes, but you would need to create some logic of your own to switch/identify the tenant. Your use case is exactly the reason why the successor was started, it allows for a more flexible way of tenant selection and configuration.

P

[2018-05-04 17:39] luceos commented on #317
@bkintanar can we prioritize a Validation section for the docs that states this behavior?

[2018-05-04 17:39] luceos commented on #443
Connection is also something we can configure on the session, if using driver database.

[2018-05-04 17:44] bkintanar commented on #317
@luceos of course. 👍

[2018-05-05 06:28] xyrintech commented on #445
Hello @luceos Thanks for the clarification.
This really helps.

Would it be possible for you to share a approach for the logic thing you mentioned?

Link is like abc.com and the same link for accessing the tenant data.

I am making a stateless web app using APIs. I can use headers to share the tenant ID in order to access the tenant.

I am just wondering to use this package and looking forward hea

[2018-05-05 20:22] luceos commented on #445
Yes, in fact using the header is something I already natively support in the successor. But I recommend using the current stable version. You could for instance create a middleware that does something like this:

[code]

Hope this example helps.

It's a bit of a nuisance that the Hostname is now technically seen as a tenant, it's on the roadmap to make the Website the tenant though.

[2018-05-06 10:32] aBuder opened #446 "Get current Tenant"
How I get the current tenant in Laravel 5.6 Controller.

[2018-05-07 05:33] fletch3555 commented on #446
`app(CurrentHostname::class)` will get you the currently identified `Hostname` (with the correct config settings at least.  If you need the current `Website`(the "Tenant"), then you can just use `app(CurrentHostname::class)->website` if you need the Website

[2018-05-07 05:47] luceos commented on #446
Or alternatively use:

[code]
*or*
[code]

[2018-05-07 06:17] aBuder opened #447 "Current tenant in Controller"
Hi,

how I can get the current tenantId in Controller.

[2018-05-07 06:57] luceos commented on #447
Hi Alexander,

This question closely relates to your previous one, #446. Was that one not helpful?

Please join discord if you have high speed questions like these. Also please stick to one issue for related questions. Thanks!

[2018-05-07 06:57] #447 closed, assigned to nobody

[2018-05-08 14:24] bkintanar commented on #317
Docs has now been [added](https://laravel-tenancy.com/docs/hyn/5.x/validation#exists-and-unique-validation-rule). Closing this.

[2018-05-08 14:24] #317 closed, assigned to bkintanar

[2018-05-08 20:00] cesarureno opened #448 "Error when run tenancy:create"
__Description__

Hello guys. I have production enviroment I export the system database and import it into my local environment but i got this error

In Connection.php line 664:

[code]
---
__Information__

- hyn/multi-tenant version: 5.0.17
- laravel version: 5.5
- database driver and version: mysql
- webserver software and version: Laravel Valet 2.0.12
- php version: 7.2.4

---

__tenancy.php con

[2018-05-09 05:03] hawkfx opened #449 "Multiple hostnames on a tenant"
Hi.

I made an app using this package, all works amazing.

But I've something I want to achieve, I can do it right now but requieres manually work.

I give my customers a subdomain like:

username.appdomain.com

I want to give them the possibility to add a CNAME to their subdomain.

I can add a hostname using:

$hostname = new Hostname;
$baseUrl = config('app.url_base');
$hostname->fqdn = "{$name}

[2018-05-09 06:55] luceos commented on #449
It should generate a server block for each hostname, see https://github.com/hyn/multi-tenant/blob/5.x/assets/generators/webserver/nginx/vhost.blade.php

Can you verify that only one has been generated?

[2018-05-09 07:20] luceos commented on #448
Thank you for your report. Are you referring to the `tenancy:recreate` command?

The error you posted means you might already have imported the tenant database before and it exists. You'd have to delete it locally to be able to import it. We can patch up the recreate command to run an `IF NOT EXISTS` check or see beforehand whether the database exists.

[2018-05-09 15:56] hawkfx commented on #449
You are right, please close this issue.

I had the issue, uninstalled and installed again and worked.

[2018-05-09 16:00] hawkfx opened #450 "How to force "media" folder creation on tenant"
__Description__

Hi.

Right now I'm doing this to create a Tenant:

[code]
---

__Actual behavior__

The problem is that this piece of code:

[code]

Don't get created, what I want to achieve is that make the dir, so the nginx file includes

location ~* ^/media/(.+)$ {
        alias {{ $media }}/$1;
    }

---
__Information__

- hyn/multi-tenant version: 5.1.11
- laravel version: 5.6
- database dr

[2018-05-09 16:06] hawkfx commented on #449
I've one more question

I see in server.blade.php

´´´php
@if(isset($ssl))
    listen {{ array_get($config, 'ports.https', 443) }} ssl;
    ssl_certificate_key {{ $ssl->pathKey }};
    ssl_certificate {{ $ssl->pathPem }};
    @endif
´´´

How I can pass the $ssl variable to make the .conf?

[2018-05-09 17:40] luceos commented on #449
It should be removed. It's better to rely on a native let's encrypt binary in your server.

[2018-05-09 17:43] hawkfx commented on #449
The thing, is that for example

I installed a wildcard ssl certificate for my domain, so any subdomain get it too.

Now when a client put the CNAME i've to install the SSL on my server too so their CNAME gets the SSL, it can be easier to specified there, or no?

[2018-05-09 18:40] jmcerrejon opened #451 "Integrity constraint violation with TENANCY_DATABASE_DIVISION_MODE=prefix"
I make a first tenant with _php artisan store:create demodemo@gmail.com_ with no hassle. When I make a new one using _php artisan store:create demo2 demo2@gmail.com_, I get the following issue:

[code]

- hyn/multi-tenant version: 4.1.11
- laravel version: 5.6.21
- database driver and version: -
- webserver software and version: Nginx
- php version: 7.1.16

---

__tenancy.php config__

[code]

---

[2018-05-09 20:04] luceos commented on #451
from discord

Seems like we either need to add this functionality or drop the prefix option completely.

[2018-05-10 19:42] jacobmind opened #452 "Database [tenant] not configured."
Hey, i have problem with tenant db. When i submit login, register or reset pass on subdomain i have this problem "Database [tenant] not configured." I use [https://medium.com/@ashokgelal/a-full-featured-multi-tenant-app-with-laravel-part-4-tenancy-aware-authentication-e0ee37270bc8](url) What i do wrong?

- hyn/multi-tenant version: 5.1
- laravel version: 5.6
- database driver and version:
- webser

[2018-05-10 19:49] luceos commented on #452
Are your users on the system or tenant connection? Maybe this helps? https://github.com/hyn/multi-tenant/issues/443

[2018-05-10 19:53] jacobmind commented on #452
I changed it, and this still not working.

[2018-05-10 19:55] luceos commented on #449
@hawkfx once the domain is added in the vhost and it resolves, you can let let's encrypt automation handle the certificates as well. Much easier than this package taking on such huge responsibility..

[2018-05-10 19:55] #449 closed, assigned to nobody

[2018-05-10 20:05] luceos commented on #450
What's the return value of that call? Any errors in your logs? What are the file permissions like?

[2018-05-10 20:06] luceos commented on #452
What does `EnforceTenancy` do?

[2018-05-10 20:29] jacobmind commented on #452
This is quote from [https://medium.com/@ashokgelal/a-full-featured-multi-tenant-app-with-laravel-part-4-tenancy-aware-authentication-e0ee37270bc8](https://medium.com/@ashokgelal/a-full-featured-multi-tenant-app-with-laravel-part-4-tenancy-aware-authentication-e0ee37270bc8)

[code]

Then i change 'tenant' to 'system' laravel write that table users in db not exists. It's true because, laravel connec

[2018-05-10 21:20] luceos commented on #452
I guess because `app/User.php` has the UsesTenantConnection trait?

Sorry but it's very hard making sense of your exact issue, if the above does not solve it please state what you expect to have happened and what is happening and what you exactly changed compared to the tutorial.

[2018-05-11 00:19] cesarureno commented on #448
I export the production environment databases to my local environment, and when I run the command `tenancy:recreate`  I got the error. I deleted  tenant's databases, i run the command again and I got this error:

`
SQLSTATE[42000]: Syntax error or access violation: 1133 Can't find any matching row
  in the user table (SQL: GRANT ALL ON f258e4a8871a4fa4951c4fbd7346fad5.* TO f258e4
  a8871a4fa4951c4

[2018-05-11 04:37] luceos commented on #448
The process should be like the following;

- export system database from production
- import system database into (clean) local environment
- run `tenancy:recreate`
- export and import the tenant database from production into local development

Unless I'm missing something obvious.

[2018-05-11 08:39] jacobmind commented on #452
Nope, app/User.php has UsesTenantConnection trait. I don't know. I did everything what is in the article. I copy code from git townhouse and this still not work. Mayby server configuration? I will test it on, production server.

[2018-05-11 08:42] luceos commented on #452
I'm curious whether this is a townhouse issue, @ashokgelal any idea?

[2018-05-11 13:10] ashokgelal commented on #452
I've been suggesting people to use homestead on Windows, which seems to be solving this issues for lots of people.

[2018-05-11 13:19] jacobmind commented on #452
I wait for dns propagation and i will upload my project on server. I will write soon.

[2018-05-11 15:52] joset1ag0 commented on #373
documentation on this type of error and few

[2018-05-11 18:46] luceos commented on #452
I'm closing this for now, feel free to re-open when you encounter unresolvable issues related to this after.

[2018-05-11 18:46] #452 closed, assigned to nobody

[2018-05-11 18:47] luceos commented on #373
@josetiagobispo if you have a question please create a new issue. Replying to an issue this old has no use. The issue is about a fallback route, you can check the documentation which offers a few solutions:

https://laravel-tenancy.com/docs/hyn/5.x/fallback

[2018-05-12 15:21] aBuder opened #453 "Logout not clear session and user already logged in"
After call the route logout the session would not cleared in cookie and the user already loggedin.
Should I have to call an other route?

Laravel: 5.6
hyn\multi-tenant: ^5.1

`{{ route('logout') }}`

![bildschirmfoto 2018-05-12 um 17 19 05](https://user-images.githubusercontent.com/1265139/39958839-9e2cec64-5608-11e8-8aca-3977ebe8e4aa.png)

[2018-05-12 19:21] luceos commented on #453
What's your session driver?

Slightly more information can go a long way 😇

[2018-05-13 00:02] jrichmo93 opened #454 "How to override global configuration files based on tenant?"
I would like to set config files based upon which tenant is connected. How can I do this?

[2018-05-13 09:27] aBuder commented on #453
@luceos

I use the file driver

[2018-05-13 15:32] #454 closed, assigned to nobody

[2018-05-13 15:34] jrichmo93 commented on #454
Documentation was a little confusing, but it seems I need to create a config directory within the tenant directory in storage/app/tenancy/tenants/uuid.

[2018-05-13 16:53] aBuder commented on #453
I solved the problem. It was my mistake.

[2018-05-13 16:53] #453 closed, assigned to nobody

[2018-05-13 17:02] luceos commented on #453
Please explain the solution for others having the same issue

[2018-05-13 18:50] luceos commented on #454
@jrichmo93 can you explain how we can improve the documentation or what you found confusing?

[2018-05-14 07:38] pcfjojo opened #455 "Tenant Based Blade views."
If it is possible to add tenant based views in your package?

[2018-05-14 08:15] luceos commented on #455
Fixed by https://github.com/hyn/multi-tenant/commit/4d8d33bd63045493a9fc1161ed35ad57eab2e9b7

[2018-05-14 08:15] #455 closed, assigned to nobody

[2018-05-15 08:21] kennaar opened #457 "Doctrine support"
I found an issue about a year old about the package being targeted at eloquent. Has this changed in the meantime?
If not, would it be trivial to adapt the package, override a few classes in order to fully support the official laravel-doctrine package? I haven't researched in great detail yet but it seems to me that the most difficult part would be adapting the migration commands.

Thanks in advanc

[2018-05-15 08:41] luceos commented on #457
@knnnrd hello and thanks for your interest in this package.

This package is targeted at Laravel, the primary reason for this is that multi tenancy is a very complex concept if you want to integrate it into any framework without impacting its core functionality. I've been able to integrate with Laravel by adding only onto it; extending and reconfiguring.

If you are asking whether this package wou

[2018-05-15 08:45] luceos commented on #457
As to implementation (sorry i totally went by that question):

- models (hostname, website, customer)
- repositories (hostname, website, customer)
- database generators
- every migrate related command
- recreate command

from the top of my head 👍

[2018-05-15 11:52] kennaar commented on #457
@luceos My question was indeed about supporting Doctrine while using Laravel. Multi framework support would be difficult, if not impossible IMO. So currently your preference would be a separate package that extends classes from this one to support Doctrine _instead_ of Eloquent?

[2018-05-15 12:08] luceos commented on #457
Yes.

In theory every item I've listed earlier is interchangeable. If, however, you encounter any issue or see ways to improve the package, I'd be more than willing to work on a solution.

[2018-05-16 00:45] jordanbardsley7 opened #458 "Remote database, multiple web servers, HAProxy?"
Will this package work if I have an application sitting on multiple web servers behind HAProxy with a database on AWS? Thanks!

[2018-05-16 07:04] luceos commented on #458
Yes, but you'll need to write a custom database driver for AWS.

Full (per default) cloud support is something I aim for in the successor https://github.com/tenancy/tenancy; but that one is still under heavy development.

[2018-05-16 15:19] ghost opened #459 "Queue emails/jobs to system database"
Please help setting up queue, i need to add rmail job to queue on main database. UsesSystemConnection does not work, jobs are going to tenant db.
How to force it so they are saved in default database.

Thank you!

[2018-05-16 16:45] luceos commented on #459
Have you tried the tenant aware job trait?

[2018-05-16 16:49] TheTechnoMan opened #460 "Error when leaving server actions empty or set to NULL"
__Description__

When you set the values of the webserver actions to either NULL or an empty string you get either of this 2 exceptions:

**NULL:**
[code]

**Empty string:**

 The command "" failed.

  Exit Code: 1(General error)

  Working directory: B:\laragon\www\Laravel\XX

  Output: ================

  Error Output: ================

---
__Information__

- hyn/multi-tenant version: 5.1.12
- l

[2018-05-16 16:55] TheTechnoMan opened #461 "Server host files - No hostnames found"
__Description__

I have this code (from the tutorial that you linked in your docs):

[code]

This always creates vhost files with this content

[code]

The database does indeed not contain a hostname (only website and customer). However, if I disable the vhost file generation, the hostname will be in the database.

---
__Information__

- hyn/multi-tenant version: 5.1.12
- laravel version: 5.6.22
-

[2018-05-16 17:04] ghost commented on #459
Hi, thank you for your reply, yes I have tried. I am trying to force mail class to send queue to system database.

MeetingController has 'tenancy.enforce' middleware on route level:

[code]

Mail is queued from MeetingController like this:

[code]

MeetingInvitation:
[code]

Basically I want emails to be queued on default (non tenant) database (using one artisan listener), so if there is a way to

[2018-05-16 17:11] TheTechnoMan commented on #461
Was related to:
https://github.com/hyn/multi-tenant/issues/461

It works if the server actions do not fail

[2018-05-16 17:11] #461 closed, assigned to nobody

[2018-05-16 17:15] TheTechnoMan opened #462 "Nginx vhost file not being generated"
__Description__

Even though the creation of nginx vhost files is enabled, it won't create them.

It however creates apache vhost files as expected inthe storage/app/tenancy/webserver/apache2 dir.

---
__Information__

- hyn/multi-tenant version: 5.1.12
- laravel version: 5.6.22
- php version: 7.1.11

[2018-05-16 17:16] ghost commented on #459
Sorry, I just realized that by defining 'connection' parameter in config/queue.php solves my problem:

[code]

Hope someone finds this useful.

[2018-05-16 19:05] ghost commented on #459
Small update: Everything is working perfectly with TenantAwareJob, I have passed in Full models, they are resolved to correct database.

[2018-05-16 19:05] #459 closed, assigned to nobody

[2018-05-16 20:18] luceos commented on #462
Post your config please.

[2018-05-16 20:20] luceos commented on #460
We need to check the config value and if `true`, `false` or `null` return that exact value instead in the Generators.

[2018-05-17 13:13] oluomotoso opened #463 "Fallback domain not working"
__Description__
I added a subdomain to be used as the fallback URL of my application in case an unused(tenant) subdomain or the main url like (http://example.com) is requested
this is the addition I made
[code]
I have set ```abort-without-identified-hostname``` in tenancy.php to false.
I have also set ```default``` hostname in tenancy.php to ```www.example.com```
..

---

__Actual behavior__
When

[2018-05-17 13:17] luceos commented on #463
Can you try the following?

Create a Hostname record with fqdn `www.example.com`, do not attach it to any website.

PS please do not use capitals in your issue subject, thank you.

[2018-05-17 14:03] oluomotoso commented on #463
Thanks @luceos ,
I have done that and it's thesame

[2018-05-17 14:05] luceos commented on #463
With which url are you requesting. The routes under the `domain` section will only apply to the exact `www.example.com`, that excludes `example.com` and any tenant (existing and non-existing).

[2018-05-17 14:28] oluomotoso commented on #463
How can I have a fallback domain which has custom routes and be able to create tenants going forward.

The docs says I have to create a tenant but I will like to access this on ```example.com``` without creating a tenant.

How cam I achieve this @luceos

[2018-05-17 23:25] jordanbardsley7 commented on #458
Sweet! I'll definitely look into that.

I took a quick look at the MariaDB driver. For example, say I have 3 web servers and they're multi-tenant. When creating a new tenant and creating a new database user for that tenant, how can I whitelist ip's for all 3 web servers? From what I quickly looked at it uses the database ip/host that's defined in the configuration. This is for a remote database.

[2018-05-20 09:37] xyrintech commented on #445
Got it.
Lemme try this out :)

[2018-05-20 12:45] xyrintech commented on #445
I am using User.php instead of Customer.php

tenancy.php
`'customer' => \App\User::class,`

[code]

Getting the following error in WebsiteRepository at

`$this->validator->save($website);`

It seems that this is not identifying the users table which should come from tenancy.php

[2018-05-20 13:08] xyrintech opened #464 "Foreigne key error for PREFIX mode"
ant version:
- laravel version: 5.x
- database driver and version: mysql
- php version: 7.2

Seems that there is an issue with foreigne keys when we use prefix mode. Ex:

`SQLSTATE[HY000]: General error: 1005 Can't create table 'tenancy.#sql-4a31_351' (errno: 121) (SQL: alter table `2_invoice_emails` add constraint `invoice_emails_invoice_id_foreign` foreign key (`invoice_id`) references `2_invoic

[2018-05-20 13:35] xyrintech commented on #445
`dispatch(new Identified($website ? $website->hostnames()->first() : null));`

Getting 2 issues
1) Also, I tried middleware thing but this gives 404 error. Only those links work which exists in hostnames table. Like the request do not come upto middleware, it seems that it checks the hostname and then it comes to web.php or api.php file. I need all the request to come to api.php / web.php and then

[2018-05-20 16:28] xyrintech commented on #241
@haxoman Would it be possible to share a sample of your code?

[2018-05-21 17:43] luceos commented on #445
WebsiteValidator;

Indeed it seems the website validator does not take into account that a different customer object is being used. I must confess the Customer object and its functionality is a bit old fashioned. I would suggest not replacing the `'customer'` model entry in the config. There's also no actual need to use the CustomerRepository. Just relate the website to the User, it's much easier

[2018-05-21 17:44] luceos commented on #464
I guess it's time to formally drop support for the prefix method @bkintanar, @fletch3555, what do you think?

[2018-05-21 17:46] luceos commented on #458
Best way is probably to either:

- create one user for each web server `<uuid>-web01@<some.ip>`
- create one user that allows any server, which is closer to what is is now, except for allowing all hosts `%`

[2018-05-21 18:22] fletch3555 commented on #464
Either drop or put significant effort into fixing.  I'm not personally invested in either, though I could see the benefit it may provide for those that choose to use it.  I think best practice should be to separate your tenant data, but that doesn't always work for everyone.

Likely going to come down to executive decision unless someone else provides a solid argument one way or the other.

[2018-05-21 19:02] jordanbardsley7 commented on #458
Hmm, yeah I was thinking about allowing connections from all hosts to the database then whitelisting IP's using an AWS security group or something. Is there a way to set that wildcard through the code, like in the configuration or something? If not, i'd be happy to create a PR proposing a way to create multiple users with specified IP's.

[2018-05-21 20:01] jobcerto opened #465 "Who i get related models of all customers?"
I have an admin dashboard (admin.domain.test), and everthing works fine. I can get all customers, access all models of the system connection...

It's there an way of accessing of one tenant (customerX.domain.test) inside another tenant (customerY.domain.test)?

I try identifying the current hostname, but the currentHostname is the actual domain hehe (customerX.domain.test).

UPDATE: I'm using the

[2018-05-21 21:37] TheTechnoMan commented on #462
Pretty much the standard config

[code]

[2018-05-21 21:48] TheTechnoMan opened #466 "Issues with PHPUnit tests"
__Description__

Hello,

as already explained in the chat, I am trying to run PHPUnit tests with a fixed mysql connection.

---

__Actual behavior__

1) Exception is being thrown. See tracktrace: https://pastebin.com/raw/ry5uZeFB
2) System database is being wiped

__Expected behavior__

The tests use the specified database connection that acts as the tenant database. The `RefreshDatabase` trait sh

[2018-05-22 00:23] bkintanar commented on #464
hmm.. if we want to cover a larger user base, then I say support it. If we want to cater for those who would deploy this in a more scalable setup, which I think should support separation of tenant data, then drop it.

[2018-05-22 07:10] luceos commented on #463
Kindly complete the issue information:

hyn/multi-tenant version:
laravel version:
database driver and version:
webserver software and version:
php version:

Using `domain` in your routes should work out of the box when you have abort-without-hostname set to false. Do you perchance have the config cached?

[2018-05-22 07:15] luceos commented on #466
`mysql_testing` is your `system` connection during tests?

[2018-05-22 07:19] luceos commented on #464
Thank you both @fletch3555 @bkintanar , I might have jumped to a conclusion too soon. Looking at this issue more closely I noticed the migration mentioned is not one shipped with the package:

[code]

This error states that `invoice_emails.invoice_id` cannot have a foreign key constraint. I guess this foreign key constraint is going to `invoices.id`? This is most commonly caused when you don't mak

[2018-05-22 07:19] #464 closed, assigned to nobody

[2018-05-22 07:45] luceos commented on #462
Are you seeing errors in your laravel.log file or with APP_DEBUG enabled?

Can you run the following through artisan tinker:

[code]

Can you explain your set up?

[2018-05-22 07:49] luceos commented on #465
Do you want to access multiple tenant connections from your admin dashboard or do you want to access another tenant database from within a tenant?

The whole point of this package is not allowing inter-tenant connections 🤷‍♂️ ; it is possible though..

Either way you can create a helper class that sets a `database.connections` entry with a custom name and fill the array on runtime with the array g

[2018-05-22 07:50] luceos commented on #458
No need to PR, just listen to the `Hyn\Tenancy\Events\Database\ConfigurationLoaded` event and modify the `$configuration` array (it's an entry from `database.connections`).

[2018-05-22 11:56] xyrintech commented on #464
Actually the problems occurs with prefix mode.
Reason being, the foreign key names are considered same as default in laravel.
It works on separate tenant data.

I am using unsigned for foreign keys.

[2018-05-22 12:03] jobcerto commented on #465
Hi, my english is sucks, but i want to access all tentants from the admin dashboard, but my admin is saved in the hostnames table.

[2018-05-22 12:19] Krato commented on #378
For me it works after add `UsesSystemConnection` trait.

[2018-05-22 12:38] Krato commented on #407
@luceos Why not to publish the migrations and use it from the normal folder?

This will be useful if we want to change some relations.

Regards!

[2018-05-22 12:39] luceos commented on #407
@Krato feel free to copy the migrations to the normal folder and modify them. If you do just don't run `php artisan tenancy:install` 👍

[2018-05-22 12:41] luceos commented on #465
@jobcerto and what is blocking you from querying the Hostname model, see https://laravel-tenancy.com/docs/hyn/5.x/repositories#querying ?

[2018-05-22 12:42] luceos commented on #464
@xyrintech can you post both the migration files?

[2018-05-22 12:52] Krato commented on #407
@luceos Yes sure I did it. But when I call `php artisan migrate:status` the app still waiting for the tenancy migrations on the vendor folders. Thats the problem I think so.

<img width="563" alt="migrations" src="https://user-images.githubusercontent.com/74367/40363432-ce70d9fc-5dcf-11e8-9a2b-ea0514344960.png">

[2018-05-22 13:21] luceos commented on #407
That's because you renamed them. You changed the dates on those 🤷‍♂️

[2018-05-22 13:46] jordanbardsley7 commented on #458
Sweet!

[2018-05-22 13:55] #458 closed, assigned to nobody

[2018-05-22 15:06] luceos opened #467 "PgSQL driver attempts to resolve tenant connection even if unneeded"
https://github.com/hyn/multi-tenant/blob/5.x/src/Generators/Webserver/Database/Drivers/PostgreSQL.php#L88

We should either do a check whether the connection is up, if possible. Or do a try catch block around that line only.

trace: https://pastebin.com/WQSUbhbW

[2018-05-22 15:41] TheTechnoMan commented on #466
Not quite sure if I understand you correctly, but at this time the system connection is not being changed during tests, currently it uses the one that is being used when not running a test. If I missunderstood something, please let me know.

`mysql_testing` should be the equivalent to a tenant database. Maybe it works better if we do it the other way around: What should be done to have a fixed tes

[2018-05-22 15:54] TheTechnoMan commented on #462
[code]

There is indeed a log entry being created:

[code]

So it appears that the connecting is being changed at some point (would have to be after the apache vhost file creation).

Please let me know what information would be relevant, so that I can add it.

Thanks a lot

[2018-05-22 16:41] jobcerto commented on #465
I have tried all ways i can think about hehe!
To make simples: Is there an example of how to get users or other data from all tenants in an admin dashboard?
[code]

again, thanks for the paciency!

[2018-05-22 17:15] xyrintech commented on #445
Got it.
Well, I tried database approach.
But this gives an error on creating a tenant:

QLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'IF NOT EXISTS `084714c7ad274045b2e494d3225b66e9`@'127.0.0.1' IDENTIFIED BY '593d' at line 1 (SQL: CREATE USER IF NOT EXIST

[2018-05-22 17:25] rlsteelman commented on #467
Subscribing.

~214Coder

[2018-05-22 17:33] xyrintech commented on #464
Mode: prefix
The first tenant works completely fine, the issue occurs when we need to create more than one tenants in same database (prefix mode)

Error:

[code]

[code]

[2018-05-22 18:22] xyrintech opened #468 "unique validation issue"
__Description__

Unique validation looks into system database instead of tenant database.

---
__Information__

- hyn/multi-tenant version: 5.x
- laravel version: 5.6
- database driver and version: mysql 5.5
- webserver software and version: apache2
- php version: 7.2

---

__tenancy.php config__

[code]

[2018-05-22 18:46] luceos commented on #466
So the trace is about not being able to connect with user tenant locally without password. I'm not sure how to solve this without seeing actual code of the tests in use.

[2018-05-22 18:49] luceos commented on #468
I guess these can be fixed by using a prefix?

https://laravel-tenancy.com/docs/hyn/5.x/validation

[2018-05-22 18:49] #468 closed, assigned to nobody

[2018-05-22 18:54] luceos commented on #464
So the issue is caused because the foreign key constraint name is the same.

You can pass a custom name as second argument in `foreign()`:

[code]

[2018-05-22 18:59] xyrintech commented on #468
thanks.

[2018-05-22 19:00] xyrintech commented on #464
Got it. That's what I thought.

[2018-05-22 19:02] luceos commented on #445
@xyrintech I'd love to help you out, but every time you post (yet another) issue you fail to post a backtrace. Further questions about issues you have need to have a backtrace. My time is as precious as yours. If you need more in depth support feel free to ask for help from experienced developers on our discord.

[2018-05-22 19:02] #445 closed, assigned to nobody

[2018-05-22 19:04] luceos commented on #464
@xyrintech to be blunt, I'd prefer you do your research first and then ask for (priority) support on the issue tracker. Thanks for taking that into consideration.

[2018-05-22 19:09] #467 closed, assigned to nobody

[2018-05-22 19:10] engineerpros opened #470 "Database password"
I have created the website and hostname with my own users. Also, I have created the unique ID as per my preferences, that means I am using my own logic for uuid.

Not sure whether its a bug or an something I am missing, I am trying to connect to the database but it always gives me a password error.

Ex.
`9nvAm2y1MuvNrJbp` - this is the UUID of a record in website. I have manually created the mysql

[2018-05-22 19:12] TheTechnoMan commented on #466
Yes, the main question seems to be: Why is it changing to such a connection (that does not exist). The same issue can be found here: https://github.com/hyn/multi-tenant/issues/462#issuecomment-391044056 - so it does not appear to be specific to phpunit.

[2018-05-22 19:13] luceos commented on #470
The password is a combination of the website UUID and the App Key, as the app key is randomly generated per instance it's one of the safest ways to create randomized credentials.

Hope this helps. You are still able to override this logic by listening to the related ConfigurationLoading/Loaded events.

[2018-05-22 19:14] luceos commented on #462
Okay let's stick to one issue 👍

[2018-05-22 19:14] #462 closed, assigned to nobody

[2018-05-22 19:17] luceos commented on #465
You really can't query all tenant databases at once. Suggestions proposed before is some cron that creates intermediate (system) tables, looping over all tenant databases or using redis or other kind of cache to store and load the necessary tables.

[2018-05-22 19:20] jobcerto commented on #465
THANKS! I totally forget about cron and redis! Mirroring statistical data and basic informations should already solve my life!

Thanks for the help!

I i'm closing this o/

[2018-05-22 19:20] #465 closed, assigned to nobody

[2018-05-22 19:21] luceos commented on #466
So the tenant connection clones the system connection data and then overrides database and username keys of the array. However your code seems to force it to `tenant`, any results when grepping through your code?

[2018-05-22 19:30] engineerpros commented on #470
Thanks, this really helps. Great work (Y)

BTW, I am exploring your package. Is there anyway we can avoid tuning this package build in migrations?

I have reviewed the tenancy.php and docs on your website. I realised that we can setup the tenant migrations folder but nothing for existing migrations.

Also, do you feel that using User.php instead of Customer.php (\Hyn\Tenancy\Models\Customer::class

[2018-05-22 19:35] TheTechnoMan commented on #466
The stacktrace from the above comment does not show much, beside

[code]

There is a `App\Interfaces\ConfigRepositoryInterface` that is bound to `App\Repositories\DbConfigRepository` like

[code]

and the `get()` method of this repository just does:

[code]

The `Config` model has the `UsesTenantConnection` trait on it. Not sure if it actually has something todo with above method, I just don't see

[2018-05-22 19:46] luceos commented on #470
- avoid tuning the built-in migrations; sure add your own additive migrations
- existing migrations for the system connection can go in the default database/migrations folder
- I'd recommend using User::class, the Customer::class is losing importance with each release as well.

[2018-05-22 19:52] luceos commented on #466
So your boot method tries to set/load a table from the tenant even when no tenant was identified. Which is always the case in CLI and thus also in tests. And as you're only catching the QueryException, not the PDOException (I believe it's that one) your code halts.

[2018-05-22 19:54] xyrintech commented on #470
Noted, thanks.

[2018-05-22 19:56] engineerpros commented on #470
That's really very helpful information, thanks @luceos

[2018-05-22 19:57] TheTechnoMan commented on #466
So, for the tests, how should the process actually look like? Set up a tenant in the `setUp()` method in the test and switch to that one?

Besides that, there are 2 points that are still unclear to me:
1) Why does it reset/wipe the **system** database?
2) Regarding the vhost creation: Why does the creation of the apache vhost work, but nginx throws the exception?

[2018-05-22 20:18] #470 closed, assigned to nobody

[2018-05-22 20:21] engineerpros commented on #362
@luceos @bobkosse I think this should be added in as a feature that we can exclude some routes which are isolated from tenant identification. Generally in every application we need such routes not only for public but also for business logic.

[2018-05-22 20:41] luceos commented on #466
Setting up your tests like that makes sense. Feel free to look at the tests that the package uses.

1. No clue yet.
2. No idea yet, let's fix one issue at a time, they might be related.

[2018-05-28 10:06] bkintanar opened #471 "InvalidArgumentException thrown when using Custom Disk (Dropbox)"
I've installed https://github.com/benjamincrozat/laravel-dropbox-driver to use as my Storage solution. I managed to set it up correctly I did the following to test it.

Setup dropbox as default filesystem.
[code]
Added dropbox in filesystem.disks
[code]

Updated tenancy.disk
[code]

[code]

I checked dropbox and saw the file

<img width="617" alt="media_-_dropbox" src="https://user-images.githubus

[2018-05-29 04:35] Altafyanto commented on #391
Hi  Luceos,
i run command php artisan tenancy:install ,this problem output this command There are no commands defined in the "tenancy" namespace. i follow instruction step by step document instalation on https://laravel-tenancy.com/docs/hyn/5.x/installation,please problem solving this issues.
thank you

[2018-05-29 07:28] luceos commented on #391
@Altafyanto please create a new issue, it's not related to this one.

---

Any questions related to commands prefixed with `tenant:` are unrelated to this package.

[2018-05-29 08:39] martin55 opened #472 "artisan route:list problem"
Hi, I would like to ask if it's somehow possible to get working **artisan route:list** for specific tenant. Now when run getting error:

__Information__

- hyn/multi-tenant version: 5.1.13
- laravel version: 5.6
- database driver and version: mysql 5.7
- webserver software and version: nginx
- php version: 7.1

[2018-05-29 08:45] luceos commented on #472
What exact version of hyn/multi-tenant are you using? Check the `composer.lock` file please.

[2018-05-29 08:48] martin55 commented on #472
5.1.13 , updated also above

[2018-05-29 08:57] bkintanar commented on #472
@martin55 mine works just fine. do you have a route that uses closures?

[2018-05-29 09:17] martin55 commented on #472
No I don't,  only group closures.  Thanks I will test on the fresh install and come back. Maybe I forget something during laravel upgrade.

[2018-05-29 11:51] martin55 commented on #472
Fixed the problem though I still don't know exactly why it was throwing that error. I had one wrong class initialization in contructor of controller ( class contructor was containing query for assignment of initial values).

Thanks for fast responses I think you can close this.

[2018-05-29 11:51] #472 closed, assigned to nobody

[2018-05-29 12:56] musioks commented on #380
removing the tenancy.json file solved my issue

[2018-05-29 13:18] #380 closed, assigned to nobody

[2018-05-29 20:00] asdullahsiddique opened #473 "Method Illuminate\View\View::__toString() must not throw an exception, caught ErrorException: Undefined index: driver"
__Description__

I am trying to create a new tenant from `php artistan` with the following custom code
[code]

---

__Actual behavior__

The databases entries are inserted correctly, but when generating the vhost file it crashes
..

__Expected behavior__

The package should create the vhost file needed in order to be integrated with nginx
..

---
__Information__

- hyn/multi-tenant version: 5.1
-

[2018-05-30 09:24] luceos commented on #473
Have you dumped the variables send to the view? As said on discord; start there.

[2018-05-30 09:25] asdullahsiddique commented on #473
@luceos I've done it, the results is an infinite loop of printing on the console. I can report it here maybe stopping it after a few minutes if it could help

[2018-05-30 09:35] asdullahsiddique commented on #473
@luceos here's the code with `dd`

[code]

And the output:

[code]

[2018-05-30 10:59] luceos commented on #473
Without more information there's not much I can do to help.

[2018-05-30 11:00] asdullahsiddique commented on #473
@luceos what kind on information would be useful to you?

[2018-05-30 11:03] luceos commented on #473
Odd, the error indicates something is wrong with the driver. Are you sure the rest of your app is working perfectly, especially parts that use the blade renderer?

[2018-05-30 11:11] asdullahsiddique commented on #473
@luceos I'll have a look and will let you know

[2018-05-30 12:06] asdullahsiddique commented on #473
After more debugging I've found the error is being raised here:

`vendor/laravel/framework/src/Illuminate/Database/DatabaseManager.php::115`
[code]

So I `dd` the `$config` variable:

[code]

The `driver` actually is set but still it says   `Undefined index: driver`, I will continue to investigate

[2018-05-30 12:16] asdullahsiddique commented on #473
@luceos update, actually the `$config` is

[code]

[2018-05-30 12:46] luceos opened #474 "Seed command is not taking the option seeder"
The conditional is failing and therefor the default seeder is used

https://github.com/hyn/multi-tenant/blob/5.x/src/Traits/MutatesSeedCommands.php#L54

[2018-05-31 19:14] cesarureno commented on #448
I has followed your instructions and get this error on step 3, any suggestion?

![screen shot 2018-05-31 at 14 05 58](https://user-images.githubusercontent.com/1313729/40802921-a1b262aa-64dc-11e8-9c15-5868075dd0e7.png)

[2018-05-31 19:22] luceos commented on #448
Seems like your system user has insufficient permissions. Is that system user set up with the GRANT option? Have you tried configuring system with a root user temporarily to see whether that resolves the issue?

[2018-06-01 14:51] athiffau opened #477 "Non-php files parsed by the LoadsConfig directory listener"
I ran into a small problem during development where non-php files were being parsed by the LoadsConfig listener.

__background__

During development I tend to keep non-code files such as readme files, implementation backup files (.php.bak) and todo list. With the current implementation, if these files contain actual php code the content is actually interpreted even though the file extension is not

[2018-06-01 18:40] fletch3555 commented on #477
I think this could be made much more dynamic.  If we modify the `files()` method in [Directory.php](https://github.com/hyn/multi-tenant/blob/5.x/src/Website/Directory.php), we can provide a search term to return only files matching that term (i.e. `*.php`).  That will limit the files being returned, and therefore make that foreach in `LoadConfigs` more efficient.

[2018-06-01 18:52] athiffau commented on #477
I agree with @fletch3555 that the 'fix' I showed is not adequate for production. This is why I didn't make a PR with this change.  I just wanted to show a way to replicate the issue and show where the fix should happen to help avoid someone else having to spend the time I did to find this out.

[2018-06-02 11:01] luceos commented on #477
Nice. Moving these unused config files to another folder would be a solution too. But I agree, let's update the listener to only use php files.

[2018-06-02 13:36] eumanito opened #479 "Google Chrome forces HTTPS"
Why google chrome is forcing open with https:// schema?
The force_https param is false on my database.
Using in Firefox is alright.

I did clear the cache, no changes.

__Information__

- hyn/multi-tenant version: 5.x
- laravel version: 5.6
- database driver and version: MySQL 5.7.19
- webserver software and version: apache 2.4.27
- php version: 7.1.9
- Google Chrome version: 66.0.3359.181 64bits

[2018-06-02 14:58] asdullahsiddique commented on #347
Same error with me!

[2018-06-02 17:28] lakshmajee commented on #461
@TheTechnoMan  you referenced the same issue again, could you correct this

[2018-06-02 19:46] jacobmind opened #480 "Problem with Permission"
Hey, i have problem with permission to disk.
[code]

https://laravel-tenancy.com/docs/hyn/5.x/filesystem#directory

I don't know where i must apply this.

This is my query:
Storage::disk('tenant')->put($request->file->getClientOriginalName(), 'test');

Can you give me solution?

[2018-06-03 02:22] fletch3555 commented on #479
Can you clarify what you mean by "forcing open with https://"? Are you seeing redirects in the browser dev tools' networking tab? or is Chrome just complaining that it's not http?

If you see redirects, it should tell you what triggered it.  If not, then it's not laravel doing it

[2018-06-03 05:14] luceos commented on #479
What domain are you using? I guess the dev pre-configured with valet?

[2018-06-03 05:20] luceos commented on #480
Thank you for using the package. Can you add all missing information requested when opening an issue like the version in use of laravel and the package?
In addition can you post the tenancy.php config because I'm not psychic so I don't know how you set up tenant identification right now.

[2018-06-03 05:28] luceos commented on #473
It should copy most of the system connection details. Not sure why it is empty for you. Any specific changes you made eg using a listener on an event?

[2018-06-03 06:02] aBuder opened #481 "Change template of Password reset"
How I can change the Email template for password reset. At the moment the would be displayed not the url of the tenant. As link it should be displayed https://tenant.easyInvent.net/resets/...

![bildschirmfoto 2018-06-03 um 07 59 00](https://user-images.githubusercontent.com/1265139/40883735-581847b6-6704-11e8-9e55-5928c64fb149.png)

[2018-06-03 06:44] luceos commented on #481
Change the config setting app.url during runtime before sending the password reset mail.

[code]

Sorry on mobile

[2018-06-03 07:03] aBuder commented on #481
But how I can set there the url of tenants it should look like this {$this->hostname->fqdn}

tenant1.domain.com/resets/...
tenant2.domain.com/resets/...
tenant3.domain.com/resets/...
...

[2018-06-03 07:11] bkintanar commented on #481
@aBuder you can pass the fqdn when creating the reset password. and you can add it to the blade file.

[2018-06-03 07:17] aBuder commented on #481
@bkintanar Sounds good, but where I find the email template? Should I have to publish an vendor?

[2018-06-03 07:18] bkintanar commented on #481
Yes.

`php artisan vendor:publish --tag=laravel-mail`

[2018-06-03 07:28] aBuder commented on #481
Sorry for the stupid question: How I can set it here? Or should it be better to set in Controller, but where I find the controller?

messages.blade.php
[code]

header.blade.php

[code]

[2018-06-03 07:38] bkintanar commented on #481
Look for the Controller that calls that template and in that template where it says `@component('mail::header', ['url' => config('app.url')])` you can change it with your URL.

[2018-06-03 07:50] aBuder commented on #481
I don't find an controller :(

[2018-06-03 08:24] bkintanar commented on #481
You need to publish those as well. Kindly check the Laravel docs on how to do that.

https://laravel.com/docs/5.6/passwords#resetting-routing

[2018-06-03 13:45] aBuder commented on #481
Works as designed :)

[2018-06-03 14:13] lakshmajee commented on #347
Anybody solved this issue. I have created queue still same problem. Following is the queu configuration that i 'm using
[code]

Do I need  to replace user name with **root** instead of system admin or **www-data** (nginx server root)

[2018-06-03 15:33] t-grm commented on #347
Try using my answer replacing www-data with lakshmaji

[2018-06-03 16:02] jacobmind commented on #480
Ok.

- hyn/multi-tenant version: 5.1
- laravel version: 5.6
- php version: 7.2.6

__tenancy.php config__

[code]

__webserver.php config__

[code]

[2018-06-03 16:04] jacobmind commented on #452
When i moved project on real server. Problem is resolved. Thanks for your response.

[2018-06-03 17:27] lakshmajee commented on #347
@ThomasGRIM , no my system admin name not working for me. But this works for all other queues that i have implemented earlier.

[2018-06-03 17:39] luceos commented on #481
@aBuder the easiest way would have to listen to the `Identified` event and set the `app.url` configuration to the `fqdn` of the tenant. That would have cost you one listener, I'm planning on adding this to a next release as an option to enable

`override.app-url`

[2018-06-04 06:29] luceos commented on #480
Thank you for your due diligence.

The permission denied warning most likely is caused by a folder permission. Can you verify that the php/web user can write to the `storage/app/tenancy/tenants/` path?

[2018-06-04 09:31] luceos commented on #471
I'm not really sure how to move forward with this:

- any solution will be NBC
- the Directory class should be removed because it's a hack
- any non-local disks might break inclusion of files, eg the vendor/config functionality

[2018-06-04 09:32] luceos commented on #466
No reply.

[2018-06-04 09:32] #466 closed, assigned to nobody

[2018-06-04 09:33] luceos commented on #457
Closing this as there's no action needed from our side. Feel free to open/respond with any requests @knnnrd

[2018-06-04 09:33] #457 closed, assigned to nobody

[2018-06-04 09:33] luceos commented on #450
No response, stale.

[2018-06-04 09:33] #450 closed, assigned to nobody

[2018-06-04 09:45] #474 closed, assigned to luceos

[2018-06-04 09:45] #481 closed, assigned to luceos

[2018-06-04 09:45] #440 closed, assigned to luceos

[2018-06-04 09:45] #477 closed, assigned to luceos

[2018-06-04 09:46] luceos commented on #463
Stale, no reply.

[2018-06-04 09:46] #463 closed, assigned to nobody

[2018-06-04 09:49] luceos commented on #403
@RushabhJoshi have you been able to move forward? I was just reading into this and still think it's very curious that such simple code misbehaves this badly. The first snippet you posted in this issue, where did you place that (controller, repository)?

[2018-06-04 09:56] luceos commented on #451
So the cause here is that you have to give each constraint a unique name. As `2018_03_02_000001_create_permission_tables` is not a migration this package manages I'd suggest modifying the migration to make the constraint random (if possible based on the tenant id?).

In the end, this is not something we can solve. You can use the second argument in the `foreign` method:

[code]

[2018-06-04 09:56] #451 closed, assigned to nobody

[2018-06-04 10:22] luceos commented on #357
Fallback articles in the docs should help with this.

[2018-06-04 10:22] #357 closed, assigned to nobody

[2018-06-04 10:22] #344 closed, assigned to nobody

[2018-06-04 10:26] luceos commented on #371
I think this is more an issue with the file permissions and the requirements of your webserver/php permissions than the package.

Closing for that reason.

[2018-06-04 10:26] #371 closed, assigned to nobody

[2018-06-04 10:28] luceos commented on #308
dashes are optional already since 30/01/2018

[2018-06-04 10:28] #308 closed, assigned to bkintanar

[2018-06-04 11:48] luceos opened #483 "Drop Customer for 5.2.x"
In order to get to release 5.2.x one of the things to tackle is dropping the Customer object and all code related to that, including:

- [x] Relationships in other models
- [x] Repository
- [x] Config keys
- [x] Tests

Even though the Customer class has helped implementation, I think we need to keep a very small footprint in this package. Removing unnecessary classes will also eventually help us m

[2018-06-04 14:31] eumanito commented on #479
@fletch3555 I'am not seeing redirects in the browser dev tools' networking tab. Chrome is "forcing".

My .env
APP_URL_BASE=nuvo.dev
APP_URL=http://${APP_URL_BASE}

@luceos the domain is nuvo.dev in localhost (windows 10, apache 5.7.19 with virtual host)

[2018-06-04 14:52] fletch3555 commented on #479
https://ma.ttias.be/chrome-force-dev-domains-https-via-preloaded-hsts/

[2018-06-04 17:05] eumanito commented on #479
Thanks @fletch3555, it's working!

[2018-06-04 20:19] russcummings opened #485 "Missing Tenant FQDN in Password Reset Email"
__Missing Tenant FQDN in Password Reset Email__

After updating to version XXX and setting 'update-app-url' => true inside the tenancy.php file, the tenant fqdn (config(app.url)) is incorrectly set inside the Password Reset email.

---

__Actual behavior__

When called from message.blade.php (inside @component), dd(config('app.url')) returns 'http://'.

__Expected behavior__

dd(config('app.url'))

[2018-06-04 20:24] russcummings commented on #485
If 'update-app-url' is set to false in the tenancy.php file, the previous version's behavior (where the tenant subdomain is not used) occurs.

[2018-06-04 20:51] spacemudd commented on #483
Is there any tips to prepare for 5.2? Because I'm about to begin coding a large app and right now I'm using customer logic and I'd love to have a smooth update.

[2018-06-04 22:37] jacobmind commented on #480
He can't

[2018-06-04 23:02] spacemudd commented on #355
Currently I settled for using Docker to spin up new fresh instances of database servers until a better solution is set in place.

So basically I have a `.env.testing` take the disposable db server connection. After running my tests multiple times, I can dispose the server and spin a new one:

`docker run --name testing-mariadb -e MYSQL_ROOT_PASSWORD=secret -e MYSQL_DATABASE=tenancy -e MYSQL_USER=t

[2018-06-05 00:17] bkintanar commented on #480
@kubands that's where your problem lies. You need to make sure php/web has write access to the storage directory.

[2018-06-05 00:55] spacemudd commented on #378
Maybe unrelated but I'm receiving the same error in phpunit when creating a new `website` using the `WebsiteRepository`.

It fails right when I use `$this->assertDatabaseHas('users', ...)` where the `users` table is in the main db.

[2018-06-05 07:19] luceos commented on #485
This is odd, because it does override `app.url` because it sets it to the scheme of the current request. But it's not using the `$hostname->fqdn` value, even though a hostname has been identified, otherwise a) it would not update app.url and b) it would trigger an exception if Hostname was not set in the `setAppUrl` method on the `HostnameActions` middleware.

I am going to add a test.

[2018-06-05 07:49] luceos commented on #485
![image](https://user-images.githubusercontent.com/504687/40962434-c7c79574-68a5-11e8-865a-6732a67afd23.png)

🤦‍♂️

[2018-06-05 07:50] #485 closed, assigned to luceos

[2018-06-05 07:54] #479 closed, assigned to nobody

[2018-06-05 07:56] luceos commented on #378
I think I'll need the minimum steps to reproduce here.

[2018-06-05 07:58] #483 closed, assigned to bkintanar

[2018-06-05 08:19] luceos opened #487 "Make Website the Tenant"
In the past we've used the term "tenant" for the wrong purposes by using an interface/contract called Tenant resolve a Hostname object. Further clarification was forced into the [documentation principles chapter](https://laravel-tenancy.com/docs/hyn/5.x/concepts) quoting "a website is a tenant". With 5.2 we are going to re-introduce the Tenant contract but link it to the Website class.

For this t

[2018-06-05 08:21] luceos opened #488 "Drop all code related to SSL"
Somewhere in an older version I hoped to have integrated a native Lets Encrypt client. As there are sufficient alternatives to handle SSL certificate generation outside of code, there's no longer a need to use it.

- [ ] drop the vhost references to ssl
- [ ] see if migrations, models and other code still reference ssl

[2018-06-05 09:54] arnaslix opened #489 "Identification bug"
Identification tries to resolve even when auto-identification is set to false.

[2018-06-05 10:32] bkintanar commented on #378
I tried to replicate this issue and failed. It is currently working as desired.

# Hello test,

You have been invited to use Laravel!

To get started you need to set a password.

Set password: https://myurl.dev/password/reset/2c04f6a74641bd5ca587db04a573175ebe3349a5a589d263d4f98c6e7157ab21

Regards,Laravel

If you’re having trouble clicking the "Set password" button, copy and paste the URL below
i

[2018-06-05 11:24] #378 closed, assigned to nobody

[2018-06-05 17:22] RushabhJoshi commented on #403
Hey, Sorry for late reply @luceos
It is strange now I can not reproduce the same error
I have tried after some time and the same code is not producing an error
pretty strange for me also.
I think I don't have this issue now. I am closing this issue now.
You help is much appreciated

Thank you

[2018-06-05 17:22] #403 closed, assigned to luceos

[2018-06-05 17:50] luceos opened #494 "Drop installation command but publish migrations"
Now that the installation command only runs migrations, we should drop the command completely for 5.2.x and allow migrations to be published.

Once we write the docs we need to clarify that these migrations are for the system connection.

[2018-06-05 19:22] fletch3555 commented on #485
Oh that's a good one @luceos!  We've all been there haha

[2018-06-06 02:53] spacemudd commented on #378
Just to give a final update on what fixed my issued:

1. `app(Environment::class)->hostname($hostname);` after creating hostname as @Xerixe suggested.
    - (w/o it, my code fails `ErrorException: Undefined index: driver` because _tenant_ connection is `[]`)
2. In phpunit, must specifically set the connection to the main db when asserting.
     - (w/o setting it, php tries asserting in _tenant_ db

[2018-06-06 07:26] aBuder opened #495 "PHP Test tenant pages and logic"
Hi,

this in serval question. How I can test my multi tenant web application. I would like to test login page, and all the login that is behind the login page, like forms etc.

[2018-06-06 08:01] luceos commented on #378
1. Makes sense that a newly created tenant has not been set as active, imagine you are creating tenants in batches. Glad that @Xerixe pointed out the ability to force an active tenant to be set.
2. I'm not sure what connection the assertion takes per default, but it would seem to be it would use the one set as default in Laravel?

Related to the Customer object, that's not an issue. It's going to

[2018-06-06 08:03] luceos commented on #495
This is a very good question. I guess the implementation would not differ too much from the default Laravel implementation, except that you would need to force identification of a tenant. We could write a doc for that.

[2018-06-06 09:36] spacemudd commented on #378
Oh! That's actually really helpful to not have them load up. I get it.

I thought so too, and it does take the default when not using `  app(Environment::class)->hostname()`.

Though from my tests I _believe_ it asserts against the last connection Laravel connects to.

Heck yes. 😂

[2018-06-06 13:53] jacobmind commented on #480
Files have a 755 chmod setting. when i change on 777 all working.

[2018-06-06 14:46] luceos commented on #480
@kubands that's a horrible solution, you need to make the files owned by the web or php user. But that's not something we can help you with.

Good luck.

[2018-06-06 14:46] #480 closed, assigned to nobody

[2018-06-06 16:43] aBuder commented on #495
@luceos That would be great. Yes I would like to setup an tenant and test all functions that an tenant should do.

- login
- logout
- password reset
- dashborad route
- and all my specific logic and routes that are in my app build like ( create an room, list all rooms, edit an room and so on )

It would be really helpful if there would be an quick documentation or tutorial.

Thx for help, the supp

[2018-06-06 16:50] bkintanar commented on #495
@aBuder while waiting for the documentation @luceos stated, I'd like to share to you how I test my app. I've created a dusk.sh (I'm using Laravel Dusk) executable (chmod +x) file containing the following code:

[code]

This allows me to set Environment variables before running dusk. There are many ways to achieve this, mine is just one of them.

I hope this helps.

[2018-06-07 05:35] richardkeep commented on #375
I enabled it. Same problem persists. Still shows Target Hyn\Tenancy\Contracts\CurrentHostname is not instantiable. I am using a multi-tenant application to fall back to a default hostname

[2018-06-07 06:58] luceos commented on #375
@richardkeep create your own issue please, especially when existing issues are closed and reference this issue if you think it's related. For your question you might get a faster solution joining discord https://laravel-tenancy.com/chat

[2018-06-09 06:58] aBuder opened #496 "AccessDeniedHttpException This action is unauthorized."
HI,

If I use the the function $this->authorize('show-buildings'); I get an error. How I can check if the user has the right permission in controller

![bildschirmfoto 2018-06-09 um 08 57 07](https://user-images.githubusercontent.com/1265139/41188781-1edcdde0-6bc3-11e8-9184-f299de29e8ef.png)

[code]

[code]

[2018-06-09 13:24] kawarien opened #497 "the tenancy.json file is not created"
Hello, I just started with this package it is super cool. i have a small problem when i do php artisan tenancy: install the migrations succeed but the file tenancy.json does not create at the root of my project

Information

hyn / multi-tenant version: 5.1.2
Laravel version: 5.6
database driver and version: MySQL
web server software and version: NgInx
php version: 7.1

[2018-06-09 17:44] luceos commented on #497
No issue here. The json file has not been needed for a while now. I guess we need to update that in the docs.

[2018-06-09 18:57] kawarien commented on #497
Ah OK !! it is better to update the docs, because often it is misleading.
thank you  !!

[2018-06-09 18:57] #497 closed, assigned to nobody

[2018-06-09 21:01] bkintanar commented on #497
@kawarien where in the docs is that located? As I have believed it has been removed from the docs for quite some time now.

https://laravel-tenancy.com/docs/hyn/5.x/installation

[2018-06-10 10:20] jacobmind commented on #480
I change permission, and all working. Thanks you

[2018-06-10 21:10] kawarien opened #498 "Illuminate \ Contracts \ Container \ BindingResolutionException Target [Hyn\Tenancy\Contracts\CurrentHostname] is not instantiable."
Hello,

 Thank you for this package, it is great !. i have a small problem when i try to type on the browser www.nameblog.test it returns this error.

Target [Hyn\Tenancy\Contracts\CurrentHostname] is not instantiable.

![capture](https://user-images.githubusercontent.com/36641497/41206275-0b6d8d48-6cf1-11e8-8b6e-d87a998168ab.png)

**Information**
operating system: linux ,
homestead version: 7.7
h

[2018-06-10 21:20] kawarien commented on #497
@bkintanar I had seen here https://medium.com/@ashokgelal/a-full-featured-multi-tenant-app-with-laravel-part-1-4049a3cc229d

[2018-06-11 04:44] luceos commented on #497
Tutorials are never up to date. @ashokgelal something to consider?

[2018-06-11 04:46] luceos commented on #496
Where are the permissions stored? Is this the native authentication driver? What have you tried so far?

[2018-06-11 04:47] ashokgelal commented on #497
I'll update it. Thanks for bringing it to my attention.

Edit: Now it's done (at least the tenancy.json part)!

[2018-06-11 05:12] luceos commented on #497
@ashokgelal thank you! 🤗

[2018-06-11 08:30] luceos commented on #498
Could you possibly post your tenancy.php configuration file?

[2018-06-11 12:34] kawarien commented on #498
@luceos

[code]

[2018-06-11 12:41] luceos commented on #498
And also the log file of the trace, that would help identify where the exception is thrown.

[2018-06-11 12:58] kawarien commented on #498
[stacktrace]
#0 /home/vagrant/code/vendor/laravel/framework/src/Illuminate/Log/LogManager.php(115): Illuminate\\Log\\LogManager->resolve(NULL)
#1 /home/vagrant/code/vendor/laravel/framework/src/Illuminate/Log/LogManager.php(103): Illuminate\\Log\\LogManager->get(NULL)
#2 /home/vagrant/code/vendor/laravel/framework/src/Illuminate/Log/LogManager.php(519): Illuminate\\Log\\LogManager->driver()
#3 /ho

[2018-06-11 14:04] kawarien commented on #498
@luceos

if i   do php artisan config:cache   i have this  Impossible to create the root directory "/opt/lampp/htdocs/kawar/storage/app".

[2018-06-11 14:15] aBuder commented on #496
I use the default middleware

[code]

This solution works for me
[code]

[2018-06-12 02:47] kylekz opened #499 "force-tenant-connection-of-models fails with Laravel Spark"
__Description__

Installed Laravel Spark, added its models to the `force-tenant-connection-of-models` array and they're still forcing themselves onto the system connection. May not be strictly Spark related, it's just what I'm running into issues with. Talking with luceos on Discord, we've tried:

- Debugging Model::getConnection, results in: https://i.imgur.com/2T1ketQ.png
- Using `print_debug_ba

[2018-06-12 06:40] mintunitish commented on #340
I will like to work on this!

[2018-06-12 06:57] luceos commented on #498
The error is related to misconfigured logging in Laravel, not this package. Fix the issue with Laravel first.

I can also suggest creating a website with Laravel first before using this package, just to get the hang of how Laravel works.

[2018-06-12 06:57] #498 closed, assigned to nobody

[2018-06-12 07:09] luceos commented on #340
@mintunitish thanks Nitish, feel free to create a WIP PR early on so we can jump in to offer advice.

[2018-06-12 07:16] luceos commented on #496
@aBuder please understand that the `tenancy.enforce` middleware is not the "default" middleware. This package does not ship with it. It's part of the tutorial of Ashok.

From what I see that middleware forces the default connection to tenant, something the package could also natively do by using the configuration key [`tenancy.db.default`](https://github.com/hyn/multi-tenant/blob/d29d30180ccaddd09

[2018-06-12 07:19] mintunitish commented on #340
@luceos I have created a WIP PR. here's the link: [PR](https://github.com/hyn/multi-tenant/pull/500).
I have registered the command in the ConnectionProvider, still the command is not being recognized, is there something that I am missing?

[2018-06-12 07:36] #489 closed, assigned to bkintanar

[2018-06-12 07:48] mintunitish opened #502 "The base url domain for registering new tenants."
__Description of your feature__

In current scenario before installing the package, we can access the home route , i.e. welcome page. This page is an entry point to the app. The space can be used to make a base registration page for tenants.

---

__Proposed behavior__

I am proposing that even after installing the package the normal behaviour of the app should remain same. The base URL(/) home pa

[2018-06-12 09:30] luceos commented on #502
Please read the `tenancy.php` configuration and/or documentation to configure the package to your needs. The documentation calls this the [`fallback`](https://laravel-tenancy.com/docs/hyn/5.1/fallback).

The 404 given is a configuration called `abort-without-hostname`, you can set it to false.

Please note that going through the configuration is highly recommended to make the package do what you n

[2018-06-12 09:30] #502 closed, assigned to nobody

[2018-06-12 19:26] #239 closed, assigned to nobody

[2018-06-13 10:40] mintunitish commented on #437
Will like to work on fixing it.

[2018-06-13 10:46] mintunitish commented on #376
I am confused what needs to be done here? Can you elaborate a little?

[2018-06-13 10:50] luceos commented on #376
What has to be done is:

- [ ] set the default value from `false` to `true`
- [ ] go through the tests whether early identification was dynamically set or assumed and update to reflect the change
- [ ] make sure tests are green/okay

[2018-06-13 10:52] luceos commented on #437
@mintunitish although very much appreciated, it would pretty much be impossible as the documentation website is a private repository and not accessible. I'm considering open sourcing it, but that won't be any time soon.

That's also the reason this issue has someone assigned.

[2018-06-13 11:03] itguy614 opened #503 "Events for when database connection changes"
__Description of your feature__

Have Hyn\Tenancy\Database\Connection fire events to indicate when a new connection is being set.  This will allow for other listeners to this event to be fired and action taking.  In my use case, when a tenant database connection is set, I would like to load that tenant's settings from a table into config().  The event should indicate if the new connection is to a

[2018-06-14 10:15] jacobmind opened #508 "SSL for Dynamic Subdomain"
Hey, i bought ssl for my domain (support subdomain) and when i create subdomain, all working, but if domain i create dynamic, ssl not working. And more thing. When i first go to main domain i then go dynamic subdomain, all working. Tell my why? I can't found anything in the internet. Thank you

I use DirectAdmin 1.53 (Not my choice :/ )

__tenancy.php config__

[code]

__webserver.php config__

[c

[2018-06-14 10:58] luceos commented on #508
First off, this is not an issue with this package but with how you set up the certificate on your server. If I can give you a suggestion; drop the certificate and use Let's Encrypt with a wildcard certificate. LE can automatically create vhost files separately from this package and as such never conflict.

[2018-06-14 10:58] #508 closed, assigned to nobody

[2018-06-14 14:40] #503 closed, assigned to nobody

[2018-06-14 14:41] #487 closed, assigned to bkintanar

[2018-06-19 08:10] bkintanar opened #510 "Documentation site needs updated favicon"
The favicon is still showing the old logo in the newly released documentation website.

[2018-06-20 04:20] AustinMaddox commented on #399
Can anyone elaborate on this issue and offer possible workarounds?

This issue just bit us **HARD** as we launched our application live. Not even a month after launch our AWS bill skyrocketed to hundreds of dollars and we found the culprit was the charges for ~66 million requests to S3. About ~33 million were PUT, COPY, POST, or LIST requests and another ~33 million were GET requests.

What _exact

[2018-06-20 08:08] luceos commented on #399
I'll be adding functionality to disable tenant specific folder operations completely in 5.2; would that suffice in your use cases @AustinMaddox and @CodeSkills ?

[2018-06-20 08:23] CodeSkills commented on #399
I hope so. Other solution would be to cache the loaded data. But that could be done later.

Thanks for update :)

[2018-06-20 18:34] kawarien commented on #498
hello,

I solved the problem. for the case of homestead it is necessary to connect while making vagrant ssh to make the migrations. thanks.

[2018-06-20 20:36] sarmad4444 opened #512 "Rename Customers to Tenants"
I've used this great plugin in 5 SaaS applications and there's one main confusion in this. Usually most of multi-tenant applications have a vision to provide software for multiple businesses which have their own clients/customers. Now the confusion that is particularly with new developers on an existing system I'm facing is the term "Customers". I've renaming my tenant's customers table to clients

[2018-06-20 21:14] fletch3555 commented on #512
The "Customer" model (and related functionality) has been removed in the `5.x` branch in preparation for 5.2.  Additionally, There will be a `Tenant` interface, so you can use any method of tenant identification you wish.  I'm sure @luceos could go into more detail if you wish.

[2018-06-21 07:24] luceos commented on #512
I agree that the subject of Tenancy is the Tenant and that by binding the Hostname as the single point of entry was a huge mistake. It's part of the legacy code base coming from the early 2.x code. The current version (5.1) uses Tenant nowhere to be less confusing and clearly [states in the documentation](https://laravel-tenancy.com/docs/hyn/5.1/concepts#introduction):

For version 5.2 the Custome

[2018-06-21 07:24] #512 closed, assigned to nobody

[2018-06-21 08:32] mintunitish commented on #502
Well, the fallback option is there. But in my application I want a feature to host the `/` route for the welcome page and a different fallback page for hostnames that are not found. However, I am unable to achieve this. Why the routes in my core laravel application's web.php is not working?

[2018-06-21 09:00] luceos commented on #502
Are you able to do this?

[code]

I'll see to it you can declare tenant routes inside a `routes/tenants.php` file and auto loading it for 5.2.

[2018-06-21 09:32] luceos commented on #399
So the fix involves two things:

- the `ActivatesDisk` listener no longer instantiates a disk and registers it, instead it sets the `filesystems.disks.tenant` key to the specified configuration.
- the local-only logic, overrides to config, vendor etc can now be disabled.

^ -- part of 5.2

[2018-06-21 09:34] #399 closed, assigned to nobody

[2018-06-21 14:15] surgiie commented on #309
@jeitnier @luceos

I followed your solution but i get `  Driver [redis_tenancy] is not supported.` whenever i try running any artisan command. Any ideas? My cache service provider is included in `config/app.php`

[2018-06-21 14:29] #341 closed, assigned to bkintanar

[2018-06-21 14:37] bkintanar commented on #510
closing this now.

[2018-06-21 14:37] #510 closed, assigned to nobody

[2018-06-21 15:26] on3nx opened #515 "Tenant pointing to System database when login"
__Description__
First of all, this is an awesome project.

I have done the setup and configuration and everything looks good, i can create tenant with artisan, new database created properly, user record created inside tenant DB (you can see my create tenant artisan command at the bottom)

however, when i try to login in my tenant site, it looking for a record in my main (default) db, instead of my

[2018-06-21 15:29] luceos commented on #515
Can you post your `config/auth.php`?

[2018-06-21 15:30] bkintanar commented on #515
if you're using the laravel's make:auth command, you need to make sure you add the tenant connection in the FormRequest as well.

[2018-06-21 15:35] on3nx commented on #515
@luceos

[code]

[2018-06-21 15:41] bkintanar commented on #515
@on3nx

use this

[code]

[2018-06-21 15:46] on3nx commented on #515
@bkintanar - thanks, but no luck, same error message:

[2018-06-21 18:50] luceos commented on #515
Some questions:

- You are trying to log in?
- You are accessing your app using the complete domain as registered in the hostnames table and that hostname has a website connected to it?
- The error shown reports the system database `mydbname`?
- Your App\User class has the [UsesTenantConnection](https://laravel-tenancy.com/docs/hyn/5.1/models#traits) trait applied?

If all of the above is yes; the

[2018-06-22 07:19] maelga opened #517 "Tenant db on separate aws RDS instances"
I am wondering whether system and tenant db connections can be configured to connect to separate aws RDS instances.

This would be necessary where tenants' data must reside in different countries.

Any experience with that?

[2018-06-22 07:27] luceos commented on #517
![image](https://user-images.githubusercontent.com/504687/41763361-5aa10050-75fe-11e8-9ac4-18230230d779.png)

I've asked him and someone else who is using RDS to reply here. Feel free to join us on discord at https://laravel-tenancy.com/chat 👍

[2018-06-22 11:19] maelga commented on #517
Thank you for this great package and support on Discord @luceos @bkintanar
Creating separate tenant connections is what I was looking for: https://laravel-tenancy.com/docs/hyn/5.1/repositories#managing-connection

[2018-06-22 11:19] #517 closed, assigned to nobody

[2018-06-22 11:30] on3nx commented on #515
@luceos ,
* yes I'm try to login
* im using local development machine which i map my domain at hosts file (windows) point to localhost (127.0.0.1) port 8080
* yes
* **NO** - this is maybe the issue - i dont have this, any advise how can i incorporate the trait inside App/User?

here is my App/User:

[code]

[2018-06-22 11:40] luceos commented on #515
[code]

as per documentation: https://laravel-tenancy.com/docs/hyn/5.1/models#traits

[2018-06-22 12:01] on3nx commented on #515
Thanks! that solve the issue!

[2018-06-22 12:03] #515 closed, assigned to nobody

[2018-06-23 11:50] aBuder opened #521 "Admin User to view and edit Customer"
Hi Hyn team,

how I can create an admin area, where the admin can see all customers and edit customer data.  I tried so create an seperate route, outside but it not work.

web.php
[code]

Admin Model

[code]

[2018-06-23 17:50] luceos commented on #521
How does it not work, what errors does your code trigger?

[2018-06-25 05:16] DeveloperOnCall opened #522 "Views Cache Not Tenant Driven"
Each tenant domain should use its own cache (view) folder - as the views (when using global blade templates are being seen across all tenants based on the first tenant site to open the URL

..

---

Sites are using views from each other

..

Each domain should be using the view compiled (blade) based on the settings for each tenant

..

---
__Information__

- hyn/multi-tenant version: latest
- lar